<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-18}</string>
                <key>spriteSize</key>
                <string>{33,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,191},{33,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,96},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{34,1},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-20}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{34,96},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-19}</string>
                <key>spriteSize</key>
                <string>{29,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,288},{29,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{27,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{36,191},{27,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-18}</string>
                <key>spriteSize</key>
                <string>{29,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{32,288},{29,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-18}</string>
                <key>spriteSize</key>
                <string>{33,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,191},{33,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301001_stand_ru.png</string>
            <key>size</key>
            <string>{64,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3e6ac36e97283f4edda07b6785a3062:2f9d062a73ddc20cfd1384588aed2daf:0ca47225462515d950f2c0ce29022706$</string>
            <key>textureFileName</key>
            <string>4301001_stand_ru.png</string>
        </dict>
    </dict>
</plist>
