<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_shifa_WN_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-66}</string>
                <key>spriteSize</key>
                <string>{124,32}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{91,1},{124,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-70}</string>
                <key>spriteSize</key>
                <string>{118,24}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{63,161},{118,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-77}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,423},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-83}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-73}</string>
                <key>spriteSize</key>
                <string>{22,118}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{61,291},{22,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-54}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{91,97},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-11}</string>
                <key>spriteSize</key>
                <string>{70,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{95,403},{70,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,34}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,85},{86,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,54}</string>
                <key>spriteSize</key>
                <string>{30,74}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{61,413},{30,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,42}</string>
                <key>spriteSize</key>
                <string>{18,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{139,401},{18,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,34}</string>
                <key>spriteSize</key>
                <string>{20,106}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,447},{20,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,34}</string>
                <key>spriteSize</key>
                <string>{20,106}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,471},{20,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,34}</string>
                <key>spriteSize</key>
                <string>{20,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{139,289},{20,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,34}</string>
                <key>spriteSize</key>
                <string>{20,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{163,289},{20,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,33}</string>
                <key>spriteSize</key>
                <string>{20,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{187,289},{20,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,33}</string>
                <key>spriteSize</key>
                <string>{20,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{211,289},{20,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,33}</string>
                <key>spriteSize</key>
                <string>{20,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,423},{20,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,33}</string>
                <key>spriteSize</key>
                <string>{22,108}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,263},{22,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,33}</string>
                <key>spriteSize</key>
                <string>{22,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{87,289},{22,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,33}</string>
                <key>spriteSize</key>
                <string>{22,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{113,289},{22,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,33}</string>
                <key>spriteSize</key>
                <string>{20,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{215,67},{20,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,33}</string>
                <key>spriteSize</key>
                <string>{22,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,237},{22,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,33}</string>
                <key>spriteSize</key>
                <string>{26,104}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{125,207},{26,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,28}</string>
                <key>spriteSize</key>
                <string>{30,90}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{91,195},{30,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-55}</string>
                <key>spriteSize</key>
                <string>{88,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{143,97},{88,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-66}</string>
                <key>spriteSize</key>
                <string>{106,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{185,97},{106,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-70}</string>
                <key>spriteSize</key>
                <string>{118,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{91,67},{118,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-72}</string>
                <key>spriteSize</key>
                <string>{122,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{91,37},{122,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_shifa_WN_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-73}</string>
                <key>spriteSize</key>
                <string>{126,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,293},{126,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-73}</string>
                <key>spriteSize</key>
                <string>{126,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{31,291},{126,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-71}</string>
                <key>spriteSize</key>
                <string>{128,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,161},{128,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_shifa_WN_shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-69}</string>
                <key>spriteSize</key>
                <string>{126,28}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{31,161},{126,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301001_magic_ru.png</string>
            <key>size</key>
            <string>{236,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67886bf7523c1b2c6d39e064c21c4d84:9b5d7e2518b40a4c5836fd898d3420b1:3e8ec0135b59f52067f5ac8a7a0f5e48$</string>
            <key>textureFileName</key>
            <string>4301001_magic_ru.png</string>
        </dict>
    </dict>
</plist>
