<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_attack_WN_合成_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,0}</string>
                <key>spriteSize</key>
                <string>{115,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,9}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{74,569},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,423},{77,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{35,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{90,422},{35,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-12}</string>
                <key>spriteSize</key>
                <string>{17,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,249},{17,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-8}</string>
                <key>spriteSize</key>
                <string>{29,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{94,278},{29,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,38}</string>
                <key>spriteSize</key>
                <string>{85,21}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,398},{85,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,55}</string>
                <key>spriteSize</key>
                <string>{107,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,123},{107,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{89,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,270},{89,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,50}</string>
                <key>spriteSize</key>
                <string>{75,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,496},{75,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,28}</string>
                <key>spriteSize</key>
                <string>{13,11}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,675},{13,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,21}</string>
                <key>spriteSize</key>
                <string>{51,19}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{70,622},{51,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{92,369},{49,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,37}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{100,188},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,36}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{100,233},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,36}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{80,540},{25,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,35}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{67,708},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,35}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{96,708},{25,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,35}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{24,675},{27,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,36}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{24,706},{27,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,36}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{80,509},{27,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,36}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{70,664},{25,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,42}</string>
                <key>spriteSize</key>
                <string>{15,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{70,645},{15,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,47}</string>
                <key>spriteSize</key>
                <string>{11,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{67,693},{11,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,41}</string>
                <key>spriteSize</key>
                <string>{13,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{112,123},{13,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,31}</string>
                <key>spriteSize</key>
                <string>{19,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,693},{19,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,9}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,618},{53,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,6}</string>
                <key>spriteSize</key>
                <string>{69,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,549},{69,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,5}</string>
                <key>spriteSize</key>
                <string>{87,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,327},{87,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,4}</string>
                <key>spriteSize</key>
                <string>{95,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,180},{95,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,0}</string>
                <key>spriteSize</key>
                <string>{115,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,62},{115,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301001_attack_ru.png</string>
            <key>size</key>
            <string>{126,753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eabdc8c98069eb75e0d43472f46f5a4:79b12b238cee80cdaa7fd0eb20b54f43:006d0e24519a0a73fb490aac3c4b1176$</string>
            <key>textureFileName</key>
            <string>4301001_attack_ru.png</string>
        </dict>
    </dict>
</plist>
