<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{54,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,217},{54,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{54,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,273},{54,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{56,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,385},{56,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{54,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,329},{54,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{52,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,55},{52,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{52,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,109},{52,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{52,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,163},{52,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{54,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,217},{54,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301001_stand_u.png</string>
            <key>size</key>
            <string>{106,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95c534af8815967c58a54360b6cdf5d2:da6a0717ee4ef2d275813af60bf2b314:d229ac5b370f4dd3bf870823ae40056f$</string>
            <key>textureFileName</key>
            <string>4301001_stand_u.png</string>
        </dict>
    </dict>
</plist>
