<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_attack_ES_合成_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,17}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{89,467},{82,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-2}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{101,389},{72,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-33}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,467},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-32}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{79,715},{46,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-24}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{103,223},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,-5}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{107,63},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,35}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,555},{82,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,45}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,36}</string>
                <key>spriteSize</key>
                <string>{96,34}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,429},{96,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,29}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,679},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,-1}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{83,657},{54,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-10}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,757},{72,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-18}</string>
                <key>spriteSize</key>
                <string>{74,42}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,711},{74,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-48}</string>
                <key>spriteSize</key>
                <string>{98,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,269},{98,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-51}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,185},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-52}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,227},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-53}</string>
                <key>spriteSize</key>
                <string>{98,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,309},{98,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-52}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,143},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-52}</string>
                <key>spriteSize</key>
                <string>{102,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,63},{102,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-52}</string>
                <key>spriteSize</key>
                <string>{102,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,103},{102,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-49}</string>
                <key>spriteSize</key>
                <string>{98,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,349},{98,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-47}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,389},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-35}</string>
                <key>spriteSize</key>
                <string>{66,30}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,813},{66,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-23}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{87,603},{50,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{89,553},{46,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{71,813},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{74,22}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{103,277},{74,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,1}</string>
                <key>spriteSize</key>
                <string>{76,22}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{105,143},{76,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_ES_合成_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,6}</string>
                <key>spriteSize</key>
                <string>{78,28}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,647},{78,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,8}</string>
                <key>spriteSize</key>
                <string>{82,30}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,613},{82,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_ES_合成_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,17}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{89,467},{82,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301001_attack_ld.png</string>
            <key>size</key>
            <string>{128,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:891c4a52a1abce614357e6f8b87ebb9b:139f4893c596a7e0d43d177ecef02751:3826518fd84a8fd94c0cc488748601b2$</string>
            <key>textureFileName</key>
            <string>4301001_attack_ld.png</string>
        </dict>
    </dict>
</plist>
