<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_hit_ES_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,25}</string>
                <key>spriteSize</key>
                <string>{78,30}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,215},{78,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-31}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,249},{74,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-3}</string>
                <key>spriteSize</key>
                <string>{94,38}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,43},{94,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{96,38}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{90,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,107},{90,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{88,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,159},{88,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{82,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,189},{82,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{80,20}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{101,1},{80,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{74,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{45,249},{74,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{70,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,329},{70,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{68,12}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{67,249},{68,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{66,12}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{45,371},{66,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{68,12}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{45,355},{68,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,13}</string>
                <key>spriteSize</key>
                <string>{90,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,139},{90,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,14}</string>
                <key>spriteSize</key>
                <string>{92,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,85},{92,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{72,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{23,327},{72,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{74,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{45,329},{74,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,20}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{97,85},{74,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,22}</string>
                <key>spriteSize</key>
                <string>{78,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{83,247},{78,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,24}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{93,163},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301001_hit_ld.png</string>
            <key>size</key>
            <string>{122,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff4d01f63ccaa8e78feb478554c81c3f:c312f83190d9e8471876644e08f16580:60394faf662858280f362a08a47a49c2$</string>
            <key>textureFileName</key>
            <string>4301001_hit_ld.png</string>
        </dict>
    </dict>
</plist>
