<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-18}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,199},{35,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{33,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{34,98},{33,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{33,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{71,98},{33,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{33,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{73,1},{33,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{33,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{98,195},{33,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-20}</string>
                <key>spriteSize</key>
                <string>{33,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{195,195},{33,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-20}</string>
                <key>spriteSize</key>
                <string>{31,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{244,1},{31,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-20}</string>
                <key>spriteSize</key>
                <string>{31,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{244,96},{31,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-20}</string>
                <key>spriteSize</key>
                <string>{31,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{279,1},{31,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-20}</string>
                <key>spriteSize</key>
                <string>{31,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{279,96},{31,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{145,1},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{178,1},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{178,98},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-20}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{211,1},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{29,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,100},{29,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{29,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{211,98},{29,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{108,98},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{110,1},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{31,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{143,98},{31,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-18}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{34,1},{35,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301002_stand_ru.png</string>
            <key>size</key>
            <string>{311,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7874420026894153d9f3f08507643498:19d98490a70e32daf5d27ce662d3924b:d8a352ff26a24e4a622c00b3bfc7323a$</string>
            <key>textureFileName</key>
            <string>4301002_stand_ru.png</string>
        </dict>
    </dict>
</plist>
