<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_dead_WN_dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-36}</string>
                <key>spriteSize</key>
                <string>{147,35}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-11}</string>
                <key>spriteSize</key>
                <string>{101,73}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,40},{101,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-6}</string>
                <key>spriteSize</key>
                <string>{47,77}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{169,261},{47,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-7}</string>
                <key>spriteSize</key>
                <string>{69,81}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{106,40},{69,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-20}</string>
                <key>spriteSize</key>
                <string>{109,59}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,117},{109,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-48}</string>
                <key>spriteSize</key>
                <string>{101,35}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,446},{101,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-51}</string>
                <key>spriteSize</key>
                <string>{79,43}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{130,330},{79,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-53}</string>
                <key>spriteSize</key>
                <string>{75,51}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{71,440},{75,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-54}</string>
                <key>spriteSize</key>
                <string>{77,57}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{169,200},{77,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-50}</string>
                <key>spriteSize</key>
                <string>{79,57}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{108,206},{79,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-41}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{101,117},{85,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-32}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{152,113},{83,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-26}</string>
                <key>spriteSize</key>
                <string>{81,29}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{46,533},{81,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-22}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,551},{71,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-27}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{191,40},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-34}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{191,447},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-41}</string>
                <key>spriteSize</key>
                <string>{77,59}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{187,113},{77,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-51}</string>
                <key>spriteSize</key>
                <string>{101,39}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,341},{101,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-53}</string>
                <key>spriteSize</key>
                <string>{107,35}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,230},{107,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-50}</string>
                <key>spriteSize</key>
                <string>{107,33}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{64,117},{107,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-44}</string>
                <key>spriteSize</key>
                <string>{101,33}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{44,335},{101,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-37}</string>
                <key>spriteSize</key>
                <string>{93,35}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{152,1},{93,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-25}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{191,514},{57,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-18}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{177,312},{47,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-8}</string>
                <key>spriteSize</key>
                <string>{27,83}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{40,446},{27,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{27,99}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{77,228},{27,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-11}</string>
                <key>spriteSize</key>
                <string>{33,101}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{40,230},{33,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{45,91}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{81,331},{45,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{126,447},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-48}</string>
                <key>spriteSize</key>
                <string>{67,39}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{177,404},{67,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-48}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{79,519},{73,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-45}</string>
                <key>spriteSize</key>
                <string>{69,37}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{177,363},{69,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-43}</string>
                <key>spriteSize</key>
                <string>{61,37}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{126,512},{61,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-42}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{108,289},{57,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-43}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{183,575},{57,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-43}</string>
                <key>spriteSize</key>
                <string>{61,37}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{118,553},{61,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301002_die_ru.png</string>
            <key>size</key>
            <string>{247,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b24b1a51dea0f18d17df37515d48e1c:28e450fa7fdd7cc7e617d4d871dab787:055b64a7ddca892b63741ca83d38d7b7$</string>
            <key>textureFileName</key>
            <string>4301002_die_ru.png</string>
        </dict>
    </dict>
</plist>
