<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_hit_ES_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,20}</string>
                <key>spriteSize</key>
                <string>{114,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-31}</string>
                <key>spriteSize</key>
                <string>{76,42}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{213,151},{76,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-5}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{45,163},{92,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,167},{94,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{90,30}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,207},{90,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,241},{88,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{118,32}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,45},{118,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{119,41},{114,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{110,24}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{99,151},{110,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,7}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,179},{106,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{68,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{217,73},{68,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{68,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{183,231},{68,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{68,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{181,251},{68,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,12}</string>
                <key>spriteSize</key>
                <string>{114,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{237,1},{114,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,14}</string>
                <key>spriteSize</key>
                <string>{114,20}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{99,127},{114,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,15}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{99,101},{114,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,17}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{99,73},{114,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,18}</string>
                <key>spriteSize</key>
                <string>{114,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{69,45},{114,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,21}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{37,45},{114,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,20}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{119,1},{114,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301002_hit_ld.png</string>
            <key>size</key>
            <string>{256,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f6cd1cabb3742a7eef77d4f0a9d91c:eec94e007d36ad9a62e0eb1bb2e1de36:c4911c2d2747686ea452a49ed49a8ef1$</string>
            <key>textureFileName</key>
            <string>4301002_hit_ld.png</string>
        </dict>
    </dict>
</plist>
