<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_attack_WN_合成_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{139,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{803,1},{139,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,5}</string>
                <key>spriteSize</key>
                <string>{75,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{711,1},{75,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{607,1},{81,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{55,105}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{60,1},{55,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-12}</string>
                <key>spriteSize</key>
                <string>{17,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{60,110},{17,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-4}</string>
                <key>spriteSize</key>
                <string>{31,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{265,1},{31,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,38}</string>
                <key>spriteSize</key>
                <string>{85,21}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{159,106},{85,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,53}</string>
                <key>spriteSize</key>
                <string>{107,55}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,52}</string>
                <key>spriteSize</key>
                <string>{101,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{119,1},{101,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,47}</string>
                <key>spriteSize</key>
                <string>{89,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{300,1},{89,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,24}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{801,70},{51,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,19}</string>
                <key>spriteSize</key>
                <string>{89,23}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{248,104},{89,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,24}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{695,84},{71,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,36}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{770,80},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,32}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{426,92},{35,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,31}</string>
                <key>spriteSize</key>
                <string>{33,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{914,66},{33,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,31}</string>
                <key>spriteSize</key>
                <string>{35,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{875,66},{35,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,30}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{479,90},{37,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,30}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{532,90},{37,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,30}</string>
                <key>spriteSize</key>
                <string>{39,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{832,66},{39,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,30}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{585,88},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,30}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{640,86},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,34}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{772,1},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,36}</string>
                <key>spriteSize</key>
                <string>{25,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{682,1},{25,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,30}</string>
                <key>spriteSize</key>
                <string>{29,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{517,1},{29,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,20}</string>
                <key>spriteSize</key>
                <string>{33,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{341,94},{33,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,0}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{550,1},{53,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-4}</string>
                <key>spriteSize</key>
                <string>{69,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{444,1},{69,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attack_WN_合成_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-4}</string>
                <key>spriteSize</key>
                <string>{87,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{357,1},{87,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-5}</string>
                <key>spriteSize</key>
                <string>{99,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{180,1},{99,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attack_WN_合成_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{139,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{803,1},{139,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301002_attack_ru.png</string>
            <key>size</key>
            <string>{948,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7f51b12cdad1cddce3595ede97a9c9:4a90a8a5f79362e80ed3e5cdcaa40feb:be1ac829f80628bc68387124ce2d4671$</string>
            <key>textureFileName</key>
            <string>4301002_attack_ru.png</string>
        </dict>
    </dict>
</plist>
