<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_dead_ES_dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,96}</string>
                <key>spriteSize</key>
                <string>{115,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{201,1},{115,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,98}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{649,1},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,94}</string>
                <key>spriteSize</key>
                <string>{47,13}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{997,112},{47,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,98}</string>
                <key>spriteSize</key>
                <string>{67,17}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{997,91},{67,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,89}</string>
                <key>spriteSize</key>
                <string>{85,17}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{658,105},{85,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,63}</string>
                <key>spriteSize</key>
                <string>{77,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,92},{77,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,36}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{228,81},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,33}</string>
                <key>spriteSize</key>
                <string>{39,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{885,75},{39,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,32}</string>
                <key>spriteSize</key>
                <string>{33,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{175,87},{33,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,38}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{893,34},{37,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,53}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1047,1},{51,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,67}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{658,34},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,75}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{503,38},{79,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,79}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{812,34},{77,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,68}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1029,56},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,55}</string>
                <key>spriteSize</key>
                <string>{77,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{948,56},{77,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,50}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{750,1},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,45}</string>
                <key>spriteSize</key>
                <string>{103,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{542,1},{103,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,38}</string>
                <key>spriteSize</key>
                <string>{103,33}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{435,1},{103,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,33}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{320,1},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,32}</string>
                <key>spriteSize</key>
                <string>{119,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{78,1},{119,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,34}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{78,46},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,39}</string>
                <key>spriteSize</key>
                <string>{113,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{201,46},{113,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,40}</string>
                <key>spriteSize</key>
                <string>{95,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{851,1},{95,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,44}</string>
                <key>spriteSize</key>
                <string>{67,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{747,89},{67,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,51}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{818,75},{49,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,38}</string>
                <key>spriteSize</key>
                <string>{37,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{82,87},{37,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,11}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{735,34},{51,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-36}</string>
                <key>spriteSize</key>
                <string>{65,27}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{928,91},{65,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-53}</string>
                <key>spriteSize</key>
                <string>{67,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{320,44},{67,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-51}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-54}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{440,38},{59,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-56}</string>
                <key>spriteSize</key>
                <string>{45,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{609,34},{45,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-63}</string>
                <key>spriteSize</key>
                <string>{45,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{391,44},{45,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-56}</string>
                <key>spriteSize</key>
                <string>{47,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{558,34},{47,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-56}</string>
                <key>spriteSize</key>
                <string>{51,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{950,1},{51,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301002_die_ld.png</string>
            <key>size</key>
            <string>{1111,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff2b6115d0751c56d98c0e308dadcb2f:4b85c7febc5821d4f0b184722a3c0273:e9ff1d4416ef6b80d40f259f6cd31ed3$</string>
            <key>textureFileName</key>
            <string>4301002_die_ld.png</string>
        </dict>
    </dict>
</plist>
