<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WN_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,20}</string>
                <key>spriteSize</key>
                <string>{290,370}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{349,1367},{290,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,10}</string>
                <key>spriteSize</key>
                <string>{372,346}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{741,657},{372,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,16}</string>
                <key>spriteSize</key>
                <string>{348,320}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,319},{348,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,13}</string>
                <key>spriteSize</key>
                <string>{300,330}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{929,319},{300,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{292,328}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{635,319},{292,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{256,356}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1045,1007},{256,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,2}</string>
                <key>spriteSize</key>
                <string>{340,336}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,657},{340,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,4}</string>
                <key>spriteSize</key>
                <string>{386,304}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{305,1},{386,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,28}</string>
                <key>spriteSize</key>
                <string>{350,348}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1007},{350,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,21}</string>
                <key>spriteSize</key>
                <string>{346,366}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1367},{346,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,50}</string>
                <key>spriteSize</key>
                <string>{374,412}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1351,1367},{374,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,24}</string>
                <key>spriteSize</key>
                <string>{354,354}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{689,1007},{354,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,35}</string>
                <key>spriteSize</key>
                <string>{392,358}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1303,1007},{392,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,24}</string>
                <key>spriteSize</key>
                <string>{396,338}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{343,657},{396,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,21}</string>
                <key>spriteSize</key>
                <string>{386,348}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1115,657},{386,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,42}</string>
                <key>spriteSize</key>
                <string>{360,386}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{641,1367},{360,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,3}</string>
                <key>spriteSize</key>
                <string>{352,308}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{693,1},{352,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,50}</string>
                <key>spriteSize</key>
                <string>{346,410}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1003,1367},{346,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{334,350}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{353,1007},{334,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{324,316}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1429,1},{324,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,12}</string>
                <key>spriteSize</key>
                <string>{282,328}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{351,319},{282,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{302,296}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{380,310}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1047,1},{380,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{322,336}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1231,319},{322,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100014_magic_ru.png</string>
            <key>size</key>
            <string>{1754,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbbea1fee9b54a93d0a7015bd7e32f17:c544e20e9ddccc865225539b249b3b85:e9212c195d3e34592a8db594994f2e69$</string>
            <key>textureFileName</key>
            <string>4100014_magic_ru.png</string>
        </dict>
    </dict>
</plist>
