<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WN_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{230,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,909},{230,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,32}</string>
                <key>spriteSize</key>
                <string>{296,272}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1051,1},{296,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,26}</string>
                <key>spriteSize</key>
                <string>{292,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{289,1},{292,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,25}</string>
                <key>spriteSize</key>
                <string>{286,254}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,29}</string>
                <key>spriteSize</key>
                <string>{256,260}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{583,1},{256,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,28}</string>
                <key>spriteSize</key>
                <string>{208,260}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{841,1},{208,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,30}</string>
                <key>spriteSize</key>
                <string>{250,310}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{389,587},{250,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,22}</string>
                <key>spriteSize</key>
                <string>{278,286}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{149,285},{278,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,15}</string>
                <key>spriteSize</key>
                <string>{298,282}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1491,1},{298,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,14}</string>
                <key>spriteSize</key>
                <string>{302,288}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{945,285},{302,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,5}</string>
                <key>spriteSize</key>
                <string>{274,288}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{429,285},{274,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,5}</string>
                <key>spriteSize</key>
                <string>{262,300}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1561,285},{262,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{282,320}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1311,587},{282,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,4}</string>
                <key>spriteSize</key>
                <string>{286,318}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1023,587},{286,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,12}</string>
                <key>spriteSize</key>
                <string>{310,296}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1249,285},{310,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,19}</string>
                <key>spriteSize</key>
                <string>{238,288}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{705,285},{238,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,33}</string>
                <key>spriteSize</key>
                <string>{140,276}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1349,1},{140,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,34}</string>
                <key>spriteSize</key>
                <string>{146,286}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,285},{146,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,31}</string>
                <key>spriteSize</key>
                <string>{158,304}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,587},{158,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,25}</string>
                <key>spriteSize</key>
                <string>{162,310}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{641,587},{162,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,24}</string>
                <key>spriteSize</key>
                <string>{186,334}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{911,909},{186,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,31}</string>
                <key>spriteSize</key>
                <string>{196,332}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{713,909},{196,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,36}</string>
                <key>spriteSize</key>
                <string>{216,314}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{805,587},{216,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,39}</string>
                <key>spriteSize</key>
                <string>{226,308}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{161,587},{226,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,27}</string>
                <key>spriteSize</key>
                <string>{238,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,909},{238,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{238,332}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{473,909},{238,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{226,348}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1099,909},{226,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WN_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{226,350}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1327,909},{226,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100014_attack_ru.png</string>
            <key>size</key>
            <string>{1824,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79c73f607e4bc01c3263c124b6087df2:8ba0ad2ff9916dcfe083e68990222ec9:a618f3a3c98c29011e819d1be736469e$</string>
            <key>textureFileName</key>
            <string>4100014_attack_ru.png</string>
        </dict>
    </dict>
</plist>
