<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-39}</string>
                <key>spriteSize</key>
                <string>{414,434}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{417,437},{414,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{414,434}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,437},{414,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{412,430}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{417,1},{412,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{414,426}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{414,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-42}</string>
                <key>spriteSize</key>
                <string>{414,428}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{831,1},{414,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-35}</string>
                <key>spriteSize</key>
                <string>{414,442}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1251,437},{414,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-37}</string>
                <key>spriteSize</key>
                <string>{416,438}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{833,437},{416,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-34}</string>
                <key>spriteSize</key>
                <string>{416,444}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{419,881},{416,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-33}</string>
                <key>spriteSize</key>
                <string>{416,446}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{837,881},{416,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-35}</string>
                <key>spriteSize</key>
                <string>{416,442}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,881},{416,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-39}</string>
                <key>spriteSize</key>
                <string>{414,434}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1247,1},{414,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100014_idle_ru.png</string>
            <key>size</key>
            <string>{1666,1328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a481fc4c09885e0be315af4b97c28b32:360b1028ae15b3e2627a27f8d30077c0:e2007eb684181e62408ef7bb98f567ff$</string>
            <key>textureFileName</key>
            <string>4100014_idle_ru.png</string>
        </dict>
    </dict>
</plist>
