<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ES_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,26}</string>
                <key>spriteSize</key>
                <string>{284,370}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1103},{284,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,26}</string>
                <key>spriteSize</key>
                <string>{356,364}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1617,1103},{356,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,33}</string>
                <key>spriteSize</key>
                <string>{390,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1225,1103},{390,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,30}</string>
                <key>spriteSize</key>
                <string>{364,306}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{859,1103},{364,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,19}</string>
                <key>spriteSize</key>
                <string>{304,312}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1101,361},{304,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,-1}</string>
                <key>spriteSize</key>
                <string>{294,302}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,361},{294,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-2}</string>
                <key>spriteSize</key>
                <string>{260,346}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{553,361},{260,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,1}</string>
                <key>spriteSize</key>
                <string>{254,354}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{297,361},{254,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-1}</string>
                <key>spriteSize</key>
                <string>{242,336}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1377,1},{242,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-3}</string>
                <key>spriteSize</key>
                <string>{242,322}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{897,1},{242,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,2}</string>
                <key>spriteSize</key>
                <string>{234,322}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{661,1},{234,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-3}</string>
                <key>spriteSize</key>
                <string>{234,334}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1141,1},{234,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-11}</string>
                <key>spriteSize</key>
                <string>{218,344}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{441,1},{218,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-9}</string>
                <key>spriteSize</key>
                <string>{216,344}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{223,1},{216,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-4}</string>
                <key>spriteSize</key>
                <string>{220,336}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{232,358}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1621,1},{232,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,19}</string>
                <key>spriteSize</key>
                <string>{268,384}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{871,717},{268,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,23}</string>
                <key>spriteSize</key>
                <string>{282,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1141,717},{282,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,31}</string>
                <key>spriteSize</key>
                <string>{296,338}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{287,717},{296,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,32}</string>
                <key>spriteSize</key>
                <string>{294,340}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1693,361},{294,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,36}</string>
                <key>spriteSize</key>
                <string>{284,362}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{585,717},{284,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,30}</string>
                <key>spriteSize</key>
                <string>{284,366}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1425,717},{284,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,17}</string>
                <key>spriteSize</key>
                <string>{284,382}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{573,1103},{284,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,13}</string>
                <key>spriteSize</key>
                <string>{284,380}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{287,1103},{284,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,10}</string>
                <key>spriteSize</key>
                <string>{284,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1711,717},{284,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,11}</string>
                <key>spriteSize</key>
                <string>{284,352}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,717},{284,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9}</string>
                <key>spriteSize</key>
                <string>{284,334}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1407,361},{284,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,3}</string>
                <key>spriteSize</key>
                <string>{284,332}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{815,361},{284,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100014_hit_ld.png</string>
            <key>size</key>
            <string>{1996,1486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7037b055a5b572bac1aa8d30e78bc2eb:5841d0adb58df399c1fdde264e20c8ab:f9d95b49906d69277e28e2896634b8cd$</string>
            <key>textureFileName</key>
            <string>4100014_hit_ld.png</string>
        </dict>
    </dict>
</plist>
