<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ES_0000_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,13}</string>
                <key>spriteSize</key>
                <string>{424,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{849,1},{424,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0004_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,9}</string>
                <key>spriteSize</key>
                <string>{424,374}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{429,371},{424,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0008_idle_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,10}</string>
                <key>spriteSize</key>
                <string>{424,386}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1281,371},{424,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0012_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,12}</string>
                <key>spriteSize</key>
                <string>{426,398}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{859,759},{426,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0016_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,11}</string>
                <key>spriteSize</key>
                <string>{428,394}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,759},{428,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0020_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,12}</string>
                <key>spriteSize</key>
                <string>{426,396}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{431,759},{426,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0024_idle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,11}</string>
                <key>spriteSize</key>
                <string>{426,372}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,371},{426,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0028_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,11}</string>
                <key>spriteSize</key>
                <string>{422,354}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0032_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,20}</string>
                <key>spriteSize</key>
                <string>{422,366}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{425,1},{422,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0036_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,16}</string>
                <key>spriteSize</key>
                <string>{424,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1275,1},{424,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ES_0040_idle_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,16}</string>
                <key>spriteSize</key>
                <string>{424,376}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{855,371},{424,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100014_stand_rd.png</string>
            <key>size</key>
            <string>{1706,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e85a05c5efc38a5d6233f3a25c444e0c:5f4251a6b811f3f4e8180accdefdc933:23b35152923249321e468f08b61c53c0$</string>
            <key>textureFileName</key>
            <string>4100014_stand_rd.png</string>
        </dict>
    </dict>
</plist>
