<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_ES_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{165,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{437,172},{165,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_ES_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{191,169}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_ES_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{149,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{287,1},{149,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,2}</string>
                <key>spriteSize</key>
                <string>{105,169}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{172,375},{105,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_ES_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,4}</string>
                <key>spriteSize</key>
                <string>{91,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{345,343},{91,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,4}</string>
                <key>spriteSize</key>
                <string>{93,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{340,172},{93,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,4}</string>
                <key>spriteSize</key>
                <string>{101,169}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{235,176},{101,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,3}</string>
                <key>spriteSize</key>
                <string>{111,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,375},{111,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_ES_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,4}</string>
                <key>spriteSize</key>
                <string>{109,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{174,1},{109,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,4}</string>
                <key>spriteSize</key>
                <string>{107,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{124,196},{107,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,4}</string>
                <key>spriteSize</key>
                <string>{119,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,196},{119,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{145,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{440,341},{145,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{165,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{440,1},{165,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100008_hit_ld.png</string>
            <key>size</key>
            <string>{600,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfdadaf85c37343e82bd2da971979121:66bcd627ff65d7e7e4774087e54ac4da:b6377cf04ec8df66ec80ccab01312fa4$</string>
            <key>textureFileName</key>
            <string>4100008_hit_ld.png</string>
        </dict>
    </dict>
</plist>
