<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1237,1},{161,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{945,1},{163,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{121,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1112,1},{121,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{97,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{844,1},{97,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{101,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{739,1},{101,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-3}</string>
                <key>spriteSize</key>
                <string>{103,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{632,1},{103,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{117,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{380,1},{117,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{127,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{501,1},{127,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{123,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{123,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{128,1},{123,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{121,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{255,1},{121,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{137,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1567,1},{137,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1402,1},{161,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100008_hit_ru.png</string>
            <key>size</key>
            <string>{1705,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0933aad152ac04783f2ab0aeb612a01:75885ed42217afd71d489f18c2e19881:1c6a0bb8f6184907dbc967202cec5391$</string>
            <key>textureFileName</key>
            <string>4100008_hit_ru.png</string>
        </dict>
    </dict>
</plist>
