<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-16}</string>
                <key>spriteSize</key>
                <string>{161,165}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{674,1},{161,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-14}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{503,1},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-12}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{324,190},{179,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-9}</string>
                <key>spriteSize</key>
                <string>{185,171}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{217,1},{185,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{107,175}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{392,1},{107,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-9}</string>
                <key>spriteSize</key>
                <string>{129,173}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{371,373},{129,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-13}</string>
                <key>spriteSize</key>
                <string>{147,169}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{493,180},{147,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{119,167}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{644,172},{119,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{89,189}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{1,413},{89,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{101,205}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{107,199}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{1,210},{107,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{107,193}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{106,1},{107,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{103,187}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{112,198},{103,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{101,181}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{219,190},{101,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-19}</string>
                <key>spriteSize</key>
                <string>{119,173}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{194,389},{119,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-18}</string>
                <key>spriteSize</key>
                <string>{147,167}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{548,353},{147,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-15}</string>
                <key>spriteSize</key>
                <string>{159,165}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{719,343},{159,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100008_attack_ru.png</string>
            <key>size</key>
            <string>{879,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:554e2e4d8e594fc8bf84c277c62de3c2:fb7fa945437c37fe7d334c4e6b97e85f:a7d70c45f503609f2ccc3307fad61a13$</string>
            <key>textureFileName</key>
            <string>4100008_attack_ru.png</string>
        </dict>
    </dict>
</plist>
