<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{111,219}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1010,1},{111,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{113,219}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{780,1},{113,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{113,219}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{895,1},{113,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{111,219}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1123,1},{111,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{111,221}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{443,1},{111,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{111,221}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{556,1},{111,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{109,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{109,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{112,1},{109,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{13,-1}</string>
                <key>spriteSize</key>
                <string>{107,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{334,1},{107,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{109,223}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{223,1},{109,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{109,221}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{669,1},{109,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{109,219}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1236,1},{109,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WS_stand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.541176,0.298039}</string>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{109,219}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1236,112},{109,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100008_stand_rd.png</string>
            <key>size</key>
            <string>{1456,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e402fc65f31378b80f907be14ccca6e3:7fd43e9d75bad1ee8a0d3ebc17a59dba:81913610ea6bfa266a5ae9d89a5ee034$</string>
            <key>textureFileName</key>
            <string>4100008_stand_rd.png</string>
        </dict>
    </dict>
</plist>
