<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,22}</string>
                <key>spriteSize</key>
                <string>{175,185}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1683,397},{175,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,21}</string>
                <key>spriteSize</key>
                <string>{179,191}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,447},{179,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,25}</string>
                <key>spriteSize</key>
                <string>{183,211}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1265,206},{183,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,15}</string>
                <key>spriteSize</key>
                <string>{189,187}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1665,204},{189,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,33}</string>
                <key>spriteSize</key>
                <string>{199,205}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{851,218},{199,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,30}</string>
                <key>spriteSize</key>
                <string>{199,213}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{634,218},{199,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,23}</string>
                <key>spriteSize</key>
                <string>{211,209}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{881,1},{211,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,29}</string>
                <key>spriteSize</key>
                <string>{199,215}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1536,1},{199,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{211,199}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{638,421},{211,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{199,205}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{853,421},{199,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{209,213}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{668,1},{209,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,17}</string>
                <key>spriteSize</key>
                <string>{201,217}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1096,1},{201,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,21}</string>
                <key>spriteSize</key>
                <string>{217,219}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{228,1},{217,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,19}</string>
                <key>spriteSize</key>
                <string>{223,215}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,21}</string>
                <key>spriteSize</key>
                <string>{207,207}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{220,222},{207,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{207,199}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{431,222},{207,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,15}</string>
                <key>spriteSize</key>
                <string>{215,199}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1317,1},{215,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,22}</string>
                <key>spriteSize</key>
                <string>{195,213}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{220,433},{195,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,19}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1474,411},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,23}</string>
                <key>spriteSize</key>
                <string>{215,223}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,220},{215,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,17}</string>
                <key>spriteSize</key>
                <string>{185,197}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{437,433},{185,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,16}</string>
                <key>spriteSize</key>
                <string>{203,205}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1267,421},{203,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{201,203}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1060,214},{201,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{201,205}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1062,421},{201,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{209,203}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1452,204},{209,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{213,213}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{451,1},{213,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304005_idle_ld.png</string>
            <key>size</key>
            <string>{1859,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd9c6bae315de26ae624b3535cb4a09:84f0764822b7b33cf3a4f6f79a0fdee2:b8ec7001d3b3742dfa71e3c02e5c2957$</string>
            <key>textureFileName</key>
            <string>4304005_idle_ld.png</string>
        </dict>
    </dict>
</plist>
