<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女2高级武器run_N_run_ren_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{171,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,422},{171,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,14}</string>
                <key>spriteSize</key>
                <string>{177,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,573},{177,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{171,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,16}</string>
                <key>spriteSize</key>
                <string>{187,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,138},{187,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{167,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,724},{167,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,13}</string>
                <key>spriteSize</key>
                <string>{173,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1183},{173,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,12}</string>
                <key>spriteSize</key>
                <string>{187,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,875},{187,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,17}</string>
                <key>spriteSize</key>
                <string>{169,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1342},{169,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,16}</string>
                <key>spriteSize</key>
                <string>{173,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1503},{173,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,15}</string>
                <key>spriteSize</key>
                <string>{175,165}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1829},{175,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1026},{173,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,13}</string>
                <key>spriteSize</key>
                <string>{177,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1666},{177,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2高级武器run_N_run_ren_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,14}</string>
                <key>spriteSize</key>
                <string>{173,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,279},{173,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304005_run_u.png</string>
            <key>size</key>
            <string>{189,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d914c0f1bca06afdbd83128c3b05efc:6d903f883c766d0258c3e62f624f04d1:d588f6c280f2cc307d8d1ab810e8197e$</string>
            <key>textureFileName</key>
            <string>4304005_run_u.png</string>
        </dict>
    </dict>
</plist>
