<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{195,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{566,833},{195,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{197,187}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{793,1028},{197,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{203,195}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{789,248},{203,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{211,199}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{777,455},{211,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,5}</string>
                <key>spriteSize</key>
                <string>{243,191}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1007},{243,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,12}</string>
                <key>spriteSize</key>
                <string>{257,177}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{188,465},{257,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{247,185}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{377,957},{247,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{267,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{266,1},{267,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{247,163}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{367,188},{247,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{251,193}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{534,190},{251,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,12}</string>
                <key>spriteSize</key>
                <string>{259,175}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{188,202},{259,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,11}</string>
                <key>spriteSize</key>
                <string>{273,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,202},{273,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,11}</string>
                <key>spriteSize</key>
                <string>{257,177}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{196,987},{257,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{255,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{369,439},{255,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,8}</string>
                <key>spriteSize</key>
                <string>{239,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{739,670},{239,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,12}</string>
                <key>spriteSize</key>
                <string>{257,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{196,726},{257,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,8}</string>
                <key>spriteSize</key>
                <string>{255,187}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{371,698},{255,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{259,185}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{537,1},{259,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{261,197}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{261,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{259,191}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,744},{259,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,10}</string>
                <key>spriteSize</key>
                <string>{261,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,479},{261,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,9}</string>
                <key>spriteSize</key>
                <string>{247,173}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{562,582},{247,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{243,177}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{800,1},{243,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,8}</string>
                <key>spriteSize</key>
                <string>{223,173}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{566,1032},{223,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{235,185}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{739,839},{235,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{231,191}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{542,387},{231,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304005_idle_ru.png</string>
            <key>size</key>
            <string>{985,1251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:890d4b174d95716b0ca84d3a11b514b4:d7becebf79f741976bef2996c75010e5:9c2fb9c1879dc95589c5c6a94b50248d$</string>
            <key>textureFileName</key>
            <string>4304005_idle_ru.png</string>
        </dict>
    </dict>
</plist>
