<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_duanweipaihangbangzhuanyongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{175,33}</string>
                <key>spriteSourceSize</key>
                <string>{185,37}</string>
                <key>textureRect</key>
                <string>{{903,1},{175,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{11,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{1,493},{11,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{578,287},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{903,178},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{578,308},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{906,462},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_baiyiny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{101,24}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{486,396},{101,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chuanshuowangzhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,22}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{538,396},{99,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_huangjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,24}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{253,478},{103,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qingtong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,24}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{358,478},{103,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,24}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{512,396},{103,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baiyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{260,252}</string>
                <key>spriteSourceSize</key>
                <string>{306,336}</string>
                <key>textureRect</key>
                <string>{{597,253},{260,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_huangjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{304,250}</string>
                <key>spriteSourceSize</key>
                <string>{306,336}</string>
                <key>textureRect</key>
                <string>{{597,1},{304,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_qingtong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{206,250}</string>
                <key>spriteSourceSize</key>
                <string>{306,336}</string>
                <key>textureRect</key>
                <string>{{1,285},{206,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_wangzhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{284,288}</string>
                <key>spriteSourceSize</key>
                <string>{306,336}</string>
                <key>textureRect</key>
                <string>{{307,1},{284,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xinxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{859,462},{45,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{304,282}</string>
                <key>spriteSourceSize</key>
                <string>{306,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{101,36}</string>
                <key>spriteSourceSize</key>
                <string>{115,46}</string>
                <key>textureRect</key>
                <string>{{540,287},{101,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{207,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,82}</string>
                <key>textureRect</key>
                <string>{{859,253},{207,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{231,80}</string>
                <key>spriteSourceSize</key>
                <string>{237,90}</string>
                <key>textureRect</key>
                <string>{{253,396},{231,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{285,107}</string>
                <key>spriteSourceSize</key>
                <string>{291,115}</string>
                <key>textureRect</key>
                <string>{{253,287},{285,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kings_fight_rank.png</string>
            <key>size</key>
            <string>{937,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24efc55b333b0f829f22d1278b822d5f:3a442976fb854ea1e8b5cc4183bb79a6:2f4c060e91c004433c41ae97a4955d5e$</string>
            <key>textureFileName</key>
            <string>kings_fight_rank.png</string>
        </dict>
    </dict>
</plist>
