<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4450004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{192,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{300,1},{192,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4450005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{197,1613},{174,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4450006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{361,899},{122,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4450007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{186,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{332,555},{186,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4450008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{194,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1450},{194,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4450009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{198,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{332,355},{198,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4450010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{361,743},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4450011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{300,153},{170,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_beizhudid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{379,41}</string>
                <key>spriteSourceSize</key>
                <string>{383,45}</string>
                <key>textureRect</key>
                <string>{{287,1143},{379,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_beizhudiw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,40}</string>
                <key>spriteSourceSize</key>
                <string>{86,40}</string>
                <key>textureRect</key>
                <string>{{347,1564},{86,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dajingpaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,49}</string>
                <key>spriteSourceSize</key>
                <string>{389,49}</string>
                <key>textureRect</key>
                <string>{{249,1},{389,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_erciquerenfengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,5}</string>
                <key>spriteSourceSize</key>
                <string>{100,5}</string>
                <key>textureRect</key>
                <string>{{472,153},{100,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_heishigerenxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,84}</string>
                <key>textureRect</key>
                <string>{{249,657},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_heishipaimai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{263,81}</string>
                <key>spriteSourceSize</key>
                <string>{279,83}</string>
                <key>textureRect</key>
                <string>{{249,392},{263,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_heshipaimaidangqianshijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,29}</string>
                <key>spriteSourceSize</key>
                <string>{241,29}</string>
                <key>textureRect</key>
                <string>{{330,1143},{241,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jinrizuire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,103}</string>
                <key>spriteSourceSize</key>
                <string>{47,109}</string>
                <key>textureRect</key>
                <string>{{405,1351},{43,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jirizuiredi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{370,358}</string>
                <key>spriteSourceSize</key>
                <string>{392,372}</string>
                <key>textureRect</key>
                <string>{{1,771},{370,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kelingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{154,58}</string>
                <key>textureRect</key>
                <string>{{197,1450},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_konggezi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{361,1263},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_linshicangkudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{281,1536},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paimai2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,246}</string>
                <key>spriteSourceSize</key>
                <string>{768,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_qianghuabeibaoyeshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,35}</string>
                <key>textureRect</key>
                <string>{{249,737},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shuzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{116,31}</string>
                <key>spriteSourceSize</key>
                <string>{118,33}</string>
                <key>textureRect</key>
                <string>{{460,1070},{116,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shuzishurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{402,1746},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_suodd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,79}</string>
                <key>textureRect</key>
                <string>{{405,1456},{79,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xiaopaimaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{284,305}</string>
                <key>spriteSourceSize</key>
                <string>{284,311}</string>
                <key>textureRect</key>
                <string>{{1,1143},{284,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuyaozhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,28}</string>
                <key>spriteSourceSize</key>
                <string>{169,34}</string>
                <key>textureRect</key>
                <string>{{251,1450},{161,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_dianjianannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,42}</string>
                <key>spriteSourceSize</key>
                <string>{127,42}</string>
                <key>textureRect</key>
                <string>{{450,1263},{125,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_guanbiannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,51}</string>
                <key>textureRect</key>
                <string>{{410,1606},{54,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_jingpaiannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,43}</string>
                <key>spriteSourceSize</key>
                <string>{127,45}</string>
                <key>textureRect</key>
                <string>{{152,1642},{125,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wenhaoannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{30,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,51}</string>
                <key>textureRect</key>
                <string>{{462,1537},{30,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_youfanyeqianghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{450,1390},{51,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_zuofanyeqianghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{410,1662},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chenghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{443,1699},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chujia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{77,35}</string>
                <key>spriteSourceSize</key>
                <string>{79,37}</string>
                <key>textureRect</key>
                <string>{{373,1606},{77,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dangqianjiage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{132,27}</string>
                <key>spriteSourceSize</key>
                <string>{134,37}</string>
                <key>textureRect</key>
                <string>{{330,1386},{132,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dangqiankeyongkuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,21}</string>
                <key>spriteSourceSize</key>
                <string>{146,33}</string>
                <key>textureRect</key>
                <string>{{359,1386},{140,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jiad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{435,1564},{24,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jinrihainengdianzan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{144,21}</string>
                <key>spriteSourceSize</key>
                <string>{146,33}</string>
                <key>textureRect</key>
                <string>{{382,1390},{144,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{75,37}</string>
                <key>textureRect</key>
                <string>{{373,1685},{67,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_linshicangku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{131,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,39}</string>
                <key>textureRect</key>
                <string>{{361,1031},{131,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yijianlingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,25}</string>
                <key>spriteSourceSize</key>
                <string>{117,27}</string>
                <key>textureRect</key>
                <string>{{347,1537},{113,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zongjid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{67,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,37}</string>
                <key>textureRect</key>
                <string>{{459,1188},{67,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jingpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,97}</string>
                <key>textureRect</key>
                <string>{{361,1070},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_linshibaoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{149,139}</string>
                <key>spriteSourceSize</key>
                <string>{165,143}</string>
                <key>textureRect</key>
                <string>{{1,1642},{149,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{361,1351},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_suo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{402,1699},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xinzan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{361,1167},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{300,355},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hspm_panel.png</string>
            <key>size</key>
            <string>{493,1782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d56177d49cf7a9440da5529c9498a55:a3da27d6a7f508742ee4c7b3a7fce713:01b69701f3e9d4710ce13511fc65574b$</string>
            <key>textureFileName</key>
            <string>hspm_panel.png</string>
        </dict>
    </dict>
</plist>
