<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{68,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{144,0},{68,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{290,0},{70,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{360,0},{70,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{72,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{652,0},{72,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{70,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{796,0},{70,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{68,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{430,0},{68,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{70,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{866,0},{70,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{72,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{724,0},{72,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{76,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{576,0},{76,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{498,0},{78,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{212,0},{78,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{74,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{70,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{74,0},{70,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_stand_r_part3.png</string>
            <key>size</key>
            <string>{936,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b7f1d0cfeff46e7bdb6414f457f4129:37caa9ce24818e3d2ce3b6d7b7be1e1f:0988f693adf60eff007c092c49ee39d0$</string>
            <key>textureFileName</key>
            <string>4000008_stand_r_part3.png</string>
        </dict>
    </dict>
</plist>
