<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-10}</string>
                <key>spriteSize</key>
                <string>{300,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-27}</string>
                <key>spriteSize</key>
                <string>{312,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{300,0},{312,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-17}</string>
                <key>spriteSize</key>
                <string>{292,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{172,256},{292,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{288,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,124},{288,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-7}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1202},{204,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,8}</string>
                <key>spriteSize</key>
                <string>{158,242}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{464,550},{158,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,8}</string>
                <key>spriteSize</key>
                <string>{232,262}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{496,1470},{232,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,10}</string>
                <key>spriteSize</key>
                <string>{278,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{428,1246},{278,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-4}</string>
                <key>spriteSize</key>
                <string>{260,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{706,576},{260,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-2}</string>
                <key>spriteSize</key>
                <string>{172,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,252},{172,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-17}</string>
                <key>spriteSize</key>
                <string>{230,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{612,400},{230,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{282,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{182,538},{282,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,24}</string>
                <key>spriteSize</key>
                <string>{248,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{464,258},{248,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,87}</string>
                <key>spriteSize</key>
                <string>{192,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{246,850},{192,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,95}</string>
                <key>spriteSize</key>
                <string>{142,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{196,390},{142,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,128}</string>
                <key>spriteSize</key>
                <string>{174,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1014},{174,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,136}</string>
                <key>spriteSize</key>
                <string>{230,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{712,1068},{230,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,164}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{192,1018},{240,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,172}</string>
                <key>spriteSize</key>
                <string>{188,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{640,896},{188,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,177}</string>
                <key>spriteSize</key>
                <string>{148,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{868,264},{148,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,178}</string>
                <key>spriteSize</key>
                <string>{182,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,526},{182,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,175}</string>
                <key>spriteSize</key>
                <string>{284,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{692,734},{284,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,175}</string>
                <key>spriteSize</key>
                <string>{254,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{438,708},{254,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,174}</string>
                <key>spriteSize</key>
                <string>{246,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,850},{246,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,173}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{438,870},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,170}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{842,422},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,165}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,682},{160,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,163}</string>
                <key>spriteSize</key>
                <string>{172,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{828,896},{172,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,141}</string>
                <key>spriteSize</key>
                <string>{210,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{218,1202},{210,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,127}</string>
                <key>spriteSize</key>
                <string>{214,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{706,1256},{214,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,109}</string>
                <key>spriteSize</key>
                <string>{244,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{252,1452},{244,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,110}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{758,1470},{234,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,74}</string>
                <key>spriteSize</key>
                <string>{214,252}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1420},{214,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,42}</string>
                <key>spriteSize</key>
                <string>{160,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{182,690},{160,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,6}</string>
                <key>spriteSize</key>
                <string>{130,248}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{288,126},{130,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-26}</string>
                <key>spriteSize</key>
                <string>{280,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{432,1064},{280,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{258,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{536,126},{258,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-23}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{866,0},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-28}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{794,132},{144,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-41}</string>
                <key>spriteSize</key>
                <string>{136,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{712,264},{136,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-20}</string>
                <key>spriteSize</key>
                <string>{136,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,390},{136,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-45}</string>
                <key>spriteSize</key>
                <string>{252,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{360,394},{252,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-28}</string>
                <key>spriteSize</key>
                <string>{254,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{612,0},{254,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_magic_ru_weapon2.png</string>
            <key>size</key>
            <string>{1016,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d66e4ea247ac9b45eea7034a56c1c6ff:26294a530f92b09ffce9a55c406a20d8:e98cf56eb5a0ca9c6146a1a44c81aa69$</string>
            <key>textureFileName</key>
            <string>4000008_magic_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
