<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-9}</string>
                <key>spriteSize</key>
                <string>{294,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{358,190},{294,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-13}</string>
                <key>spriteSize</key>
                <string>{288,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{150,564},{288,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-22}</string>
                <key>spriteSize</key>
                <string>{288,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{276,554},{288,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-25}</string>
                <key>spriteSize</key>
                <string>{276,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{508,312},{276,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-26}</string>
                <key>spriteSize</key>
                <string>{258,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{412,588},{258,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-34}</string>
                <key>spriteSize</key>
                <string>{260,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{358,0},{260,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,85}</string>
                <key>spriteSize</key>
                <string>{198,230}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{650,352},{198,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,100}</string>
                <key>spriteSize</key>
                <string>{138,264}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{170,290},{138,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,123}</string>
                <key>spriteSize</key>
                <string>{162,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{652,190},{162,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,137}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{670,582},{194,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,148}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{864,560},{154,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,153}</string>
                <key>spriteSize</key>
                <string>{142,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{864,714},{142,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,164}</string>
                <key>spriteSize</key>
                <string>{152,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{848,402},{152,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,162}</string>
                <key>spriteSize</key>
                <string>{190,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{630,922},{190,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,141}</string>
                <key>spriteSize</key>
                <string>{214,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{630,756},{214,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,61}</string>
                <key>spriteSize</key>
                <string>{244,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{864,0},{244,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,61}</string>
                <key>spriteSize</key>
                <string>{242,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{150,852},{242,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,61}</string>
                <key>spriteSize</key>
                <string>{246,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,842},{246,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,61}</string>
                <key>spriteSize</key>
                <string>{244,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{300,842},{244,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,26}</string>
                <key>spriteSize</key>
                <string>{180,210}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{450,752},{180,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,31}</string>
                <key>spriteSize</key>
                <string>{150,278}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,564},{150,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,29}</string>
                <key>spriteSize</key>
                <string>{174,290}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,20}</string>
                <key>spriteSize</key>
                <string>{184,276}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{174,0},{184,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,25}</string>
                <key>spriteSize</key>
                <string>{200,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{308,312},{200,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,36}</string>
                <key>spriteSize</key>
                <string>{146,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{864,244},{146,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,25}</string>
                <key>spriteSize</key>
                <string>{128,176}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{450,962},{128,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,9}</string>
                <key>spriteSize</key>
                <string>{246,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{618,0},{246,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-7}</string>
                <key>spriteSize</key>
                <string>{274,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,290},{274,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_attack_ru_weapon2.png</string>
            <key>size</key>
            <string>{1014,1094}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19e25249619c6aa252cf0e0d08cea5b:54875b8afae39e8be21623844b739e2e:8c58c133149789f9973c94b9921913cd$</string>
            <key>textureFileName</key>
            <string>4000008_attack_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
