<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,7}</string>
                <key>spriteSize</key>
                <string>{84,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,3}</string>
                <key>spriteSize</key>
                <string>{88,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{316,168},{88,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{80,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{84,0},{80,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{82,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{826,0},{82,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{908,0},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{82,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,174},{82,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{84,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{156,170},{84,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{542,0},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{96,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{354,0},{96,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{164,0},{96,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{94,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{260,0},{94,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{92,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{450,0},{92,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{90,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{474,166},{90,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{94,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{634,0},{94,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-23}</string>
                <key>spriteSize</key>
                <string>{96,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{790,160},{96,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-29}</string>
                <key>spriteSize</key>
                <string>{98,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{728,0},{98,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{94,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{636,162},{94,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-31}</string>
                <key>spriteSize</key>
                <string>{92,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{988,0},{92,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-35}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{950,150},{104,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-47}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1086,146},{110,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-56}</string>
                <key>spriteSize</key>
                <string>{132,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1348,142},{132,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-65}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1210,146},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-74}</string>
                <key>spriteSize</key>
                <string>{142,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1344,0},{142,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-73}</string>
                <key>spriteSize</key>
                <string>{138,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1522,0},{138,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-72}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1612,0},{136,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-73}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1618,136},{136,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-74}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1704,0},{136,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-75}</string>
                <key>spriteSize</key>
                <string>{138,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1480,140},{138,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-76}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1796,0},{136,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-76}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1432,0},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-76}</string>
                <key>spriteSize</key>
                <string>{144,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1256,0},{144,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-75}</string>
                <key>spriteSize</key>
                <string>{146,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1080,0},{146,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-75}</string>
                <key>spriteSize</key>
                <string>{146,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1168,0},{146,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_die_ru.png</string>
            <key>size</key>
            <string>{1888,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c55b9c62cf0525271fdfb2ca4b65cb:0dc29e8c106d9aa4c4d72fe460b1e726:0ff73be499fe281290929cd17371e9b9$</string>
            <key>textureFileName</key>
            <string>4000008_die_ru.png</string>
        </dict>
    </dict>
</plist>
