<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{184,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,768},{184,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{184,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,878},{184,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1192},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,986},{184,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{182,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1298},{182,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1090},{184,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{186,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,664},{186,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{188,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,448},{188,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{190,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,112},{190,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{190,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{188,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,222},{188,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{188,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,336},{188,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{186,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,554},{186,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_stand_d_weapon1.png</string>
            <key>size</key>
            <string>{190,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af501ef3f0f1e05f994c39ddd26463ad:6d985fde5dfadbeb71baa94a4a717bd6:60a124c3ae3772e4a4fc701fa8b42ee7$</string>
            <key>textureFileName</key>
            <string>4000008_stand_d_weapon1.png</string>
        </dict>
    </dict>
</plist>
