<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidie_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{282,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{830,136},{282,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,9}</string>
                <key>spriteSize</key>
                <string>{292,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1112,136},{292,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{300,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{302,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{300,0},{302,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,14}</string>
                <key>spriteSize</key>
                <string>{302,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{602,0},{302,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,15}</string>
                <key>spriteSize</key>
                <string>{296,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{904,0},{296,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{288,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1200,0},{288,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{284,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1488,0},{284,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{276,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,136},{276,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{274,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{276,136},{274,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,19}</string>
                <key>spriteSize</key>
                <string>{270,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1772,0},{270,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,19}</string>
                <key>spriteSize</key>
                <string>{280,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{550,136},{280,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,19}</string>
                <key>spriteSize</key>
                <string>{290,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1404,138},{290,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,20}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{290,276},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,19}</string>
                <key>spriteSize</key>
                <string>{294,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{872,278},{294,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,17}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{558,572},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,18}</string>
                <key>spriteSize</key>
                <string>{294,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{854,572},{294,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,19}</string>
                <key>spriteSize</key>
                <string>{290,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1442,576},{290,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{288,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1732,576},{288,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{294,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1148,576},{294,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{298,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{850,424},{298,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,22}</string>
                <key>spriteSize</key>
                <string>{294,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1436,428},{294,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{288,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1148,426},{288,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{284,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1730,428},{284,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{282,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{276,566},{282,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,22}</string>
                <key>spriteSize</key>
                <string>{276,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,564},{276,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{274,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1166,280},{274,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{268,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1440,282},{268,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{276,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1708,282},{276,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,20}</string>
                <key>spriteSize</key>
                <string>{280,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,418},{280,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,18}</string>
                <key>spriteSize</key>
                <string>{290,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1694,140},{290,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,17}</string>
                <key>spriteSize</key>
                <string>{290,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,276},{290,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,12}</string>
                <key>spriteSize</key>
                <string>{286,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{586,278},{286,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,10}</string>
                <key>spriteSize</key>
                <string>{284,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{280,420},{284,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{286,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{564,422},{286,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_idle_ld_weapon2.png</string>
            <key>size</key>
            <string>{2042,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03c2693ef37ebb6d6bec60e6c2d0682:282dd288d965bfe15715d916cd94c696:e8f8b82218c88f60b700ad304933718c$</string>
            <key>textureFileName</key>
            <string>4000008_idle_ld_weapon2.png</string>
        </dict>
    </dict>
</plist>
