<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,1}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,118},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,9}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,236},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,9}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,826},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,7}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,354},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,5}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,472},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,3}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,590},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,6}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,942},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,9}</string>
                <key>spriteSize</key>
                <string>{182,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1174},{182,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,8}</string>
                <key>spriteSize</key>
                <string>{182,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1410},{182,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,6}</string>
                <key>spriteSize</key>
                <string>{182,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1292},{182,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,3}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1058},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,1}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,708},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_run_u_weapon1.png</string>
            <key>size</key>
            <string>{184,1526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6374c5f4fa894ce3a649d35db0cff0:319a3a97ca10e67859d4d1c53ed3a621:1e7bf293997b6f9da9fb4c95d6c514b2$</string>
            <key>textureFileName</key>
            <string>4000008_run_u_weapon1.png</string>
        </dict>
    </dict>
</plist>
