<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-12}</string>
                <key>spriteSize</key>
                <string>{204,74}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,80},{204,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{206,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-25}</string>
                <key>spriteSize</key>
                <string>{204,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{206,0},{204,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-31}</string>
                <key>spriteSize</key>
                <string>{198,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{410,74},{198,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-37}</string>
                <key>spriteSize</key>
                <string>{186,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,266},{186,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-34}</string>
                <key>spriteSize</key>
                <string>{180,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{182,376},{180,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,54}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{362,468},{150,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,74}</string>
                <key>spriteSize</key>
                <string>{92,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{190,194},{92,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,111}</string>
                <key>spriteSize</key>
                <string>{114,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{182,494},{114,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,129}</string>
                <key>spriteSize</key>
                <string>{138,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{370,346},{138,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,151}</string>
                <key>spriteSize</key>
                <string>{98,74}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{410,0},{98,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,159}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{426,714},{92,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,169}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{324,714},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,156}</string>
                <key>spriteSize</key>
                <string>{128,74}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{380,272},{128,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,135}</string>
                <key>spriteSize</key>
                <string>{146,72}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,728},{146,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,45}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{162,608},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,45}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,632},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,45}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{324,618},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,45}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{162,704},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,24}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{158,800},{112,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,28}</string>
                <key>spriteSize</key>
                <string>{90,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{186,286},{90,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,30}</string>
                <key>spriteSize</key>
                <string>{112,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,154},{112,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,28}</string>
                <key>spriteSize</key>
                <string>{122,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,376},{122,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,26}</string>
                <key>spriteSize</key>
                <string>{134,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,498},{134,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,21}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{282,800},{108,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,25}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{386,806},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,9}</string>
                <key>spriteSize</key>
                <string>{158,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,800},{158,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-4}</string>
                <key>spriteSize</key>
                <string>{196,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{204,90},{196,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_attack_ru_weapon1.png</string>
            <key>size</key>
            <string>{508,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d233fc1f00b04ced66333bb23ec7b1d:225c208836b3357986a7daeced72800f:9cb8bd29c18708c3c7407aae2e42a7c4$</string>
            <key>textureFileName</key>
            <string>4000008_attack_ru_weapon1.png</string>
        </dict>
    </dict>
</plist>
