<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,206},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{32,208},{54,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{30,316},{54,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,68},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{58,26}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{30,92},{58,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{58,26}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{32,150},{58,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,61}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{56,96},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,73}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{98,204},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,85}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{88,292},{22,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,89}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,184},{24,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,103}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{88,258},{34,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,119}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,140},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,135}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,30},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,125}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{62,208},{50,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,93}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{86,314},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,54}</string>
                <key>spriteSize</key>
                <string>{54,26}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{60,316},{54,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,57}</string>
                <key>spriteSize</key>
                <string>{56,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,150},{56,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,57}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,260},{56,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,57}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,92},{58,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,57}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,56}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,32},{60,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,53}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,49}</string>
                <key>spriteSize</key>
                <string>{60,28}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{30,32},{60,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,45}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{62,258},{56,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,37}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,316},{56,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,31}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{98,96},{54,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,18}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{98,150},{54,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{30,262},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000008_attack_ru_part1.png</string>
            <key>size</key>
            <string>{128,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09ae67a880d04050771007229bd8528d:85a26435032720e5fc2fd562e0fce134:9a76e08423783ba6d314f4506574e90a$</string>
            <key>textureFileName</key>
            <string>4000008_attack_ru_part1.png</string>
        </dict>
    </dict>
</plist>
