<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_WN_attack_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{371,72},{75,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,141},{77,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{90,143},{77,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{92,68},{73,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,68},{71,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{73,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{181,72},{73,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{73,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{276,72},{73,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{179,147},{75,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{93,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{359,149},{93,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{272,147},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{183,1},{69,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{69,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{268,1},{69,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{65,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{65,91}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{90,1},{65,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{355,1},{69,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{371,72},{75,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100002_attack_ru.png</string>
            <key>size</key>
            <string>{461,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92fdd44b0a0c7851e64eb307ed4d61c7:aadec66584219db84425a2f35963c3e2:bc59a4017e1576ef8f45d0a8bcb45406$</string>
            <key>textureFileName</key>
            <string>4100002_attack_ru.png</string>
        </dict>
    </dict>
</plist>
