<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_WS_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{84,1},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{408,1},{81,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-7,-9}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{491,1},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-7,-9}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{572,1},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{653,1},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{734,1},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{815,1},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{165,1},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{246,1},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.539394,0.212121}</string>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{327,1},{79,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100002_stand_rd.png</string>
            <key>size</key>
            <string>{895,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69dd96e372d511684705301e1faf7ccd:c404669013ee27c369866fef37c70057:06ab0b3efdde728bad48a09103f521f4$</string>
            <key>textureFileName</key>
            <string>4100002_stand_rd.png</string>
        </dict>
    </dict>
</plist>
