<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,90},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,357},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,444},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,531},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,618},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,705},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,792},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,879},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,179},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.254545}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,87}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,268},{73,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100002_stand_d.png</string>
            <key>size</key>
            <string>{75,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a02de34bb39b7c7293337dc291918c:0e51248ba1c2bdf117188ac0da19164c:0d03868c06c0b80d4fb8b68f9b81ff5d$</string>
            <key>textureFileName</key>
            <string>4100002_stand_d.png</string>
        </dict>
    </dict>
</plist>
