<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WN_stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,610},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,695},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,780},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,865},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,88},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,175},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,262},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,349},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,436},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.224242}</string>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,523},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100002_stand_ru.png</string>
            <key>size</key>
            <string>{79,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739504755cae3dfab0e01eeb6e1d4f5a:598f1ea56b14d4fb11d3ca22cb38ead5:d10b4cfb442b3bd3db7ebea9e4f0409c$</string>
            <key>textureFileName</key>
            <string>4100002_stand_ru.png</string>
        </dict>
    </dict>
</plist>
