<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{84,1},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{167,1},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{333,1},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{414,1},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{578,1},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{659,1},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{740,1},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{79,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{821,1},{79,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{495,1},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.50303,0.139394}</string>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{250,1},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100002_stand_u.png</string>
            <key>size</key>
            <string>{901,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c48888caf29a22bc6e6b7ac59575383f:aa1b20b935697a9407841368a4383d3b:05f23c15efdf399a5334ccb5f3231811$</string>
            <key>textureFileName</key>
            <string>4100002_stand_u.png</string>
        </dict>
    </dict>
</plist>
