<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,117},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,297},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,477},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,117},{180,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,299},{180,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{183,481},{180,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1807,181},{178,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{176,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{719,367},{176,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{719,545},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,361},{170,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{174,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1087,181},{174,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{363,7},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{545,7},{180,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{365,450},{178,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{176,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,539},{176,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1593,357},{172,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1065,359},{170,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{174,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1267,181},{174,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{363,187},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{545,189},{180,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{539,367},{178,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{176,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1237,357},{176,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1239,531},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1067,537},{170,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>000007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{174,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1447,181},{174,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{723,1},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{905,1},{180,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{539,541},{178,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{176,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1415,357},{176,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1413,531},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1587,531},{170,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{174,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1627,181},{174,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,4}</string>
                <key>spriteSourceSize</key>
                <string>{680,4}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_juezhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,25}</string>
                <key>spriteSourceSize</key>
                <string>{72,29}</string>
                <key>textureRect</key>
                <string>{{1919,477},{68,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lingxiaokuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{1087,1},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lingxiaokuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{1267,1},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_menpaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,163}</string>
                <key>spriteSourceSize</key>
                <string>{81,163}</string>
                <key>textureRect</key>
                <string>{{363,367},{81,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pansikuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{1447,1},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_pansikuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{1769,357},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_putuokuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{1627,1},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_putuokuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{1807,1},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wuzhuangkuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{727,181},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wuzhuangkuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{194,184}</string>
                <key>textureRect</key>
                <string>{{907,179},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_bairumenpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{346,108}</string>
                <key>spriteSourceSize</key>
                <string>{362,128}</string>
                <key>textureRect</key>
                <string>{{1,7},{346,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_bafangyanmie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,23}</string>
                <key>spriteSourceSize</key>
                <string>{105,23}</string>
                <key>textureRect</key>
                <string>{{1997,352},{105,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_canglongjianqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,26}</string>
                <key>spriteSourceSize</key>
                <string>{103,26}</string>
                <key>textureRect</key>
                <string>{{511,630},{103,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dacixinguangdu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,24}</string>
                <key>spriteSourceSize</key>
                <string>{131,24}</string>
                <key>textureRect</key>
                <string>{{365,630},{131,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_fanpuguizhen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,24}</string>
                <key>spriteSourceSize</key>
                <string>{105,24}</string>
                <key>textureRect</key>
                <string>{{1239,707},{105,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_fenghunzhou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,24}</string>
                <key>textureRect</key>
                <string>{{1887,557},{81,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gouhunsi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,24}</string>
                <key>textureRect</key>
                <string>{{1919,504},{80,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_guishenqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,24}</string>
                <key>spriteSourceSize</key>
                <string>{80,24}</string>
                <key>textureRect</key>
                <string>{{1981,646},{80,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_huifengyinlu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,25}</string>
                <key>spriteSourceSize</key>
                <string>{103,25}</string>
                <key>textureRect</key>
                <string>{{1346,707},{103,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jianyucangfeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,26}</string>
                <key>spriteSourceSize</key>
                <string>{105,26}</string>
                <key>textureRect</key>
                <string>{{180,709},{105,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lianhuamiaofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{110,24}</string>
                <key>textureRect</key>
                <string>{{1987,244},{106,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lingxiaodian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{50,120}</string>
                <key>spriteSourceSize</key>
                <string>{52,132}</string>
                <key>textureRect</key>
                <string>{{1919,355},{50,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lingxiaodian3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1451,707},{87,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lingxiaodiian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1587,703},{87,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pansidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,118}</string>
                <key>spriteSourceSize</key>
                <string>{52,132}</string>
                <key>textureRect</key>
                <string>{{180,659},{48,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_pansidong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1676,703},{87,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pansidong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1903,640},{87,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_putuoshan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,118}</string>
                <key>spriteSourceSize</key>
                <string>{52,132}</string>
                <key>textureRect</key>
                <string>{{1769,507},{48,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_putuoshan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1939,557},{87,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_putuoshan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1929,646},{87,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qianjunji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,24}</string>
                <key>spriteSourceSize</key>
                <string>{81,24}</string>
                <key>textureRect</key>
                <string>{{1913,557},{81,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qishajue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,24}</string>
                <key>spriteSourceSize</key>
                <string>{79,24}</string>
                <key>textureRect</key>
                <string>{{1991,530},{79,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shangshanruoshui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,24}</string>
                <key>spriteSourceSize</key>
                <string>{107,24}</string>
                <key>textureRect</key>
                <string>{{1987,135},{107,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_sibianjjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,25}</string>
                <key>textureRect</key>
                <string>{{1889,530},{77,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wangushixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,24}</string>
                <key>spriteSourceSize</key>
                <string>{106,24}</string>
                <key>textureRect</key>
                <string>{{1971,355},{106,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wanhuaguiyijue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,24}</string>
                <key>spriteSourceSize</key>
                <string>{132,24}</string>
                <key>textureRect</key>
                <string>{{1987,1},{132,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{74,22}</string>
                <key>spriteSourceSize</key>
                <string>{80,24}</string>
                <key>textureRect</key>
                <string>{{1067,715},{74,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wuzhuangguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,114}</string>
                <key>spriteSourceSize</key>
                <string>{52,132}</string>
                <key>textureRect</key>
                <string>{{1765,557},{48,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wuzhuangguang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1955,646},{87,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wuzhuangguang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,24}</string>
                <key>spriteSourceSize</key>
                <string>{87,24}</string>
                <key>textureRect</key>
                <string>{{1965,557},{87,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jinghuagong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,82}</string>
                <key>spriteSourceSize</key>
                <string>{71,82}</string>
                <key>textureRect</key>
                <string>{{1830,645},{71,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jinghuagong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{300,659},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jiuxiaocheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{89,657},{79,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jiuxiaocheng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{365,656},{67,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tiandumen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{86,80}</string>
                <key>textureRect</key>
                <string>{{1,657},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tiandumen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{1815,557},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiaoyaopai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{434,656},{76,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiaoyaopai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{1765,673},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>school_enrollment.png</string>
            <key>size</key>
            <string>{2021,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c688f4b093ff5924fc558b04b543d9d2:92b4ee78b828d43619a6c12d45d3bbf8:2a67698af2a81f12d15680099ff5f54d$</string>
            <key>textureFileName</key>
            <string>school_enrollment.png</string>
        </dict>
    </dict>
</plist>
