<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_sanjiaoxingmaopao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{194,79}</string>
                <key>spriteSourceSize</key>
                <string>{198,79}</string>
                <key>textureRect</key>
                <string>{{808,1},{194,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dianjizhuizongrenwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,37}</string>
                <key>spriteSourceSize</key>
                <string>{193,37}</string>
                <key>textureRect</key>
                <string>{{631,783},{193,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-2}</string>
                <key>spriteSize</key>
                <string>{628,125}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,1176},{628,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{677,1},{628,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-2}</string>
                <key>spriteSize</key>
                <string>{628,125}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,1176},{628,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{677,1},{628,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,783},{628,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,914},{628,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,1045},{628,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{677,631},{628,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,1045},{628,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,914},{628,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{628,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,783},{628,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{674,125}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,656},{674,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{674,125}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,656},{674,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,132},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,263},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,394},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,525},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,394},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,263},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,129}</string>
                <key>spriteSourceSize</key>
                <string>{674,129}</string>
                <key>textureRect</key>
                <string>{{1,132},{674,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guideIcon.png</string>
            <key>size</key>
            <string>{888,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44737c4ee810b46525c997480eead7f6:366f91548c6be5be12eed63a95b8d7e6:5bf2fcd612336a8e823c42d585c3248b$</string>
            <key>textureFileName</key>
            <string>guideIcon.png</string>
        </dict>
    </dict>
</plist>
