<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男2高级武器run_W_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{116,218}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1845,1},{116,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{142,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1009,1},{142,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-7}</string>
                <key>spriteSize</key>
                <string>{142,208}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1153,1},{142,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{150,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{857,1},{150,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{138,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1297,1},{138,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-1}</string>
                <key>spriteSize</key>
                <string>{142,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1575,1},{142,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-5}</string>
                <key>spriteSize</key>
                <string>{136,214}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1437,1},{136,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-1}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{545,1},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{172,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{199,1},{172,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-11}</string>
                <key>spriteSize</key>
                <string>{196,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{170,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{373,1},{170,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{703,1},{152,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_W_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1719,1},{124,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303005_run_r.png</string>
            <key>size</key>
            <string>{1962,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da642e9d83ba6cb66925b1310f34b93:a3d4e64b9c7dbe8f6ed226d79f526260:4dfa3ae2953411d8b2070417ded4524f$</string>
            <key>textureFileName</key>
            <string>4303005_run_r.png</string>
        </dict>
    </dict>
</plist>
