<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-41}</string>
                <key>spriteSize</key>
                <string>{185,149}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{762,190},{185,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-40}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1082,1},{179,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-43}</string>
                <key>spriteSize</key>
                <string>{157,193}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{601,208},{157,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-42}</string>
                <key>spriteSize</key>
                <string>{179,181}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{899,1},{179,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-33}</string>
                <key>spriteSize</key>
                <string>{217,81}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{373,1},{217,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{151,63}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{915,186},{151,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{83,115}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{796,379},{83,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,31}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1084,336},{135,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,53}</string>
                <key>spriteSize</key>
                <string>{185,179}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{716,1},{185,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,64}</string>
                <key>spriteSize</key>
                <string>{169,165}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{915,336},{169,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,107}</string>
                <key>spriteSize</key>
                <string>{43,103}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{341,459},{43,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,50}</string>
                <key>spriteSize</key>
                <string>{103,245}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,260},{103,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,20}</string>
                <key>spriteSize</key>
                <string>{79,147}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{915,253},{79,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-7}</string>
                <key>spriteSize</key>
                <string>{49,37}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1265,44},{49,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-5}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1233,449},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-4}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{298,459},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-5}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1265,1},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-7}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1233,394},{73,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,4}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{448,431},{185,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,43}</string>
                <key>spriteSize</key>
                <string>{133,51}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1247,257},{133,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,38}</string>
                <key>spriteSize</key>
                <string>{177,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1066,257},{177,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,39}</string>
                <key>spriteSize</key>
                <string>{179,79}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1082,174},{179,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,44}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{625,1},{189,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,44}</string>
                <key>spriteSize</key>
                <string>{155,95}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{637,405},{155,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,38}</string>
                <key>spriteSize</key>
                <string>{109,239}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{185,246},{109,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,45}</string>
                <key>spriteSize</key>
                <string>{101,255}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,44}</string>
                <key>spriteSize</key>
                <string>{73,249}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{106,1},{73,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,38}</string>
                <key>spriteSize</key>
                <string>{73,247}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{108,254},{73,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,25}</string>
                <key>spriteSize</key>
                <string>{43,241}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{183,1},{43,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{59,205}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{433,222},{59,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-22}</string>
                <key>spriteSize</key>
                <string>{201,101}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{496,208},{201,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-37}</string>
                <key>spriteSize</key>
                <string>{225,131}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{298,230},{225,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-47}</string>
                <key>spriteSize</key>
                <string>{225,139}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{230,1},{225,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-45}</string>
                <key>spriteSize</key>
                <string>{203,163}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{458,1},{203,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303005_attack_ru.png</string>
            <key>size</key>
            <string>{1307,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15cec70a03ef3b7676cabe47eac895a2:3a7016d3cdf388815104b879f1eb8ba6:f69faed524fef156d26754479eeb0716$</string>
            <key>textureFileName</key>
            <string>4303005_attack_ru.png</string>
        </dict>
    </dict>
</plist>
