<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_ES_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,12}</string>
                <key>spriteSize</key>
                <string>{181,79}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,785},{181,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,13}</string>
                <key>spriteSize</key>
                <string>{171,87}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{180,897},{171,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,8}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{393,563},{149,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,7}</string>
                <key>spriteSize</key>
                <string>{175,119}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,868},{175,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{215,119}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{222,211},{215,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{163,111}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,1039},{163,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{313,1110},{89,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,991},{141,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,38}</string>
                <key>spriteSize</key>
                <string>{181,155}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{192,738},{181,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,52}</string>
                <key>spriteSize</key>
                <string>{171,187}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,610},{171,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,33}</string>
                <key>spriteSize</key>
                <string>{57,251}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,32}</string>
                <key>spriteSize</key>
                <string>{111,237}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{256,1},{111,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-10}</string>
                <key>spriteSize</key>
                <string>{101,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{400,1110},{101,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-25}</string>
                <key>spriteSize</key>
                <string>{69,147}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{441,211},{69,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-29}</string>
                <key>spriteSize</key>
                <string>{57,139}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{116,1036},{57,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-28}</string>
                <key>spriteSize</key>
                <string>{67,141}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{353,1039},{67,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-26}</string>
                <key>spriteSize</key>
                <string>{73,135}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{177,1065},{73,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-27}</string>
                <key>spriteSize</key>
                <string>{83,143}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{355,952},{83,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-17}</string>
                <key>spriteSize</key>
                <string>{201,115}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{206,334},{201,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-37}</string>
                <key>spriteSize</key>
                <string>{197,99}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{411,362},{197,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-36}</string>
                <key>spriteSize</key>
                <string>{193,95}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,511},{193,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-35}</string>
                <key>spriteSize</key>
                <string>{195,93}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{202,453},{195,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-36}</string>
                <key>spriteSize</key>
                <string>{191,105}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{198,550},{191,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-38}</string>
                <key>spriteSize</key>
                <string>{201,121}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,309},{201,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,7}</string>
                <key>spriteSize</key>
                <string>{127,175}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{381,716},{127,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{73,197}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,434},{73,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,23}</string>
                <key>spriteSize</key>
                <string>{87,205}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,218},{87,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,18}</string>
                <key>spriteSize</key>
                <string>{73,169}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{180,988},{73,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{53,121}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{377,895},{53,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{254,1110},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,14}</string>
                <key>spriteSize</key>
                <string>{217,69}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,145},{217,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,10}</string>
                <key>spriteSize</key>
                <string>{235,79}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,62},{235,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,7}</string>
                <key>spriteSize</key>
                <string>{231,91}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{240,116},{231,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,13}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{192,659},{185,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303005_attack_ld.png</string>
            <key>size</key>
            <string>{511,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6687d82b97403239a0531bf69e6f130d:8c404dea54cd7e19212b874eecff6f42:2e66ca5acb549388c87f8cfbcba42cc0$</string>
            <key>textureFileName</key>
            <string>4303005_attack_ld.png</string>
        </dict>
    </dict>
</plist>
