<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男2高级武器run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{87,254}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{148,1},{87,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{125,250}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{237,1},{125,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{119,248}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{364,1},{119,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{145,270}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{115,248}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{485,1},{115,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{101,246}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{719,1},{101,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{123,250}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{265,253},{123,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{121,244}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{491,378},{121,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{103,246}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,408},{103,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{133,262}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,273},{133,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{117,246}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{517,251},{117,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WN_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{115,248}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{602,1},{115,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WN_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{103,240}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{249,408},{103,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303005_run_ru.png</string>
            <key>size</key>
            <string>{821,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8382513f5f1d69d5cf7b90bb98e2419e:7b1a94bfcc264624ecc229c0d88ff4e5:b764e1a89f94d2950c1ca37a8cf9deed$</string>
            <key>textureFileName</key>
            <string>4303005_run_ru.png</string>
        </dict>
    </dict>
</plist>
