<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男2高级武器run_WS_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{175,161}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{327,534},{175,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{183,167}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{321,725},{183,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{187,157}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,743},{187,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{193,165}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{160,530},{193,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{191,159}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{160,725},{191,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{199,167}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,160},{199,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WS_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{199,157}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{158,329},{199,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,15}</string>
                <key>spriteSize</key>
                <string>{207,155}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{214,1},{207,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WS_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{207,155}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,329},{207,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{211,157}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2高级武器run_WS_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{203,157}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,538},{203,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{189,161}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{327,343},{189,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男2高级武器run_WS_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{183,171}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{317,158},{183,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303005_run_rd.png</string>
            <key>size</key>
            <string>{489,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc2594b7c3dc3640973c241943179c7d:c42048df987438670cca45211e24f47f:6a24e9030c82e289a29134b008a52481$</string>
            <key>textureFileName</key>
            <string>4303005_run_rd.png</string>
        </dict>
    </dict>
</plist>
