<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_ES_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{175,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{796,296},{175,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{198,251},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{193,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{391,231},{193,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{195,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{597,322},{195,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{183,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{586,118},{183,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{189,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{580,1},{189,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{191,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{391,120},{191,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{193,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{197,342},{193,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{193,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{588,225},{193,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{197,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{773,1},{197,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{199,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{394,322},{199,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{195,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{773,106},{195,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{189,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{198,138},{189,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{193,127}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,134},{193,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-17}</string>
                <key>spriteSize</key>
                <string>{185,133}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{198,1},{185,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{193,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-13}</string>
                <key>spriteSize</key>
                <string>{189,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{387,1},{189,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{187,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,265},{187,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_ES_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{177,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{106,265},{177,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_ES_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{183,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{785,213},{183,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{179,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{796,371},{179,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303005_hit_ld.png</string>
            <key>size</key>
            <string>{976,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f71313ae811577654ddd96e52f40118:915fc1bea2b9b4bbb80f8900cbc64a8c:27865c6eddc6fa6684c7c2bb08e1e365$</string>
            <key>textureFileName</key>
            <string>4303005_hit_ld.png</string>
        </dict>
    </dict>
</plist>
