<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chakanshitujiemian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,29}</string>
                <key>spriteSourceSize</key>
                <string>{602,33}</string>
                <key>textureRect</key>
                <string>{{297,1},{600,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chengjiuxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{591,194}</string>
                <key>spriteSourceSize</key>
                <string>{605,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{591,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_deyimensheng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{318,302}</string>
                <key>spriteSourceSize</key>
                <string>{328,346}</string>
                <key>textureRect</key>
                <string>{{1,603},{318,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fanyeanniuyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{129,974},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fanyeannniuzuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{460,884},{50,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_fanyedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,34}</string>
                <key>spriteSourceSize</key>
                <string>{593,38}</string>
                <key>textureRect</key>
                <string>{{197,1},{589,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huangsechaifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{145,135}</string>
                <key>spriteSourceSize</key>
                <string>{157,141}</string>
                <key>textureRect</key>
                <string>{{358,1},{145,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kelingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,31}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{358,334},{116,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lansechaifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{145,131}</string>
                <key>spriteSourceSize</key>
                <string>{157,141}</string>
                <key>textureRect</key>
                <string>{{358,148},{145,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_meirixiuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,30}</string>
                <key>spriteSourceSize</key>
                <string>{604,36}</string>
                <key>textureRect</key>
                <string>{{233,1},{600,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shituchengjiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{600,30}</string>
                <key>spriteSourceSize</key>
                <string>{604,36}</string>
                <key>textureRect</key>
                <string>{{265,1},{600,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tudixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{163,138}</string>
                <key>spriteSourceSize</key>
                <string>{169,144}</string>
                <key>textureRect</key>
                <string>{{321,603},{163,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_weilingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{109,94}</string>
                <key>textureRect</key>
                <string>{{321,768},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_weiwancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{103,88}</string>
                <key>spriteSourceSize</key>
                <string>{109,94}</string>
                <key>textureRect</key>
                <string>{{321,858},{103,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yeshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{426,892},{88,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yilingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,49}</string>
                <key>spriteSourceSize</key>
                <string>{126,49}</string>
                <key>textureRect</key>
                <string>{{1,974},{126,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yiwancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{99,82}</string>
                <key>spriteSourceSize</key>
                <string>{109,94}</string>
                <key>textureRect</key>
                <string>{{355,468},{99,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chakanjilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{109,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,98}</string>
                <key>textureRect</key>
                <string>{{195,907},{109,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_guanbitudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,105}</string>
                <key>textureRect</key>
                <string>{{355,367},{83,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,52}</string>
                <key>textureRect</key>
                <string>{{306,948},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_panchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{90,42}</string>
                <key>spriteSourceSize</key>
                <string>{98,46}</string>
                <key>textureRect</key>
                <string>{{440,367},{90,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_shitufenyeanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{194,67}</string>
                <key>textureRect</key>
                <string>{{1,907},{192,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chakanguize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{122,27}</string>
                <key>spriteSourceSize</key>
                <string>{134,33}</string>
                <key>textureRect</key>
                <string>{{426,768},{122,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gaituerhaiweikaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{352,28}</string>
                <key>spriteSourceSize</key>
                <string>{364,40}</string>
                <key>textureRect</key>
                <string>{{328,1},{352,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jinxingrenwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{328,552},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lianxishifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{456,459},{112,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lingqujiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{461,573},{112,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_meirixiuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,22}</string>
                <key>spriteSourceSize</key>
                <string>{109,24}</string>
                <key>textureRect</key>
                <string>{{328,579},{103,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shifushouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{167,25}</string>
                <key>spriteSourceSize</key>
                <string>{173,31}</string>
                <key>textureRect</key>
                <string>{{328,355},{167,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shituchengjiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{103,22}</string>
                <key>spriteSourceSize</key>
                <string>{109,24}</string>
                <key>textureRect</key>
                <string>{{306,1000},{103,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shituzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,22}</string>
                <key>spriteSourceSize</key>
                <string>{86,24}</string>
                <key>textureRect</key>
                <string>{{461,687},{78,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shituzhiyujikehuodedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,37}</string>
                <key>spriteSourceSize</key>
                <string>{128,39}</string>
                <key>textureRect</key>
                <string>{{358,295},{126,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yilingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,31}</string>
                <key>textureRect</key>
                <string>{{412,982},{82,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yujikehuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,22}</string>
                <key>spriteSourceSize</key>
                <string>{116,24}</string>
                <key>textureRect</key>
                <string>{{455,768},{114,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>disciple_panel.png</string>
            <key>size</key>
            <string>{495,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca8d9cb5d5b0abbf9c15c74bd2ec638:05485a3a308b957b7e16d9775c62ab53:6c4ead4610c999cabbc751d1764bf4ff$</string>
            <key>textureFileName</key>
            <string>disciple_panel.png</string>
        </dict>
    </dict>
</plist>
