<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tudichushidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-7}</string>
                <key>spriteSize</key>
                <string>{628,404}</string>
                <key>spriteSourceSize</key>
                <string>{660,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{628,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tudishuohua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{419,168}</string>
                <key>spriteSourceSize</key>
                <string>{441,182}</string>
                <key>textureRect</key>
                <string>{{1,631},{419,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dechushishouyi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{128,22}</string>
                <key>spriteSourceSize</key>
                <string>{140,28}</string>
                <key>textureRect</key>
                <string>{{222,801},{128,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qirizongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{219,24}</string>
                <key>spriteSourceSize</key>
                <string>{237,28}</string>
                <key>textureRect</key>
                <string>{{1,801},{219,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>disciple_end_box.png</string>
            <key>size</key>
            <string>{421,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8347d77574302ba64c5df9e9984bf927:f43b8a858b9236e00b0d287761937642:a1cb36cebd92ddef1ad5cf5c28b8d7be$</string>
            <key>textureFileName</key>
            <string>disciple_end_box.png</string>
        </dict>
    </dict>
</plist>
