<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_baishixueyisoushoudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{562,57}</string>
                <key>spriteSourceSize</key>
                <string>{570,59}</string>
                <key>textureRect</key>
                <string>{{1,462},{562,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chushitudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{599,30}</string>
                <key>spriteSourceSize</key>
                <string>{603,36}</string>
                <key>textureRect</key>
                <string>{{1,559},{599,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_deyimensheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{318,302}</string>
                <key>spriteSourceSize</key>
                <string>{328,346}</string>
                <key>textureRect</key>
                <string>{{321,128},{318,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_duaihuanjiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{166,168}</string>
                <key>textureRect</key>
                <string>{{625,127},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_haoyoudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,109}</string>
                <key>spriteSourceSize</key>
                <string>{72,109}</string>
                <key>textureRect</key>
                <string>{{827,189},{72,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,36}</string>
                <key>spriteSourceSize</key>
                <string>{69,36}</string>
                <key>textureRect</key>
                <string>{{977,293},{69,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jilufengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{569,10}</string>
                <key>spriteSourceSize</key>
                <string>{571,18}</string>
                <key>textureRect</key>
                <string>{{1,626},{569,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jutixinxifanhuanzongshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{593,33}</string>
                <key>spriteSourceSize</key>
                <string>{599,35}</string>
                <key>textureRect</key>
                <string>{{1,591},{593,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_kechushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{116,31}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{741,458},{116,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kelingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,31}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{874,394},{116,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangmingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{271,73}</string>
                <key>spriteSourceSize</key>
                <string>{273,77}</string>
                <key>textureRect</key>
                <string>{{558,1},{271,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shitufanyeyeshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{126,42}</string>
                <key>spriteSourceSize</key>
                <string>{130,46}</string>
                <key>textureRect</key>
                <string>{{613,509},{126,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shitushenqingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{763,348},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shitutipsshuliangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,41}</string>
                <key>spriteSourceSize</key>
                <string>{90,45}</string>
                <key>textureRect</key>
                <string>{{675,590},{90,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{625,277},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tuijianshifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{600,36}</string>
                <key>spriteSourceSize</key>
                <string>{602,46}</string>
                <key>textureRect</key>
                <string>{{1,521},{600,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_weirenshibiao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{318,332}</string>
                <key>spriteSourceSize</key>
                <string>{328,346}</string>
                <key>textureRect</key>
                <string>{{1,128},{318,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wodeshifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,118}</string>
                <key>spriteSourceSize</key>
                <string>{39,132}</string>
                <key>textureRect</key>
                <string>{{883,427},{37,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xunzhaoshifudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,125}</string>
                <key>spriteSourceSize</key>
                <string>{555,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{555,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yeshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{874,360},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yilingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,49}</string>
                <key>spriteSourceSize</key>
                <string>{126,49}</string>
                <key>textureRect</key>
                <string>{{613,458},{126,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zaixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{34,73}</string>
                <key>textureRect</key>
                <string>{{767,608},{28,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,105}</string>
                <key>textureRect</key>
                <string>{{827,88},{83,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_huanyipi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{94,44}</string>
                <key>spriteSourceSize</key>
                <string>{94,46}</string>
                <key>textureRect</key>
                <string>{{801,300},{94,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,52}</string>
                <key>textureRect</key>
                <string>{{912,88},{104,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_shangyiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,46}</string>
                <key>spriteSourceSize</key>
                <string>{77,52}</string>
                <key>textureRect</key>
                <string>{{565,448},{71,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_shengqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{135,41}</string>
                <key>spriteSourceSize</key>
                <string>{155,53}</string>
                <key>textureRect</key>
                <string>{{625,415},{135,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_sousuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,59}</string>
                <key>textureRect</key>
                <string>{{883,547},{59,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_tongyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{80,107}</string>
                <key>textureRect</key>
                <string>{{901,194},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_weihao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{41,52}</string>
                <key>textureRect</key>
                <string>{{967,568},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_xiayiye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{71,46}</string>
                <key>spriteSourceSize</key>
                <string>{77,52}</string>
                <key>textureRect</key>
                <string>{{602,590},{71,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_yijianshengqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{234,49}</string>
                <key>spriteSourceSize</key>
                <string>{244,53}</string>
                <key>textureRect</key>
                <string>{{558,76},{234,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_baishixueyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{161,34}</string>
                <key>spriteSourceSize</key>
                <string>{167,40}</string>
                <key>textureRect</key>
                <string>{{831,1},{161,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chushijiangli1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{992,364},{88,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chushijiangli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{88,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,29}</string>
                <key>textureRect</key>
                <string>{{774,558},{88,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chushizhi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{79,23}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{838,608},{79,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dechushishouyi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{128,22}</string>
                <key>spriteSourceSize</key>
                <string>{140,28}</string>
                <key>textureRect</key>
                <string>{{831,64},{128,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dechushishouyi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{128,22}</string>
                <key>spriteSourceSize</key>
                <string>{140,28}</string>
                <key>textureRect</key>
                <string>{{964,64},{128,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,35}</string>
                <key>spriteSourceSize</key>
                <string>{78,37}</string>
                <key>textureRect</key>
                <string>{{901,299},{74,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jinrizongliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{125,31}</string>
                <key>spriteSourceSize</key>
                <string>{135,37}</string>
                <key>textureRect</key>
                <string>{{850,430},{125,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jinxingrenwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{988,179},{112,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jutixinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{126,35}</string>
                <key>spriteSourceSize</key>
                <string>{130,35}</string>
                <key>textureRect</key>
                <string>{{603,553},{126,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lianxishifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{959,427},{112,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lingqujiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{986,454},{112,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qingkongliebiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,25}</string>
                <key>spriteSourceSize</key>
                <string>{113,27}</string>
                <key>textureRect</key>
                <string>{{988,64},{113,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qirizongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{219,24}</string>
                <key>spriteSourceSize</key>
                <string>{237,28}</string>
                <key>textureRect</key>
                <string>{{775,127},{219,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_quanbutongyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{111,25}</string>
                <key>spriteSourceSize</key>
                <string>{113,27}</string>
                <key>textureRect</key>
                <string>{{767,581},{111,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shifushenqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{126,35}</string>
                <key>spriteSourceSize</key>
                <string>{130,35}</string>
                <key>textureRect</key>
                <string>{{813,430},{126,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shifushouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{167,25}</string>
                <key>spriteSourceSize</key>
                <string>{173,31}</string>
                <key>textureRect</key>
                <string>{{831,37},{167,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shituzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,22}</string>
                <key>spriteSourceSize</key>
                <string>{86,24}</string>
                <key>textureRect</key>
                <string>{{897,336},{78,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shituzhi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{79,23}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{942,541},{79,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shituzhiyujikehuodedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,37}</string>
                <key>spriteSourceSize</key>
                <string>{128,39}</string>
                <key>textureRect</key>
                <string>{{774,430},{126,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yilingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,25}</string>
                <key>spriteSourceSize</key>
                <string>{88,31}</string>
                <key>textureRect</key>
                <string>{{847,346},{82,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yishengqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,35}</string>
                <key>spriteSourceSize</key>
                <string>{113,37}</string>
                <key>textureRect</key>
                <string>{{922,427},{107,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zuikelingqu7rizongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{219,24}</string>
                <key>spriteSourceSize</key>
                <string>{237,28}</string>
                <key>textureRect</key>
                <string>{{801,76},{219,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mentor_base_panel.png</string>
            <key>size</key>
            <string>{1014,637}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59b6099a0a261d13c0dcd24ee62da006:fb30821afea52a77e26b759062993371:2e2c0b197ab3988b0068f0f1d585a0ce$</string>
            <key>textureFileName</key>
            <string>mentor_base_panel.png</string>
        </dict>
    </dict>
</plist>
