<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{574,11}</string>
                <key>spriteSourceSize</key>
                <string>{582,17}</string>
                <key>textureRect</key>
                <string>{{1,243},{574,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shitushouyidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{598,43}</string>
                <key>spriteSourceSize</key>
                <string>{606,49}</string>
                <key>textureRect</key>
                <string>{{595,1},{598,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{963,77},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tudidikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,182}</string>
                <key>spriteSourceSize</key>
                <string>{177,182}</string>
                <key>textureRect</key>
                <string>{{595,77},{177,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tudidikuangxuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,182}</string>
                <key>spriteSourceSize</key>
                <string>{177,182}</string>
                <key>textureRect</key>
                <string>{{779,77},{177,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tudixinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,240}</string>
                <key>spriteSourceSize</key>
                <string>{602,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{592,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wode1tudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{599,29}</string>
                <key>spriteSourceSize</key>
                <string>{607,33}</string>
                <key>textureRect</key>
                <string>{{595,46},{599,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chakanjilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{109,96}</string>
                <key>spriteSourceSize</key>
                <string>{117,98}</string>
                <key>textureRect</key>
                <string>{{1380,81},{109,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,105}</string>
                <key>textureRect</key>
                <string>{{1101,77},{83,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_juti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,52}</string>
                <key>textureRect</key>
                <string>{{1101,204},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,52}</string>
                <key>textureRect</key>
                <string>{{1207,204},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_shitufenyeanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{194,67}</string>
                <key>textureRect</key>
                <string>{{1186,81},{192,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zhuchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,43}</string>
                <key>spriteSourceSize</key>
                <string>{91,43}</string>
                <key>textureRect</key>
                <string>{{1313,179},{91,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chakanguize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{122,27}</string>
                <key>spriteSourceSize</key>
                <string>{134,33}</string>
                <key>textureRect</key>
                <string>{{1186,175},{122,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chakanjindu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{116,29}</string>
                <key>textureRect</key>
                <string>{{1491,1},{112,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lianxitudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{110,26}</string>
                <key>spriteSourceSize</key>
                <string>{122,40}</string>
                <key>textureRect</key>
                <string>{{1491,115},{110,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shitushengqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{126,27}</string>
                <key>spriteSourceSize</key>
                <string>{134,33}</string>
                <key>textureRect</key>
                <string>{{963,215},{126,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_tudichushixiaoyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{169,25}</string>
                <key>spriteSourceSize</key>
                <string>{171,27}</string>
                <key>textureRect</key>
                <string>{{1186,148},{169,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xuweiyidaikezaishitu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{286,78}</string>
                <key>spriteSourceSize</key>
                <string>{304,104}</string>
                <key>textureRect</key>
                <string>{{1196,1},{286,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,80}</string>
                <key>spriteSourceSize</key>
                <string>{53,80}</string>
                <key>textureRect</key>
                <string>{{1406,179},{53,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mentor_panel.png</string>
            <key>size</key>
            <string>{1518,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9836476ff6fa03b2eec098951b2f89bf:d911f2c39a3ca88012053a4f24827247:553c749a32aa3cef2088c825cf228be7$</string>
            <key>textureFileName</key>
            <string>mentor_panel.png</string>
        </dict>
    </dict>
</plist>
