<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>西域商人改接引2375、121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,328}</string>
                <key>spriteSourceSize</key>
                <string>{380,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200038_stand_d.png</string>
            <key>size</key>
            <string>{382,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3490805a63cf2b2760d8158e6f005486:a3b25ec93c8d7164b5372001cda59c4f:a8f2291bb309147c3353764ca7c76a8b$</string>
            <key>textureFileName</key>
            <string>4200038_stand_d.png</string>
        </dict>
    </dict>
</plist>
