<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>矿山探宝294、1134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,246}</string>
                <key>spriteSourceSize</key>
                <string>{339,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{339,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200040_stand_d.png</string>
            <key>size</key>
            <string>{341,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71978f406e5890d2f1b6cd88fc6c3bf:8718a9598b7a271337e964b4fe6fd4f4:fc914f38748cd5f79ccae7cfa704f7e9$</string>
            <key>textureFileName</key>
            <string>4200040_stand_d.png</string>
        </dict>
    </dict>
</plist>
