<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_wn_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{139,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{629,160},{139,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_wn_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-52}</string>
                <key>spriteSize</key>
                <string>{131,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{875,156},{131,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_wn_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-10}</string>
                <key>spriteSize</key>
                <string>{99,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{772,156},{99,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_wn_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{125,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{921,1},{125,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-17}</string>
                <key>spriteSize</key>
                <string>{155,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{526,1},{155,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-23}</string>
                <key>spriteSize</key>
                <string>{147,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{327,164},{147,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_wn_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-27}</string>
                <key>spriteSize</key>
                <string>{163,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{157,1},{163,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-29}</string>
                <key>spriteSize</key>
                <string>{165,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,170},{165,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_wn_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-32}</string>
                <key>spriteSize</key>
                <string>{155,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{698,1},{155,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-26}</string>
                <key>spriteSize</key>
                <string>{155,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{617,1},{155,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{305,1},{159,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-27}</string>
                <key>spriteSize</key>
                <string>{161,75}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{226,1},{161,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-27}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{86,1},{163,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{159,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{386,1},{159,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-23}</string>
                <key>spriteSize</key>
                <string>{159,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{461,1},{159,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{151,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{771,1},{151,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-13}</string>
                <key>spriteSize</key>
                <string>{151,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{848,1},{151,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_wn_hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-14}</string>
                <key>spriteSize</key>
                <string>{147,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{478,164},{147,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_wn_hit_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{153,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{170,168},{153,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301004_hit_ru.png</string>
            <key>size</key>
            <string>{1007,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:664d940e17099e4fb7971ec6d805b5ed:1009c88c4d970381e2cdb04851a56460:2eeb01231739a617e9fe4ee7c38b5e73$</string>
            <key>textureFileName</key>
            <string>4301004_hit_ru.png</string>
        </dict>
    </dict>
</plist>
