<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男1原配武器stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,16}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,119},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,16}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{45,119},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,20}</string>
                <key>spriteSize</key>
                <string>{46,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,1},{46,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,17}</string>
                <key>spriteSize</key>
                <string>{44,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,111},{44,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,18}</string>
                <key>spriteSize</key>
                <string>{36,98}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{311,43},{36,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,14}</string>
                <key>spriteSize</key>
                <string>{34,102}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{179,109},{34,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,15}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{221,1},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,16}</string>
                <key>spriteSize</key>
                <string>{34,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,221},{34,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,19}</string>
                <key>spriteSize</key>
                <string>{44,104}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{173,1},{44,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,22}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{197,215},{40,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,20}</string>
                <key>spriteSize</key>
                <string>{38,108}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{47,1},{38,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,17}</string>
                <key>spriteSize</key>
                <string>{42,114}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,19}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{351,43},{36,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,19}</string>
                <key>spriteSize</key>
                <string>{38,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{137,111},{38,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,18}</string>
                <key>spriteSize</key>
                <string>{36,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{351,143},{36,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,16}</string>
                <key>spriteSize</key>
                <string>{38,90}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{297,1},{38,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_W_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,21}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{265,105},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,18}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{217,109},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,19}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{311,145},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,18}</string>
                <key>spriteSize</key>
                <string>{34,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{259,1},{34,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男1原配武器stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,15}</string>
                <key>spriteSize</key>
                <string>{30,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{139,1},{30,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301004_stand_r.png</string>
            <key>size</key>
            <string>{388,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c74d699384d3e76b124bb533bab651fc:6899494c4fdf99c3de32a7a8c2dc6056:cc81b3bef4acb49adaf5086cc19c0309$</string>
            <key>textureFileName</key>
            <string>4301004_stand_r.png</string>
        </dict>
    </dict>
</plist>
