<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男1原配武器stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-7}</string>
                <key>spriteSize</key>
                <string>{92,138}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{423,93},{92,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{129,1},{86,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-8}</string>
                <key>spriteSize</key>
                <string>{88,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{685,1},{88,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-12}</string>
                <key>spriteSize</key>
                <string>{90,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{287,93},{90,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{833,93},{92,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-13}</string>
                <key>spriteSize</key>
                <string>{88,134}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{547,1},{88,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-16}</string>
                <key>spriteSize</key>
                <string>{90,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,91},{90,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{94,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{129,187},{94,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-10}</string>
                <key>spriteSize</key>
                <string>{88,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{819,1},{88,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{565,93},{92,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-13}</string>
                <key>spriteSize</key>
                <string>{96,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{265,187},{96,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-8}</string>
                <key>spriteSize</key>
                <string>{102,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{843,189},{102,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-16}</string>
                <key>spriteSize</key>
                <string>{90,134}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{149,93},{90,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{701,93},{92,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{100,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{697,189},{100,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-13}</string>
                <key>spriteSize</key>
                <string>{98,136}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{557,189},{98,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{88,136}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{407,1},{88,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-11}</string>
                <key>spriteSize</key>
                <string>{88,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{261,1},{88,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-11}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-13}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,185},{92,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1原配武器stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-17}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{415,189},{96,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301004_stand_u.png</string>
            <key>size</key>
            <string>{976,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17990be48d2758eb9f0e655d9d5900d7:35738eb5fc848de40e80ade118c4d4db:71cfbf06a6f25eb9a371695797e3516e$</string>
            <key>textureFileName</key>
            <string>4301004_stand_u.png</string>
        </dict>
    </dict>
</plist>
