<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-65}</string>
                <key>spriteSize</key>
                <string>{144,60}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{303,1},{144,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-69}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{805,1},{134,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-76}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,163},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-82}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{565,141},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-68}</string>
                <key>spriteSize</key>
                <string>{66,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{181,1},{66,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-50}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{239,151},{84,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1099,1},{60,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,37}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{119,155},{116,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,52}</string>
                <key>spriteSize</key>
                <string>{68,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{757,139},{68,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{46,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{895,209},{46,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,40}</string>
                <key>spriteSize</key>
                <string>{54,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{859,1},{54,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,40}</string>
                <key>spriteSize</key>
                <string>{60,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1021,133},{60,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,40}</string>
                <key>spriteSize</key>
                <string>{54,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1085,131},{54,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,40}</string>
                <key>spriteSize</key>
                <string>{64,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{689,139},{64,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,37}</string>
                <key>spriteSize</key>
                <string>{62,136}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{551,1},{62,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,42}</string>
                <key>spriteSize</key>
                <string>{60,128}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{971,1},{60,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{76,136}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{367,149},{76,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{60,126}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1035,1},{60,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,41}</string>
                <key>spriteSize</key>
                <string>{60,142}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{425,1},{60,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{58,140}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{489,1},{58,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,42}</string>
                <key>spriteSize</key>
                <string>{58,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{683,1},{58,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,38}</string>
                <key>spriteSize</key>
                <string>{50,130}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{917,1},{50,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,39}</string>
                <key>spriteSize</key>
                <string>{68,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{895,137},{68,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,38}</string>
                <key>spriteSize</key>
                <string>{54,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{507,145},{54,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-55}</string>
                <key>spriteSize</key>
                <string>{114,62}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{829,139},{114,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-61}</string>
                <key>spriteSize</key>
                <string>{134,62}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{617,1},{134,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-73}</string>
                <key>spriteSize</key>
                <string>{134,56}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{745,1},{134,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-71}</string>
                <key>spriteSize</key>
                <string>{158,56}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-74}</string>
                <key>spriteSize</key>
                <string>{150,60}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{117,1},{150,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-74}</string>
                <key>spriteSize</key>
                <string>{144,54}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{367,1},{144,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-69}</string>
                <key>spriteSize</key>
                <string>{146,48}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{251,1},{146,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-69}</string>
                <key>spriteSize</key>
                <string>{158,52}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{61,1},{158,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301004_magic_ru.png</string>
            <key>size</key>
            <string>{1140,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:601c169143d6b74ce1578bdc3f24f253:78e49a1c972fbb02d4d7ec6c6efa07a9:584aa07cbd112111f51bea48f05f97e9$</string>
            <key>textureFileName</key>
            <string>4301004_magic_ru.png</string>
        </dict>
    </dict>
</plist>
