<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,671},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,736},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,4}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1514},{41,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,4}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1577},{41,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,4}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,801},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{43,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1451},{43,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1640},{41,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,866},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,931},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,996},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1061},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1126},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,68},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,135},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,202},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,269},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,336},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,403},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,470},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,4}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,537},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,4}</string>
                <key>spriteSize</key>
                <string>{41,63}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,604},{41,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,4}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1191},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,4}</string>
                <key>spriteSize</key>
                <string>{39,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1321},{39,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{41,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1256},{41,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_原配古琴_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{39,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1386},{39,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302002_stand_d.png</string>
            <key>size</key>
            <string>{45,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3679ddb60aa18e0dc949fda73f54105:808cb27f35c218e5e92076739e3d5aec:74f9a7473f6c00d3efa2d391bd0b1d8f$</string>
            <key>textureFileName</key>
            <string>4302002_stand_d.png</string>
        </dict>
    </dict>
</plist>
