<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{35,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{35,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{35,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,74},{35,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{35,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,147},{35,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{35,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,220},{35,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-23}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1206},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{37,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1076},{37,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{37,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1141},{37,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1269},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1332},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1395},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{39,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1647},{39,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-22}</string>
                <key>spriteSize</key>
                <string>{39,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1708},{39,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,366},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,437},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,508},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{37,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,863},{37,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,579},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,650},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,721},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{39,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,792},{39,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1458},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1521},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1584},{37,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{37,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,934},{37,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{37,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1005},{37,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-18}</string>
                <key>spriteSize</key>
                <string>{35,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,293},{35,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302002_stand_u.png</string>
            <key>size</key>
            <string>{41,1766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea2313958c61b250376f5ad6dba118f:df90dfb853bb87919b3e9f3425c01ca4:5e447b67c43771fb57da4bafe040b5fe$</string>
            <key>textureFileName</key>
            <string>4302002_stand_u.png</string>
        </dict>
    </dict>
</plist>
