<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,713},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,782},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,851},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,920},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,989},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-23}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1058},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-23}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1127},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-23}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1196},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-23}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,74},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-23}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,145},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,216},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,287},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1265},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1338},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1557},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1628},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1411},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1484},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1699},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1770},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-22}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-22}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,358},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-22}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,429},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-21}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,500},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,571},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_原配古琴_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,642},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302002_stand_rd.png</string>
            <key>size</key>
            <string>{77,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5e62c937d6a538b83f11bf9f37539ac:c7ca5e8faad70e028cd075f88d1e9809:0e42c96272363d93544c61a0b7588638$</string>
            <key>textureFileName</key>
            <string>4302002_stand_rd.png</string>
        </dict>
    </dict>
</plist>
