<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-92}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,484},{121,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-89}</string>
                <key>spriteSize</key>
                <string>{125,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,355},{125,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-86}</string>
                <key>spriteSize</key>
                <string>{125,47}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,609},{125,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-86}</string>
                <key>spriteSize</key>
                <string>{123,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,738},{123,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-88}</string>
                <key>spriteSize</key>
                <string>{117,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{64,230},{117,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-91}</string>
                <key>spriteSize</key>
                <string>{101,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{58,355},{101,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-100}</string>
                <key>spriteSize</key>
                <string>{49,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,505},{49,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-99}</string>
                <key>spriteSize</key>
                <string>{53,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{202,353},{53,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-44}</string>
                <key>spriteSize</key>
                <string>{95,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{165,136},{95,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-11}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{101,798},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,14}</string>
                <key>spriteSize</key>
                <string>{73,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{168,738},{73,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,16}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{109,523},{63,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,30}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,135},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,41}</string>
                <key>spriteSize</key>
                <string>{131,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{170,1},{131,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,63}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,69}</string>
                <key>spriteSize</key>
                <string>{161,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,70},{161,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,77}</string>
                <key>spriteSize</key>
                <string>{87,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{168,685},{87,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,79}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{194,998},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,78}</string>
                <key>spriteSize</key>
                <string>{81,41}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{119,857},{81,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,77}</string>
                <key>spriteSize</key>
                <string>{93,51}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{110,135},{93,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,56}</string>
                <key>spriteSize</key>
                <string>{117,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,865},{117,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,48}</string>
                <key>spriteSize</key>
                <string>{109,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1105},{109,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,23}</string>
                <key>spriteSize</key>
                <string>{67,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,558},{67,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,18}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{129,1024},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-2}</string>
                <key>spriteSize</key>
                <string>{57,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{58,860},{57,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{164,815},{61,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-8}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{164,880},{65,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-10}</string>
                <key>spriteSize</key>
                <string>{65,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{168,616},{65,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-11}</string>
                <key>spriteSize</key>
                <string>{63,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{101,713},{63,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-12}</string>
                <key>spriteSize</key>
                <string>{61,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{129,949},{61,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-22}</string>
                <key>spriteSize</key>
                <string>{93,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{101,616},{93,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-22}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{109,424},{95,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{95,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{103,353},{95,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-20}</string>
                <key>spriteSize</key>
                <string>{99,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{156,235},{99,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{64,1105},{109,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{109,55}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1218},{109,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-23}</string>
                <key>spriteSize</key>
                <string>{113,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{107,232},{113,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-24}</string>
                <key>spriteSize</key>
                <string>{111,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{52,609},{111,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-28}</string>
                <key>spriteSize</key>
                <string>{97,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{156,306},{97,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-31}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{62,460},{95,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-42}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{170,1088},{67,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-46}</string>
                <key>spriteSize</key>
                <string>{69,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{52,724},{69,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-55}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{170,1137},{67,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-61}</string>
                <key>spriteSize</key>
                <string>{65,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,1041},{65,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-67}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{48,797},{59,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-69}</string>
                <key>spriteSize</key>
                <string>{57,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{68,1048},{57,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-73}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{68,955},{89,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-78}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{194,949},{45,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-86}</string>
                <key>spriteSize</key>
                <string>{39,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{199,1186},{39,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-85}</string>
                <key>spriteSize</key>
                <string>{41,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{125,1105},{41,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-85}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{114,1218},{55,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-87}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,428},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-90}</string>
                <key>spriteSize</key>
                <string>{115,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,986},{115,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-92}</string>
                <key>spriteSize</key>
                <string>{121,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,230},{121,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302002_magic_ru.png</string>
            <key>size</key>
            <string>{256,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9855a34e2553427bf17ea0ec79d8436f:3af6b8c038de8e6891a5135da7e3753b:ca23c59fba0d17577200c73e898e4bbc$</string>
            <key>textureFileName</key>
            <string>4302002_magic_ru.png</string>
        </dict>
    </dict>
</plist>
