<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_S_run_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{89,31}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,196},{89,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{91,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,120},{91,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{93,37}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,42},{93,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{93,39}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{84,264},{57,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{55,29}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,295},{55,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{81,31}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,262},{81,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{77,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{92,185},{77,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{89,37}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,157},{89,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{91,37}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,81},{91,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{94,94},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{91,31}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,1},{91,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{89,31}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,229},{89,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302002_run_d.png</string>
            <key>size</key>
            <string>{128,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8738ee660904985ce62f7f4dac9fa24e:12925c486e8b84531777317d4f4ba2cc:eee4811ec55af5b8aa4f1d8b2843f795$</string>
            <key>textureFileName</key>
            <string>4302002_run_d.png</string>
        </dict>
    </dict>
</plist>
