<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{159,149}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{159,165}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{164,160},{159,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{159,177}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1347,1},{159,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1186,1},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{157,173}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{671,1},{157,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{159,163}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{333,160},{159,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{165,161}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,323},{165,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{343,1},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{161,171}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1037,162},{161,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{161,175}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{858,162},{161,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{171,169}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1071,329},{171,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{171,171}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1246,329},{171,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{157,155}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{510,1},{157,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,154},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{500,160},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{157,163}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1019,1},{157,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{167,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{707,327},{167,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{161,163}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1383,164},{161,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{165,169}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{534,327},{165,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{167,157}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{848,1},{167,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{169,177}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{890,327},{169,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{161,191}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{663,162},{161,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{161,167}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1212,164},{161,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{155,175}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{164,1},{155,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{185,165}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{345,323},{185,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{171,163}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{170,323},{171,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304004_idle_ld.png</string>
            <key>size</key>
            <string>{1547,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31f38795ba63e2b33e588adf548e9f35:56c1196747ebfc84433089d7ea1d259f:7b14db574a78b6bf4466f7400b2dd3a4$</string>
            <key>textureFileName</key>
            <string>4304004_idle_ld.png</string>
        </dict>
    </dict>
</plist>
