<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女2原配武器run_WN_run_ren_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-12}</string>
                <key>spriteSize</key>
                <string>{175,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,707},{175,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-14}</string>
                <key>spriteSize</key>
                <string>{177,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,483},{177,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-17}</string>
                <key>spriteSize</key>
                <string>{169,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1030},{169,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-20}</string>
                <key>spriteSize</key>
                <string>{161,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1218},{161,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{167,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1127},{167,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{181,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,241},{181,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-15}</string>
                <key>spriteSize</key>
                <string>{171,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,919},{171,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-12}</string>
                <key>spriteSize</key>
                <string>{185,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{185,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{181,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,122},{181,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{179,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,344},{179,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-12}</string>
                <key>spriteSize</key>
                <string>{173,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,812},{173,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-13}</string>
                <key>spriteSize</key>
                <string>{159,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1325},{159,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器run_WN_run_ren_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{175,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,588},{175,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304004_run_ru.png</string>
            <key>size</key>
            <string>{187,1437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de108d4403e4a3cdfe8fc92225c0b3ec:3632b75babee819cdd87badf582b2d43:704576fe99847d47135458515b3f9d83$</string>
            <key>textureFileName</key>
            <string>4304004_run_ru.png</string>
        </dict>
    </dict>
</plist>
