<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女2原配武器stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{135,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{573,1},{135,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{151,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,132},{151,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{131,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{154,120},{131,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女2原配武器stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{133,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{491,114},{133,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女2原配武器stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-12}</string>
                <key>spriteSize</key>
                <string>{135,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{436,1},{135,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{131,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{271,120},{131,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女2原配武器stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-11}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{295,1},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{143,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,1},{143,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{147,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_WN_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{129,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{604,112},{129,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女2原配武器stand_WN_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{137,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{378,114},{137,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304004_stand_ru.png</string>
            <key>size</key>
            <string>{730,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08d6e5ed544d542f87cfa57505867b84:f89619bf7fc5bf11a2594731e6a6cc5b:cac12aedde98b33cb00f9e951038e2ef$</string>
            <key>textureFileName</key>
            <string>4304004_stand_ru.png</string>
        </dict>
    </dict>
</plist>
