<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女2原配武器stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{229,1},{121,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女2原配武器stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,19}</string>
                <key>spriteSize</key>
                <string>{109,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{540,1},{109,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{105,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1085,1},{105,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{109,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{118,1},{109,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{95,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{338,1},{95,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{115,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{107,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{865,1},{107,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{109,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{651,1},{109,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,24}</string>
                <key>spriteSize</key>
                <string>{111,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{974,1},{111,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女2原配武器stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{101,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{762,1},{101,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女2原配武器stand_W_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{103,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{435,1},{103,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304004_stand_r.png</string>
            <key>size</key>
            <string>{1191,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62ff053d400bfba493a265c7ea61f07:f9738f572b33c2a06fe7469d91380476:81815fef3ccbba3ec4af0eb567667759$</string>
            <key>textureFileName</key>
            <string>4304004_stand_r.png</string>
        </dict>
    </dict>
</plist>
