<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{176,241}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{491,1126},{176,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>100201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{87,683},{186,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>101101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{633,1},{186,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>101401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{301,480},{186,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>102201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{186,243}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{491,881},{186,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{52,871},{186,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>103101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{240,881},{186,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>103501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{571,189},{186,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{759,189},{186,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{188,249}</string>
                <key>textureRect</key>
                <string>{{240,1069},{186,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_buffdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1,1309},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_daoshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,108}</string>
                <key>spriteSourceSize</key>
                <string>{149,108}</string>
                <key>textureRect</key>
                <string>{{706,510},{149,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_difangjindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,12}</string>
                <key>spriteSourceSize</key>
                <string>{97,18}</string>
                <key>textureRect</key>
                <string>{{1004,941},{95,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_guang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,177}</string>
                <key>spriteSourceSize</key>
                <string>{170,177}</string>
                <key>textureRect</key>
                <string>{{52,1122},{170,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_guangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,181}</string>
                <key>spriteSourceSize</key>
                <string>{196,181}</string>
                <key>textureRect</key>
                <string>{{553,662},{196,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_hongsesexuetiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,33}</string>
                <key>spriteSourceSize</key>
                <string>{269,33}</string>
                <key>textureRect</key>
                <string>{{571,475},{269,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_huihedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,73}</string>
                <key>spriteSourceSize</key>
                <string>{198,73}</string>
                <key>textureRect</key>
                <string>{{754,859},{198,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_lvsexuetiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,33}</string>
                <key>spriteSourceSize</key>
                <string>{270,33}</string>
                <key>textureRect</key>
                <string>{{571,440},{270,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,30}</string>
                <key>spriteSourceSize</key>
                <string>{426,30}</string>
                <key>textureRect</key>
                <string>{{1,881},{426,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nuqicao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,48}</string>
                <key>spriteSourceSize</key>
                <string>{422,48}</string>
                <key>textureRect</key>
                <string>{{1,457},{422,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nuqidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,127}</string>
                <key>spriteSourceSize</key>
                <string>{558,127}</string>
                <key>textureRect</key>
                <string>{{1,130},{558,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nuqihuawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,57}</string>
                <key>spriteSourceSize</key>
                <string>{160,57}</string>
                <key>textureRect</key>
                <string>{{316,1257},{160,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nuqitiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,34}</string>
                <key>spriteSourceSize</key>
                <string>{403,34}</string>
                <key>textureRect</key>
                <string>{{51,457},{403,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nuqitiaogaoguagn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,11}</string>
                <key>spriteSourceSize</key>
                <string>{413,11}</string>
                <key>textureRect</key>
                <string>{{33,881},{413,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nuqitiaoguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,91}</string>
                <key>spriteSourceSize</key>
                <string>{44,91}</string>
                <key>textureRect</key>
                <string>{{843,440},{44,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nuqiyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,219}</string>
                <key>spriteSourceSize</key>
                <string>{208,219}</string>
                <key>textureRect</key>
                <string>{{361,259},{208,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nuqizhidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{929,1125},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qifaguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{895,486},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qingdengdaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,73}</string>
                <key>spriteSourceSize</key>
                <string>{232,81}</string>
                <key>textureRect</key>
                <string>{{679,860},{226,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_renwujiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{131,77}</string>
                <key>spriteSourceSize</key>
                <string>{131,81}</string>
                <key>textureRect</key>
                <string>{{816,510},{131,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shuitiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,18}</string>
                <key>spriteSourceSize</key>
                <string>{97,18}</string>
                <key>textureRect</key>
                <string>{{553,860},{97,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wofangjindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,12}</string>
                <key>spriteSourceSize</key>
                <string>{97,18}</string>
                <key>textureRect</key>
                <string>{{1001,1},{95,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xuetiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,13}</string>
                <key>spriteSourceSize</key>
                <string>{28,13}</string>
                <key>textureRect</key>
                <string>{{301,668},{28,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuetiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,17}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{999,378},{32,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhandoubuffdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{358,196}</string>
                <key>spriteSourceSize</key>
                <string>{372,208}</string>
                <key>textureRect</key>
                <string>{{1,259},{358,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhandoubufffengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{340,4}</string>
                <key>spriteSourceSize</key>
                <string>{372,6}</string>
                <key>textureRect</key>
                <string>{{46,881},{340,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhandoudingshangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,127}</string>
                <key>spriteSourceSize</key>
                <string>{630,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{630,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhandouheidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{947,378},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhandoujienengxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{214,224}</string>
                <key>textureRect</key>
                <string>{{87,457},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhandoumaopao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{196,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,88}</string>
                <key>textureRect</key>
                <string>{{736,661},{196,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhandouxuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{552,510},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhandouxuetiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,40}</string>
                <key>spriteSourceSize</key>
                <string>{281,40}</string>
                <key>textureRect</key>
                <string>{{33,1296},{281,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_weixuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,193}</string>
                <key>spriteSourceSize</key>
                <string>{193,193}</string>
                <key>textureRect</key>
                <string>{{734,1088},{193,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_xuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,211}</string>
                <key>spriteSourceSize</key>
                <string>{213,211}</string>
                <key>textureRect</key>
                <string>{{338,668},{213,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dihuihe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,33}</string>
                <key>spriteSourceSize</key>
                <string>{150,33}</string>
                <key>textureRect</key>
                <string>{{966,1},{150,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_ji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,107}</string>
                <key>spriteSourceSize</key>
                <string>{102,107}</string>
                <key>textureRect</key>
                <string>{{904,723},{102,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_ji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,107}</string>
                <key>spriteSourceSize</key>
                <string>{102,107}</string>
                <key>textureRect</key>
                <string>{{911,832},{102,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qingdengdai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,57}</string>
                <key>spriteSourceSize</key>
                <string>{188,57}</string>
                <key>textureRect</key>
                <string>{{947,188},{188,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zhandoushuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{124,35}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{734,1283},{124,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{91,89}</string>
                <key>textureRect</key>
                <string>{{911,941},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jiantou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,48}</string>
                <key>textureRect</key>
                <string>{{561,130},{70,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jiantou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{90,48}</string>
                <key>textureRect</key>
                <string>{{929,1204},{90,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_taopao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{904,613},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zhandouqingdengdai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,80}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{884,1},{185,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_zhandoushuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,85}</string>
                <key>spriteSourceSize</key>
                <string>{87,85}</string>
                <key>textureRect</key>
                <string>{{929,1038},{87,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zhandouzidongzhandou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,80}</string>
                <key>spriteSourceSize</key>
                <string>{185,100}</string>
                <key>textureRect</key>
                <string>{{829,834},{185,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_zhandouzidongzhandouzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,80}</string>
                <key>spriteSourceSize</key>
                <string>{189,100}</string>
                <key>textureRect</key>
                <string>{{822,643},{189,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_ui.png</string>
            <key>size</key>
            <string>{1017,1337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba6b5c843645cf378530f7fd9650c31:93e48c74fef4ce1e96eff1fd2eb0690b:d603070041ebb13c06c7914aa56b9156$</string>
            <key>textureFileName</key>
            <string>battle_ui.png</string>
        </dict>
    </dict>
</plist>
