<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,25}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,286},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,25}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,406},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,25}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{62,602},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,26}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,662},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,602},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,28}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,234},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,25}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{52,182},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,27}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,182},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,30}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,42},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,31}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,134},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,31}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,134},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,33}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,90},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,33}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,33}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,42},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,33}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,90},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,33}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{48,0},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,21}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,662},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,468},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,730},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,866},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,866},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,798},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{50,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,798},{50,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,536},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,21}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,536},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,21}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{52,406},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{54,348},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,730},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,11}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{48,468},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,12}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,234},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,20}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,348},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,26}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{50,286},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_magic_ld_part1.png</string>
            <key>size</key>
            <string>{120,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8602acfebc548483cceaae96c442f822:964f4cbd60680928f78e6a00bde91da6:52bf2b55b7de31d881f84dd6a4f7beb8$</string>
            <key>textureFileName</key>
            <string>4000005_magic_ld_part1.png</string>
        </dict>
    </dict>
</plist>
