<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidie_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-68}</string>
                <key>spriteSize</key>
                <string>{166,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{338,658},{166,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-63}</string>
                <key>spriteSize</key>
                <string>{156,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,518},{156,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-61}</string>
                <key>spriteSize</key>
                <string>{176,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{334,380},{176,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-63}</string>
                <key>spriteSize</key>
                <string>{172,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{326,518},{172,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-62}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{156,518},{170,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-61}</string>
                <key>spriteSize</key>
                <string>{164,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{170,380},{164,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-57}</string>
                <key>spriteSize</key>
                <string>{156,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{168,248},{156,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-54}</string>
                <key>spriteSize</key>
                <string>{152,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{324,0},{152,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-53}</string>
                <key>spriteSize</key>
                <string>{156,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-54}</string>
                <key>spriteSize</key>
                <string>{168,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{156,0},{168,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-57}</string>
                <key>spriteSize</key>
                <string>{168,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,248},{168,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-59}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,380},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-53}</string>
                <key>spriteSize</key>
                <string>{164,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,122},{164,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-53}</string>
                <key>spriteSize</key>
                <string>{166,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{164,122},{166,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-56}</string>
                <key>spriteSize</key>
                <string>{170,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{330,122},{170,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-59}</string>
                <key>spriteSize</key>
                <string>{170,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{324,248},{170,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-66}</string>
                <key>spriteSize</key>
                <string>{158,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,658},{158,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-69}</string>
                <key>spriteSize</key>
                <string>{166,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,810},{166,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-71}</string>
                <key>spriteSize</key>
                <string>{170,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{342,810},{170,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-70}</string>
                <key>spriteSize</key>
                <string>{176,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{166,810},{176,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-68}</string>
                <key>spriteSize</key>
                <string>{180,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{158,658},{180,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_idle_ru_weapon2.png</string>
            <key>size</key>
            <string>{512,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45ea2b1a4100e8ae9f2239c0789540d:1c6faca54556b3f9e91ef57c5f6b6c51:78086252a25e2d4ab3e98047b94b49c5$</string>
            <key>textureFileName</key>
            <string>4000005_idle_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
