<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidie_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-17}</string>
                <key>spriteSize</key>
                <string>{186,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{156,182},{186,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-16}</string>
                <key>spriteSize</key>
                <string>{180,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{708,86},{180,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-11}</string>
                <key>spriteSize</key>
                <string>{172,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,86},{172,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-9}</string>
                <key>spriteSize</key>
                <string>{164,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{580,0},{164,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-8}</string>
                <key>spriteSize</key>
                <string>{130,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{284,0},{130,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-8}</string>
                <key>spriteSize</key>
                <string>{130,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{154,0},{130,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-8}</string>
                <key>spriteSize</key>
                <string>{154,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-10}</string>
                <key>spriteSize</key>
                <string>{168,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{744,0},{168,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-15}</string>
                <key>spriteSize</key>
                <string>{196,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{342,182},{196,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-16}</string>
                <key>spriteSize</key>
                <string>{188,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{520,86},{188,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-19}</string>
                <key>spriteSize</key>
                <string>{188,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{702,182},{188,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-19}</string>
                <key>spriteSize</key>
                <string>{168,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,284},{168,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-14}</string>
                <key>spriteSize</key>
                <string>{156,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,182},{156,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-16}</string>
                <key>spriteSize</key>
                <string>{164,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{538,182},{164,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-19}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{354,284},{180,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-19}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{720,284},{180,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-19}</string>
                <key>spriteSize</key>
                <string>{186,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{168,284},{186,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-18}</string>
                <key>spriteSize</key>
                <string>{186,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{534,284},{186,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-14}</string>
                <key>spriteSize</key>
                <string>{180,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{340,86},{180,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-12}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{172,86},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-10}</string>
                <key>spriteSize</key>
                <string>{166,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{414,0},{166,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_idle_ld_weapon2.png</string>
            <key>size</key>
            <string>{912,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10dc3f1c10eb3261ce5178b94f80d9b0:ce9ccf4dca741801761365ae041b59e0:984e6e06dd2671777a8a6e9888921b37$</string>
            <key>textureFileName</key>
            <string>4000005_idle_ld_weapon2.png</string>
        </dict>
    </dict>
</plist>
