<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-13}</string>
                <key>spriteSize</key>
                <string>{116,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-18}</string>
                <key>spriteSize</key>
                <string>{124,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,136},{124,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{120,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,270},{120,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,404},{112,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{110,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,540},{110,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{118,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,678},{118,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-20}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,814},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,950},{124,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{116,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1088},{116,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{108,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1222},{108,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{116,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1358},{116,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_run_r_part3.png</string>
            <key>size</key>
            <string>{128,1494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1d4d801388d37a8a621cd93cccd1f2:f1363173eb34e8ea18436fd881c49e13:a18d0c5ba9ace1ca04f87e3425ed950d$</string>
            <key>textureFileName</key>
            <string>4000005_run_r_part3.png</string>
        </dict>
    </dict>
</plist>
