<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{72,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{226,810},{72,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-21}</string>
                <key>spriteSize</key>
                <string>{58,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{168,810},{58,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-23}</string>
                <key>spriteSize</key>
                <string>{54,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,810},{54,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{56,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{112,810},{56,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{58,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,810},{58,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-37}</string>
                <key>spriteSize</key>
                <string>{68,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{324,678},{68,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-49}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{98,568},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-54}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{332,288},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-53}</string>
                <key>spriteSize</key>
                <string>{106,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{76,378},{106,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-51}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{268,378},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-51}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{370,378},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-50}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,470},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-50}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{96,470},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-50}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,568},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-60}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{322,470},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-68}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{132,288},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-69}</string>
                <key>spriteSize</key>
                <string>{114,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{390,206},{114,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-69}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{232,288},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-70}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{182,378},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-69}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{416,470},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-74}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,378},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-67}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{194,568},{76,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-68}</string>
                <key>spriteSize</key>
                <string>{76,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{270,568},{76,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-70}</string>
                <key>spriteSize</key>
                <string>{78,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{346,568},{78,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-69}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{424,568},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-69}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{228,678},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-66}</string>
                <key>spriteSize</key>
                <string>{102,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{392,678},{102,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-64}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{122,678},{106,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-67}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,678},{122,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-73}</string>
                <key>spriteSize</key>
                <string>{128,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{194,470},{128,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-79}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,288},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-81}</string>
                <key>spriteSize</key>
                <string>{130,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{260,206},{130,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-81}</string>
                <key>spriteSize</key>
                <string>{130,72}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{130,206},{130,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-80}</string>
                <key>spriteSize</key>
                <string>{130,72}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,206},{130,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-80}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{256,136},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-79}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{128,136},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-79}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,136},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{384,0},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{256,0},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{128,68},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{384,68},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{256,68},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-79}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,68},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_die_ru_part3.png</string>
            <key>size</key>
            <string>{512,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bca49467b2679b8e75e04c13edcafb7:578201e546a1211ae052e31e4c2d1dc9:157a43637b96c1ce167602f376bd7ed1$</string>
            <key>textureFileName</key>
            <string>4000005_die_ru_part3.png</string>
        </dict>
    </dict>
</plist>
