<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-65}</string>
                <key>spriteSize</key>
                <string>{206,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{631,255},{206,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-57}</string>
                <key>spriteSize</key>
                <string>{192,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{641,119},{192,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-47}</string>
                <key>spriteSize</key>
                <string>{184,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{337,1},{184,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-48}</string>
                <key>spriteSize</key>
                <string>{198,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{707,1},{198,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-47}</string>
                <key>spriteSize</key>
                <string>{160,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-52}</string>
                <key>spriteSize</key>
                <string>{206,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{433,119},{206,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-61}</string>
                <key>spriteSize</key>
                <string>{208,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{421,255},{208,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-59}</string>
                <key>spriteSize</key>
                <string>{208,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{211,255},{208,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-46}</string>
                <key>spriteSize</key>
                <string>{222,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{209,119},{222,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-48}</string>
                <key>spriteSize</key>
                <string>{206,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,119},{206,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-48}</string>
                <key>spriteSize</key>
                <string>{172,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{163,1},{172,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-49}</string>
                <key>spriteSize</key>
                <string>{182,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{523,1},{182,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-57}</string>
                <key>spriteSize</key>
                <string>{208,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,255},{208,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_stand_ru_weapon2.png</string>
            <key>size</key>
            <string>{906,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4de8589e6abf66047db315bd22949e:62bac61a2f32a1e2d55d7a22cf7a6b6c:ff0b2b373bcb056b1b804f84e72b44b6$</string>
            <key>textureFileName</key>
            <string>4000005_stand_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
