<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{78,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{388,146},{78,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-27}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{256,0},{96,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{98,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{524,0},{98,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-41}</string>
                <key>spriteSize</key>
                <string>{82,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-23}</string>
                <key>spriteSize</key>
                <string>{84,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{440,0},{84,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-30}</string>
                <key>spriteSize</key>
                <string>{86,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{170,0},{86,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-32}</string>
                <key>spriteSize</key>
                <string>{88,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{82,0},{88,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-32}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{352,0},{88,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-27}</string>
                <key>spriteSize</key>
                <string>{86,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{622,0},{86,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-25}</string>
                <key>spriteSize</key>
                <string>{86,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{708,0},{86,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-21}</string>
                <key>spriteSize</key>
                <string>{84,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{544,146},{84,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{84,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{786,146},{84,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{80,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{706,146},{80,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-12}</string>
                <key>spriteSize</key>
                <string>{80,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{870,146},{80,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{76,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{78,146},{76,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{76,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{794,0},{76,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{78,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{870,0},{78,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-8}</string>
                <key>spriteSize</key>
                <string>{78,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,146},{78,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{78,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{232,146},{78,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{78,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{154,146},{78,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{78,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{466,146},{78,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{78,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{628,146},{78,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{78,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{310,146},{78,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000005_hit_ld_part3.png</string>
            <key>size</key>
            <string>{950,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3598ebf8f44a6ba4bafcb10cc518b03:dfa37cfe8f7f31c7b5fca6e0f5788cd7:0045658888e77297be7d069e859f396a$</string>
            <key>textureFileName</key>
            <string>4000005_hit_ld_part3.png</string>
        </dict>
    </dict>
</plist>
