<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_liabaoduihuanguanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{71,63}</string>
                <key>textureRect</key>
                <string>{{236,1},{71,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_libaoduihuanqueren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{233,98}</string>
                <key>spriteSourceSize</key>
                <string>{237,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exchange_panel.png</string>
            <key>size</key>
            <string>{300,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eaf0f6ec173c97d0781de3e494341da:eaeaf916c6266fb1aa41ef97685f7964:a1dfa6d1fabb5d0e097190f8b58b69c8$</string>
            <key>textureFileName</key>
            <string>exchange_panel.png</string>
        </dict>
    </dict>
</plist>
