<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_ES_atk_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{39,17}</string>
                <key>spriteSize</key>
                <string>{119,164}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,781},{119,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{45,17}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,445},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{45,18}</string>
                <key>spriteSize</key>
                <string>{119,166}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{122,717},{119,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{49,30}</string>
                <key>spriteSize</key>
                <string>{93,190}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{149,359},{93,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{76,17}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{128,551},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{74,9}</string>
                <key>spriteSize</key>
                <string>{123,160}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{122,885},{123,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{-27,4}</string>
                <key>spriteSize</key>
                <string>{213,152}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{73,-18}</string>
                <key>spriteSize</key>
                <string>{147,138}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{112,1193},{147,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{74,1}</string>
                <key>spriteSize</key>
                <string>{145,146}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,298},{145,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{72,-1}</string>
                <key>spriteSize</key>
                <string>{139,142}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,1342},{139,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{54,0}</string>
                <key>spriteSize</key>
                <string>{129,144}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{122,1047},{129,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{45,4}</string>
                <key>spriteSize</key>
                <string>{141,152}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,155},{141,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{32,13}</string>
                <key>spriteSize</key>
                <string>{109,170}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,1113},{109,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{26,29}</string>
                <key>spriteSize</key>
                <string>{95,202}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{155,155},{95,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{36,17}</string>
                <key>spriteSize</key>
                <string>{119,168}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,611},{119,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.606349,0.307407}</string>
                <key>spriteOffset</key>
                <string>{39,17}</string>
                <key>spriteSize</key>
                <string>{119,164}</string>
                <key>spriteSourceSize</key>
                <string>{315,270}</string>
                <key>textureRect</key>
                <string>{{1,947},{119,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200003_attack_ld.png</string>
            <key>size</key>
            <string>{254,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d40ba321c0934a98cda4dfcf74bf2c:041fea3f77a1c0df499acb1180221e2a:90b3f0c460754d87debf04822f2a4e2f$</string>
            <key>textureFileName</key>
            <string>4200003_attack_ld.png</string>
        </dict>
    </dict>
</plist>
