<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{75,159}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{80,1},{75,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{75,159}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{80,78},{75,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{75,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1,164},{75,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{73,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{78,232},{73,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{73,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{78,307},{73,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{73,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1,382},{73,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{77,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.497297,0.140541}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{75,159}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{80,155},{75,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200003_stand_ru.png</string>
            <key>size</key>
            <string>{240,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096d9d50c1160d2dc0b30d7cdba4a048:86968bb161ca6cd53715acedf7a1df2b:84727204b9b7504fada3b979a6d383d8$</string>
            <key>textureFileName</key>
            <string>4200003_stand_ru.png</string>
        </dict>
    </dict>
</plist>
