<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_ES_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{119,165}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{107,153}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,786},{107,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{12,-8}</string>
                <key>spriteSize</key>
                <string>{109,141}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,643},{109,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{111,143}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,498},{111,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{105,143}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1098},{105,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{17,-6}</string>
                <key>spriteSize</key>
                <string>{105,143}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1243},{105,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{103,147}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1388},{103,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{101,149}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1537},{101,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{105,155}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,941},{105,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{113,161}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,335},{113,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.481633,0.2}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{119,165}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,168},{119,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200003_hit_ld.png</string>
            <key>size</key>
            <string>{121,1687}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c68616c1b719daea9e0ff01e57d1c4:dc8cca7c4f98b97551975699205214fb:f734d3258ffabded8d867ba1e88d8c49$</string>
            <key>textureFileName</key>
            <string>4200003_hit_ld.png</string>
        </dict>
    </dict>
</plist>
