<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{755,1656},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_biaotidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,35}</string>
                <key>spriteSourceSize</key>
                <string>{148,35}</string>
                <key>textureRect</key>
                <string>{{401,1688},{148,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_er.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{755,1707},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_feilingzaitian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{580,282}</string>
                <key>spriteSourceSize</key>
                <string>{584,288}</string>
                <key>textureRect</key>
                <string>{{1,566},{580,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jindududi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{643,42}</string>
                <key>spriteSourceSize</key>
                <string>{675,48}</string>
                <key>textureRect</key>
                <string>{{231,1129},{643,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jinjiexiaoguodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{593,142}</string>
                <key>spriteSourceSize</key>
                <string>{595,142}</string>
                <key>textureRect</key>
                <string>{{1,1129},{593,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_leifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{577,277}</string>
                <key>spriteSourceSize</key>
                <string>{577,279}</string>
                <key>textureRect</key>
                <string>{{1,850},{577,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_miaoshu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{691,212}</string>
                <key>spriteSourceSize</key>
                <string>{713,236}</string>
                <key>textureRect</key>
                <string>{{631,272},{691,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_miaoshu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{673,269}</string>
                <key>spriteSourceSize</key>
                <string>{713,269}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_san.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{755,1758},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shenshoudizuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{628,292}</string>
                <key>spriteSourceSize</key>
                <string>{642,312}</string>
                <key>textureRect</key>
                <string>{{1,272},{628,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_si.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{566,1784},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tuodongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{713,1591},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzezhuangbeitexiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,30}</string>
                <key>spriteSourceSize</key>
                <string>{327,36}</string>
                <key>textureRect</key>
                <string>{{681,1311},{327,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{620,1735},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yijieshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{37,140}</string>
                <key>spriteSourceSize</key>
                <string>{59,146}</string>
                <key>textureRect</key>
                <string>{{1,1724},{37,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yunwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,84}</string>
                <key>spriteSourceSize</key>
                <string>{598,84}</string>
                <key>textureRect</key>
                <string>{{145,1129},{598,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuangbeidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,124}</string>
                <key>spriteSourceSize</key>
                <string>{148,124}</string>
                <key>textureRect</key>
                <string>{{275,1688},{148,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuangbeidixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,124}</string>
                <key>spriteSourceSize</key>
                <string>{157,124}</string>
                <key>textureRect</key>
                <string>{{435,1528},{157,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,63}</string>
                <key>spriteSourceSize</key>
                <string>{212,63}</string>
                <key>textureRect</key>
                <string>{{713,1311},{212,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_annu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,63}</string>
                <key>spriteSourceSize</key>
                <string>{212,63}</string>
                <key>textureRect</key>
                <string>{{778,1311},{212,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_dianjierenyiquyuguangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{768,52}</string>
                <key>spriteSourceSize</key>
                <string>{768,102}</string>
                <key>textureRect</key>
                <string>{{627,965},{768,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_duihuanshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{196,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{681,1640},{196,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_duihuanshenshouanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{364,96}</string>
                <key>spriteSourceSize</key>
                <string>{370,100}</string>
                <key>textureRect</key>
                <string>{{529,1129},{364,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,63}</string>
                <key>textureRect</key>
                <string>{{769,1591},{74,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jinjie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{177,64}</string>
                <key>spriteSourceSize</key>
                <string>{179,72}</string>
                <key>textureRect</key>
                <string>{{561,1495},{177,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_tianjiachongwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{172,162}</string>
                <key>textureRect</key>
                <string>{{275,1528},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chaijie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,25}</string>
                <key>spriteSourceSize</key>
                <string>{76,29}</string>
                <key>textureRect</key>
                <string>{{143,1729},{72,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dangqianxuanze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,26}</string>
                <key>spriteSourceSize</key>
                <string>{114,26}</string>
                <key>textureRect</key>
                <string>{{566,1674},{108,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_duihuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{70,25}</string>
                <key>spriteSourceSize</key>
                <string>{76,29}</string>
                <key>textureRect</key>
                <string>{{159,1756},{70,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_duihuanxiaohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{156,34}</string>
                <key>spriteSourceSize</key>
                <string>{174,46}</string>
                <key>textureRect</key>
                <string>{{1,1763},{156,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_erjieshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,36}</string>
                <key>textureRect</key>
                <string>{{470,1687},{145,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gongxihuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{125,397}</string>
                <key>spriteSourceSize</key>
                <string>{137,407}</string>
                <key>textureRect</key>
                <string>{{275,1129},{125,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_gongxihuode2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{125,397}</string>
                <key>spriteSourceSize</key>
                <string>{137,407}</string>
                <key>textureRect</key>
                <string>{{402,1129},{125,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kexuanze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,24}</string>
                <key>spriteSourceSize</key>
                <string>{92,26}</string>
                <key>textureRect</key>
                <string>{{594,1674},{90,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_liuermihou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{193,31}</string>
                <key>spriteSourceSize</key>
                <string>{201,37}</string>
                <key>textureRect</key>
                <string>{{583,566},{193,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_liuermihou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{193,31}</string>
                <key>spriteSourceSize</key>
                <string>{201,37}</string>
                <key>textureRect</key>
                <string>{{580,850},{193,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_liuermihouw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{115,344}</string>
                <key>spriteSourceSize</key>
                <string>{115,358}</string>
                <key>textureRect</key>
                <string>{{681,965},{115,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qingfangruheshideshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{294,30}</string>
                <key>spriteSourceSize</key>
                <string>{304,36}</string>
                <key>textureRect</key>
                <string>{{798,965},{294,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qiongqiwuli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{129,31}</string>
                <key>spriteSourceSize</key>
                <string>{137,37}</string>
                <key>textureRect</key>
                <string>{{713,1525},{129,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qiongqiwuli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{129,31}</string>
                <key>spriteSourceSize</key>
                <string>{137,37}</string>
                <key>textureRect</key>
                <string>{{713,1558},{129,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qiongqqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{129,268}</string>
                <key>spriteSourceSize</key>
                <string>{139,272}</string>
                <key>textureRect</key>
                <string>{{676,1},{129,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_sanjieshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,36}</string>
                <key>textureRect</key>
                <string>{{438,1687},{147,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shenshou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,36}</string>
                <key>spriteSourceSize</key>
                <string>{84,38}</string>
                <key>textureRect</key>
                <string>{{807,135},{80,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shenshou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,72}</string>
                <key>textureRect</key>
                <string>{{580,1045},{34,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shenshou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{36,72}</string>
                <key>textureRect</key>
                <string>{{583,761},{34,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_sijieshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{143,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,36}</string>
                <key>textureRect</key>
                <string>{{1,1799},{143,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wujieshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,36}</string>
                <key>textureRect</key>
                <string>{{502,1687},{145,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xuanzechognwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,36}</string>
                <key>spriteSourceSize</key>
                <string>{134,40}</string>
                <key>textureRect</key>
                <string>{{807,1},{132,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yijieshenshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{143,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,36}</string>
                <key>textureRect</key>
                <string>{{534,1687},{143,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>godBeastPanel.png</string>
            <key>size</key>
            <string>{844,1837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6d2f8e5806881d71c78f7695ed749d:08c32e30156db2928d1af1965f7be39e:f93d9590dc52e12d5a7c5d6620e08726$</string>
            <key>textureFileName</key>
            <string>godBeastPanel.png</string>
        </dict>
    </dict>
</plist>
