<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_houzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,770}</string>
                <key>spriteSourceSize</key>
                <string>{768,770}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,770}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_houzi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,28}</string>
                <key>spriteSize</key>
                <string>{510,628}</string>
                <key>spriteSourceSize</key>
                <string>{768,770}</string>
                <key>textureRect</key>
                <string>{{1,771},{510,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_leifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{577,277}</string>
                <key>spriteSourceSize</key>
                <string>{577,279}</string>
                <key>textureRect</key>
                <string>{{1159,1491},{577,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qiongqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{768,764}</string>
                <key>spriteSourceSize</key>
                <string>{768,798}</string>
                <key>textureRect</key>
                <string>{{773,1},{768,764}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qiongqi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{768,722}</string>
                <key>spriteSourceSize</key>
                <string>{768,798}</string>
                <key>textureRect</key>
                <string>{{773,767},{768,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shenshou1pingtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,279}</string>
                <key>spriteSourceSize</key>
                <string>{577,279}</string>
                <key>textureRect</key>
                <string>{{1,1491},{577,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shenshou2pingtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,279}</string>
                <key>spriteSourceSize</key>
                <string>{577,279}</string>
                <key>textureRect</key>
                <string>{{580,1491},{577,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>godBeastModel.png</string>
            <key>size</key>
            <string>{1737,1771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419820963737ba4e634cc622a3d609ad:5a44baabdc8a5ead945e006e8fa98863:d2b31669cb53b172ade7a8760714eca4$</string>
            <key>textureFileName</key>
            <string>godBeastModel.png</string>
        </dict>
    </dict>
</plist>
