<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwcx_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{343,1171},{138,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cwcx_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{185,1171},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{182,180}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1043},{182,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{265,465},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{232,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{265,1},{232,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{258,256}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,785},{258,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{260,258}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,525},{260,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{262,260}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{262,260}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{1,263},{262,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{263,673},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{248,248}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{261,921},{248,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cwcx_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{290,290}</string>
                <key>textureRect</key>
                <string>{{265,233},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>petDashStarEff.png</string>
            <key>size</key>
            <string>{510,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d6db86eb7dd25164067c404a5838dc4:1326d7416afc52568f8ec840df9f5d60:f7fe259904492e5a205ad4400560a74d$</string>
            <key>textureFileName</key>
            <string>petDashStarEff.png</string>
        </dict>
    </dict>
</plist>
