<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bianhaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,38}</string>
                <key>spriteSourceSize</key>
                <string>{31,38}</string>
                <key>textureRect</key>
                <string>{{843,920},{31,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_biaotidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,35}</string>
                <key>spriteSourceSize</key>
                <string>{148,35}</string>
                <key>textureRect</key>
                <string>{{262,793},{148,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_cailiaochongbiaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{537,37}</string>
                <key>spriteSourceSize</key>
                <string>{591,55}</string>
                <key>textureRect</key>
                <string>{{92,241},{537,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chenggonglvdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,39}</string>
                <key>spriteSourceSize</key>
                <string>{240,39}</string>
                <key>textureRect</key>
                <string>{{512,434},{238,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwubeijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{308,171}</string>
                <key>spriteSourceSize</key>
                <string>{308,189}</string>
                <key>textureRect</key>
                <string>{{131,483},{308,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwuchongxingxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,56}</string>
                <key>spriteSourceSize</key>
                <string>{69,56}</string>
                <key>textureRect</key>
                <string>{{896,824},{69,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwudizuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{166,41}</string>
                <key>spriteSourceSize</key>
                <string>{188,73}</string>
                <key>textureRect</key>
                <string>{{950,540},{166,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwujinengdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{370,912},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongwujinengkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{561,934},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongwukongxingixng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{996,874},{26,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwulanxuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{137,130}</string>
                <key>spriteSourceSize</key>
                <string>{139,132}</string>
                <key>textureRect</key>
                <string>{{703,558},{137,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwumingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,42}</string>
                <key>spriteSourceSize</key>
                <string>{240,46}</string>
                <key>textureRect</key>
                <string>{{1,808},{240,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwutipsjinengsuoxiaoyong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{93,91}</string>
                <key>textureRect</key>
                <string>{{472,934},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongwuxuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{159,144}</string>
                <key>spriteSourceSize</key>
                <string>{161,148}</string>
                <key>textureRect</key>
                <string>{{553,418},{159,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongxing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{115,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{659,773},{115,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongxing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{113,132}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{825,411},{113,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongxing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{137,100}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{848,309},{137,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongxing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{113,132}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{835,545},{113,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongxing5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{115,118}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{779,773},{115,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chongxingtishidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,40}</string>
                <key>spriteSourceSize</key>
                <string>{569,42}</string>
                <key>textureRect</key>
                <string>{{1,241},{565,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongxingwuweitu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{216,208}</string>
                <key>spriteSourceSize</key>
                <string>{224,212}</string>
                <key>textureRect</key>
                <string>{{801,1},{216,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dengjidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,33}</string>
                <key>spriteSourceSize</key>
                <string>{199,33}</string>
                <key>textureRect</key>
                <string>{{987,309},{199,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_djiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{109,95}</string>
                <key>spriteSourceSize</key>
                <string>{119,95}</string>
                <key>textureRect</key>
                <string>{{273,943},{109,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jinengxiaohaojiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{80,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,105}</string>
                <key>textureRect</key>
                <string>{{191,960},{80,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jinengxuanzedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{152,191}</string>
                <key>spriteSourceSize</key>
                <string>{156,195}</string>
                <key>textureRect</key>
                <string>{{374,241},{152,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jinengxuanzedixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{152,191}</string>
                <key>spriteSourceSize</key>
                <string>{156,195}</string>
                <key>textureRect</key>
                <string>{{528,225},{152,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lianyaochongwujinengdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{783,988},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_liuweitudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{241,240}</string>
                <key>spriteSourceSize</key>
                <string>{259,260}</string>
                <key>textureRect</key>
                <string>{{131,241},{241,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shuxingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{95,793},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tipszhudongjienngdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{142,28}</string>
                <key>spriteSourceSize</key>
                <string>{160,28}</string>
                <key>textureRect</key>
                <string>{{703,697},{142,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tuodongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{962,941},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wubianxingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{172,164}</string>
                <key>textureRect</key>
                <string>{{682,225},{172,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xiaohaocailiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,77}</string>
                <key>textureRect</key>
                <string>{{847,679},{66,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xiaohaocailiaoshuliangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,44}</string>
                <key>spriteSourceSize</key>
                <string>{150,48}</string>
                <key>textureRect</key>
                <string>{{691,727},{134,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzejinengxiadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{95,960},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xuanzenixianghuodedejineng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,84}</string>
                <key>spriteSourceSize</key>
                <string>{402,88}</string>
                <key>textureRect</key>
                <string>{{304,483},{388,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xuanzezhuangbeitexiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,30}</string>
                <key>spriteSourceSize</key>
                <string>{327,36}</string>
                <key>textureRect</key>
                <string>{{480,434},{327,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhanlidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{254,48}</string>
                <key>spriteSourceSize</key>
                <string>{254,54}</string>
                <key>textureRect</key>
                <string>{{45,780},{254,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuangbeidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,124}</string>
                <key>spriteSourceSize</key>
                <string>{148,124}</string>
                <key>textureRect</key>
                <string>{{553,579},{148,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuangbeidixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,124}</string>
                <key>spriteSourceSize</key>
                <string>{157,124}</string>
                <key>textureRect</key>
                <string>{{699,399},{157,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuchongbiaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{537,47}</string>
                <key>spriteSourceSize</key>
                <string>{591,55}</string>
                <key>textureRect</key>
                <string>{{43,241},{537,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuchongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{222,278}</string>
                <key>spriteSourceSize</key>
                <string>{242,300}</string>
                <key>textureRect</key>
                <string>{{521,1},{222,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_chuzhananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{177,65}</string>
                <key>spriteSourceSize</key>
                <string>{179,69}</string>
                <key>textureRect</key>
                <string>{{512,705},{177,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_lianyao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,64}</string>
                <key>spriteSourceSize</key>
                <string>{179,68}</string>
                <key>textureRect</key>
                <string>{{480,772},{177,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_tianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{889,895},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_anniuwenzijinengxuexi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,27}</string>
                <key>spriteSourceSize</key>
                <string>{125,31}</string>
                <key>textureRect</key>
                <string>{{993,510},{119,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_cailiaochong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,24}</string>
                <key>spriteSourceSize</key>
                <string>{88,24}</string>
                <key>textureRect</key>
                <string>{{390,847},{88,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongwuchongxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{127,35}</string>
                <key>spriteSourceSize</key>
                <string>{129,39}</string>
                <key>textureRect</key>
                <string>{{940,411},{127,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongwujineng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,35}</string>
                <key>spriteSourceSize</key>
                <string>{127,37}</string>
                <key>textureRect</key>
                <string>{{491,897},{125,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongwulianyao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{125,35}</string>
                <key>spriteSourceSize</key>
                <string>{131,41}</string>
                <key>textureRect</key>
                <string>{{649,890},{125,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongwushuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,33}</string>
                <key>spriteSourceSize</key>
                <string>{124,33}</string>
                <key>textureRect</key>
                <string>{{649,927},{124,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{75,28}</string>
                <key>spriteSourceSize</key>
                <string>{87,34}</string>
                <key>textureRect</key>
                <string>{{896,747},{75,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongxing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{32,66}</string>
                <key>textureRect</key>
                <string>{{954,732},{32,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongxing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{32,66}</string>
                <key>textureRect</key>
                <string>{{954,766},{32,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongxingchenggong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{518,238}</string>
                <key>spriteSourceSize</key>
                <string>{538,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{518,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongxingshibai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{372,88}</string>
                <key>spriteSourceSize</key>
                <string>{538,242}</string>
                <key>textureRect</key>
                <string>{{390,434},{372,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{76,28}</string>
                <key>textureRect</key>
                <string>{{926,742},{72,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gaiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,22}</string>
                <key>spriteSourceSize</key>
                <string>{70,22}</string>
                <key>textureRect</key>
                <string>{{950,708},{70,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_genggaimingzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,33}</string>
                <key>spriteSourceSize</key>
                <string>{143,33}</string>
                <key>textureRect</key>
                <string>{{491,862},{143,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jineng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,24}</string>
                <key>spriteSourceSize</key>
                <string>{63,24}</string>
                <key>textureRect</key>
                <string>{{924,679},{61,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jineng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{962,874},{32,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jineng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{776,920},{32,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jinengchenggonglv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,37}</string>
                <key>spriteSourceSize</key>
                <string>{99,39}</string>
                <key>textureRect</key>
                <string>{{370,1014},{99,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jutishuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,25}</string>
                <key>spriteSourceSize</key>
                <string>{113,25}</string>
                <key>textureRect</key>
                <string>{{649,990},{111,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jutizizhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{111,25}</string>
                <key>spriteSourceSize</key>
                <string>{113,25}</string>
                <key>textureRect</key>
                <string>{{776,893},{111,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lianhua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{75,26}</string>
                <key>spriteSourceSize</key>
                <string>{75,28}</string>
                <key>textureRect</key>
                <string>{{993,631},{75,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lianyao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{775,954},{32,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lianyao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{649,1017},{32,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shiyongqianghuabaohuka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{152,22}</string>
                <key>spriteSourceSize</key>
                <string>{156,24}</string>
                <key>textureRect</key>
                <string>{{480,838},{152,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{716,1017},{32,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shuxing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,65}</string>
                <key>spriteSourceSize</key>
                <string>{32,65}</string>
                <key>textureRect</key>
                <string>{{895,968},{32,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xiaohaocailiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,26}</string>
                <key>spriteSourceSize</key>
                <string>{118,30}</string>
                <key>textureRect</key>
                <string>{{649,962},{114,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xiuxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{76,28}</string>
                <key>textureRect</key>
                <string>{{471,1023},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xuanzechongwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,37}</string>
                <key>spriteSourceSize</key>
                <string>{133,39}</string>
                <key>textureRect</key>
                <string>{{356,873},{133,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xuanzed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{92,37}</string>
                <key>textureRect</key>
                <string>{{390,808},{88,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yidadaozuixingji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{172,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{848,211},{172,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zhuchog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,24}</string>
                <key>spriteSourceSize</key>
                <string>{67,24}</string>
                <key>textureRect</key>
                <string>{{827,747},{67,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{954,800},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chilun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{839,988},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chongwuxingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{512,674},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{895,1002},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconsuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{299,873},{55,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>petPanel.png</string>
            <key>size</key>
            <string>{1021,1053}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be8ef03804cf8004b5c550fdcdbe532:e3ba3e7bb4ca2c3f2ffd0f6ab3aeb949:c92a06e2d6228a16e5f505110709b74f$</string>
            <key>textureFileName</key>
            <string>petPanel.png</string>
        </dict>
    </dict>
</plist>
