<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>挖矿动画0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,61}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{1,1041},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,31}</string>
                <key>spriteSize</key>
                <string>{258,256}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{559,257},{258,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,31}</string>
                <key>spriteSize</key>
                <string>{272,256}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{1,767},{272,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>挖矿动画0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,32}</string>
                <key>spriteSize</key>
                <string>{288,248}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{1,249},{288,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,27}</string>
                <key>spriteSize</key>
                <string>{298,246}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,28}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{301,1},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,23}</string>
                <key>spriteSize</key>
                <string>{242,236}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{485,761},{242,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>挖矿动画0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{224,230}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{485,1005},{224,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>挖矿动画0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,3}</string>
                <key>spriteSize</key>
                <string>{224,218}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{259,1013},{224,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-12}</string>
                <key>spriteSize</key>
                <string>{234,210}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{723,751},{234,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>挖矿动画0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-14}</string>
                <key>spriteSize</key>
                <string>{244,224}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{259,767},{244,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>挖矿动画0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-17}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{531,515},{252,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-18}</string>
                <key>spriteSize</key>
                <string>{258,246}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{271,513},{258,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-19}</string>
                <key>spriteSize</key>
                <string>{262,254}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{575,1},{262,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-19}</string>
                <key>spriteSize</key>
                <string>{266,262}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{291,249},{266,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-20}</string>
                <key>spriteSize</key>
                <string>{268,266}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{1,499},{268,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,29}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{723,987},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>挖矿动画0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-186.5,178.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{559,249},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>digOreEffects.png</string>
            <key>size</key>
            <string>{934,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f1bd90642639b24d2b71b26c9a57b7:12b2b324628c81d6bcdef7c671c435d7:1bf8fbdbb8fa2126be3fec53604568f1$</string>
            <key>textureFileName</key>
            <string>digOreEffects.png</string>
        </dict>
    </dict>
</plist>
