<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_50heise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{136,133}</string>
                <key>textureRect</key>
                <string>{{771,154},{134,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gougoudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{897,823},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_guangbodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,45}</string>
                <key>spriteSourceSize</key>
                <string>{145,45}</string>
                <key>textureRect</key>
                <string>{{771,1},{145,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_keng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{136,133}</string>
                <key>textureRect</key>
                <string>{{771,289},{134,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_kuangshanditu.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,1366}</string>
                <key>spriteSourceSize</key>
                <string>{768,1366}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,1366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qianghuabeibaoyeshudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,35}</string>
                <key>textureRect</key>
                <string>{{897,635},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shikuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{136,133}</string>
                <key>textureRect</key>
                <string>{{771,424},{134,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xiaohaopindi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{343,56}</string>
                <key>spriteSourceSize</key>
                <string>{345,58}</string>
                <key>textureRect</key>
                <string>{{907,222},{343,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_duoshaokuaibizailaiyilun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{305,86}</string>
                <key>spriteSourceSize</key>
                <string>{313,88}</string>
                <key>textureRect</key>
                <string>{{771,1029},{305,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_guangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{897,567},{66,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_youfanyeqianghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{918,1},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zuofanyeqianghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{918,38},{51,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_baozang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{44,116}</string>
                <key>spriteSourceSize</key>
                <string>{44,136}</string>
                <key>textureRect</key>
                <string>{{897,668},{44,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_cichucangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,136}</string>
                <key>spriteSourceSize</key>
                <string>{44,136}</string>
                <key>textureRect</key>
                <string>{{771,108},{44,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuangshanwabao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{468,124}</string>
                <key>spriteSourceSize</key>
                <string>{478,132}</string>
                <key>textureRect</key>
                <string>{{771,559},{468,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lingqujianglihou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{284,22}</string>
                <key>spriteSourceSize</key>
                <string>{290,32}</string>
                <key>textureRect</key>
                <string>{{943,784},{284,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wodedaijinquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{139,24}</string>
                <key>spriteSourceSize</key>
                <string>{149,30}</string>
                <key>textureRect</key>
                <string>{{771,82},{139,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wodeyushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,25}</string>
                <key>spriteSourceSize</key>
                <string>{116,29}</string>
                <key>textureRect</key>
                <string>{{943,668},{114,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zailaiyidun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,32}</string>
                <key>spriteSourceSize</key>
                <string>{145,34}</string>
                <key>textureRect</key>
                <string>{{771,48},{141,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{897,863},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_guangbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{897,786},{42,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_haoyoukuizeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{107,102}</string>
                <key>textureRect</key>
                <string>{{859,1070},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hongdiantishi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{897,902},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_huodongshuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{107,102}</string>
                <key>textureRect</key>
                <string>{{859,1174},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_suipian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{907,159},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{65,86}</string>
                <key>textureRect</key>
                <string>{{914,75},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>digOrePanel.png</string>
            <key>size</key>
            <string>{970,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:079792a7b5dff468509366468c6ff7cd:5e0dd34bfdfc8d329a77b9656456490f:3f6d44db7b2b90d6f7985838141ce211$</string>
            <key>textureFileName</key>
            <string>digOrePanel.png</string>
        </dict>
    </dict>
</plist>
