<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_ES_attack_ES_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{148,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,727},{148,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{369,273},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_ES_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,25}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{173,285},{142,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,40}</string>
                <key>spriteSize</key>
                <string>{108,194}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{265,1},{108,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,35}</string>
                <key>spriteSize</key>
                <string>{156,184}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,113},{156,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,23}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{339,443},{158,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,23}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,571},{152,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-41}</string>
                <key>spriteSize</key>
                <string>{108,260}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,2}</string>
                <key>spriteSize</key>
                <string>{176,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{189,113},{176,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_ES_attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,13}</string>
                <key>spriteSize</key>
                <string>{166,140}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,427},{166,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_ES_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,21}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{369,113},{130,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_ES_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,24}</string>
                <key>spriteSize</key>
                <string>{144,162}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{169,591},{144,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,18}</string>
                <key>spriteSize</key>
                <string>{168,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,273},{168,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_ES_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{165,739},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_ES_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,20}</string>
                <key>spriteSize</key>
                <string>{164,156}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{171,431},{164,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_ES_attack_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{148,160}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{335,605},{148,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_attack_ld.png</string>
            <key>size</key>
            <string>{500,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169a957adf46e3c57aca5c2aa731a511:d7350ce718534d42d5580d2b4b57a08d:0fa28e8927d2bca55a81c6d9f909edf8$</string>
            <key>textureFileName</key>
            <string>4100009_attack_ld.png</string>
        </dict>
    </dict>
</plist>
