<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_WS_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,163},{92,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WS_stand_WS_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{161,163},{92,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WS_stand_WS_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{94,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{281,1},{94,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{94,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{321,161},{94,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WS_stand_WS_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{94,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{90,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{97,1},{90,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{90,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{189,1},{90,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_WS_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.125}</string>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{90,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{377,1},{90,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_stand_rd.png</string>
            <key>size</key>
            <string>{480,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f53996832760e82c28013fd53b0269:81d7f57c0468caf5333e8d113bb00c3a:02957f7246a34dcccfef4a3d62a8ea70$</string>
            <key>textureFileName</key>
            <string>4100009_stand_rd.png</string>
        </dict>
    </dict>
</plist>
