<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN_skill_WN_skill_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{311,933},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{137,163}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{329,1104},{137,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-6}</string>
                <key>spriteSize</key>
                <string>{97,153}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{166,1281},{97,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-9}</string>
                <key>spriteSize</key>
                <string>{101,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{329,1271},{101,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-7}</string>
                <key>spriteSize</key>
                <string>{109,159}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{291,820},{109,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-14}</string>
                <key>spriteSize</key>
                <string>{161,173}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{146,933},{161,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-15}</string>
                <key>spriteSize</key>
                <string>{239,131}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{260,1},{239,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{237,145}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{260,136},{237,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-39}</string>
                <key>spriteSize</key>
                <string>{245,163}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,512},{245,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-46}</string>
                <key>spriteSize</key>
                <string>{255,171}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-47}</string>
                <key>spriteSize</key>
                <string>{253,169}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,176},{253,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-44}</string>
                <key>spriteSize</key>
                <string>{251,159}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,349},{251,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-40}</string>
                <key>spriteSize</key>
                <string>{247,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,679},{247,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-37}</string>
                <key>spriteSize</key>
                <string>{243,141}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,930},{243,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-33}</string>
                <key>spriteSize</key>
                <string>{241,135}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{152,679},{241,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{235,147}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{258,285},{235,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{231,161}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{256,436},{231,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{215,159}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{291,601},{215,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{193,161}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1177},{193,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_skill_WN_skill_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{166,1110},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_magic_ru.png</string>
            <key>size</key>
            <string>{500,1379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cde42ab79bd0b4269c0e00cfb0f7361:fb25748d867fa7648d3aa7283ca755b2:0cc305e7d15404024f91ce2023fc03f3$</string>
            <key>textureFileName</key>
            <string>4100009_magic_ru.png</string>
        </dict>
    </dict>
</plist>
