<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{116,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,851},{116,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{116,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1023},{116,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,171},{118,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,341},{118,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,511},{118,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{116,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1193},{116,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53,0.155}</string>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,681},{118,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_stand_r.png</string>
            <key>size</key>
            <string>{120,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423a9b769a1592d45cc0455536466fcd:02bb1833b1bb566684a8b3deb3a9eb44:d73e33cc0d3dad3761eceda52dbbfb8e$</string>
            <key>textureFileName</key>
            <string>4100009_stand_r.png</string>
        </dict>
    </dict>
</plist>
