<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_ES_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{155,163}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1357},{155,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{157,163}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1023},{157,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{157,161}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1689},{157,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{159,161}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1524},{159,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{157,163}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1190},{157,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{157,165}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,516},{157,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{157,165}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,685},{157,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{155,167}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,174},{155,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{153,169}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{153,167}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,345},{153,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_ES_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{153,165}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,854},{153,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_idle_ld.png</string>
            <key>size</key>
            <string>{161,1851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2634b7ba1a07b027919278d7dcff4399:72de9e270d3d9959e430fe2b4c8fb669:0cd3377785f302c66947e8bec72531e7$</string>
            <key>textureFileName</key>
            <string>4100009_idle_ld.png</string>
        </dict>
    </dict>
</plist>
