<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_WN_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-18}</string>
                <key>spriteSize</key>
                <string>{150,164}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{167,1},{150,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-10}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{465,149},{126,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-11}</string>
                <key>spriteSize</key>
                <string>{140,162}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{321,169},{140,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{112,182}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{487,317},{112,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,1}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1,343},{138,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-8}</string>
                <key>spriteSize</key>
                <string>{164,162}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1,175},{164,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{146,152}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{337,335},{146,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{90,136}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{709,315},{90,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-21}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{613,1},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{465,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{595,149},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-8}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{321,1},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{189,337},{144,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-9}</string>
                <key>spriteSize</key>
                <string>{102,164}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{603,315},{102,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_WN_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-11}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_WN_attack_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-18}</string>
                <key>spriteSize</key>
                <string>{150,164}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{167,169},{150,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_attack_ru.png</string>
            <key>size</key>
            <string>{800,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1e70de6add072b701d358ac2dbd82e:103e51d56c36fa7a9d0cbf1dbb462887:643c34ad087706d37260da6e0fabfbbb$</string>
            <key>textureFileName</key>
            <string>4100009_attack_ru.png</string>
        </dict>
    </dict>
</plist>
