<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_skill_ES_skill_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{155,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{401,403},{155,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{141,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{727,367},{141,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-14}</string>
                <key>spriteSize</key>
                <string>{101,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{875,130},{101,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{103,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{875,1},{103,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-2}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{872,367},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{171,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{720,192},{171,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{189,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{567,1},{189,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{191,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{438,198},{191,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{197,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{158,1},{197,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{297,1},{197,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{197,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{305,202},{197,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{193,133}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{430,1},{193,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{189,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{579,194},{189,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-18}</string>
                <key>spriteSize</key>
                <string>{193,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{204,415},{193,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-14}</string>
                <key>spriteSize</key>
                <string>{199,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,417},{199,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{203,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,210},{203,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{205,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{201,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{146,210},{201,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{187,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{712,1},{187,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_skill_ES_skill_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{155,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{568,393},{155,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100009_magic_ld.png</string>
            <key>size</key>
            <string>{979,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58400679510be6dc9e06605059520d5f:20a1cd8a51d8729ba08bbaad81431f72:b2815ac8075b58df11200f31136754e0$</string>
            <key>textureFileName</key>
            <string>4100009_magic_ld.png</string>
        </dict>
    </dict>
</plist>
