<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gudong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{435,344}</string>
                <key>spriteSourceSize</key>
                <string>{447,356}</string>
                <key>textureRect</key>
                <string>{{1,1},{435,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_weixiufubiyu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,163}</string>
                <key>spriteSize</key>
                <string>{268,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1479,1},{268,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_weixiufubiyu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-40}</string>
                <key>spriteSize</key>
                <string>{258,302}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{347,1},{258,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_weixiufubiyu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,111}</string>
                <key>spriteSize</key>
                <string>{334,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{347,305},{334,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_weixiufubiyu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,-63}</string>
                <key>spriteSize</key>
                <string>{246,300}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1019,259},{246,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_weixiufubiyu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-119}</string>
                <key>spriteSize</key>
                <string>{304,256}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{867,1},{304,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiufubiyu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,163}</string>
                <key>spriteSize</key>
                <string>{268,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1623,173},{268,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiufubiyu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-40}</string>
                <key>spriteSize</key>
                <string>{258,302}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{607,1},{258,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiufubiyu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,111}</string>
                <key>spriteSize</key>
                <string>{334,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{683,305},{334,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiufubiyu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,-63}</string>
                <key>spriteSize</key>
                <string>{246,300}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1321,259},{246,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiufubiyu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-119}</string>
                <key>spriteSize</key>
                <string>{304,256}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1173,1},{304,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>antiqueYuan.png</string>
            <key>size</key>
            <string>{1794,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d61d2aeec9328d8101381ae826eeb97:c999121f2ccd4b3c093f9db1a57a47ab:2d38aa1244893b0225a9da0d3bdcbff3$</string>
            <key>textureFileName</key>
            <string>antiqueYuan.png</string>
        </dict>
    </dict>
</plist>
