<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>猴子石头.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.526119,0.272727}</string>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{192,239}</string>
                <key>spriteSourceSize</key>
                <string>{268,363}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200025_stand_d.png</string>
            <key>size</key>
            <string>{194,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e924cdc81c66ad5f907e6ee6626b3952:89b29ec36e2aa50b23ce7966ff4876a0:8299774c5996e030f04b944fc97ac317$</string>
            <key>textureFileName</key>
            <string>4200025_stand_d.png</string>
        </dict>
    </dict>
</plist>
