<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{107,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,279},{107,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-25}</string>
                <key>spriteSize</key>
                <string>{107,73}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,204},{107,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{105,73}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,492},{105,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-27}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,636},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,709},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{105,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,567},{105,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{107,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,425},{107,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-27}</string>
                <key>spriteSize</key>
                <string>{111,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-27}</string>
                <key>spriteSize</key>
                <string>{111,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,68},{111,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-26}</string>
                <key>spriteSize</key>
                <string>{109,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,135},{109,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{107,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,352},{107,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304001_stand_rd.png</string>
            <key>size</key>
            <string>{113,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8159d1b806fdc7749272e943c190cba5:2d5b1a2663a59027edebd77c5f20c0af:12a31c6637467167079660650cbe075e$</string>
            <key>textureFileName</key>
            <string>4304001_stand_rd.png</string>
        </dict>
    </dict>
</plist>
