<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,41}</string>
                <key>spriteSize</key>
                <string>{119,86}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,1},{119,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{135,46}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{257,1},{135,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{129,84}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-23}</string>
                <key>spriteSize</key>
                <string>{129,82}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,89},{129,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-42}</string>
                <key>spriteSize</key>
                <string>{125,44}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,143},{125,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-46}</string>
                <key>spriteSize</key>
                <string>{125,52}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,175},{125,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-45}</string>
                <key>spriteSize</key>
                <string>{125,44}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{130,191},{125,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{263,51},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{263,103},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{263,155},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{259,207},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{125,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{134,91},{125,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304001_die_ru.png</string>
            <key>size</key>
            <string>{393,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b7171ef0fc50e62ac91dc614700b6b5:3dbb218c801a9a4c7c3a45ba8d898ddd:440dfef62fb4e9e0a4eaff20c4e8444e$</string>
            <key>textureFileName</key>
            <string>4304001_die_ru.png</string>
        </dict>
    </dict>
</plist>
