<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-23}</string>
                <key>spriteSize</key>
                <string>{131,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,171},{131,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-23}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{136,1},{129,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-24}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{136,132},{129,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,263},{129,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,394},{129,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{131,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,260},{131,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{131,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,347},{131,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-24}</string>
                <key>spriteSize</key>
                <string>{133,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-24}</string>
                <key>spriteSize</key>
                <string>{133,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,86},{133,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-23}</string>
                <key>spriteSize</key>
                <string>{131,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,434},{131,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-23}</string>
                <key>spriteSize</key>
                <string>{131,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,171},{131,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304001_stand_u.png</string>
            <key>size</key>
            <string>{226,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2b7a1d023189dfdf671dda87da31c2:e9f5649cb03ac5d02ba1bbd7180dc1d3:c796ffc23dbe4785ae259837bf27df55$</string>
            <key>textureFileName</key>
            <string>4304001_stand_u.png</string>
        </dict>
    </dict>
</plist>
