<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>欢乐筒筒1688,635.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{357,290}</string>
                <key>spriteSourceSize</key>
                <string>{357,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{357,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200041_stand_d.png</string>
            <key>size</key>
            <string>{359,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:119d8ff6b99df72951a1cc0a991e595d:a2ccaf1eacdfa843a9073f353ea1dfe6:55d449f1608eb5eeea143188c7d35d2b$</string>
            <key>textureFileName</key>
            <string>4200041_stand_d.png</string>
        </dict>
    </dict>
</plist>
