<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>装备重铸_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{454,1159},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,2}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{332,1454},{59,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,1}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{332,1515},{75,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,1}</string>
                <key>spriteSize</key>
                <string>{81,73}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{231,1374},{81,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,0}</string>
                <key>spriteSize</key>
                <string>{87,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{306,1373},{87,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,2}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{140,1374},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,4}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{384,1272},{95,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,6}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{287,1272},{99,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,9}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{395,1369},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,10}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{223,1459},{109,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,10}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{112,1461},{115,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,9}</string>
                <key>spriteSize</key>
                <string>{123,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{369,1},{123,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,9}</string>
                <key>spriteSize</key>
                <string>{147,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{160,1150},{147,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,9}</string>
                <key>spriteSize</key>
                <string>{145,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,1239},{145,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,8}</string>
                <key>spriteSize</key>
                <string>{155,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{319,1048},{155,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{161,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,824},{161,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{143,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{309,1159},{143,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{135,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,1461},{135,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{137,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{148,1263},{137,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{137,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,1352},{137,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,937},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-8}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{176,353},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-5}</string>
                <key>spriteSize</key>
                <string>{169,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,184},{169,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-2}</string>
                <key>spriteSize</key>
                <string>{173,179}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{186,178},{173,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-1}</string>
                <key>spriteSize</key>
                <string>{175,181}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{186,1},{175,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{181,183}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,1}</string>
                <key>spriteSize</key>
                <string>{167,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,516},{167,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{159,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{327,736},{159,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-2}</string>
                <key>spriteSize</key>
                <string>{161,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{333,579},{161,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-1}</string>
                <key>spriteSize</key>
                <string>{161,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{345,416},{161,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{161,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{164,683},{161,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,3}</string>
                <key>spriteSize</key>
                <string>{159,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,663},{159,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,355},{159,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{161,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{170,522},{161,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,4}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{325,889},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{160,991},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,9}</string>
                <key>spriteSize</key>
                <string>{159,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{164,840},{159,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,13}</string>
                <key>spriteSize</key>
                <string>{157,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{1,1096},{157,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装备重铸_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,13}</string>
                <key>spriteSize</key>
                <string>{153,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{367,261},{153,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,9}</string>
                <key>spriteSize</key>
                <string>{147,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{369,112},{147,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>装备重铸_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-32}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{255,183}</string>
                <key>textureRect</key>
                <string>{{476,1048},{31,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equipment_recast_1.png</string>
            <key>size</key>
            <string>{503,1597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63526b4f72c52e58c317f1c71cd6a725:988788746e9febd6b945068fe188bd09:2caefe660a1d3063d9261cb91bd0b4ba$</string>
            <key>textureFileName</key>
            <string>equipment_recast_1.png</string>
        </dict>
    </dict>
</plist>
