<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>翻牌子_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-70}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{533,559},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-49}</string>
                <key>spriteSize</key>
                <string>{70,53}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{850,510},{70,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{110,97}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{850,398},{110,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>翻牌子_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{110,141}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{811,1},{110,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>翻牌子_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{110,153}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{809,243},{110,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{110,153}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{738,421},{110,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{242,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{531,587},{242,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{258,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{271,587},{258,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{258,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{273,1},{258,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{258,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{273,294},{258,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{268,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{1,587},{268,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,291}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{1,294},{270,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{142,209}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{533,1},{142,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,211}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{533,212},{140,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{132,209}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{677,1},{132,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{132,207}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{675,212},{132,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{132,203}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{533,425},{132,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>翻牌子_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,30}</string>
                <key>spriteSize</key>
                <string>{128,139}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{811,113},{128,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>翻牌子_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,30}</string>
                <key>spriteSize</key>
                <string>{126,137}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{775,576},{126,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,35}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{775,715},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>翻牌子_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{108,41}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{889,715},{108,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>翻牌子_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{106,39}</string>
                <key>spriteSourceSize</key>
                <string>{270,291}</string>
                <key>textureRect</key>
                <string>{{903,565},{106,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flipEffectImage.png</string>
            <key>size</key>
            <string>{953,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3229888e969a671986fe3882cc927077:99245076549f6c5e9eb7141556edd9e0:55b0023d449241eff066ebfb680db9db$</string>
            <key>textureFileName</key>
            <string>flipEffectImage.png</string>
        </dict>
    </dict>
</plist>
