<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhsj_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{303,199}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{393,1},{303,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{241,199}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{1,198},{241,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{244,202},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{459,202},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{674,202},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{1,399},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{216,405},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{431,405},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{646,405},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{221,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{216,608},{221,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{225,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{439,608},{225,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{229,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{666,608},{229,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{213,201}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{1,602},{213,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{213,199}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{698,1},{213,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{197,195}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{194,1},{197,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qhsj_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{191,189}</string>
                <key>spriteSourceSize</key>
                <string>{325,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>forge_effect.png</string>
            <key>size</key>
            <string>{912,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd1bc06fcdd8fec7289d8b588af2897:0ba56bfea5582bc25d20d906246eaa5f:0ff715c0e7e9a8a4100c39d3d61926d2$</string>
            <key>textureFileName</key>
            <string>forge_effect.png</string>
        </dict>
    </dict>
</plist>
