<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>升星_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{112,114},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{423,90},{75,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>升星_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{322,167},{59,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>升星_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{385,167},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{112,1},{109,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{109,117}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{109,117}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{1,120},{109,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{223,1},{95,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{423,1},{87,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>升星_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{97,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{223,92},{97,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{101,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{320,1},{101,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{99,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{322,84},{99,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{103,67}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{209,175},{103,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{430,167},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{467,167},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{385,210},{33,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>升星_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{112,211},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{149,211},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{430,204},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{467,204},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{467,204},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{467,204},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{467,204},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升星_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,123}</string>
                <key>textureRect</key>
                <string>{{467,204},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kings_fight_grade_up.png</string>
            <key>size</key>
            <string>{505,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d12bc499989733fdc2f4450f8b2f77ef:e48245849eeaad9137d029ba014587ae:67d64ba6c60a0e4c9d79f0946237a5ef$</string>
            <key>textureFileName</key>
            <string>kings_fight_grade_up.png</string>
        </dict>
    </dict>
</plist>
