<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>宝箱元件_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{105,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{83,313},{105,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{99,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{153,89},{99,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱元件_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{92,420},{91,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{165,169},{93,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,424},{89,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱元件_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{165,264},{93,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{105,68}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{172,359},{105,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{109,64}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{87,91},{109,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{89,202},{109,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{109,80}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,313},{109,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{111,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,91},{111,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>宝箱元件_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{109,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{112,1},{109,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱元件_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{109,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱元件_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{107,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{1,204},{107,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trasure_box_effect.png</string>
            <key>size</key>
            <string>{253,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67cd9afdee94e24f1c394e39c638403b:1145ebb2f9bba4b8c4d286252485a9f4:a2e6948135107da82a27e581bcfcba19$</string>
            <key>textureFileName</key>
            <string>trasure_box_effect.png</string>
        </dict>
    </dict>
</plist>
