<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>荷花1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.552239,0.278237}</string>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{144,165}</string>
                <key>spriteSourceSize</key>
                <string>{268,363}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200022_stand_d.png</string>
            <key>size</key>
            <string>{146,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bef153b5ec002773882b82742146deb3:fec1af2cd656755c61ac4fc72eedd3a2:897fe19ecd7500a829e12d57e7e555ca$</string>
            <key>textureFileName</key>
            <string>4200022_stand_d.png</string>
        </dict>
    </dict>
</plist>
