<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-18,-21}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{317,1},{68,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-18,-21}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,139},{70,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-18,-21}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{159,139},{70,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-17,-21}</string>
                <key>spriteSize</key>
                <string>{70,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{317,141},{70,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-15,-21}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,69},{68,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-14,-21}</string>
                <key>spriteSize</key>
                <string>{66,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-14,-21}</string>
                <key>spriteSize</key>
                <string>{66,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{159,1},{66,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-16,-21}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{159,69},{68,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.446667,0.223333}</string>
                <key>spriteOffset</key>
                <string>{-18,-21}</string>
                <key>spriteSize</key>
                <string>{68,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{317,71},{68,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000001_stand_u.png</string>
            <key>size</key>
            <string>{474,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92eeba501513ff79e7c72d4300984467:a022cd4103b0d8571c7fba985c165e86:077579a42ee735387f83318b1c1ce158$</string>
            <key>textureFileName</key>
            <string>4000001_stand_u.png</string>
        </dict>
    </dict>
</plist>
