<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_dead_WN_dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-21}</string>
                <key>spriteSize</key>
                <string>{71,171}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-17}</string>
                <key>spriteSize</key>
                <string>{69,165}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{76,1},{69,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-19}</string>
                <key>spriteSize</key>
                <string>{71,161}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{149,1},{71,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-19}</string>
                <key>spriteSize</key>
                <string>{77,161}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,176},{77,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-23}</string>
                <key>spriteSize</key>
                <string>{89,153}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{224,1},{89,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-27}</string>
                <key>spriteSize</key>
                <string>{95,145}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{723,1},{95,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-26}</string>
                <key>spriteSize</key>
                <string>{99,147}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{444,154},{99,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-26}</string>
                <key>spriteSize</key>
                <string>{95,147}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{293,158},{95,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-26}</string>
                <key>spriteSize</key>
                <string>{93,147}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{626,1},{93,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-26}</string>
                <key>spriteSize</key>
                <string>{95,145}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{822,1},{95,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-25}</string>
                <key>spriteSize</key>
                <string>{97,147}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{525,1},{97,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-25}</string>
                <key>spriteSize</key>
                <string>{99,149}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{422,1},{99,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-25}</string>
                <key>spriteSize</key>
                <string>{101,149}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{317,1},{101,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-26}</string>
                <key>spriteSize</key>
                <string>{97,143}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{921,1},{97,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-29}</string>
                <key>spriteSize</key>
                <string>{89,133}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1022,1},{89,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-34}</string>
                <key>spriteSize</key>
                <string>{87,123}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{166,166},{87,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-41}</string>
                <key>spriteSize</key>
                <string>{89,103}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{805,150},{89,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-40}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{898,150},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-37}</string>
                <key>spriteSize</key>
                <string>{77,107}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1588,161},{77,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-36}</string>
                <key>spriteSize</key>
                <string>{79,113}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1588,1},{79,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-35}</string>
                <key>spriteSize</key>
                <string>{83,117}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1501,122},{83,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-34}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1408,130},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-35}</string>
                <key>spriteSize</key>
                <string>{91,117}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1411,1},{91,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-36}</string>
                <key>spriteSize</key>
                <string>{93,115}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{987,148},{93,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-34}</string>
                <key>spriteSize</key>
                <string>{93,113}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1106,138},{93,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-33}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{595,152},{101,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-37}</string>
                <key>spriteSize</key>
                <string>{101,93}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{708,152},{101,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-47}</string>
                <key>spriteSize</key>
                <string>{113,73}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1588,84},{113,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_WN_dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-52}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1506,1},{117,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-55}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1203,132},{121,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-58}</string>
                <key>spriteSize</key>
                <string>{123,67}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1337,130},{123,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-58}</string>
                <key>spriteSize</key>
                <string>{125,71}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1263,1},{125,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-56}</string>
                <key>spriteSize</key>
                <string>{127,71}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1115,1},{127,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-55}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1190,1},{127,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-55}</string>
                <key>spriteSize</key>
                <string>{125,69}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1338,1},{125,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_WN_dead_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-57}</string>
                <key>spriteSize</key>
                <string>{123,69}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1264,130},{123,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000001_die_ru.png</string>
            <key>size</key>
            <string>{1702,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519d01b0eb795846b5ab6a0f937a8c88:096cc587cdc5ae087611cea735b15057:46666a9f784c412a1a3b5afe44108506$</string>
            <key>textureFileName</key>
            <string>4000001_die_ru.png</string>
        </dict>
    </dict>
</plist>
