<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{287,149},{92,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{80,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{431,1},{80,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{84,148}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{171,1},{84,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{82,162}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{96,152}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{133,157},{96,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,165},{90,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{84,126}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{513,1},{84,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-17,-11}</string>
                <key>spriteSize</key>
                <string>{78,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{351,1},{78,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{84,154}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{85,1},{84,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{92,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{257,1},{92,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.273333}</string>
                <key>spriteOffset</key>
                <string>{-16,-4}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{421,147},{92,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000001_run_ru.png</string>
            <key>size</key>
            <string>{598,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:782809515dc4204c85e1964cc6265257:376580243c940161a2a5d8b9604ec3de:3601a55eb7d361b87e134cf6a3378511$</string>
            <key>textureFileName</key>
            <string>4000001_run_ru.png</string>
        </dict>
    </dict>
</plist>
