<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-26,-38}</string>
                <key>spriteSize</key>
                <string>{61,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-26,-38}</string>
                <key>spriteSize</key>
                <string>{65,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{164,64},{65,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-26,-39}</string>
                <key>spriteSize</key>
                <string>{67,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{164,131},{67,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-24,-39}</string>
                <key>spriteSize</key>
                <string>{67,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{327,131},{67,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-22,-39}</string>
                <key>spriteSize</key>
                <string>{65,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{329,64},{65,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-21,-39}</string>
                <key>spriteSize</key>
                <string>{65,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,129},{65,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-22,-39}</string>
                <key>spriteSize</key>
                <string>{63,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,64},{63,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-24,-38}</string>
                <key>spriteSize</key>
                <string>{61,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{166,1},{61,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.456338,0.216901}</string>
                <key>spriteOffset</key>
                <string>{-26,-38}</string>
                <key>spriteSize</key>
                <string>{61,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{331,1},{61,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000001_stand_ru.png</string>
            <key>size</key>
            <string>{495,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51fe80475d3cd20dbec00f2629a56435:692ba2702a632d0dfe3975f5d1e982a0:cf16e8b810cafc8ce9a5e651f44cb211$</string>
            <key>textureFileName</key>
            <string>4000001_stand_ru.png</string>
        </dict>
    </dict>
</plist>
