<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_attackidle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,3}</string>
                <key>spriteSize</key>
                <string>{71,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,3}</string>
                <key>spriteSize</key>
                <string>{71,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,176},{71,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,2}</string>
                <key>spriteSize</key>
                <string>{69,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{699,176},{69,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,2}</string>
                <key>spriteSize</key>
                <string>{71,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{176,176},{71,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,2}</string>
                <key>spriteSize</key>
                <string>{69,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{872,176},{69,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,2}</string>
                <key>spriteSize</key>
                <string>{67,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1157,1},{67,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,3}</string>
                <key>spriteSize</key>
                <string>{67,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{589,1},{67,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,3}</string>
                <key>spriteSize</key>
                <string>{65,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{731,1},{65,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,3}</string>
                <key>spriteSize</key>
                <string>{65,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{800,1},{65,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,3}</string>
                <key>spriteSize</key>
                <string>{65,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{869,1},{65,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,3}</string>
                <key>spriteSize</key>
                <string>{67,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{660,1},{67,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{151,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{224,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{297,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,2}</string>
                <key>spriteSize</key>
                <string>{69,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{938,1},{69,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,2}</string>
                <key>spriteSize</key>
                <string>{69,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1011,1},{69,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,2}</string>
                <key>spriteSize</key>
                <string>{69,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1045,174},{69,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,2}</string>
                <key>spriteSize</key>
                <string>{69,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1084,1},{69,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{349,176},{69,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{370,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{443,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{516,1},{69,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_WN_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,3}</string>
                <key>spriteSize</key>
                <string>{69,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{524,176},{69,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_WN_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,3}</string>
                <key>spriteSize</key>
                <string>{71,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{76,1},{71,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000001_idle_ru.png</string>
            <key>size</key>
            <string>{1225,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e40b02df33af43e1ebdc9ea4c26854a0:3168b003bfb4687b7f31d4fa5042153c:00b28a14c18d377fcda74403ed410cfd$</string>
            <key>textureFileName</key>
            <string>4000001_idle_ru.png</string>
        </dict>
    </dict>
</plist>
