<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bangwaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{1395,865},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{172,312}</string>
                <key>spriteSourceSize</key>
                <string>{180,316}</string>
                <key>textureRect</key>
                <string>{{1,813},{172,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{168,308}</string>
                <key>spriteSourceSize</key>
                <string>{180,316}</string>
                <key>textureRect</key>
                <string>{{1162,1},{168,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbaifengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,34}</string>
                <key>spriteSourceSize</key>
                <string>{4,34}</string>
                <key>textureRect</key>
                <string>{{1305,792},{4,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paihangbangbiaotidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,42}</string>
                <key>textureRect</key>
                <string>{{1370,745},{92,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{555,115}</string>
                <key>spriteSourceSize</key>
                <string>{555,117}</string>
                <key>textureRect</key>
                <string>{{1045,1},{555,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paihangbangdi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{1436,927},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangmingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{271,73}</string>
                <key>spriteSourceSize</key>
                <string>{273,77}</string>
                <key>textureRect</key>
                <string>{{1472,311},{271,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paihangbangzuidiceng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1385,651},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shashidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{168,308}</string>
                <key>spriteSourceSize</key>
                <string>{180,316}</string>
                <key>textureRect</key>
                <string>{{315,813},{168,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_sunwukong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{168,308}</string>
                <key>spriteSourceSize</key>
                <string>{180,316}</string>
                <key>textureRect</key>
                <string>{{1332,1},{168,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tangseng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{168,308}</string>
                <key>spriteSourceSize</key>
                <string>{180,316}</string>
                <key>textureRect</key>
                <string>{{1162,311},{168,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tishidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,50}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1305,740},{63,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wodekuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{770,40}</string>
                <key>spriteSourceSize</key>
                <string>{774,44}</string>
                <key>textureRect</key>
                <string>{{1,771},{770,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xiiyouyaofantiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{768,1042}</string>
                <key>spriteSourceSize</key>
                <string>{768,1078}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,1042}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xuzhongle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{188,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{625,813},{188,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhubajie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{168,308}</string>
                <key>spriteSourceSize</key>
                <string>{180,316}</string>
                <key>textureRect</key>
                <string>{{1162,481},{168,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_fenye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{113,66}</string>
                <key>spriteSourceSize</key>
                <string>{115,70}</string>
                <key>textureRect</key>
                <string>{{1273,799},{113,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_fenyexuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,77}</string>
                <key>textureRect</key>
                <string>{{1051,782},{115,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_quedinglingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{222,87}</string>
                <key>spriteSourceSize</key>
                <string>{230,91}</string>
                <key>textureRect</key>
                <string>{{1045,558},{222,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_quedinglingjiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{222,87}</string>
                <key>spriteSourceSize</key>
                <string>{230,91}</string>
                <key>textureRect</key>
                <string>{{837,771},{222,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_suoding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{169,57}</string>
                <key>spriteSourceSize</key>
                <string>{177,61}</string>
                <key>textureRect</key>
                <string>{{1502,1},{169,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_weisuoding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{169,57}</string>
                <key>spriteSourceSize</key>
                <string>{177,61}</string>
                <key>textureRect</key>
                <string>{{1134,740},{169,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_weisuoding2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{169,57}</string>
                <key>spriteSourceSize</key>
                <string>{177,61}</string>
                <key>textureRect</key>
                <string>{{992,782},{169,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_yaoyici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{249,87}</string>
                <key>spriteSourceSize</key>
                <string>{259,91}</string>
                <key>textureRect</key>
                <string>{{1134,651},{249,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_caozuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{61,26}</string>
                <key>spriteSourceSize</key>
                <string>{63,36}</string>
                <key>textureRect</key>
                <string>{{773,771},{61,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dianzan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{63,28}</string>
                <key>spriteSourceSize</key>
                <string>{67,36}</string>
                <key>textureRect</key>
                <string>{{1330,915},{63,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_haoyoujilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{127,36}</string>
                <key>spriteSourceSize</key>
                <string>{129,36}</string>
                <key>textureRect</key>
                <string>{{1502,172},{127,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_haoyouxinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{120,26}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{1,987},{120,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_huodejiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,29}</string>
                <key>textureRect</key>
                <string>{{1341,792},{121,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jueseming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,25}</string>
                <key>spriteSourceSize</key>
                <string>{92,29}</string>
                <key>textureRect</key>
                <string>{{1254,986},{86,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{65,26}</string>
                <key>spriteSourceSize</key>
                <string>{67,36}</string>
                <key>textureRect</key>
                <string>{{245,987},{65,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pingpingwuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{89,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{1501,796},{89,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_sanyangkaitai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{89,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{1531,796},{89,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shitusiren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,30}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{315,983},{91,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shuangshuangliangliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,26}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{1134,558},{89,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shuangxilinmen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{89,28}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{1463,887},{89,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_sidajiekong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,30}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{408,983},{91,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_sipingbawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,30}</string>
                <key>spriteSourceSize</key>
                <string>{91,30}</string>
                <key>textureRect</key>
                <string>{{501,983},{91,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wodekuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{114,25}</string>
                <key>spriteSourceSize</key>
                <string>{126,31}</string>
                <key>textureRect</key>
                <string>{{1368,792},{114,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yaojiangjilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,26}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{123,987},{120,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yaoyici.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{118,44}</string>
                <key>textureRect</key>
                <string>{{1239,799},{106,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yidianzan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{1463,789},{92,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yijianlingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{176,64}</string>
                <key>spriteSourceSize</key>
                <string>{180,68}</string>
                <key>textureRect</key>
                <string>{{926,771},{176,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baoxiang0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1472,584},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_baoxiang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{926,953},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_baoxiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1501,724},{70,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baoxiang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1475,648},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baoxiang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1395,789},{74,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baoxiang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1254,914},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_baoxiang6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1360,927},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dianzan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1156,908},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_haoyoujilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{1128,799},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_huodongshuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,103}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{1051,908},{105,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tigerMachinePanel.png</string>
            <key>size</key>
            <string>{1564,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc3c2164bc6efbeb5ae0b0e5c992585:aceccb104a5e100a345fad0115863fc0:06a9f7af5f5cf40d43b8910d55c64b78$</string>
            <key>textureFileName</key>
            <string>tigerMachinePanel.png</string>
        </dict>
    </dict>
</plist>
