<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{309,1147},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{23,12}</string>
                <key>spriteSize</key>
                <string>{180,230}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{145,675},{180,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{43,8}</string>
                <key>spriteSize</key>
                <string>{172,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,219},{172,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{45,3}</string>
                <key>spriteSize</key>
                <string>{160,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{155,1},{160,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{42,3}</string>
                <key>spriteSize</key>
                <string>{152,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{39,5}</string>
                <key>spriteSize</key>
                <string>{142,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{317,1},{142,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{35,11}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{261,445},{134,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{33,15}</string>
                <key>spriteSize</key>
                <string>{126,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{123,907},{126,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{32,14}</string>
                <key>spriteSize</key>
                <string>{120,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,907},{120,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{31,12}</string>
                <key>spriteSize</key>
                <string>{116,230}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{327,675},{116,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{30,10}</string>
                <key>spriteSize</key>
                <string>{114,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{145,445},{114,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{33,9}</string>
                <key>spriteSize</key>
                <string>{120,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{175,219},{120,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{25,9}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{297,219},{132,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{21,10}</string>
                <key>spriteSize</key>
                <string>{142,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,445},{142,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{19,12}</string>
                <key>spriteSize</key>
                <string>{142,230}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,675},{142,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1387},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{309,1387},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{155,1147},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1147},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{251,907},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{155,1387},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200032_hit_ld.png</string>
            <key>size</key>
            <string>{462,1626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f0cc85e5c5a76d2abc44d35be06dcfc:229a724494c6d928f5c63428300d34b5:61d90747b6b1923a3b8dfcb149209e46$</string>
            <key>textureFileName</key>
            <string>4200032_hit_ld.png</string>
        </dict>
    </dict>
</plist>
