<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{158,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,19}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{161,1},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,20}</string>
                <key>spriteSize</key>
                <string>{156,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{319,1},{156,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,20}</string>
                <key>spriteSize</key>
                <string>{156,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{477,1},{156,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,21}</string>
                <key>spriteSize</key>
                <string>{156,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{635,1},{156,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{156,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{793,1},{156,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-7,20}</string>
                <key>spriteSize</key>
                <string>{156,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{951,1},{156,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-7,19}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1109,1},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-7,18}</string>
                <key>spriteSize</key>
                <string>{156,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1267,1},{156,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-6,18}</string>
                <key>spriteSize</key>
                <string>{156,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1425,1},{156,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{156,236}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1583,1},{156,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200032_stand_d.png</string>
            <key>size</key>
            <string>{1740,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62e46cbcfb473654827194f5aa572bae:f6b55b01c2f21d327c66e365bf1a11f3:2370e46d8f03e98c0b4cce1086641d4c$</string>
            <key>textureFileName</key>
            <string>4200032_stand_d.png</string>
        </dict>
    </dict>
</plist>
