<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{152,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{152,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{155,1},{152,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{154,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{309,1},{154,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{156,230}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{465,1},{156,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{160,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{623,1},{160,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{162,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{785,1},{162,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{162,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{949,1},{162,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{160,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1113,1},{160,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{156,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1275,1},{156,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{154,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1433,1},{154,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{152,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1589,1},{152,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200032_stand_ru.png</string>
            <key>size</key>
            <string>{1742,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e976448f8766670b6a300d14f56e5881:ad18afbf769f588e92673a42b27fbf01:b4bbfb13fbab7f1145e4f9e05169f158$</string>
            <key>textureFileName</key>
            <string>4200032_stand_ru.png</string>
        </dict>
    </dict>
</plist>
