<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{26,16}</string>
                <key>spriteSize</key>
                <string>{152,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{174,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{155,1},{174,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{172,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{331,1},{172,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{176,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,1},{176,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{5,19}</string>
                <key>spriteSize</key>
                <string>{174,244}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{683,1},{174,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{22,32}</string>
                <key>spriteSize</key>
                <string>{126,258}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{859,1},{126,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{48,46}</string>
                <key>spriteSize</key>
                <string>{130,286}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,261},{130,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{68,34}</string>
                <key>spriteSize</key>
                <string>{166,284}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{133,261},{166,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{90,3}</string>
                <key>spriteSize</key>
                <string>{196,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{301,261},{196,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{114,-13}</string>
                <key>spriteSize</key>
                <string>{228,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{499,261},{228,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-15}</string>
                <key>spriteSize</key>
                <string>{244,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{729,261},{244,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{123,-28}</string>
                <key>spriteSize</key>
                <string>{246,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,549},{246,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{127,-46}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{249,549},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{125,-48}</string>
                <key>spriteSize</key>
                <string>{262,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{509,549},{262,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-47}</string>
                <key>spriteSize</key>
                <string>{264,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,699},{264,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-48}</string>
                <key>spriteSize</key>
                <string>{264,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{267,699},{264,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-55}</string>
                <key>spriteSize</key>
                <string>{264,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{533,699},{264,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-62}</string>
                <key>spriteSize</key>
                <string>{264,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,799},{264,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-65}</string>
                <key>spriteSize</key>
                <string>{264,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{267,799},{264,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-67}</string>
                <key>spriteSize</key>
                <string>{264,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{533,799},{264,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{124,-65}</string>
                <key>spriteSize</key>
                <string>{264,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,885},{264,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200032_die_ld.png</string>
            <key>size</key>
            <string>{986,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e32dce0d173e853c708238a23ee757:295290e615e068b381dfaf5942a7768f:6ceeb1cae11630876f0878a5195b6f66$</string>
            <key>textureFileName</key>
            <string>4200032_die_ld.png</string>
        </dict>
    </dict>
</plist>
