<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_baguadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{217,218}</string>
                <key>spriteSourceSize</key>
                <string>{219,220}</string>
                <key>textureRect</key>
                <string>{{838,1537},{217,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_baotuwupindi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{170,208}</string>
                <key>spriteSourceSize</key>
                <string>{174,210}</string>
                <key>textureRect</key>
                <string>{{838,1756},{170,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_baoxiangfaguang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{804,926}</string>
                <key>spriteSourceSize</key>
                <string>{838,926}</string>
                <key>textureRect</key>
                <string>{{1,1},{804,926}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_baoxiangjiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,144}</string>
                <key>spriteSourceSize</key>
                <string>{438,144}</string>
                <key>textureRect</key>
                <string>{{375,1506},{438,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_baoxiangjianglidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{819,697}</string>
                <key>spriteSourceSize</key>
                <string>{829,697}</string>
                <key>textureRect</key>
                <string>{{1,807},{819,697}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ddd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,128}</string>
                <key>textureRect</key>
                <string>{{929,242},{108,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_faguangzhishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,121}</string>
                <key>spriteSourceSize</key>
                <string>{126,121}</string>
                <key>textureRect</key>
                <string>{{929,1},{126,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_taiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{929,352},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tishibiaozhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,233}</string>
                <key>spriteSourceSize</key>
                <string>{180,233}</string>
                <key>textureRect</key>
                <string>{{822,1355},{180,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yund.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{546,239}</string>
                <key>spriteSourceSize</key>
                <string>{586,281}</string>
                <key>textureRect</key>
                <string>{{822,807},{546,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wabao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{121,116}</string>
                <key>spriteSourceSize</key>
                <string>{123,116}</string>
                <key>textureRect</key>
                <string>{{929,124},{121,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dianjibaoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,40}</string>
                <key>spriteSourceSize</key>
                <string>{366,40}</string>
                <key>textureRect</key>
                <string>{{1026,402},{366,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dianjirenyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,38}</string>
                <key>spriteSourceSize</key>
                <string>{336,38}</string>
                <key>textureRect</key>
                <string>{{929,448},{336,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baoxiangbihe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,315}</string>
                <key>spriteSourceSize</key>
                <string>{377,315}</string>
                <key>textureRect</key>
                <string>{{521,1537},{377,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baoxiangdakai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,372}</string>
                <key>spriteSourceSize</key>
                <string>{450,372}</string>
                <key>textureRect</key>
                <string>{{1,1506},{450,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_zhizheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{1026,352},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wabaoPanel.png</string>
            <key>size</key>
            <string>{1072,1957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab948deea90badf44759d56983f78bec:3f79956c15d11fd238a759854ff13acd:cec6685a82b690f72626575b2d38445a$</string>
            <key>textureFileName</key>
            <string>wabaoPanel.png</string>
        </dict>
    </dict>
</plist>
