<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>157001_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,1}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1489,601},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157001_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,1}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1117,601},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157002_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,801},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157002_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{745,601},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157003_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{380,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{765,1201},{380,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157003_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{380,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,1201},{380,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157004_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,601},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157004_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{373,601},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157005_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,1001},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157005_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{745,1001},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157006_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{373,1001},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157006_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1489,801},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157007_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1117,801},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157007_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{745,801},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157008_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{373,801},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>157008_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{373,1},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158001_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1489,401},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158001_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1117,1},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158002_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,201},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158002_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{745,1},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158003_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158003_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{373,201},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158004_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1489,201},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158004_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{745,401},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158005_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{373,401},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158005_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1117,401},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158006_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{380,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1117,1001},{380,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>158006_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{380,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{383,1201},{380,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhixiandi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,1}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1,401},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhixiandi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,1}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1117,201},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuxiandi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,1}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{745,201},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuxiandi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,1}</string>
                <key>spriteSize</key>
                <string>{370,198}</string>
                <key>spriteSourceSize</key>
                <string>{430,210}</string>
                <key>textureRect</key>
                <string>{{1489,1},{370,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>activityIconBing.png</string>
            <key>size</key>
            <string>{1860,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb00bd1048931ee034a7a75ada573a9:336e1a0d94a63edf8809c6e72f20c2be:3d551f8d6e094b23aa1116739c6a08e4$</string>
            <key>textureFileName</key>
            <string>activityIconBing.png</string>
        </dict>
    </dict>
</plist>
