<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_biaotidihuodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{204,46}</string>
                <key>spriteSourceSize</key>
                <string>{218,58}</string>
                <key>textureRect</key>
                <string>{{521,1343},{204,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gensuiguangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{118,28}</string>
                <key>textureRect</key>
                <string>{{558,1905},{114,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_huodongannniufenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,22}</string>
                <key>spriteSourceSize</key>
                <string>{671,22}</string>
                <key>textureRect</key>
                <string>{{847,546},{669,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huodongrenwudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{660,258}</string>
                <key>spriteSourceSize</key>
                <string>{678,278}</string>
                <key>textureRect</key>
                <string>{{1,1295},{660,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huodongrenwudi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{660,258}</string>
                <key>spriteSourceSize</key>
                <string>{678,278}</string>
                <key>textureRect</key>
                <string>{{261,1295},{660,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huodongtipsfengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,2}</string>
                <key>spriteSourceSize</key>
                <string>{21,2}</string>
                <key>textureRect</key>
                <string>{{868,1},{21,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huoyuedubiaoqian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{89,103}</string>
                <key>spriteSourceSize</key>
                <string>{91,107}</string>
                <key>textureRect</key>
                <string>{{771,174},{89,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_huoyuedubiaoqian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{256,36}</string>
                <key>spriteSourceSize</key>
                <string>{266,48}</string>
                <key>textureRect</key>
                <string>{{771,1697},{256,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huoyuedujindudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{438,36}</string>
                <key>spriteSourceSize</key>
                <string>{444,38}</string>
                <key>textureRect</key>
                <string>{{835,1217},{438,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huoyuedujindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,27}</string>
                <key>spriteSourceSize</key>
                <string>{86,31}</string>
                <key>textureRect</key>
                <string>{{771,419},{80,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jingqiangqidaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{222,46}</string>
                <key>spriteSourceSize</key>
                <string>{228,50}</string>
                <key>textureRect</key>
                <string>{{521,1295},{222,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jingxingzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{771,448},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_renwuxindi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{768,1292}</string>
                <key>spriteSourceSize</key>
                <string>{768,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,1292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shijiankaishidi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{262,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,60}</string>
                <key>textureRect</key>
                <string>{{771,1219},{262,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shijiankaishidi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{262,52}</string>
                <key>spriteSourceSize</key>
                <string>{268,60}</string>
                <key>textureRect</key>
                <string>{{717,1446},{262,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xiaosanjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{847,522},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhenyingzhujiemiantips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,142}</string>
                <key>textureRect</key>
                <string>{{660,1775},{108,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhixianjuqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{194,41}</string>
                <key>spriteSourceSize</key>
                <string>{206,43}</string>
                <key>textureRect</key>
                <string>{{521,1391},{194,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhixianjuqing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{194,41}</string>
                <key>spriteSourceSize</key>
                <string>{206,43}</string>
                <key>textureRect</key>
                <string>{{521,1434},{194,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuxianjuqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{194,41}</string>
                <key>spriteSourceSize</key>
                <string>{206,43}</string>
                <key>textureRect</key>
                <string>{{521,1477},{194,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuxianjuqing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{194,41}</string>
                <key>spriteSourceSize</key>
                <string>{206,43}</string>
                <key>textureRect</key>
                <string>{{521,1520},{194,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fenyeanniuxuzh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,70}</string>
                <key>spriteSourceSize</key>
                <string>{216,70}</string>
                <key>textureRect</key>
                <string>{{771,846},{216,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_putongfenyeannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,74}</string>
                <key>spriteSourceSize</key>
                <string>{219,74}</string>
                <key>textureRect</key>
                <string>{{771,522},{219,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_sanjiejingshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{119,95}</string>
                <key>spriteSourceSize</key>
                <string>{145,107}</string>
                <key>textureRect</key>
                <string>{{771,1},{119,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongwuniudan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{139,31}</string>
                <key>spriteSourceSize</key>
                <string>{141,35}</string>
                <key>textureRect</key>
                <string>{{841,1810},{139,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongwuniudan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{139,31}</string>
                <key>spriteSourceSize</key>
                <string>{141,35}</string>
                <key>textureRect</key>
                <string>{{684,1563},{139,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dalao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,31}</string>
                <key>textureRect</key>
                <string>{{771,1064},{64,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_foxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,31}</string>
                <key>textureRect</key>
                <string>{{771,1188},{62,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_gandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,31}</string>
                <key>textureRect</key>
                <string>{{771,1095},{64,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jingguangtad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,30}</string>
                <key>spriteSourceSize</key>
                <string>{103,32}</string>
                <key>textureRect</key>
                <string>{{662,1743},{103,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jingqinqidai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,30}</string>
                <key>spriteSourceSize</key>
                <string>{144,32}</string>
                <key>textureRect</key>
                <string>{{809,1810},{140,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jinguangtadef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{105,31}</string>
                <key>spriteSourceSize</key>
                <string>{109,33}</string>
                <key>textureRect</key>
                <string>{{662,1710},{105,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_juqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{771,345},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_juqing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{105,50}</string>
                <key>spriteSourceSize</key>
                <string>{109,52}</string>
                <key>textureRect</key>
                <string>{{771,1483},{105,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kenenghuodejiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{149,22}</string>
                <key>spriteSourceSize</key>
                <string>{155,24}</string>
                <key>textureRect</key>
                <string>{{745,1295},{149,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuaibizhuanpan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{139,31}</string>
                <key>spriteSourceSize</key>
                <string>{151,37}</string>
                <key>textureRect</key>
                <string>{{521,1703},{139,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kuaibizhuanpan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{139,31}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{521,1736},{139,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_menpairenwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,31}</string>
                <key>spriteSourceSize</key>
                <string>{151,37}</string>
                <key>textureRect</key>
                <string>{{521,1769},{137,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_menpairenwus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,31}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{521,1802},{137,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qiangzhanyaoqianshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{161,33}</string>
                <key>spriteSourceSize</key>
                <string>{165,35}</string>
                <key>textureRect</key>
                <string>{{521,1563},{161,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qiangzhanyaoqianshu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{161,33}</string>
                <key>spriteSourceSize</key>
                <string>{165,35}</string>
                <key>textureRect</key>
                <string>{{521,1598},{161,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_richang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,37}</string>
                <key>textureRect</key>
                <string>{{771,809},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_richang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{109,52}</string>
                <key>textureRect</key>
                <string>{{771,122},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shehui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,31}</string>
                <key>textureRect</key>
                <string>{{771,1126},{64,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_waizhuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{87,31}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{771,279},{87,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_waizhuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{87,31}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{771,312},{87,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xianshi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{771,382},{82,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xianshi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{105,50}</string>
                <key>spriteSourceSize</key>
                <string>{109,52}</string>
                <key>textureRect</key>
                <string>{{771,1590},{105,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yangsheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,29}</string>
                <key>spriteSourceSize</key>
                <string>{64,31}</string>
                <key>textureRect</key>
                <string>{{771,1157},{64,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yaoqingfenxiang23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,33}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{521,1633},{139,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yaoqingfenxiangge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,33}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{521,1668},{139,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yibenwanli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,31}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{521,1835},{137,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yibenwanlidde.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,31}</string>
                <key>spriteSourceSize</key>
                <string>{139,33}</string>
                <key>textureRect</key>
                <string>{{521,1868},{137,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_biaoqianyiwancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,44}</string>
                <key>spriteSourceSize</key>
                <string>{163,50}</string>
                <key>textureRect</key>
                <string>{{823,1657},{151,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_renwujiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{771,743},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiaogougoug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,37}</string>
                <key>textureRect</key>
                <string>{{521,1905},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>activityManag.png</string>
            <key>size</key>
            <string>{873,1956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02baf7610309253c118a76e9f439182c:129d10c308e2e62ebe4267de0b9d35ff:f6a95ebc3f2dcb1a727657136007d479$</string>
            <key>textureFileName</key>
            <string>activityManag.png</string>
        </dict>
    </dict>
</plist>
