<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{73,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{328,92},{73,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{79,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{295,167},{79,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-20,18}</string>
                <key>spriteSize</key>
                <string>{97,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,146},{97,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-25,19}</string>
                <key>spriteSize</key>
                <string>{109,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{114,1},{109,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-26,20}</string>
                <key>spriteSize</key>
                <string>{111,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-13,19}</string>
                <key>spriteSize</key>
                <string>{83,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{477,1},{83,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-8,17}</string>
                <key>spriteSize</key>
                <string>{73,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{477,86},{73,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-22,15}</string>
                <key>spriteSize</key>
                <string>{101,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{225,1},{101,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-25,14}</string>
                <key>spriteSize</key>
                <string>{109,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,146},{109,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{89,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{328,1},{89,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.494118,0.231373}</string>
                <key>spriteOffset</key>
                <string>{-8,13}</string>
                <key>spriteSize</key>
                <string>{73,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{442,167},{73,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100007_stand_r.png</string>
            <key>size</key>
            <string>{619,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06557b6eb21487f129d767bd64d45d4e:e0325e55da3d0ce3dbba5819342ec87b:2f4cee78c8c2c14edce918b8aa33346a$</string>
            <key>textureFileName</key>
            <string>4100007_stand_r.png</string>
        </dict>
    </dict>
</plist>
