<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-27}</string>
                <key>spriteSize</key>
                <string>{123,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{154,1},{123,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-26}</string>
                <key>spriteSize</key>
                <string>{121,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{154,128},{121,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-26}</string>
                <key>spriteSize</key>
                <string>{127,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{301,269},{127,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-25}</string>
                <key>spriteSize</key>
                <string>{133,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{152,253},{133,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-22}</string>
                <key>spriteSize</key>
                <string>{137,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{307,128},{137,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-19}</string>
                <key>spriteSize</key>
                <string>{135,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-18}</string>
                <key>spriteSize</key>
                <string>{123,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{307,1},{123,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-15}</string>
                <key>spriteSize</key>
                <string>{113,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,394},{113,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-16}</string>
                <key>spriteSize</key>
                <string>{109,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,650},{109,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-13}</string>
                <key>spriteSize</key>
                <string>{109,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{291,650},{109,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-11}</string>
                <key>spriteSize</key>
                <string>{111,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{293,531},{111,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-11}</string>
                <key>spriteSize</key>
                <string>{113,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,646},{113,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-12}</string>
                <key>spriteSize</key>
                <string>{125,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,390},{125,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-13}</string>
                <key>spriteSize</key>
                <string>{127,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,519},{127,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{131,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,511},{131,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-20}</string>
                <key>spriteSize</key>
                <string>{127,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{299,400},{127,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-23}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,261},{129,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-26}</string>
                <key>spriteSize</key>
                <string>{117,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,140},{117,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100007_attack_ru.png</string>
            <key>size</key>
            <string>{457,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f3e5851981c19b1d54320e0caa9383:6d8fd1e0af73ca9339d82d7ed7d15054:0ea400298368dfbfd9c69880b331a9d6$</string>
            <key>textureFileName</key>
            <string>4100007_attack_ru.png</string>
        </dict>
    </dict>
</plist>
