<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,9}</string>
                <key>spriteSize</key>
                <string>{123,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{716,1},{123,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{109,127}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1679,1},{109,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{149,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{301,1},{149,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-4}</string>
                <key>spriteSize</key>
                <string>{157,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,2}</string>
                <key>spriteSize</key>
                <string>{149,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{152,1},{149,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{141,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1389,1},{141,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,6}</string>
                <key>spriteSize</key>
                <string>{141,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1534,1},{141,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{970,1},{139,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{133,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{444,1},{133,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,14}</string>
                <key>spriteSize</key>
                <string>{133,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1252,1},{133,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,14}</string>
                <key>spriteSize</key>
                <string>{135,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1113,1},{135,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,13}</string>
                <key>spriteSize</key>
                <string>{131,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{581,1},{131,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,9}</string>
                <key>spriteSize</key>
                <string>{123,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{843,1},{123,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100007_hit_ru.png</string>
            <key>size</key>
            <string>{1789,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df6e050fdb3ddefc15c8fb80695aa442:2ba4d06c57309ff01b6205da232d3fb9:e6ef1662f63a59dcaf9a9c31729bd2a3$</string>
            <key>textureFileName</key>
            <string>4100007_hit_ru.png</string>
        </dict>
    </dict>
</plist>
