<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>佛像.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,372}</string>
                <key>spriteSourceSize</key>
                <string>{320,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200026_stand_d.png</string>
            <key>size</key>
            <string>{322,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cba17e28f605e21465f2c581da20afc1:926598e3ea04260842992033aa45c0de:58f5fe39272d87e1590081d8624197f2$</string>
            <key>textureFileName</key>
            <string>4200026_stand_d.png</string>
        </dict>
    </dict>
</plist>
