<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{121,201}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{751,1},{121,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-18,-17}</string>
                <key>spriteSize</key>
                <string>{121,203}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{374,1},{121,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-16,-18}</string>
                <key>spriteSize</key>
                <string>{121,205}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{251,1},{121,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-14,-18}</string>
                <key>spriteSize</key>
                <string>{123,205}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-12,-17}</string>
                <key>spriteSize</key>
                <string>{123,205}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{126,1},{123,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-14,-16}</string>
                <key>spriteSize</key>
                <string>{125,201}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{497,1},{125,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-16,-14}</string>
                <key>spriteSize</key>
                <string>{125,201}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{624,1},{125,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{123,199}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{997,1},{123,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-18,-13}</string>
                <key>spriteSize</key>
                <string>{119,197}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1243,1},{119,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{119,199}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1122,1},{119,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521569,0.137255}</string>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{121,201}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{874,1},{121,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100010_stand_rd.png</string>
            <key>size</key>
            <string>{1363,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af26ef770be61d540356b117d4483d58:7f73d97b4335f08adcd50668d4d0af98:df20a5fa8293a51a26600819832a2da0$</string>
            <key>textureFileName</key>
            <string>4100010_stand_rd.png</string>
        </dict>
    </dict>
</plist>
