<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{147,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{142,1},{147,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{147,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{293,1},{147,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{147,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{444,1},{147,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{143,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{897,1},{143,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{137,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1191,1},{137,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{135,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1473,1},{135,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{135,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1612,1},{135,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{135,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1751,1},{135,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{137,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1332,1},{137,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{137,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-9}</string>
                <key>spriteSize</key>
                <string>{143,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1044,1},{143,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{147,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{595,1},{147,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{147,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{746,1},{147,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100010_idle_ru.png</string>
            <key>size</key>
            <string>{1887,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cca27e5fd0c127ce72f1f07b254cd2c:1727d06192aa58d31c3e125558d0df49:549a55b54cdc7ef84be19a7d77e6955c$</string>
            <key>textureFileName</key>
            <string>4100010_idle_ru.png</string>
        </dict>
    </dict>
</plist>
