<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_ES_atk_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-21}</string>
                <key>spriteSize</key>
                <string>{140,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{199,127},{140,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-19}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{715,295},{164,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-20}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{719,137},{154,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-18}</string>
                <key>spriteSize</key>
                <string>{132,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{779,1},{132,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-3}</string>
                <key>spriteSize</key>
                <string>{122,196}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{173,1},{122,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-30}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{351,277},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-34}</string>
                <key>spriteSize</key>
                <string>{196,164}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{515,289},{196,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_ES_atk_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-29}</string>
                <key>spriteSize</key>
                <string>{116,168}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{132,226}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{549,1},{132,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{138,194}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,127},{138,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-23}</string>
                <key>spriteSize</key>
                <string>{148,168}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{547,137},{148,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-20}</string>
                <key>spriteSize</key>
                <string>{128,172}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{373,1},{128,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-20}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{175,271},{158,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-21}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,269},{154,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_ES_atk_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-21}</string>
                <key>spriteSize</key>
                <string>{140,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{373,133},{140,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100010_attack_ld.png</string>
            <key>size</key>
            <string>{950,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13984a700b7efd9a3ad3b81edbc2c6d0:3d75fe6b744e5fd1cdd2ff5a7464d4cd:2fadeb3b88916e08c4210bdeb0738230$</string>
            <key>textureFileName</key>
            <string>4100010_attack_ld.png</string>
        </dict>
    </dict>
</plist>
