<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_ES00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{280,240}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,1125},{280,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{282,224}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{563,441},{282,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{282,212}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{277,217},{282,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,3}</string>
                <key>spriteSize</key>
                <string>{292,224}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{293,673},{292,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,3}</string>
                <key>spriteSize</key>
                <string>{298,224}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{305,899},{298,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{302,220}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,899},{302,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{290,224}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,673},{290,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{284,222}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{277,441},{284,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{274,216}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,217},{274,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{272,214}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{549,1},{272,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{272,208}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{272,212}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{275,1},{272,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{272,222}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{561,217},{272,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{274,230}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,441},{274,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{278,242}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{283,1125},{278,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_ES00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{280,242}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{563,1125},{280,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100012_hit_ld.png</string>
            <key>size</key>
            <string>{846,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae3a1b519da40b61e9e53e5256d71878:05925e6678b8df9973d8d998fb501095:2d356299080a6dadc8e17cb66c9e2224$</string>
            <key>textureFileName</key>
            <string>4100012_hit_ld.png</string>
        </dict>
    </dict>
</plist>
