<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,10}</string>
                <key>spriteSize</key>
                <string>{288,250}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{581,721},{288,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,11}</string>
                <key>spriteSize</key>
                <string>{294,250}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{285,721},{294,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,11}</string>
                <key>spriteSize</key>
                <string>{282,248}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{1,721},{282,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,25}</string>
                <key>spriteSize</key>
                <string>{280,222}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,27}</string>
                <key>spriteSize</key>
                <string>{268,226}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{283,1},{268,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,25}</string>
                <key>spriteSize</key>
                <string>{260,236}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{321,231},{260,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,25}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{553,1},{268,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,25}</string>
                <key>spriteSize</key>
                <string>{318,228}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{1,231},{318,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,10}</string>
                <key>spriteSize</key>
                <string>{312,246}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{311,471},{312,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{308,240}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{1,471},{308,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,252}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{1,973},{322,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{328,260}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{619,1233},{328,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{318,248}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{625,471},{318,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{308,258}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{309,1233},{308,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{306,258}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{1,1233},{306,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{310,258}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{641,973},{310,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{314,252}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{325,973},{314,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{310,238}</string>
                <key>spriteSourceSize</key>
                <string>{340,286}</string>
                <key>textureRect</key>
                <string>{{583,231},{310,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100012_die_ld.png</string>
            <key>size</key>
            <string>{952,1494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abb43bafa5cca5c564c6ddf9b6d401b2:fb9d273fb3d9ada21deb7292b95b0e49:334d5dce810f8dca317d60da2892b434$</string>
            <key>textureFileName</key>
            <string>4100012_die_ld.png</string>
        </dict>
    </dict>
</plist>
