<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,43}</string>
                <key>spriteSize</key>
                <string>{301,248}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{609,1},{301,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,41}</string>
                <key>spriteSize</key>
                <string>{305,252}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{912,1},{305,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,36}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1,259},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,34}</string>
                <key>spriteSize</key>
                <string>{299,266}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{304,259},{299,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,31}</string>
                <key>spriteSize</key>
                <string>{305,274}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{908,259},{305,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,27}</string>
                <key>spriteSize</key>
                <string>{305,278}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1215,259},{305,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,23}</string>
                <key>spriteSize</key>
                <string>{301,274}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{605,259},{301,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,36}</string>
                <key>spriteSize</key>
                <string>{301,238}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{301,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,43}</string>
                <key>spriteSize</key>
                <string>{303,246}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{304,1},{303,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,47}</string>
                <key>spriteSize</key>
                <string>{303,254}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1219,1},{303,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,48}</string>
                <key>spriteSize</key>
                <string>{303,256}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1524,1},{303,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{351,304}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{388,549},{351,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,18}</string>
                <key>spriteSize</key>
                <string>{355,318}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1120,549},{355,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,11}</string>
                <key>spriteSize</key>
                <string>{373,330}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1,871},{373,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{391,344}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{376,871},{391,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{391,320}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1477,549},{391,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{391,346}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1551,871},{391,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{389,344}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1160,871},{389,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{389,344}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{769,871},{389,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{377,310}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{741,549},{377,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{385,292}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1,549},{385,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{387,288}</string>
                <key>spriteSourceSize</key>
                <string>{391,360}</string>
                <key>textureRect</key>
                <string>{{1522,259},{387,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100012_magic_ld.png</string>
            <key>size</key>
            <string>{1943,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e598f72346251a4b0e7cf1ede7283767:31394c122d76cc28a22fd352cccdb7d7:0d6b8c046e48164b6a2c702c4cf2024e$</string>
            <key>textureFileName</key>
            <string>4100012_magic_ld.png</string>
        </dict>
    </dict>
</plist>
