<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,28}</string>
                <key>spriteSize</key>
                <string>{286,189}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,29}</string>
                <key>spriteSize</key>
                <string>{280,191}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{851,1},{280,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,26}</string>
                <key>spriteSize</key>
                <string>{284,189}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{289,1},{284,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,26}</string>
                <key>spriteSize</key>
                <string>{274,191}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{575,1},{274,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,26}</string>
                <key>spriteSize</key>
                <string>{260,193}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1133,1},{260,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,27}</string>
                <key>spriteSize</key>
                <string>{260,193}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1395,1},{260,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,33}</string>
                <key>spriteSize</key>
                <string>{270,195}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1657,1},{270,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,49}</string>
                <key>spriteSize</key>
                <string>{262,227}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1,198},{262,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,56}</string>
                <key>spriteSize</key>
                <string>{262,241}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{265,198},{262,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,58}</string>
                <key>spriteSize</key>
                <string>{272,245}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{529,198},{272,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{340,325}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1113,507},{340,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{344,317}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{361,507},{344,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7}</string>
                <key>spriteSize</key>
                <string>{388,325}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1,834},{388,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{404,341}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{391,834},{404,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{410,353}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1197,834},{410,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,11}</string>
                <key>spriteSize</key>
                <string>{404,323}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{707,507},{404,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,3}</string>
                <key>spriteSize</key>
                <string>{398,351}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{797,834},{398,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{396,367}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1609,834},{396,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{388,325}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1455,507},{388,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{370,303}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1149,198},{370,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{344,303}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{803,198},{344,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{352,307}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1521,198},{352,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{358,311}</string>
                <key>spriteSourceSize</key>
                <string>{434,369}</string>
                <key>textureRect</key>
                <string>{{1,507},{358,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100012_magic_ru.png</string>
            <key>size</key>
            <string>{2006,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c9462e76a72372b583bd1fe6f89836:b98cb9573820091f922e897e5a9e33f6:bb4e2902aadf497f97a0969d750d534f$</string>
            <key>textureFileName</key>
            <string>4100012_magic_ru.png</string>
        </dict>
    </dict>
</plist>
