<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-9}</string>
                <key>spriteSize</key>
                <string>{203,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{260,1},{203,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{255,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{251,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,185},{251,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{251,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,90},{251,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{239,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,365},{239,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{227,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{238,673},{227,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{219,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{246,305},{219,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{229,107}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{236,770},{229,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{203,127}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{256,174},{203,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-38}</string>
                <key>spriteSize</key>
                <string>{227,103}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{238,566},{227,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-39}</string>
                <key>spriteSize</key>
                <string>{229,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{236,881},{229,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-51}</string>
                <key>spriteSize</key>
                <string>{221,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{244,402},{221,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-46}</string>
                <key>spriteSize</key>
                <string>{229,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{236,1057},{229,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-48}</string>
                <key>spriteSize</key>
                <string>{227,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1112},{227,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-55}</string>
                <key>spriteSize</key>
                <string>{219,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{228,1209},{219,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-54}</string>
                <key>spriteSize</key>
                <string>{233,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,689},{233,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-53}</string>
                <key>spriteSize</key>
                <string>{241,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,268},{241,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-50}</string>
                <key>spriteSize</key>
                <string>{225,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{240,479},{225,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-56}</string>
                <key>spriteSize</key>
                <string>{225,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{232,1126},{225,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-52}</string>
                <key>spriteSize</key>
                <string>{233,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,519},{233,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-50}</string>
                <key>spriteSize</key>
                <string>{231,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,857},{231,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-49}</string>
                <key>spriteSize</key>
                <string>{231,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1031},{231,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-46}</string>
                <key>spriteSize</key>
                <string>{231,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,946},{231,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-51}</string>
                <key>spriteSize</key>
                <string>{235,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,438},{235,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-51}</string>
                <key>spriteSize</key>
                <string>{229,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{236,970},{229,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-53}</string>
                <key>spriteSize</key>
                <string>{223,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1195},{223,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{233,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,606},{233,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-52}</string>
                <key>spriteSize</key>
                <string>{231,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,764},{231,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303004_die_ru.png</string>
            <key>size</key>
            <string>{466,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb86cc277a11cff7e00e37395a96b47:6ec305c7e959bd59464660816abb61da:0e022c866dd8597060bbd08d6ab56e45$</string>
            <key>textureFileName</key>
            <string>4303004_die_ru.png</string>
        </dict>
    </dict>
</plist>
