<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,7}</string>
                <key>spriteSize</key>
                <string>{179,119}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1662,190},{179,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{179,111}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1785,188},{179,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{179,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1890,1},{179,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{183,121}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1765,1},{183,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{177,107}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1900,184},{177,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{185,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1644,1},{185,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{225,115}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1525,1},{225,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{227,121}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1277,1},{227,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,12}</string>
                <key>spriteSize</key>
                <string>{225,119}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1402,1},{225,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{223,123}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1435,230},{223,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,10}</string>
                <key>spriteSize</key>
                <string>{227,139}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1134,1},{227,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,3}</string>
                <key>spriteSize</key>
                <string>{225,137}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1206,232},{225,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,11}</string>
                <key>spriteSize</key>
                <string>{237,105}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{759,1},{237,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{237,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{638,1},{237,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,11}</string>
                <key>spriteSize</key>
                <string>{251,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{245,115}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,256},{245,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,6}</string>
                <key>spriteSize</key>
                <string>{235,127}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{967,240},{235,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{241,139}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{122,1},{241,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,9}</string>
                <key>spriteSize</key>
                <string>{241,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{392,1},{241,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,11}</string>
                <key>spriteSize</key>
                <string>{237,121}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{513,1},{237,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,10}</string>
                <key>spriteSize</key>
                <string>{241,123}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{265,1},{241,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{233,115}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1015,1},{233,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,13}</string>
                <key>spriteSize</key>
                <string>{235,123}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{493,246},{235,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{239,125}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{250,246},{239,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7}</string>
                <key>spriteSize</key>
                <string>{231,129}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{732,242},{231,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,4}</string>
                <key>spriteSize</key>
                <string>{235,143}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{868,1},{235,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303004_idle_ld.png</string>
            <key>size</key>
            <string>{2008,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2eb809781ea9eb737ddbc2d12746d29:bbf2b79624afb60002b28f3c56f8280b:5e5a6d387f155d78022d5a97525d0448$</string>
            <key>textureFileName</key>
            <string>4303004_idle_ld.png</string>
        </dict>
    </dict>
</plist>
