<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,22}</string>
                <key>spriteSize</key>
                <string>{179,77}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,967},{179,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{253,71}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{249,75}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{258,72},{249,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{239,91}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{246,305},{239,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{241,93}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,226},{241,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,4}</string>
                <key>spriteSize</key>
                <string>{247,77}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,76},{247,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,2}</string>
                <key>spriteSize</key>
                <string>{251,67}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{258,1},{251,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-3}</string>
                <key>spriteSize</key>
                <string>{237,79}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{244,400},{237,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,2}</string>
                <key>spriteSize</key>
                <string>{225,71}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,574},{225,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-12}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,495},{233,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{235,85}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,406},{235,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-37}</string>
                <key>spriteSize</key>
                <string>{219,89}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{226,649},{219,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-33}</string>
                <key>spriteSize</key>
                <string>{209,81}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,882},{209,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-40}</string>
                <key>spriteSize</key>
                <string>{213,75}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{224,742},{213,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-40}</string>
                <key>spriteSize</key>
                <string>{221,77}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,649},{221,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-44}</string>
                <key>spriteSize</key>
                <string>{181,75}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{214,965},{181,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-41}</string>
                <key>spriteSize</key>
                <string>{207,59}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{449,649},{207,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-43}</string>
                <key>spriteSize</key>
                <string>{227,75}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{238,570},{227,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-37}</string>
                <key>spriteSize</key>
                <string>{213,71}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,807},{213,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-35}</string>
                <key>spriteSize</key>
                <string>{205,73}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{214,888},{205,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-38}</string>
                <key>spriteSize</key>
                <string>{201,75}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{435,860},{201,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-38}</string>
                <key>spriteSize</key>
                <string>{213,63}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{218,821},{213,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-35}</string>
                <key>spriteSize</key>
                <string>{247,73}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{252,151},{247,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-37}</string>
                <key>spriteSize</key>
                <string>{235,83}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{240,483},{235,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-42}</string>
                <key>spriteSize</key>
                <string>{239,79}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,323},{239,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{219,73}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,730},{219,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-39}</string>
                <key>spriteSize</key>
                <string>{243,65}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,157},{243,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-33}</string>
                <key>spriteSize</key>
                <string>{241,73}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{246,228},{241,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303004_die_ld.png</string>
            <key>size</key>
            <string>{511,1062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a1b1ec7c3f01d67e5426414145e9483:908aa8e2e86df143adc0c0660a520be4:07eacb82ab858dde45a74191b7b8a68f$</string>
            <key>textureFileName</key>
            <string>4303004_die_ld.png</string>
        </dict>
    </dict>
</plist>
