<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-39}</string>
                <key>spriteSize</key>
                <string>{189,151}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{812,194},{189,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-42}</string>
                <key>spriteSize</key>
                <string>{189,171}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{717,1},{189,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-44}</string>
                <key>spriteSize</key>
                <string>{165,193}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{643,200},{165,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-45}</string>
                <key>spriteSize</key>
                <string>{187,185}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{892,1},{187,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-32}</string>
                <key>spriteSize</key>
                <string>{231,85}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{266,248},{231,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-22}</string>
                <key>spriteSize</key>
                <string>{177,71}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1081,1},{177,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{81,127}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{643,397},{81,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,28}</string>
                <key>spriteSize</key>
                <string>{139,151}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1138,253},{139,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,56}</string>
                <key>spriteSize</key>
                <string>{197,179}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{460,238},{197,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,61}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{967,192},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,67}</string>
                <key>spriteSize</key>
                <string>{45,177}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1156,1},{45,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,44}</string>
                <key>spriteSize</key>
                <string>{101,229}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{355,248},{101,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,17}</string>
                <key>spriteSize</key>
                <string>{73,157}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{843,387},{73,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-7}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1067,375},{61,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-7}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1269,396},{51,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-8}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1210,396},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-5}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{774,397},{75,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-7}</string>
                <key>spriteSize</key>
                <string>{65,59}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1004,375},{65,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,1}</string>
                <key>spriteSize</key>
                <string>{203,63}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{199,254},{203,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,41}</string>
                <key>spriteSize</key>
                <string>{167,69}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1156,113},{167,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,44}</string>
                <key>spriteSize</key>
                <string>{155,63}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1138,186},{155,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,35}</string>
                <key>spriteSize</key>
                <string>{169,59}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1156,50},{169,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,44}</string>
                <key>spriteSize</key>
                <string>{139,51}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1067,428},{139,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,43}</string>
                <key>spriteSize</key>
                <string>{127,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{460,439},{127,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,27}</string>
                <key>spriteSize</key>
                <string>{97,243}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{265,1},{97,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,31}</string>
                <key>spriteSize</key>
                <string>{63,249}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{141,1},{63,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,33}</string>
                <key>spriteSize</key>
                <string>{69,257}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{68,1},{69,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,26}</string>
                <key>spriteSize</key>
                <string>{63,259}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{65,241}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{366,1},{65,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{83,209}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{112,262},{83,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-26}</string>
                <key>spriteSize</key>
                <string>{215,107}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,264},{215,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-34}</string>
                <key>spriteSize</key>
                <string>{249,53}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{208,1},{249,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-44}</string>
                <key>spriteSize</key>
                <string>{233,111}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{435,1},{233,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-43}</string>
                <key>spriteSize</key>
                <string>{195,163}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{550,1},{195,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303004_attack_ru.png</string>
            <key>size</key>
            <string>{1334,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:761a6eb1a93cec6d987a808d71eb61ec:f6a0b105e610f5a21298462ae34c4f73:a55568ffa854a26690965d1ede4b0764$</string>
            <key>textureFileName</key>
            <string>4303004_attack_ru.png</string>
        </dict>
    </dict>
</plist>
