<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_ES_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,12}</string>
                <key>spriteSize</key>
                <string>{189,71}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{770,198},{189,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,11}</string>
                <key>spriteSize</key>
                <string>{195,93}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{511,202},{195,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,7}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{845,209},{165,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,7}</string>
                <key>spriteSize</key>
                <string>{183,123}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{917,378},{183,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,8}</string>
                <key>spriteSize</key>
                <string>{215,113}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{137,234},{215,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{145,107}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{768,395},{145,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,10}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{447,415},{77,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{143,37}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{966,168},{143,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,34}</string>
                <key>spriteSize</key>
                <string>{193,163}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{624,1},{193,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,46}</string>
                <key>spriteSize</key>
                <string>{171,187}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{791,1},{171,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,22}</string>
                <key>spriteSize</key>
                <string>{63,249}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,17}</string>
                <key>spriteSize</key>
                <string>{99,215}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{141,1},{99,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-15}</string>
                <key>spriteSize</key>
                <string>{79,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{412,421},{79,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-25}</string>
                <key>spriteSize</key>
                <string>{59,145}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{966,1},{59,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-24}</string>
                <key>spriteSize</key>
                <string>{45,143}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{966,119},{45,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-28}</string>
                <key>spriteSize</key>
                <string>{51,143}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{966,64},{51,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-24}</string>
                <key>spriteSize</key>
                <string>{55,129}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{970,274},{55,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-25}</string>
                <key>spriteSize</key>
                <string>{49,135}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{68,455},{49,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{205,85}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{327,212},{205,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-41}</string>
                <key>spriteSize</key>
                <string>{201,91}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{416,210},{201,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-35}</string>
                <key>spriteSize</key>
                <string>{207,93}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{244,1},{207,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-35}</string>
                <key>spriteSize</key>
                <string>{205,85}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{341,1},{205,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-39}</string>
                <key>spriteSize</key>
                <string>{195,93}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{527,1},{195,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-36}</string>
                <key>spriteSize</key>
                <string>{195,91}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{608,200},{195,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-4}</string>
                <key>spriteSize</key>
                <string>{99,175}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{522,401},{99,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{69,207}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{254,212},{69,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,10}</string>
                <key>spriteSize</key>
                <string>{65,217}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{68,234},{65,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{63,193}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{703,198},{63,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{61,129}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{970,209},{61,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,16}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{701,399},{63,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,11}</string>
                <key>spriteSize</key>
                <string>{201,51}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{207,453},{201,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,10}</string>
                <key>spriteSize</key>
                <string>{237,63}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,254},{237,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,7}</string>
                <key>spriteSize</key>
                <string>{229,69}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{68,1},{229,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,12}</string>
                <key>spriteSize</key>
                <string>{197,93}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{430,1},{197,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303004_attack_ld.png</string>
            <key>size</key>
            <string>{1112,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cdc55d1956cd89092274008e6a442bf:656cc6c9fbf0b5ca71f8ffb6825a562f:234d06f6a0b055ae11225407453273bd$</string>
            <key>textureFileName</key>
            <string>4303004_attack_ld.png</string>
        </dict>
    </dict>
</plist>
