<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cangshutongyong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,345}</string>
                <key>spriteSourceSize</key>
                <string>{315,345}</string>
                <key>textureRect</key>
                <string>{{1,1},{315,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dengjikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{372,711},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dengjixiangdang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{399,617},{26,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_haoyoudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,109}</string>
                <key>spriteSourceSize</key>
                <string>{72,109}</string>
                <key>textureRect</key>
                <string>{{204,348},{72,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_haoyoudikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{324,609},{72,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_haoyoushengqingtianjiahaoyoudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{36,480},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_haoyoushuliangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,37}</string>
                <key>textureRect</key>
                <string>{{71,701},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_liaotiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{413,309},{70,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_liaotiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{86,79}</string>
                <key>textureRect</key>
                <string>{{324,521},{86,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_liaotiankuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,79}</string>
                <key>spriteSourceSize</key>
                <string>{87,79}</string>
                <key>textureRect</key>
                <string>{{395,424},{87,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_minglieqianmao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{427,619},{26,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shijiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,25}</string>
                <key>spriteSourceSize</key>
                <string>{59,25}</string>
                <key>textureRect</key>
                <string>{{386,347},{59,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shilixiangdang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,88}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{171,689},{26,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{429,567},{50,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_touxiangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{429,513},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_tuijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,28}</string>
                <key>spriteSourceSize</key>
                <string>{518,36}</string>
                <key>textureRect</key>
                <string>{{318,1},{516,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xuanzhongtouxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,130}</string>
                <key>spriteSourceSize</key>
                <string>{201,130}</string>
                <key>textureRect</key>
                <string>{{1,348},{201,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zuihoudehau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,41}</string>
                <key>spriteSourceSize</key>
                <string>{67,41}</string>
                <key>textureRect</key>
                <string>{{413,381},{67,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_biaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{420,136},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jujue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,45}</string>
                <key>spriteSourceSize</key>
                <string>{104,49}</string>
                <key>textureRect</key>
                <string>{{348,421},{98,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_shenqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{75,104}</string>
                <key>spriteSourceSize</key>
                <string>{81,104}</string>
                <key>textureRect</key>
                <string>{{71,595},{75,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_tongyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,47}</string>
                <key>spriteSourceSize</key>
                <string>{104,49}</string>
                <key>textureRect</key>
                <string>{{228,459},{100,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_xiangqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,101}</string>
                <key>spriteSourceSize</key>
                <string>{72,101}</string>
                <key>textureRect</key>
                <string>{{171,586},{72,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_yijianjujue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{133,58}</string>
                <key>spriteSourceSize</key>
                <string>{139,62}</string>
                <key>textureRect</key>
                <string>{{420,1},{133,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_yishenqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{75,104}</string>
                <key>spriteSourceSize</key>
                <string>{81,104}</string>
                <key>textureRect</key>
                <string>{{151,480},{75,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chakanxinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,22}</string>
                <key>spriteSourceSize</key>
                <string>{102,22}</string>
                <key>textureRect</key>
                <string>{{405,513},{102,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chaozhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,23}</string>
                <key>spriteSourceSize</key>
                <string>{67,23}</string>
                <key>textureRect</key>
                <string>{{299,737},{67,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_fasong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,24}</string>
                <key>spriteSourceSize</key>
                <string>{73,24}</string>
                <key>textureRect</key>
                <string>{{299,711},{71,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_haoyoufenzu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{148,595},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_haoyoushenqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,26}</string>
                <key>spriteSourceSize</key>
                <string>{114,26}</string>
                <key>textureRect</key>
                <string>{{245,561},{114,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_haoyoushenqingd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,36}</string>
                <key>textureRect</key>
                <string>{{348,273},{146,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_hefangchensheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{270,33}</string>
                <key>spriteSourceSize</key>
                <string>{300,57}</string>
                <key>textureRect</key>
                <string>{{348,1},{270,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_huanyipi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,26}</string>
                <key>spriteSourceSize</key>
                <string>{89,32}</string>
                <key>textureRect</key>
                <string>{{299,683},{87,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jubao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,22}</string>
                <key>spriteSourceSize</key>
                <string>{63,22}</string>
                <key>textureRect</key>
                <string>{{407,725},{63,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kuaiqutianjiahaoyou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{232,35}</string>
                <key>spriteSourceSize</key>
                <string>{300,57}</string>
                <key>textureRect</key>
                <string>{{383,1},{232,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuaiquyuhaoyouliaotianba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{242,29}</string>
                <key>spriteSourceSize</key>
                <string>{300,57}</string>
                <key>textureRect</key>
                <string>{{1,738},{242,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_liaotian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,32}</string>
                <key>spriteSourceSize</key>
                <string>{87,32}</string>
                <key>textureRect</key>
                <string>{{277,474},{87,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_meiyourenhehaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{256,33}</string>
                <key>spriteSourceSize</key>
                <string>{300,57}</string>
                <key>textureRect</key>
                <string>{{1,480},{256,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shanchuhaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{104,22}</string>
                <key>textureRect</key>
                <string>{{455,619},{104,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_tianjiahaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{273,563},{111,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_tianjiahaoyou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,33}</string>
                <key>spriteSourceSize</key>
                <string>{141,33}</string>
                <key>textureRect</key>
                <string>{{36,595},{141,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wodehaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,33}</string>
                <key>spriteSourceSize</key>
                <string>{124,33}</string>
                <key>textureRect</key>
                <string>{{278,348},{124,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yijinatongyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,25}</string>
                <key>spriteSourceSize</key>
                <string>{114,31}</string>
                <key>textureRect</key>
                <string>{{386,235},{110,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zuijinliaotian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,23}</string>
                <key>spriteSourceSize</key>
                <string>{111,23}</string>
                <key>textureRect</key>
                <string>{{299,563},{111,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_chach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{420,195},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chazhaoanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{245,717},{50,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiaohongdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{118,702},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xinjiahaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{261,677},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renwukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{72,67}</string>
                <key>textureRect</key>
                <string>{{413,235},{72,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friendsPanel.png</string>
            <key>size</key>
            <string>{481,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb04bc68093df407ad19e25dfecdbc96:0dfde984ec739d13b6e5ed2aeb89e3a7:0b84c0e0fc9ee9ef214dde71e4532997$</string>
            <key>textureFileName</key>
            <string>friendsPanel.png</string>
        </dict>
    </dict>
</plist>
