<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_benqixianliang10jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{74,243}</string>
                <key>spriteSourceSize</key>
                <string>{92,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{622,194}</string>
                <key>spriteSourceSize</key>
                <string>{628,206}</string>
                <key>textureRect</key>
                <string>{{77,1},{622,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_huodongshijiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{652,47}</string>
                <key>spriteSourceSize</key>
                <string>{678,53}</string>
                <key>textureRect</key>
                <string>{{1,246},{652,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_dianjiqianwang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,99}</string>
                <key>spriteSourceSize</key>
                <string>{340,99}</string>
                <key>textureRect</key>
                <string>{{1,295},{340,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{343,295},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{430,295},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{517,295},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{75,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{586,295},{75,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_you.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{663,295},{75,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{75,91}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{740,295},{75,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_er1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{1,396},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_er2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{53,396},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_san1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{105,396},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_san2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{159,396},{52,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_si1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{213,396},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_si2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{255,396},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{297,396},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_以.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{62,44}</string>
                <key>textureRect</key>
                <string>{{343,396},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fashion_show_panel.png</string>
            <key>size</key>
            <string>{816,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c44af43f5b16f8e63394111a8f8ef02:36cbfec5f6d07f85720cff27be576942:cc60f9f2885f5be5b9d9e56600f8891a$</string>
            <key>textureFileName</key>
            <string>fashion_show_panel.png</string>
        </dict>
    </dict>
</plist>
