<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_changwankuaixiyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,73}</string>
                <key>spriteSourceSize</key>
                <string>{562,73}</string>
                <key>textureRect</key>
                <string>{{1,89},{562,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,2}</string>
                <key>spriteSourceSize</key>
                <string>{216,2}</string>
                <key>textureRect</key>
                <string>{{282,216},{216,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shudefengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,78}</string>
                <key>spriteSourceSize</key>
                <string>{3,78}</string>
                <key>textureRect</key>
                <string>{{282,220},{3,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shurukuangtongyongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{77,83}</string>
                <key>textureRect</key>
                <string>{{969,81},{77,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_touming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98.5,98.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{565,89},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yonghudengludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{591,86}</string>
                <key>spriteSourceSize</key>
                <string>{637,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{591,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhanghaodengludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1054,1},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_dengludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,91}</string>
                <key>spriteSourceSize</key>
                <string>{45,91}</string>
                <key>textureRect</key>
                <string>{{537,185},{45,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_fanhuianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{1156,209},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fasongyanzhenma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,76}</string>
                <key>spriteSourceSize</key>
                <string>{169,76}</string>
                <key>textureRect</key>
                <string>{{798,81},{169,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fasongyanzhenma2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,76}</string>
                <key>spriteSourceSize</key>
                <string>{169,76}</string>
                <key>textureRect</key>
                <string>{{754,159},{169,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_yaoqingma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{187,79}</string>
                <key>spriteSourceSize</key>
                <string>{193,83}</string>
                <key>textureRect</key>
                <string>{{565,104},{187,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zhanghaoqiehuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{202,78}</string>
                <key>spriteSourceSize</key>
                <string>{204,84}</string>
                <key>textureRect</key>
                <string>{{850,1},{202,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zhuce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,91}</string>
                <key>spriteSourceSize</key>
                <string>{279,91}</string>
                <key>textureRect</key>
                <string>{{1,164},{279,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_bangdinglaozhanghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,50}</string>
                <key>spriteSourceSize</key>
                <string>{270,60}</string>
                <key>textureRect</key>
                <string>{{594,1},{254,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kuaixiyouyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{253,50}</string>
                <key>spriteSourceSize</key>
                <string>{257,54}</string>
                <key>textureRect</key>
                <string>{{282,164},{253,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wangjimima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,49}</string>
                <key>spriteSourceSize</key>
                <string>{202,53}</string>
                <key>textureRect</key>
                <string>{{594,53},{202,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yaoqingma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{1046,209},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zhuce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{126,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{1054,157},{126,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{798,53},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{675,185},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_mima.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{754,104},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shoujihao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{282,225},{30,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{91,123}</string>
                <key>textureRect</key>
                <string>{{925,160},{89,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yonghuxiaotubiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{630,185},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kxy_login.png</string>
            <key>size</key>
            <string>{1205,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a9d7338f8390d54963d3d3873ad42a:2248afba6a3241f02e521e17a446badf:3d3feca54941edafb16055b1ddbf02c5$</string>
            <key>textureFileName</key>
            <string>kxy_login.png</string>
        </dict>
    </dict>
</plist>
