<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chuangjianjueseannniudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,142}</string>
                <key>spriteSourceSize</key>
                <string>{768,142}</string>
                <key>textureRect</key>
                <string>{{1,195},{768,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chuangjueshurumingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{308,65}</string>
                <key>spriteSourceSize</key>
                <string>{320,69}</string>
                <key>textureRect</key>
                <string>{{438,819},{308,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fuwuqidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,65}</string>
                <key>spriteSourceSize</key>
                <string>{170,65}</string>
                <key>textureRect</key>
                <string>{{768,353},{170,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gaimingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{435,63}</string>
                <key>spriteSourceSize</key>
                <string>{467,63}</string>
                <key>textureRect</key>
                <string>{{1,803},{435,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiazaitishiwenzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,48}</string>
                <key>spriteSourceSize</key>
                <string>{682,54}</string>
                <key>textureRect</key>
                <string>{{1,669},{674,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,33}</string>
                <key>spriteSourceSize</key>
                <string>{61,33}</string>
                <key>textureRect</key>
                <string>{{958,596},{61,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{677,669},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_loadingjiemian1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,120}</string>
                <key>spriteSourceSize</key>
                <string>{768,120}</string>
                <key>textureRect</key>
                <string>{{1,481},{768,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_loadingjiemian2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,192}</string>
                <key>spriteSourceSize</key>
                <string>{768,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nan1touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{219,168}</string>
                <key>spriteSourceSize</key>
                <string>{233,174}</string>
                <key>textureRect</key>
                <string>{{1,1046},{219,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nan2touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{219,168}</string>
                <key>spriteSourceSize</key>
                <string>{233,174}</string>
                <key>textureRect</key>
                <string>{{222,1046},{219,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nv1touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{219,168}</string>
                <key>spriteSourceSize</key>
                <string>{233,174}</string>
                <key>textureRect</key>
                <string>{{771,183},{219,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nv2touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{219,168}</string>
                <key>spriteSourceSize</key>
                <string>{233,174}</string>
                <key>textureRect</key>
                <string>{{443,955},{219,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quanmenpanbairu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,98}</string>
                <key>spriteSourceSize</key>
                <string>{271,98}</string>
                <key>textureRect</key>
                <string>{{455,719},{271,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quanqiutongfu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{452,82}</string>
                <key>spriteSourceSize</key>
                <string>{500,94}</string>
                <key>textureRect</key>
                <string>{{1,719},{452,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shuimodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,262}</string>
                <key>spriteSourceSize</key>
                <string>{86,262}</string>
                <key>textureRect</key>
                <string>{{443,1125},{86,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_touxiangxuanzhongkaung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{209,158}</string>
                <key>spriteSourceSize</key>
                <string>{233,174}</string>
                <key>textureRect</key>
                <string>{{664,955},{209,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_weihuzhongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,140}</string>
                <key>spriteSourceSize</key>
                <string>{765,142}</string>
                <key>textureRect</key>
                <string>{{1,339},{765,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_youxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,64}</string>
                <key>spriteSourceSize</key>
                <string>{768,64}</string>
                <key>textureRect</key>
                <string>{{1,603},{768,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chuangjianjuese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{230,180}</string>
                <key>spriteSourceSize</key>
                <string>{248,188}</string>
                <key>textureRect</key>
                <string>{{771,1},{230,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanhuianniiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{882,793},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanhuikexingqiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,97}</string>
                <key>spriteSourceSize</key>
                <string>{133,101}</string>
                <key>textureRect</key>
                <string>{{707,1115},{127,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_gonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{875,901},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_kaishiyouxi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,130}</string>
                <key>spriteSourceSize</key>
                <string>{358,140}</string>
                <key>textureRect</key>
                <string>{{1,868},{350,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_suijiannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{836,1115},{98,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_cailian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,244}</string>
                <key>spriteSourceSize</key>
                <string>{35,244}</string>
                <key>textureRect</key>
                <string>{{809,420},{35,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_cailian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,243}</string>
                <key>spriteSourceSize</key>
                <string>{35,243}</string>
                <key>textureRect</key>
                <string>{{846,420},{35,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_cailianger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{52,143}</string>
                <key>textureRect</key>
                <string>{{389,886},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chuangtianfu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,172}</string>
                <key>spriteSourceSize</key>
                <string>{34,172}</string>
                <key>textureRect</key>
                <string>{{820,666},{34,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_danjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,243}</string>
                <key>spriteSourceSize</key>
                <string>{35,243}</string>
                <key>textureRect</key>
                <string>{{883,420},{35,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_denglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,22}</string>
                <key>spriteSourceSize</key>
                <string>{67,22}</string>
                <key>textureRect</key>
                <string>{{748,813},{67,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_denglu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{126,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,56}</string>
                <key>textureRect</key>
                <string>{{882,665},{126,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_fangxinfeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,142}</string>
                <key>spriteSourceSize</key>
                <string>{52,142}</string>
                <key>textureRect</key>
                <string>{{728,669},{52,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_fuwuqiweihuzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{386,44}</string>
                <key>spriteSourceSize</key>
                <string>{414,54}</string>
                <key>textureRect</key>
                <string>{{1,1000},{386,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_huodonggengxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{353,868},{125,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jidu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,241}</string>
                <key>spriteSourceSize</key>
                <string>{35,241}</string>
                <key>textureRect</key>
                <string>{{958,353},{35,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jiuhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,316}</string>
                <key>spriteSourceSize</key>
                <string>{36,316}</string>
                <key>textureRect</key>
                <string>{{443,886},{36,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_sushoujing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,244}</string>
                <key>spriteSourceSize</key>
                <string>{36,244}</string>
                <key>textureRect</key>
                <string>{{771,420},{36,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_suxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,92}</string>
                <key>spriteSourceSize</key>
                <string>{54,92}</string>
                <key>textureRect</key>
                <string>{{875,993},{54,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_weiejie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,242}</string>
                <key>spriteSourceSize</key>
                <string>{36,242}</string>
                <key>textureRect</key>
                <string>{{920,420},{36,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_woyiyuedu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{328,29}</string>
                <key>spriteSourceSize</key>
                <string>{328,31}</string>
                <key>textureRect</key>
                <string>{{443,924},{328,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xinfugonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{938,1086},{125,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xitongyouhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,25}</string>
                <key>spriteSourceSize</key>
                <string>{125,25}</string>
                <key>textureRect</key>
                <string>{{965,1086},{125,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xuanhaung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,91}</string>
                <key>spriteSourceSize</key>
                <string>{55,91}</string>
                <key>textureRect</key>
                <string>{{931,993},{55,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xuanzefuwuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{157,36}</string>
                <key>spriteSourceSize</key>
                <string>{159,38}</string>
                <key>textureRect</key>
                <string>{{782,666},{157,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_youxigonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{127,35}</string>
                <key>spriteSourceSize</key>
                <string>{129,39}</string>
                <key>textureRect</key>
                <string>{{934,664},{127,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zhuce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,22}</string>
                <key>spriteSourceSize</key>
                <string>{69,22}</string>
                <key>textureRect</key>
                <string>{{967,901},{69,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_ziyuanjiazaizhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,24}</string>
                <key>spriteSourceSize</key>
                <string>{202,24}</string>
                <key>textureRect</key>
                <string>{{856,665},{202,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{813,900},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hongdeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{773,900},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,76}</string>
                <key>spriteSourceSize</key>
                <string>{58,76}</string>
                <key>textureRect</key>
                <string>{{772,840},{58,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1002,1215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0507f6719eca9f2afd6132c10e3be6:979b011cf08db91415163061c3d563bb:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
