<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_beibaowupindi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,103}</string>
                <key>spriteSourceSize</key>
                <string>{328,103}</string>
                <key>textureRect</key>
                <string>{{336,952},{328,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_beibaowupindixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,103}</string>
                <key>spriteSourceSize</key>
                <string>{333,103}</string>
                <key>textureRect</key>
                <string>{{1,952},{333,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_caozuozhongbiaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,68}</string>
                <key>textureRect</key>
                <string>{{687,826},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_caozuozhongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,103}</string>
                <key>spriteSourceSize</key>
                <string>{328,103}</string>
                <key>textureRect</key>
                <string>{{770,646},{328,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_dibuhuawenqianbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{767,167}</string>
                <key>spriteSourceSize</key>
                <string>{767,167}</string>
                <key>textureRect</key>
                <string>{{1,657},{767,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dingbuhuawenqianbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{768,255}</string>
                <key>spriteSourceSize</key>
                <string>{768,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_erciquerenfenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,3}</string>
                <key>spriteSourceSize</key>
                <string>{65,3}</string>
                <key>textureRect</key>
                <string>{{199,1087},{61,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lainshangzichan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{726,173}</string>
                <key>spriteSourceSize</key>
                <string>{742,183}</string>
                <key>textureRect</key>
                <string>{{1,482},{726,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lianshangzichandi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,236}</string>
                <key>spriteSourceSize</key>
                <string>{173,238}</string>
                <key>textureRect</key>
                <string>{{771,1},{167,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lianshangzichandi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,236}</string>
                <key>spriteSourceSize</key>
                <string>{173,238}</string>
                <key>textureRect</key>
                <string>{{804,239},{167,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lianshangzichandicaozuozhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,236}</string>
                <key>spriteSourceSize</key>
                <string>{173,238}</string>
                <key>textureRect</key>
                <string>{{729,477},{167,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_muguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,24}</string>
                <key>spriteSourceSize</key>
                <string>{716,24}</string>
                <key>textureRect</key>
                <string>{{1,926},{716,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qianbaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{770,976},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shuzishurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{957,1014},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wodebiebao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,222}</string>
                <key>spriteSourceSize</key>
                <string>{738,236}</string>
                <key>textureRect</key>
                <string>{{1,258},{724,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wodecaozuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,28}</string>
                <key>spriteSourceSize</key>
                <string>{169,34}</string>
                <key>textureRect</key>
                <string>{{199,1057},{161,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhishijiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{684,98}</string>
                <key>spriteSourceSize</key>
                <string>{698,102}</string>
                <key>textureRect</key>
                <string>{{1,826},{684,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zuixinnbiaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,68}</string>
                <key>textureRect</key>
                <string>{{940,149},{79,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_fenyeanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{146,59}</string>
                <key>spriteSourceSize</key>
                <string>{150,63}</string>
                <key>textureRect</key>
                <string>{{940,1},{146,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_fenyeanniuxuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{146,59}</string>
                <key>spriteSourceSize</key>
                <string>{150,63}</string>
                <key>textureRect</key>
                <string>{{875,806},{146,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_gongnenganniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,73}</string>
                <key>spriteSourceSize</key>
                <string>{158,73}</string>
                <key>textureRect</key>
                <string>{{875,646},{158,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_guanbifanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{115,73}</string>
                <key>spriteSourceSize</key>
                <string>{119,73}</string>
                <key>textureRect</key>
                <string>{{666,952},{115,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{903,1026},{50,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{957,963},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_quanbu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,41}</string>
                <key>spriteSourceSize</key>
                <string>{104,41}</string>
                <key>textureRect</key>
                <string>{{967,820},{102,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_zhucaozuoanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{727,258},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_cailiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{988,618},{66,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chongwu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{988,754},{64,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_erciqueren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,37}</string>
                <key>textureRect</key>
                <string>{{362,1057},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{122,35}</string>
                <key>spriteSourceSize</key>
                <string>{144,39}</string>
                <key>textureRect</key>
                <string>{{973,360},{122,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuaibitixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{134,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,42}</string>
                <key>textureRect</key>
                <string>{{498,1057},{134,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qianbaoshuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{134,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,40}</string>
                <key>textureRect</key>
                <string>{{950,646},{134,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qiehuanqianbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,25}</string>
                <key>spriteSourceSize</key>
                <string>{119,31}</string>
                <key>textureRect</key>
                <string>{{634,1069},{119,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_quhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{62,22}</string>
                <key>textureRect</key>
                <string>{{933,954},{62,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shouxufei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,29}</string>
                <key>spriteSourceSize</key>
                <string>{112,37}</string>
                <key>textureRect</key>
                <string>{{872,976},{100,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,27}</string>
                <key>spriteSourceSize</key>
                <string>{119,31}</string>
                <key>textureRect</key>
                <string>{{741,894},{91,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_tixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{741,987},{64,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_tixians.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,28}</string>
                <key>spriteSourceSize</key>
                <string>{76,34}</string>
                <key>textureRect</key>
                <string>{{903,954},{70,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wodekuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,28}</string>
                <key>spriteSourceSize</key>
                <string>{142,34}</string>
                <key>textureRect</key>
                <string>{{967,484},{132,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yijiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{128,35}</string>
                <key>spriteSourceSize</key>
                <string>{144,39}</string>
                <key>textureRect</key>
                <string>{{973,230},{128,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zhuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{988,686},{66,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zichanguanlimimia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,37}</string>
                <key>spriteSourceSize</key>
                <string>{196,37}</string>
                <key>textureRect</key>
                <string>{{1,1057},{196,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{76,34}</string>
                <key>textureRect</key>
                <string>{{727,445},{68,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zuizhonghuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{134,29}</string>
                <key>spriteSourceSize</key>
                <string>{136,37}</string>
                <key>textureRect</key>
                <string>{{936,806},{134,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_zhandouliqianbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{967,924},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wallet_panel.png</string>
            <key>size</key>
            <string>{1013,1095}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91e5dc1545cdbdea00904d34d9fc3290:3adb14d1c436b2475b496bf11615a402:c425c4b9126336fb297f7cbc6fabdcc0$</string>
            <key>textureFileName</key>
            <string>wallet_panel.png</string>
        </dict>
    </dict>
</plist>
