<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{178,227},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{169,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,572},{169,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{169,113}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,804},{169,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{169,113}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{174,804},{169,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{353,1},{169,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_S_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{353,174},{169,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_S_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{351,347},{169,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_S_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{351,520},{169,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{351,693},{169,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_S_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{347,866},{169,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{174,921},{169,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{169,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1038},{169,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{171,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{174,1040},{171,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{169,113}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,921},{169,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{171,113}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,687},{171,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{171,113}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,687},{171,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{173,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,227},{173,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,342},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,5}</string>
                <key>spriteSize</key>
                <string>{171,109}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{178,1},{171,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{173,109}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{171,109}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,114},{171,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{171,109}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,114},{171,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,342},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,457},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{176,457},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,572},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_stand_d.png</string>
            <key>size</key>
            <string>{469,1156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27f61e771769b7ce6d5cc32855312020:ec43124c80bf7fee1f2e804730c86fe3:91114148692faf1d75c1447ae6ea1771$</string>
            <key>textureFileName</key>
            <string>4303002_stand_d.png</string>
        </dict>
    </dict>
</plist>
