<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{53,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,258},{53,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-10}</string>
                <key>spriteSize</key>
                <string>{55,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{381,188},{55,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{55,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{440,188},{55,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{57,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,425},{57,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{57,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,431},{57,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-8}</string>
                <key>spriteSize</key>
                <string>{57,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,486},{57,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-7}</string>
                <key>spriteSize</key>
                <string>{57,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,492},{57,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-8}</string>
                <key>spriteSize</key>
                <string>{57,183}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{436,1},{57,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-7}</string>
                <key>spriteSize</key>
                <string>{57,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{379,377},{57,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-7}</string>
                <key>spriteSize</key>
                <string>{57,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{440,377},{57,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{55,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,366},{55,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-8}</string>
                <key>spriteSize</key>
                <string>{55,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,372},{55,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-8}</string>
                <key>spriteSize</key>
                <string>{53,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,309},{53,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{51,183}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{381,1},{51,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{51,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,203},{51,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{49,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,148},{49,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{47,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,99},{47,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{45,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{45,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,1},{45,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{45,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,50},{45,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{45,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,50},{45,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{45,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,99},{45,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-10}</string>
                <key>spriteSize</key>
                <string>{49,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,150},{49,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-10}</string>
                <key>spriteSize</key>
                <string>{49,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,201},{49,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{51,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,254},{51,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{53,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,315},{53,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_stand_r.png</string>
            <key>size</key>
            <string>{498,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71392c05af6cc4d0ae787dac6d91a69:2a941b8bbd259db7f2a80e366c719243:6f25c8ec5641f8d6977af5515b15b5b8$</string>
            <key>textureFileName</key>
            <string>4303002_stand_r.png</string>
        </dict>
    </dict>
</plist>
