<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_ES_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,20}</string>
                <key>spriteSize</key>
                <string>{149,65}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{182,866},{149,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{197,51}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,290},{197,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-7}</string>
                <key>spriteSize</key>
                <string>{203,57}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,178},{203,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{203,65}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,109},{203,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-4}</string>
                <key>spriteSize</key>
                <string>{207,55}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{207,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-3}</string>
                <key>spriteSize</key>
                <string>{205,45}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,60},{205,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-1}</string>
                <key>spriteSize</key>
                <string>{201,47}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,239},{201,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-2}</string>
                <key>spriteSize</key>
                <string>{197,47}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,345},{197,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-3}</string>
                <key>spriteSize</key>
                <string>{189,49}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,396},{189,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-19}</string>
                <key>spriteSize</key>
                <string>{187,47}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,504},{187,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-33}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,449},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-36}</string>
                <key>spriteSize</key>
                <string>{185,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{202,299},{185,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-32}</string>
                <key>spriteSize</key>
                <string>{185,49}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{192,488},{185,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-34}</string>
                <key>spriteSize</key>
                <string>{187,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,555},{187,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-40}</string>
                <key>spriteSize</key>
                <string>{111,35}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{212,1},{111,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-39}</string>
                <key>spriteSize</key>
                <string>{161,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,1044},{161,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-37}</string>
                <key>spriteSize</key>
                <string>{171,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,999},{171,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-37}</string>
                <key>spriteSize</key>
                <string>{179,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,776},{179,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-37}</string>
                <key>spriteSize</key>
                <string>{181,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,731},{181,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-38}</string>
                <key>spriteSize</key>
                <string>{179,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{208,116},{179,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-38}</string>
                <key>spriteSize</key>
                <string>{179,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,821},{179,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-37}</string>
                <key>spriteSize</key>
                <string>{177,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,864},{177,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-37}</string>
                <key>spriteSize</key>
                <string>{177,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,909},{177,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-37}</string>
                <key>spriteSize</key>
                <string>{175,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,954},{175,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-37}</string>
                <key>spriteSize</key>
                <string>{185,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,596},{185,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-37}</string>
                <key>spriteSize</key>
                <string>{185,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,641},{185,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-37}</string>
                <key>spriteSize</key>
                <string>{185,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{190,677},{185,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-37}</string>
                <key>spriteSize</key>
                <string>{185,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,686},{185,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_die_ld.png</string>
            <key>size</key>
            <string>{248,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b8df4019d5cd75808045b4cd038ca3:cb1b4925f1d6b718aff238260e2295f4:96ba5112b49c21b830a73f6e6c2c48d8$</string>
            <key>textureFileName</key>
            <string>4303002_die_ld.png</string>
        </dict>
    </dict>
</plist>
