<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_S_run_S_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{140,406},{129,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_S_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{133,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,142},{133,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_S_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{139,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{152,1},{139,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_S_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{147,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,191},{147,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{149,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,7}</string>
                <key>spriteSize</key>
                <string>{147,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,96},{147,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{143,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,282},{143,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{137,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,373},{137,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{131,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,462},{131,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{127,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,545},{127,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{125,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,626},{125,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{127,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,277},{127,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_S_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,537},{129,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_run_d.png</string>
            <key>size</key>
            <string>{252,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b72fd1d55ef9d91f1edd4677ad34142:0ededb6db26e9225e780bb42e8b5c652:03d83f06fe39fe1f5575fb1f18f28518$</string>
            <key>textureFileName</key>
            <string>4303002_run_d.png</string>
        </dict>
    </dict>
</plist>
