<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-9}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1210},{171,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{201,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{201,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,78},{201,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{199,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,141},{199,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{199,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{206,1},{199,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{191,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,206},{191,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{185,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,269},{185,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{177,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1123},{177,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{161,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{150,1210},{161,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-37}</string>
                <key>spriteSize</key>
                <string>{181,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,977},{181,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-45}</string>
                <key>spriteSize</key>
                <string>{179,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{188,389},{179,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-55}</string>
                <key>spriteSize</key>
                <string>{181,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,1066},{181,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-50}</string>
                <key>spriteSize</key>
                <string>{181,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{204,204},{181,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-53}</string>
                <key>spriteSize</key>
                <string>{183,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,346},{183,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,407},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,464},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,521},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{188,572},{183,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,578},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,635},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,692},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,749},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{188,759},{183,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{188,759},{183,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_WN_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,806},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,863},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{1,920},{183,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_WN_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{183,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,255}</string>
                <key>textureRect</key>
                <string>{{188,946},{183,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_die_ru.png</string>
            <key>size</key>
            <string>{250,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0deefacb1ce0d259516a93828d123cbe:c43a34088fb60e16668266c763405d3b:0f88210b27b406a50aa96146b340e43d$</string>
            <key>textureFileName</key>
            <string>4303002_die_ru.png</string>
        </dict>
    </dict>
</plist>
