<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_WS_run_WS_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{127,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{120,140},{127,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-18}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{114,558},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{107,91}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{114,653},{107,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-18}</string>
                <key>spriteSize</key>
                <string>{111,89}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,575},{111,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{111,91}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,482},{111,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-11}</string>
                <key>spriteSize</key>
                <string>{111,91}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{120,378},{111,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-7}</string>
                <key>spriteSize</key>
                <string>{109,85}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{120,471},{109,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-9}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,666},{109,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{167,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,313},{167,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WS_run_WS_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,140},{171,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WS_run_WS_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-14}</string>
                <key>spriteSize</key>
                <string>{107,83}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{164,1},{107,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WS_run_WS_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{161,137}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WS_run_WS_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{127,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{120,259},{127,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_run_rd.png</string>
            <key>size</key>
            <string>{248,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a1ea063d6fabb0a3c485baa5f7f9f9:c27e5414e2aac87d892ea51d192b2911:8a352bfd5f1b4adf509811d8dcc28c60$</string>
            <key>textureFileName</key>
            <string>4303002_run_rd.png</string>
        </dict>
    </dict>
</plist>
