<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_WN_run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{73,206}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,312},{73,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{77,204}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,462},{77,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,21}</string>
                <key>spriteSize</key>
                <string>{83,198}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,622},{83,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,22}</string>
                <key>spriteSize</key>
                <string>{87,190}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,707},{87,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,25}</string>
                <key>spriteSize</key>
                <string>{93,188}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,889},{93,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,28}</string>
                <key>spriteSize</key>
                <string>{91,190}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,796},{91,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,29}</string>
                <key>spriteSize</key>
                <string>{79,192}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,541},{79,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,25}</string>
                <key>spriteSize</key>
                <string>{69,194}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,241},{69,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,21}</string>
                <key>spriteSize</key>
                <string>{59,196}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,115},{59,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,18}</string>
                <key>spriteSize</key>
                <string>{53,198}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,22}</string>
                <key>spriteSize</key>
                <string>{57,202}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,56},{57,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{63,206}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,176},{63,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{73,206}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,387},{73,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303002_run_ru.png</string>
            <key>size</key>
            <string>{208,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65dd30d30d5aa05b95a08ca63197dc02:c157a2346963b956642e3ec184b2274f:621a0552d66e93f3682a7a7a3061ee46$</string>
            <key>textureFileName</key>
            <string>4303002_run_ru.png</string>
        </dict>
    </dict>
</plist>
