<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{129,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{964,156},{129,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-9}</string>
                <key>spriteSize</key>
                <string>{125,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,383},{125,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-9}</string>
                <key>spriteSize</key>
                <string>{111,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1058,309},{111,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-9}</string>
                <key>spriteSize</key>
                <string>{105,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1097,150},{105,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-8}</string>
                <key>spriteSize</key>
                <string>{111,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1057,1},{111,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-4}</string>
                <key>spriteSize</key>
                <string>{119,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{841,160},{119,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,5}</string>
                <key>spriteSize</key>
                <string>{121,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{551,178},{121,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,6}</string>
                <key>spriteSize</key>
                <string>{135,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{412,186},{135,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,1}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{510,363},{147,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-3}</string>
                <key>spriteSize</key>
                <string>{137,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{789,1},{137,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-5}</string>
                <key>spriteSize</key>
                <string>{123,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{930,1},{123,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-5}</string>
                <key>spriteSize</key>
                <string>{113,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{941,317},{113,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{115,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{677,347},{115,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,6}</string>
                <key>spriteSize</key>
                <string>{117,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{547,1},{117,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,5}</string>
                <key>spriteSize</key>
                <string>{117,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{668,1},{117,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,6}</string>
                <key>spriteSize</key>
                <string>{123,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{420,1},{123,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,3}</string>
                <key>spriteSize</key>
                <string>{161,167}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{676,176},{161,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{191,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-23}</string>
                <key>spriteSize</key>
                <string>{183,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,196},{183,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{181,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{273,1},{181,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{179,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,375},{179,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{181,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{279,186},{181,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{183,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{144,188},{183,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{183,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,1},{183,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{175,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{331,371},{175,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{155,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{796,347},{155,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{129,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{964,156},{129,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100005_magic_ld.png</string>
            <key>size</key>
            <string>{1203,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5703d3e836c950399068086e0fd63195:5b031a2a56d9dcb83218fa75390e19fa:1095caba3bd47ecf925433e3ee6a2e37$</string>
            <key>textureFileName</key>
            <string>4100005_magic_ld.png</string>
        </dict>
    </dict>
</plist>
