<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4489001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{132,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,39}</string>
                <key>textureRect</key>
                <string>{{289,75},{132,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4489002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{126,36}</string>
                <key>spriteSourceSize</key>
                <string>{138,38}</string>
                <key>textureRect</key>
                <string>{{289,112},{126,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_luandoushangchengdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{179,157},{71,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shangchengdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{148,34}</string>
                <key>spriteSourceSize</key>
                <string>{154,36}</string>
                <key>textureRect</key>
                <string>{{289,1},{148,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xiaohaoyongyoushuzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{146,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{289,37},{146,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xinchushougoumaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{286,154}</string>
                <key>spriteSourceSize</key>
                <string>{286,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{130,13}</string>
                <key>spriteSourceSize</key>
                <string>{134,19}</string>
                <key>textureRect</key>
                <string>{{289,150},{130,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_duihuananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,64}</string>
                <key>spriteSourceSize</key>
                <string>{178,70}</string>
                <key>textureRect</key>
                <string>{{1,157},{176,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{346,165},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{388,165},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zuida.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,39}</string>
                <key>spriteSourceSize</key>
                <string>{96,39}</string>
                <key>textureRect</key>
                <string>{{252,165},{92,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_goumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,23}</string>
                <key>spriteSourceSize</key>
                <string>{71,23}</string>
                <key>textureRect</key>
                <string>{{252,206},{71,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_shop_panel.png</string>
            <key>size</key>
            <string>{438,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7598b956072c7fe6d4e7021e6d2e44de:e2a37f46f97517f4dbf4ebed5bd56ca3:fe96ff30d2079754d967b9bc529fa9a8$</string>
            <key>textureFileName</key>
            <string>common_shop_panel.png</string>
        </dict>
    </dict>
</plist>
