<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chakanxinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{134,50}</string>
                <key>spriteSourceSize</key>
                <string>{136,54}</string>
                <key>textureRect</key>
                <string>{{126,1},{134,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_shaixuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,57}</string>
                <key>spriteSourceSize</key>
                <string>{123,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chakanxinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,22}</string>
                <key>spriteSourceSize</key>
                <string>{102,22}</string>
                <key>textureRect</key>
                <string>{{262,27},{102,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jubao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,22}</string>
                <key>spriteSourceSize</key>
                <string>{63,22}</string>
                <key>textureRect</key>
                <string>{{366,27},{63,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_tianjiahaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{111,24}</string>
                <key>textureRect</key>
                <string>{{262,1},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>view_player_box.png</string>
            <key>size</key>
            <string>{430,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739913c19b559928842d398f7f8bf088:6ee00c0ddac99004d790a8bbcd75a9b2:6117f007154940c21ee30249436b1552$</string>
            <key>textureFileName</key>
            <string>view_player_box.png</string>
        </dict>
    </dict>
</plist>
