<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{107,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{873,1},{107,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{107,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{982,1},{107,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{110,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{219,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{328,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{437,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{546,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{655,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{764,1},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.488889,0.213333}</string>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{107,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1091,1},{107,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200001_stand_d.png</string>
            <key>size</key>
            <string>{1199,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff328745c110123406fa428229e8f7a:9cf3669eef54dc119a9c1697852e34a9:fce6f84f5cdb6626612a21a791687009$</string>
            <key>textureFileName</key>
            <string>4200001_stand_d.png</string>
        </dict>
    </dict>
</plist>
