<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{115,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{68,1124},{115,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{81,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1164},{81,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-11}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{54,1045},{75,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-17}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,964},{85,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-23}</string>
                <key>spriteSize</key>
                <string>{99,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,490},{99,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-25}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,100},{105,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-26}</string>
                <key>spriteSize</key>
                <string>{105,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-25}</string>
                <key>spriteSize</key>
                <string>{101,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,197},{101,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-23}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,296},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-20}</string>
                <key>spriteSize</key>
                <string>{99,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,395},{99,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,583},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-11}</string>
                <key>spriteSize</key>
                <string>{109,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,672},{109,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-8}</string>
                <key>spriteSize</key>
                <string>{109,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,753},{109,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{107,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,826},{107,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{113,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,897},{113,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{115,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1045},{115,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{115,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{68,1124},{115,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302003_hit_ru.png</string>
            <key>size</key>
            <string>{115,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f35c86bd93647c29a3b9ccfa4e5a841a:800ad3ae7afd6a8da84d4250a7b946ff:a03ee40838b50a620fa76aea7326545d$</string>
            <key>textureFileName</key>
            <string>4302003_hit_ru.png</string>
        </dict>
    </dict>
</plist>
