<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,20}</string>
                <key>spriteSize</key>
                <string>{105,23}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{101,31}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,28},{101,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-33}</string>
                <key>spriteSize</key>
                <string>{101,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{110,1},{101,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-49}</string>
                <key>spriteSize</key>
                <string>{97,55}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{106,52},{97,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-49}</string>
                <key>spriteSize</key>
                <string>{97,43}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,63},{97,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-51}</string>
                <key>spriteSize</key>
                <string>{97,39}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,110},{97,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{102,111},{95,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,153},{95,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-62}</string>
                <key>spriteSize</key>
                <string>{47,29}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{165,213},{47,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-57}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{201,143},{61,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-60}</string>
                <key>spriteSize</key>
                <string>{59,33}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{103,291},{59,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-59}</string>
                <key>spriteSize</key>
                <string>{57,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{103,252},{57,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-59}</string>
                <key>spriteSize</key>
                <string>{59,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{199,208},{59,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-62}</string>
                <key>spriteSize</key>
                <string>{71,29}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{215,1},{71,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-59}</string>
                <key>spriteSize</key>
                <string>{63,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{207,76},{63,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-59}</string>
                <key>spriteSize</key>
                <string>{61,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{100,213},{61,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{100,162},{95,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,204},{95,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,255},{95,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{52,255},{95,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-53}</string>
                <key>spriteSize</key>
                <string>{95,47}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{140,291},{95,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302003_die_ld.png</string>
            <key>size</key>
            <string>{245,351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd70f74b74c549e52394aee2c04cbeb9:af08f47586b1f404e010d3c164d404cc:6df0fccce368241df729a5fdc04e0ab6$</string>
            <key>textureFileName</key>
            <string>4302003_die_ld.png</string>
        </dict>
    </dict>
</plist>
