<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_W_run_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-17}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,166},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{85,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{92,1},{85,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-27}</string>
                <key>spriteSize</key>
                <string>{85,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{92,38},{85,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-29}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,203},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-25}</string>
                <key>spriteSize</key>
                <string>{87,33}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{143,75},{87,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-20}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{90,166},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-19}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-22}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,38},{89,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-25}</string>
                <key>spriteSize</key>
                <string>{89,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,75},{89,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-27}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{38,75},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-23}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{73,75},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-19}</string>
                <key>spriteSize</key>
                <string>{89,33}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{108,75},{89,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-17}</string>
                <key>spriteSize</key>
                <string>{87,35}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{90,203},{87,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302003_run_r.png</string>
            <key>size</key>
            <string>{178,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e1a5b0122761105cb48690aa3c3f84:5a7e8b7f27edb80f17046eb42fcef64a:e95da8d2a3e944fb26fabade1600b138$</string>
            <key>textureFileName</key>
            <string>4302003_run_r.png</string>
        </dict>
    </dict>
</plist>
