<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_huodejinengfengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{198,4}</string>
                <key>spriteSourceSize</key>
                <string>{200,4}</string>
                <key>textureRect</key>
                <string>{{1,575},{198,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{97,103}</string>
                <key>textureRect</key>
                <string>{{390,550},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jinenghuodedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{94,113}</string>
                <key>textureRect</key>
                <string>{{395,458},{90,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jinengmingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{387,47}</string>
                <key>spriteSourceSize</key>
                <string>{389,47}</string>
                <key>textureRect</key>
                <string>{{1,526},{387,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_menpaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{510,447}</string>
                <key>spriteSourceSize</key>
                <string>{528,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jineng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,73}</string>
                <key>spriteSourceSize</key>
                <string>{32,73}</string>
                <key>textureRect</key>
                <string>{{134,581},{32,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jineng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,73}</string>
                <key>spriteSourceSize</key>
                <string>{32,73}</string>
                <key>textureRect</key>
                <string>{{134,615},{32,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,23}</string>
                <key>spriteSourceSize</key>
                <string>{70,23}</string>
                <key>textureRect</key>
                <string>{{209,575},{70,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xinnuqijinengxide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{392,66}</string>
                <key>spriteSourceSize</key>
                <string>{396,66}</string>
                <key>textureRect</key>
                <string>{{1,458},{392,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yijianshengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,23}</string>
                <key>spriteSourceSize</key>
                <string>{109,23}</string>
                <key>textureRect</key>
                <string>{{1,616},{109,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menpaifengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,6}</string>
                <key>spriteSourceSize</key>
                <string>{503,6}</string>
                <key>textureRect</key>
                <string>{{1,450},{503,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menpaijineng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,33}</string>
                <key>spriteSourceSize</key>
                <string>{131,33}</string>
                <key>textureRect</key>
                <string>{{1,581},{131,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>school_skill_panel.png</string>
            <key>size</key>
            <string>{512,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d5e8bc0f2a4d0a5296b78ee1891aaf3:bf84335689460b193fe9a5d136bbebe3:08278265557d5d887f5af5f3f7f87ec2$</string>
            <key>textureFileName</key>
            <string>school_skill_panel.png</string>
        </dict>
    </dict>
</plist>
