<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,555}</string>
                <key>spriteSourceSize</key>
                <string>{768,555}</string>
                <key>textureRect</key>
                <string>{{284,1},{768,555}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_baoxiangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,44}</string>
                <key>spriteSourceSize</key>
                <string>{350,50}</string>
                <key>textureRect</key>
                <string>{{81,848},{330,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_difang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,62}</string>
                <key>spriteSourceSize</key>
                <string>{176,62}</string>
                <key>textureRect</key>
                <string>{{1301,1138},{176,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_heidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{1045,1155},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hongguagnquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{845,152}</string>
                <key>spriteSourceSize</key>
                <string>{845,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{845,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_juesetouxiangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{222,404}</string>
                <key>spriteSourceSize</key>
                <string>{238,418}</string>
                <key>textureRect</key>
                <string>{{1599,1},{222,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ka1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{216,302}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1235,834},{216,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ka2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{214,300}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1453,822},{214,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_languangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{838,127}</string>
                <key>spriteSourceSize</key>
                <string>{838,127}</string>
                <key>textureRect</key>
                <string>{{155,1},{838,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_luadoudahui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{572,148}</string>
                <key>spriteSourceSize</key>
                <string>{592,164}</string>
                <key>textureRect</key>
                <string>{{841,1},{572,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_menpaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,126}</string>
                <key>spriteSourceSize</key>
                <string>{60,134}</string>
                <key>textureRect</key>
                <string>{{841,685},{48,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_menpaidi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,124}</string>
                <key>spriteSourceSize</key>
                <string>{45,124}</string>
                <key>textureRect</key>
                <string>{{1443,163},{45,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_moxingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{164,232}</string>
                <key>spriteSourceSize</key>
                <string>{172,242}</string>
                <key>textureRect</key>
                <string>{{1725,351},{164,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,325}</string>
                <key>spriteSourceSize</key>
                <string>{163,325}</string>
                <key>textureRect</key>
                <string>{{127,848},{163,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nan11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{166,290}</string>
                <key>spriteSourceSize</key>
                <string>{170,316}</string>
                <key>textureRect</key>
                <string>{{1389,225},{166,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,325}</string>
                <key>spriteSourceSize</key>
                <string>{163,325}</string>
                <key>textureRect</key>
                <string>{{292,847},{163,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nan22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{166,290}</string>
                <key>spriteSourceSize</key>
                <string>{170,316}</string>
                <key>textureRect</key>
                <string>{{1557,225},{166,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,325}</string>
                <key>spriteSourceSize</key>
                <string>{163,325}</string>
                <key>textureRect</key>
                <string>{{457,845},{163,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nv11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{166,290}</string>
                <key>spriteSourceSize</key>
                <string>{170,316}</string>
                <key>textureRect</key>
                <string>{{1711,517},{166,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,325}</string>
                <key>spriteSourceSize</key>
                <string>{163,325}</string>
                <key>textureRect</key>
                <string>{{622,845},{163,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nv22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{166,290}</string>
                <key>spriteSourceSize</key>
                <string>{170,316}</string>
                <key>textureRect</key>
                <string>{{1711,685},{166,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_suiyuankongbai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,517}</string>
                <key>spriteSourceSize</key>
                <string>{165,517}</string>
                <key>textureRect</key>
                <string>{{1055,1},{165,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_suiyuankongbai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,517}</string>
                <key>spriteSourceSize</key>
                <string>{165,517}</string>
                <key>textureRect</key>
                <string>{{1222,1},{165,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_suiyuanluandouzhnalidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,40}</string>
                <key>spriteSourceSize</key>
                <string>{165,40}</string>
                <key>textureRect</key>
                <string>{{173,1175},{165,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tishiwenzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,62}</string>
                <key>spriteSourceSize</key>
                <string>{566,70}</string>
                <key>textureRect</key>
                <string>{{991,1},{558,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{170,308}</string>
                <key>spriteSourceSize</key>
                <string>{170,316}</string>
                <key>textureRect</key>
                <string>{{1063,834},{170,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wofang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,63}</string>
                <key>spriteSourceSize</key>
                <string>{200,63}</string>
                <key>textureRect</key>
                <string>{{1099,1144},{200,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xiaosanjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{894,735},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yihoubuzaitixing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{297,47}</string>
                <key>spriteSourceSize</key>
                <string>{309,51}</string>
                <key>textureRect</key>
                <string>{{1669,853},{297,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhenyingzhujiemiantips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,142}</string>
                <key>textureRect</key>
                <string>{{841,575},{108,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_daanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{276,124}</string>
                <key>spriteSourceSize</key>
                <string>{290,132}</string>
                <key>textureRect</key>
                <string>{{1725,225},{276,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_huodongshuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{1599,517},{300,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_luadoushangcheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{290,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{1669,902},{290,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_pipeiduiyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{250,82}</string>
                <key>spriteSourceSize</key>
                <string>{266,90}</string>
                <key>textureRect</key>
                <string>{{971,575},{250,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_yaoqianshuguanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{284,771},{74,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dangqianshenglichang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{200,28}</string>
                <key>spriteSourceSize</key>
                <string>{210,42}</string>
                <key>textureRect</key>
                <string>{{466,1172},{200,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dengdaikaiqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{777,771},{192,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dianjifanpaihuodejiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{350,38}</string>
                <key>spriteSourceSize</key>
                <string>{366,48}</string>
                <key>textureRect</key>
                <string>{{1,848},{350,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dianjirenyiquyulikai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,38}</string>
                <key>spriteSourceSize</key>
                <string>{366,48}</string>
                <key>textureRect</key>
                <string>{{41,848},{348,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_duiwuqueren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{212,60}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{831,1155},{212,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kaiqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{156,72}</string>
                <key>textureRect</key>
                <string>{{503,771},{132,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kaizhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{136,72}</string>
                <key>spriteSourceSize</key>
                <string>{156,72}</string>
                <key>textureRect</key>
                <string>{{365,771},{136,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lingjiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,68}</string>
                <key>spriteSourceSize</key>
                <string>{156,72}</string>
                <key>textureRect</key>
                <string>{{637,771},{138,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_linxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,53}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{668,1172},{28,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_pansi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,51}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{778,1172},{28,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_putuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,53}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{723,1172},{28,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shengyujihui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{124,30}</string>
                <key>spriteSourceSize</key>
                <string>{144,42}</string>
                <key>textureRect</key>
                <string>{{340,1174},{124,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{119,1180},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wuzhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,51}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{841,735},{28,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jinbaoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{312,264}</string>
                <key>spriteSourceSize</key>
                <string>{322,280}</string>
                <key>textureRect</key>
                <string>{{1055,520},{312,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jinbaoxiangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{180,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,160}</string>
                <key>textureRect</key>
                <string>{{1777,1060},{180,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_mubaoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{314,274}</string>
                <key>spriteSourceSize</key>
                <string>{322,280}</string>
                <key>textureRect</key>
                <string>{{787,839},{314,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_mubaoxiangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{180,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,160}</string>
                <key>textureRect</key>
                <string>{{1777,902},{180,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shuangyujihui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{1389,163},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{65,86}</string>
                <key>textureRect</key>
                <string>{{1479,1124},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiaogougoug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{48,37}</string>
                <key>textureRect</key>
                <string>{{81,1180},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yinbaoxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{300,276}</string>
                <key>spriteSourceSize</key>
                <string>{322,280}</string>
                <key>textureRect</key>
                <string>{{1321,520},{300,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yinbaoxiangxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,160}</string>
                <key>textureRect</key>
                <string>{{1389,1},{180,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rivalPanel.png</string>
            <key>size</key>
            <string>{2004,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b35a5f6a8eb157d975b1b7b97f15583:919c9f7abe869b37503b72b3c1db7702:c2074e7c284d0f2cb5372b0388cf5956$</string>
            <key>textureFileName</key>
            <string>rivalPanel.png</string>
        </dict>
    </dict>
</plist>
