<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_anniuhuawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{130,24}</string>
                <key>spriteSourceSize</key>
                <string>{138,34}</string>
                <key>textureRect</key>
                <string>{{1736,453},{130,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_beizhujiluhuawen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,24}</string>
                <key>spriteSourceSize</key>
                <string>{45,24}</string>
                <key>textureRect</key>
                <string>{{1539,453},{45,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gaoshilipipeidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{206,61}</string>
                <key>spriteSourceSize</key>
                <string>{210,63}</string>
                <key>textureRect</key>
                <string>{{1330,164},{206,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jiaoruobiaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,92}</string>
                <key>spriteSourceSize</key>
                <string>{50,92}</string>
                <key>textureRect</key>
                <string>{{1214,400},{50,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jilubezhudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{1482,453},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiluhesedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,192}</string>
                <key>spriteSourceSize</key>
                <string>{187,192}</string>
                <key>textureRect</key>
                <string>{{1435,164},{187,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jngjichangshufengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,100}</string>
                <key>spriteSourceSize</key>
                <string>{6,100}</string>
                <key>textureRect</key>
                <string>{{639,470},{6,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jutiqingdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{520,27}</string>
                <key>spriteSourceSize</key>
                <string>{526,35}</string>
                <key>textureRect</key>
                <string>{{217,479},{520,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lingqutishidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{585,51}</string>
                <key>spriteSourceSize</key>
                <string>{591,71}</string>
                <key>textureRect</key>
                <string>{{1266,400},{585,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_menpaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,124}</string>
                <key>spriteSourceSize</key>
                <string>{45,124}</string>
                <key>textureRect</key>
                <string>{{1356,453},{45,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_mingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{193,40}</string>
                <key>spriteSourceSize</key>
                <string>{197,40}</string>
                <key>textureRect</key>
                <string>{{1393,164},{193,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shezhidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1266,453},{53,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_weipipei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{163,397}</string>
                <key>spriteSourceSize</key>
                <string>{163,403}</string>
                <key>textureRect</key>
                <string>{{1165,1},{163,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzezhuzhandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,161}</string>
                <key>spriteSourceSize</key>
                <string>{511,161}</string>
                <key>textureRect</key>
                <string>{{1330,1},{511,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzezhuzhanyongjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{147,34}</string>
                <key>spriteSourceSize</key>
                <string>{151,34}</string>
                <key>textureRect</key>
                <string>{{1624,164},{147,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhandoujiludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{577,406},{64,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuanzhanxuanzediweixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{250,476}</string>
                <key>spriteSourceSize</key>
                <string>{258,486}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuanzhanxuanzedixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{250,476}</string>
                <key>spriteSourceSize</key>
                <string>{258,486}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuzhananniudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{1320,453},{50,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuzhanzhanlidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{169,42}</string>
                <key>spriteSourceSize</key>
                <string>{175,46}</string>
                <key>textureRect</key>
                <string>{{1565,453},{169,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_huanyipi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,55}</string>
                <key>spriteSourceSize</key>
                <string>{131,55}</string>
                <key>textureRect</key>
                <string>{{1725,164},{131,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_pipeizhuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,62}</string>
                <key>spriteSourceSize</key>
                <string>{175,62}</string>
                <key>textureRect</key>
                <string>{{639,406},{175,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4000001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,403}</string>
                <key>spriteSourceSize</key>
                <string>{163,403}</string>
                <key>textureRect</key>
                <string>{{505,1},{163,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4000002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,403}</string>
                <key>spriteSourceSize</key>
                <string>{163,403}</string>
                <key>textureRect</key>
                <string>{{670,1},{163,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4000003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,403}</string>
                <key>spriteSourceSize</key>
                <string>{163,403}</string>
                <key>textureRect</key>
                <string>{{835,1},{163,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4000004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,403}</string>
                <key>spriteSourceSize</key>
                <string>{163,403}</string>
                <key>textureRect</key>
                <string>{{1000,1},{163,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dangqianyongyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,27}</string>
                <key>spriteSourceSize</key>
                <string>{133,31}</string>
                <key>textureRect</key>
                <string>{{1736,479},{129,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dangtiangongjishouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{150,22}</string>
                <key>spriteSourceSize</key>
                <string>{154,28}</string>
                <key>textureRect</key>
                <string>{{1843,1},{150,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{1487,358},{35,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jilu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{1565,358},{35,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jilu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,34}</string>
                <key>textureRect</key>
                <string>{{1643,313},{81,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_shengyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{72,31}</string>
                <key>textureRect</key>
                <string>{{546,406},{68,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xuyaozhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,27}</string>
                <key>spriteSourceSize</key>
                <string>{133,31}</string>
                <key>textureRect</key>
                <string>{{1660,164},{133,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yongjin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,39}</string>
                <key>textureRect</key>
                <string>{{505,406},{70,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zhengzaizhuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{121,26}</string>
                <key>spriteSourceSize</key>
                <string>{123,28}</string>
                <key>textureRect</key>
                <string>{{1330,372},{121,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zhuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,34}</string>
                <key>spriteSourceSize</key>
                <string>{81,34}</string>
                <key>textureRect</key>
                <string>{{1679,299},{81,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{1772,221},{33,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zuzhan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{1725,256},{33,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_lingqujiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{113,109}</string>
                <key>textureRect</key>
                <string>{{1020,406},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_qingli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{1453,358},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yilingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{113,109}</string>
                <key>textureRect</key>
                <string>{{1117,406},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zhuzhanwenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{1715,298},{55,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{816,406},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zuzhandianda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{918,406},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school_name_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{739,478},{29,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school_name_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,53}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{1,479},{28,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school_name_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,53}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{56,479},{28,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school_name_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,51}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{111,479},{28,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school_name_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,51}</string>
                <key>spriteSourceSize</key>
                <string>{28,53}</string>
                <key>textureRect</key>
                <string>{{164,479},{28,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuanzzezuzhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,34}</string>
                <key>spriteSourceSize</key>
                <string>{132,34}</string>
                <key>textureRect</key>
                <string>{{1689,164},{132,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>team_panel.png</string>
            <key>size</key>
            <string>{1867,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a6af00ddd80cdb51d3a6b82ec7f715:9c7b8e87a1315a83aca6c162a384b5a5:d3c75461c2772daae97ef64db52e3b1d$</string>
            <key>textureFileName</key>
            <string>team_panel.png</string>
        </dict>
    </dict>
</plist>
