<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{101,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{213,1},{101,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{101,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{631,1},{101,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{101,183}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{734,1},{101,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{103,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{316,1},{103,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{103,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{421,1},{103,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{105,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{103,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{526,1},{103,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.533333,0.219608}</string>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{103,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,255}</string>
                <key>textureRect</key>
                <string>{{108,1},{103,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200006_stand_d.png</string>
            <key>size</key>
            <string>{836,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de8d0cef09cdd14585e7f31918d1bc7c:091f9528a575521d00a0876f3852f483:1232739f274cd94b970e29b23549b712$</string>
            <key>textureFileName</key>
            <string>4200006_stand_d.png</string>
        </dict>
    </dict>
</plist>
