<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{420,450}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-27}</string>
                <key>spriteSize</key>
                <string>{432,434}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{1,453},{432,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{436,434}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{423,1},{436,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-42}</string>
                <key>spriteSize</key>
                <string>{444,408}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{1,889},{444,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-59}</string>
                <key>spriteSize</key>
                <string>{444,328}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{861,1},{444,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-58}</string>
                <key>spriteSize</key>
                <string>{442,328}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{435,437},{442,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-58}</string>
                <key>spriteSize</key>
                <string>{442,328}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{1,1335},{442,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-59}</string>
                <key>spriteSize</key>
                <string>{442,324}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{411,889},{442,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-59}</string>
                <key>spriteSize</key>
                <string>{440,322}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{737,1003},{440,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-62}</string>
                <key>spriteSize</key>
                <string>{438,316}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{445,1333},{438,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-53}</string>
                <key>spriteSize</key>
                <string>{440,302}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{885,1327},{440,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{430,276}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{765,447},{430,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-46}</string>
                <key>spriteSize</key>
                <string>{430,276}</string>
                <key>spriteSourceSize</key>
                <string>{500,550}</string>
                <key>textureRect</key>
                <string>{{765,725},{430,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_102201-1.png</string>
            <key>size</key>
            <string>{1196,1768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b682375ffd1a9a394a2e02e02eb5e1ee:3e02305f253793739b347cc3024f1954:c9c3efb1f0a1553339c3f5e87b6cdaa3$</string>
            <key>textureFileName</key>
            <string>effect_skill_102201-1.png</string>
        </dict>
    </dict>
</plist>
