<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>云海潮生_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-79}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{198,976},{228,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-78}</string>
                <key>spriteSize</key>
                <string>{226,155}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{359,976},{226,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-69}</string>
                <key>spriteSize</key>
                <string>{220,161}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{516,976},{220,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-50}</string>
                <key>spriteSize</key>
                <string>{204,129}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{543,708},{204,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-47}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{679,1067},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-41}</string>
                <key>spriteSize</key>
                <string>{210,177}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{1,797},{210,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-42}</string>
                <key>spriteSize</key>
                <string>{234,195}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{1,976},{234,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-37}</string>
                <key>spriteSize</key>
                <string>{256,231}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{709,1},{256,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-29}</string>
                <key>spriteSize</key>
                <string>{264,257}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{679,808},{264,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-24}</string>
                <key>spriteSize</key>
                <string>{266,267}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{274,708},{266,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-22}</string>
                <key>spriteSize</key>
                <string>{268,271}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{1,527},{268,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-33}</string>
                <key>spriteSize</key>
                <string>{266,249}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{709,234},{266,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,317}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{344,301}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{363,1},{344,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-20}</string>
                <key>spriteSize</key>
                <string>{304,275}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{681,502},{304,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>云海潮生_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-52}</string>
                <key>spriteSize</key>
                <string>{300,201}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{313,505},{300,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-50}</string>
                <key>spriteSize</key>
                <string>{310,205}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{1,320},{310,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>云海潮生_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-37}</string>
                <key>spriteSize</key>
                <string>{316,199}</string>
                <key>spriteSourceSize</key>
                <string>{360,317}</string>
                <key>textureRect</key>
                <string>{{363,304},{316,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_102401.png</string>
            <key>size</key>
            <string>{966,1211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4744d41eabd816b01b768640066d3809:bb61e57aeee0a78ff9bb41cc179c374b:f84a99838f553f3ef4129e4f2d42ff01$</string>
            <key>textureFileName</key>
            <string>effect_skill_102401.png</string>
        </dict>
    </dict>
</plist>
