<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jyz_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,38}</string>
                <key>spriteSize</key>
                <string>{12,9}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{634,253},{12,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-22,-40}</string>
                <key>spriteSize</key>
                <string>{190,203}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1345,711},{190,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,-41}</string>
                <key>spriteSize</key>
                <string>{176,213}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1769,1642},{176,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-38}</string>
                <key>spriteSize</key>
                <string>{190,213}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1769,1427},{190,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-35}</string>
                <key>spriteSize</key>
                <string>{190,217}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1577,1596},{190,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-39}</string>
                <key>spriteSize</key>
                <string>{190,223}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1368,1404},{190,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{250,233}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1537,711},{250,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-40}</string>
                <key>spriteSize</key>
                <string>{266,229}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1798,243},{266,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,-41}</string>
                <key>spriteSize</key>
                <string>{266,231}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1789,709},{266,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,-44}</string>
                <key>spriteSize</key>
                <string>{222,221}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{492,1607},{222,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,-40}</string>
                <key>spriteSize</key>
                <string>{220,233}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1509,489},{220,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-40}</string>
                <key>spriteSize</key>
                <string>{238,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1569,249},{238,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-42}</string>
                <key>spriteSize</key>
                <string>{240,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1029,1167},{240,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{16,-40}</string>
                <key>spriteSize</key>
                <string>{240,231}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1271,1151},{240,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-37}</string>
                <key>spriteSize</key>
                <string>{206,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1369,1596},{206,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-39}</string>
                <key>spriteSize</key>
                <string>{236,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1753,1198},{236,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-41}</string>
                <key>spriteSize</key>
                <string>{240,229}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1514,946},{240,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-40}</string>
                <key>spriteSize</key>
                <string>{252,231}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1029,913},{252,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-42}</string>
                <key>spriteSize</key>
                <string>{238,225}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1513,1177},{238,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-16,-45}</string>
                <key>spriteSize</key>
                <string>{260,221}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{767,1146},{260,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-16,-41}</string>
                <key>spriteSize</key>
                <string>{260,231}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{767,913},{260,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,-44}</string>
                <key>spriteSize</key>
                <string>{234,219}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{451,1386},{234,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-40}</string>
                <key>spriteSize</key>
                <string>{222,229}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{261,1607},{222,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{226,229}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{913,1599},{226,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{226,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1141,1598},{226,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-13,-39}</string>
                <key>spriteSize</key>
                <string>{200,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{249,1229},{200,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{250,233}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1262,916},{250,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-50}</string>
                <key>spriteSize</key>
                <string>{266,251}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{499,663},{266,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,-51}</string>
                <key>spriteSize</key>
                <string>{266,251}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{499,916},{266,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-17,-67}</string>
                <key>spriteSize</key>
                <string>{214,219}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{687,1386},{214,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-41}</string>
                <key>spriteSize</key>
                <string>{200,271}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{249,956},{200,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-34,-35}</string>
                <key>spriteSize</key>
                <string>{220,283}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{767,691},{220,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-34,-32}</string>
                <key>spriteSize</key>
                <string>{220,289}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1218,489},{220,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{196,291}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1052,711},{196,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-26}</string>
                <key>spriteSize</key>
                <string>{204,301}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{915,485},{204,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{236,289}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{973,247},{236,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{240,303}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1577,1},{240,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{238,303}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1264,249},{238,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{238,309}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1,1275},{238,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-23,-5}</string>
                <key>spriteSize</key>
                <string>{246,301}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1274,1},{246,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-30,-5}</string>
                <key>spriteSize</key>
                <string>{230,303}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{267,649},{230,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{310,317}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{186,333}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{313,269},{186,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,7}</string>
                <key>spriteSize</key>
                <string>{190,321}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{269,457},{190,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,7}</string>
                <key>spriteSize</key>
                <string>{190,321}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{592,471},{190,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{216,323}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{648,253},{216,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{250,321}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{634,1},{250,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.547059,0.221333}</string>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{266,319}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1,320},{266,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{266,319}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{313,1},{266,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{246,317}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1,956},{246,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-13}</string>
                <key>spriteSize</key>
                <string>{244,315}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{957,1},{244,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,-15}</string>
                <key>spriteSize</key>
                <string>{264,313}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1,641},{264,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,-50}</string>
                <key>spriteSize</key>
                <string>{258,239}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1,1586},{258,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,-40}</string>
                <key>spriteSize</key>
                <string>{196,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1744,511},{196,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-7,-37}</string>
                <key>spriteSize</key>
                <string>{200,227}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1139,1396},{200,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jyz_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,-38}</string>
                <key>spriteSize</key>
                <string>{196,221}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{715,1607},{196,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-42}</string>
                <key>spriteSize</key>
                <string>{238,219}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{1756,977},{238,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-40}</string>
                <key>spriteSize</key>
                <string>{236,215}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{451,1169},{236,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jyz_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-40}</string>
                <key>spriteSize</key>
                <string>{234,201}</string>
                <key>spriteSourceSize</key>
                <string>{340,375}</string>
                <key>textureRect</key>
                <string>{{903,1396},{234,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_104201.png</string>
            <key>size</key>
            <string>{2028,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea82751494f9f3d9149f5b252d6b7bf2:50b75852977a134427dc19d8862be200:c147d25680bc77e670e21480bb91d61d$</string>
            <key>textureFileName</key>
            <string>effect_skill_104201.png</string>
        </dict>
    </dict>
</plist>
