<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_qtjn00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{3,-45}</string>
                <key>spriteSize</key>
                <string>{218,122}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1809,747},{218,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{214,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1367,787},{214,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{210,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1371,1013},{210,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{206,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1573,1241},{206,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{202,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1583,787},{202,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{202,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1583,991},{202,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{202,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1781,1215},{202,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{202,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1787,991},{202,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{202,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1587,525},{202,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{202,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1589,263},{202,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{202,218}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1793,1},{202,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{202,216}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1793,221},{202,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{2,32}</string>
                <key>spriteSize</key>
                <string>{56,166}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1371,1241},{56,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{937,1},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{923,525},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1145,525},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1147,263},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{263,1311},{260,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{260,238}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,263},{260,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{260,236}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,787},{260,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{260,238}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,525},{260,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,1049},{260,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{260,230}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,1311},{260,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{260,234}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{237,1049},{260,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{239,787},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{241,263},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{255,1},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{241,525},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{467,787},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{473,1049},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{525,1311},{260,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{469,263},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{695,787},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{701,1049},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{483,1},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{787,1311},{260,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{697,263},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{260,226}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{469,525},{260,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{711,1},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{260,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{921,787},{260,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{260,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{927,1049},{260,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{260,224}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{697,525},{260,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1159,1},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{260,220}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1145,787},{260,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{260,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1049,1311},{260,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{260,222}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{923,263},{260,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{260,218}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1151,1049},{260,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{260,252}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{260,218}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1311,1311},{260,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_qtjn00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{260,218}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1367,525},{260,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{260,218}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1369,263},{260,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{260,216}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1381,1},{260,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1791,485},{260,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd_qtjn00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.507692,0.361538}</string>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{258,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1599,1},{258,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_3101240.png</string>
            <key>size</key>
            <string>{1996,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:062c6254bb91c85e99fe8d7fbd8eaa20:feaa47f1050793fb485a13498b098382:228a861644e078967ade468452356c23$</string>
            <key>textureFileName</key>
            <string>effect_skill_3101240.png</string>
        </dict>
    </dict>
</plist>
