<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jineng_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-167.5,195.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{2023,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{35,-53}</string>
                <key>spriteSize</key>
                <string>{150,108}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{309,1815},{150,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{258,320}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1747,989},{258,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{37,-8}</string>
                <key>spriteSize</key>
                <string>{264,286}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1753,397},{264,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{264,394}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1757,1},{264,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{14,14}</string>
                <key>spriteSize</key>
                <string>{310,366}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{623,1425},{310,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{320,370}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{623,1053},{320,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{324,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1691,1311},{324,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.60503,0.373096}</string>
                <key>spriteOffset</key>
                <string>{17,12}</string>
                <key>spriteSize</key>
                <string>{304,370}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1375,939},{304,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{19,12}</string>
                <key>spriteSize</key>
                <string>{300,370}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1319,1245},{300,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{19,11}</string>
                <key>spriteSize</key>
                <string>{300,372}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{945,1245},{300,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{300,342}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1665,1617},{300,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{18,-18}</string>
                <key>spriteSize</key>
                <string>{302,310}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{311,1511},{302,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{18,-37}</string>
                <key>spriteSize</key>
                <string>{302,280}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1751,685},{302,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{17,10}</string>
                <key>spriteSize</key>
                <string>{304,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{999,629},{304,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{306,380}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1,1529},{306,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{308,384}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1,759},{308,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{338,382}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,6}</string>
                <key>spriteSize</key>
                <string>{308,382}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1,1145},{308,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{332,372}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1,385},{332,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{332,356}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1307,1547},{332,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{330,360}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{667,365},{330,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{330,362}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{667,1},{330,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{324,366}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{341,373},{324,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{324,370}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{341,1},{324,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{314,376}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1379,1},{314,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{12,8}</string>
                <key>spriteSize</key>
                <string>{314,378}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{999,1},{314,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,10}</string>
                <key>spriteSize</key>
                <string>{308,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1375,629},{308,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{310,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{1377,317},{310,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{310,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{311,759},{310,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{310,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{311,1135},{310,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jineng_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{14,9}</string>
                <key>spriteSize</key>
                <string>{310,376}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{999,317},{310,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{310,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{623,741},{310,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{15,10}</string>
                <key>spriteSize</key>
                <string>{308,374}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{999,935},{308,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jineng_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{306,370}</string>
                <key>spriteSourceSize</key>
                <string>{338,394}</string>
                <key>textureRect</key>
                <string>{{935,1547},{306,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_104701.png</string>
            <key>size</key>
            <string>{2032,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a51f29032f5763cdf9d7bedfe09e3d31:3c0ebc876e4fefc221416c300a18359c:b7a102aac3fb5e0670d05f0518ee8643$</string>
            <key>textureFileName</key>
            <string>effect_skill_104701.png</string>
        </dict>
    </dict>
</plist>
