<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{-86,78.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{384,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{429,125},{85,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{173,160}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{178,1},{173,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.522857,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,160}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,160}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{175,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{161,158}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{161,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{129,122}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{353,1},{129,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{131,122}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{178,163},{131,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{123,116}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{311,163},{123,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{123,110}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{178,287},{123,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{269,399},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{109,102}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{303,288},{109,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{107,100}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{384,392},{107,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{164,399},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505714,0.503125}</string>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{91,88}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{414,288},{91,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_101301.png</string>
            <key>size</key>
            <string>{508,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2855379d7f562202f1bb6f1abf579e9:9ae53749bdc17fc20ae68343807d5406:c037b0c591cdfa693669bfef7266ce2c$</string>
            <key>textureFileName</key>
            <string>effect_skill_101301.png</string>
        </dict>
    </dict>
</plist>
