<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>四边静整体输出_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-90}</string>
                <key>spriteSize</key>
                <string>{198,284}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1581,1421},{198,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-61}</string>
                <key>spriteSize</key>
                <string>{328,286}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1681},{328,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{468,304}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{289,1701},{468,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{460,302}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{759,1701},{460,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{432,292}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1221,1681},{432,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{438,280}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1257,857},{438,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,47}</string>
                <key>spriteSize</key>
                <string>{444,406}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{435,437},{444,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,44}</string>
                <key>spriteSize</key>
                <string>{434,396}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{425,1265},{434,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,22}</string>
                <key>spriteSize</key>
                <string>{416,366}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1213,1263},{416,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{306,280}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1581,1139},{306,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,12}</string>
                <key>spriteSize</key>
                <string>{432,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,437},{432,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{438,428}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{913,1},{438,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{434,448}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{463,1},{434,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{434,460}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{434,460}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-22}</string>
                <key>spriteSize</key>
                <string>{428,418}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{435,845},{428,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{432,424}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1349,431},{432,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{434,424}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{913,431},{434,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{430,428}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1353,1},{430,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{422,420}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,861},{422,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{410,388}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{823,1265},{410,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,9}</string>
                <key>spriteSize</key>
                <string>{404,396}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1283},{404,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,7}</string>
                <key>spriteSize</key>
                <string>{390,404}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{865,857},{390,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-57}</string>
                <key>spriteSize</key>
                <string>{266,214}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1697,857},{266,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-53}</string>
                <key>spriteSize</key>
                <string>{246,204}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1655,1621},{246,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-56}</string>
                <key>spriteSize</key>
                <string>{242,190}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1783,475},{242,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-59}</string>
                <key>spriteSize</key>
                <string>{240,194}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1655,1827},{240,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-76}</string>
                <key>spriteSize</key>
                <string>{236,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1785,1},{236,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-79}</string>
                <key>spriteSize</key>
                <string>{234,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1785,239},{234,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_101101-0.png</string>
            <key>size</key>
            <string>{1974,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23098a1c25cb1077225ec68e8cc75c01:7883c7c137ac02a17914e50d0dba7128:d313089b6dc936099fcb101ed40eb27e$</string>
            <key>textureFileName</key>
            <string>effect_skill_101101-0.png</string>
        </dict>
    </dict>
</plist>
