<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{123,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,271},{123,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{121,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,539},{121,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{119,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,631},{119,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{121,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,719},{121,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{121,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,807},{121,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{121,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,895},{121,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{121,90}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,447},{121,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{119,90}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,447},{119,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,90}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,539},{119,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,90}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{126,1},{117,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{115,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,985},{115,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{115,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,1071},{115,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{126,93},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{117,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{126,183},{117,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{117,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{126,271},{117,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{126,359},{117,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{119,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,721},{119,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,809},{119,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{124,897},{119,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{121,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,983},{121,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,629},{121,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,91},{123,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,181},{123,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{123,86}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1,359},{123,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_3102000.png</string>
            <key>size</key>
            <string>{244,1156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc33c68b6c6e52a2e59eb1a1cdb7781:1d2691bbb398ad4edb4301c3b30c8e74:491d976ca29d44ff4559716766341240$</string>
            <key>textureFileName</key>
            <string>effect_skill_3102000.png</string>
        </dict>
    </dict>
</plist>
