<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hfyl_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{247,266}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{275,1023},{247,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{253,276}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,254},{253,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{249,276}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,509},{249,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{251,286}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{245,286}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{577,1},{245,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{247,286}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{289,1},{247,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{245,272}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{277,776},{245,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{245,272}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,1017},{245,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{251,274}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{555,519},{251,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{261,276}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{289,250},{261,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{269,276}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{577,248},{269,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{261,274}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{279,513},{261,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{255,274}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,760},{255,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{251,274}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{555,772},{251,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{255,262}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,1523},{255,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{257,262}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{1,1264},{257,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{237,262}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{258,1523},{237,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{237,262}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{497,1522},{237,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{237,262}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{736,1244},{237,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{237,262}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{736,1508},{237,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{235,248}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{265,1272},{235,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{221,248}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{502,1272},{221,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{217,248}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{725,1025},{217,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hfyl_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{141,236}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{831,519},{141,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hfyl_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{131,218}</string>
                <key>spriteSourceSize</key>
                <string>{275,320}</string>
                <key>textureRect</key>
                <string>{{831,757},{131,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_102301.png</string>
            <key>size</key>
            <string>{974,1786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cadd0d183115955fa299a8f4a3f6e505:ee202649ae5af146aa4de7e431cd4b64:df925ca0a2c92a4cc81747e37c58c072$</string>
            <key>textureFileName</key>
            <string>effect_skill_102301.png</string>
        </dict>
    </dict>
</plist>
