<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>涤凡仙露_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,39}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{455,995},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{455,963},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{455,923},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{403,1361},{20,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>涤凡仙露_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,45}</string>
                <key>spriteSize</key>
                <string>{34,102}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{441,1237},{34,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,41}</string>
                <key>spriteSize</key>
                <string>{34,110}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{431,1125},{34,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,36}</string>
                <key>spriteSize</key>
                <string>{36,122}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{403,1237},{36,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,24}</string>
                <key>spriteSize</key>
                <string>{36,146}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{283,1891},{36,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>涤凡仙露_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{238,230}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{241,235},{238,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{238,228}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,705},{238,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{238,224}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{241,697},{238,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{238,228}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{241,467},{238,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{238,232}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,237},{238,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{238,232}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{241,1},{238,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{238,234}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{238,232}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,471},{238,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{238,228}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,935},{238,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{230,220}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,1165},{230,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{212,200}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{241,923},{212,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{170,178}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,1387},{170,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{168,158}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{143,1569},{168,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{315,1549},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{146,160}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{283,1729},{146,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,15}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{315,1383},{144,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{144,168}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{233,1237},{144,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>涤凡仙露_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,22}</string>
                <key>spriteSize</key>
                <string>{142,172}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,1757},{142,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,25}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{173,1387},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,29}</string>
                <key>spriteSize</key>
                <string>{140,188}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{1,1567},{140,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,31}</string>
                <key>spriteSize</key>
                <string>{136,192}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{145,1729},{136,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>涤凡仙露_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,39}</string>
                <key>spriteSize</key>
                <string>{110,188}</string>
                <key>spriteSourceSize</key>
                <string>{238,266}</string>
                <key>textureRect</key>
                <string>{{241,1125},{110,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_102601.png</string>
            <key>size</key>
            <string>{480,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af38fac469801e138cab2e0d0d125b60:e67bc867ea220010781ee5f48080204f:8acc9f568727981202c3a03a347b8138$</string>
            <key>textureFileName</key>
            <string>effect_skill_102601.png</string>
        </dict>
    </dict>
</plist>
