<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>四边静整体输出_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-23}</string>
                <key>spriteSize</key>
                <string>{346,302}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{385,745},{346,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{342,306}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1183,365},{342,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{382,306}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{799,365},{382,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-15}</string>
                <key>spriteSize</key>
                <string>{412,362}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{799,1},{412,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-15}</string>
                <key>spriteSize</key>
                <string>{404,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1213,1},{404,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-13}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{783,673},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-12}</string>
                <key>spriteSize</key>
                <string>{368,356}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1155,673},{368,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-7}</string>
                <key>spriteSize</key>
                <string>{368,344}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1527,363},{368,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,2}</string>
                <key>spriteSize</key>
                <string>{306,288}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1619,1},{306,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-3}</string>
                <key>spriteSize</key>
                <string>{388,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-4}</string>
                <key>spriteSize</key>
                <string>{382,402}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,403},{382,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>四边静整体输出_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-5}</string>
                <key>spriteSize</key>
                <string>{376,406}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{391,1},{376,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-14}</string>
                <key>spriteSize</key>
                <string>{364,390}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{391,379},{364,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>四边静整体输出_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-23}</string>
                <key>spriteSize</key>
                <string>{304,348}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1513,709},{304,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_101101-1.png</string>
            <key>size</key>
            <string>{1908,1048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23098a1c25cb1077225ec68e8cc75c01:7883c7c137ac02a17914e50d0dba7128:d313089b6dc936099fcb101ed40eb27e$</string>
            <key>textureFileName</key>
            <string>effect_skill_101101-1.png</string>
        </dict>
    </dict>
</plist>
