<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feng001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{835,110},{112,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-20}</string>
                <key>spriteSize</key>
                <string>{284,311}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{409,334},{284,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feng003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{230,261}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{264,1166},{230,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feng004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-13}</string>
                <key>spriteSize</key>
                <string>{246,261}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{1,1147},{246,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feng005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-30}</string>
                <key>spriteSize</key>
                <string>{406,403}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,29}</string>
                <key>spriteSize</key>
                <string>{424,331}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{409,1},{424,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{434,339}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{1,406},{434,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feng008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,22}</string>
                <key>spriteSize</key>
                <string>{332,303}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{1,842},{332,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,13}</string>
                <key>spriteSize</key>
                <string>{298,281}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{643,911},{298,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,8}</string>
                <key>spriteSize</key>
                <string>{302,271}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{650,638},{302,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,7}</string>
                <key>spriteSize</key>
                <string>{302,267}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{722,334},{302,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feng012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{306,271}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{342,620},{306,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{306,271}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{335,893},{306,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-17}</string>
                <key>spriteSize</key>
                <string>{180,191}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{527,1194},{180,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-10}</string>
                <key>spriteSize</key>
                <string>{178,155}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{709,1194},{178,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-7}</string>
                <key>spriteSize</key>
                <string>{140,107}</string>
                <key>spriteSourceSize</key>
                <string>{540,463}</string>
                <key>textureRect</key>
                <string>{{835,1},{140,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_3101180.png</string>
            <key>size</key>
            <string>{990,1397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd59b5ec1cca149f9fe7b03bc6fbb7c:275f49bfeaae2b02082423b97f9961c6:f7c175687086f988ce9665ffd4494016$</string>
            <key>textureFileName</key>
            <string>effect_skill_3101180.png</string>
        </dict>
    </dict>
</plist>
