<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wybj001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,23}</string>
                <key>spriteSize</key>
                <string>{250,226}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{259,1067},{250,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{344,350}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{1,275},{344,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wybj003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{356,288}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{395,1},{356,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{392,272}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{350,268}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{353,291},{350,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{348,270}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{753,1},{348,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wybj007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{338,272}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{353,561},{338,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{318,268}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{705,351},{318,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{230,270}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{283,835},{230,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wybj010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{228,256}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{1,1067},{228,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wybj011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{264,258}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{727,851},{264,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{280,262}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{1,621},{280,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{284,228}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{693,621},{284,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-34}</string>
                <key>spriteSize</key>
                <string>{258,178}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{1,885},{258,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wybj015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-33}</string>
                <key>spriteSize</key>
                <string>{214,176}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{511,1067},{214,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wybj016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-33}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{555,851},{190,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wybj017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-33}</string>
                <key>spriteSize</key>
                <string>{184,160}</string>
                <key>spriteSourceSize</key>
                <string>{554,508}</string>
                <key>textureRect</key>
                <string>{{689,1111},{184,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_skill_3101200.png</string>
            <key>size</key>
            <string>{1024,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad72268a90be017b3ddfedfe88a0acac:01f176d98929fe3e7ba3283d472a7a8f:50805f0a06cc9d0fd3257c1e8dec4390$</string>
            <key>textureFileName</key>
            <string>effect_skill_3101200.png</string>
        </dict>
    </dict>
</plist>
