<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{57,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,657},{57,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-14}</string>
                <key>spriteSize</key>
                <string>{59,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,718},{59,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-14}</string>
                <key>spriteSize</key>
                <string>{59,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,781},{59,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-13}</string>
                <key>spriteSize</key>
                <string>{61,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,970},{61,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-13}</string>
                <key>spriteSize</key>
                <string>{63,201}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1165},{63,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-13}</string>
                <key>spriteSize</key>
                <string>{63,201}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1232},{63,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{63,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1299},{63,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{63,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1366},{63,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{63,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1433},{63,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{63,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1500},{63,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{61,201}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1035},{61,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{61,201}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1100},{61,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{59,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,844},{59,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{59,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,907},{59,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{55,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,480},{55,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{53,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,423},{53,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-14}</string>
                <key>spriteSize</key>
                <string>{51,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,258},{51,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-15}</string>
                <key>spriteSize</key>
                <string>{49,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,205},{49,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-15}</string>
                <key>spriteSize</key>
                <string>{47,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{47,205}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,52},{47,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{47,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,103},{47,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{47,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,154},{47,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{51,205}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,313},{51,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{51,205}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,368},{51,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{55,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,539},{55,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-15}</string>
                <key>spriteSize</key>
                <string>{55,203}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,598},{55,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_stand_r.png</string>
            <key>size</key>
            <string>{207,1564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b67549689b0300fade1fffa7e44af0:70e81b0ae1e8edbe498867d489288f8c:08c1243d52d95a045833c309359104ec$</string>
            <key>textureFileName</key>
            <string>4303003_stand_r.png</string>
        </dict>
    </dict>
</plist>
