<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-45}</string>
                <key>spriteSize</key>
                <string>{175,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{777,1},{175,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-49}</string>
                <key>spriteSize</key>
                <string>{215,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-29}</string>
                <key>spriteSize</key>
                <string>{87,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1201,164},{87,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-24}</string>
                <key>spriteSize</key>
                <string>{41,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{289,210},{41,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,13}</string>
                <key>spriteSize</key>
                <string>{83,177}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{690,1},{83,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{117,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{423,1},{117,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,8}</string>
                <key>spriteSize</key>
                <string>{141,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1103,1},{141,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{143,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1262,158},{143,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,3}</string>
                <key>spriteSize</key>
                <string>{37,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{879,180},{37,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,13}</string>
                <key>spriteSize</key>
                <string>{57,105}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1409,146},{57,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-10}</string>
                <key>spriteSize</key>
                <string>{181,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{619,1},{181,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-9}</string>
                <key>spriteSize</key>
                <string>{141,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1399,1},{141,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,16}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,220},{23,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,27}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1440,1},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,39}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1120,164},{77,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,41}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1027,166},{85,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,12}</string>
                <key>spriteSize</key>
                <string>{153,147}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1248,1},{153,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,12}</string>
                <key>spriteSize</key>
                <string>{161,145}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{954,1},{161,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{36,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{19,213}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{266,1},{19,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{48,220},{19,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{59,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{82,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{105,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{128,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{151,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{174,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{197,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{220,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{19,215}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{243,1},{19,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,57}</string>
                <key>spriteSize</key>
                <string>{57,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{545,194},{57,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,45}</string>
                <key>spriteSize</key>
                <string>{79,103}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{920,168},{79,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-24}</string>
                <key>spriteSize</key>
                <string>{159,43}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{382,208},{159,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-41}</string>
                <key>spriteSize</key>
                <string>{163,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{915,1},{163,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-50}</string>
                <key>spriteSize</key>
                <string>{177,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{698,182},{177,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-51}</string>
                <key>spriteSize</key>
                <string>{189,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{544,1},{189,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-49}</string>
                <key>spriteSize</key>
                <string>{205,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{289,1},{205,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-47}</string>
                <key>spriteSize</key>
                <string>{203,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{358,1},{203,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-45}</string>
                <key>spriteSize</key>
                <string>{175,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{846,1},{175,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_magic_ld.png</string>
            <key>size</key>
            <string>{1478,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d420ccca449a637688b54a60c835afb:386dba25661df8272b9aff349e6e7e03:0c1f7ec0860c0cda9b741349452c1e90$</string>
            <key>textureFileName</key>
            <string>4303003_magic_ld.png</string>
        </dict>
    </dict>
</plist>
