<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{195,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{313,1177},{195,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{217,139}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{258,148},{217,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-18}</string>
                <key>spriteSize</key>
                <string>{217,143}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{258,1},{217,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-19}</string>
                <key>spriteSize</key>
                <string>{223,141}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{252,444},{223,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-26}</string>
                <key>spriteSize</key>
                <string>{221,153}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1031},{221,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{227,147}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{246,738},{227,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-24}</string>
                <key>spriteSize</key>
                <string>{233,141}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,886},{233,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-22}</string>
                <key>spriteSize</key>
                <string>{241,133}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,614},{241,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-21}</string>
                <key>spriteSize</key>
                <string>{247,125}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,358},{247,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-20}</string>
                <key>spriteSize</key>
                <string>{253,117}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-19}</string>
                <key>spriteSize</key>
                <string>{253,113}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,122},{253,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-18}</string>
                <key>spriteSize</key>
                <string>{251,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,239},{251,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-16}</string>
                <key>spriteSize</key>
                <string>{245,123}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,487},{245,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{237,131}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,751},{237,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-15}</string>
                <key>spriteSize</key>
                <string>{231,137}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{238,889},{231,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-15}</string>
                <key>spriteSize</key>
                <string>{227,143}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{238,1030},{227,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{225,145}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{250,589},{225,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{219,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{256,291},{219,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{213,151}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1188},{213,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{205,153}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{156,1188},{205,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{195,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{313,1177},{195,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_hit_ru.png</string>
            <key>size</key>
            <string>{476,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d3eede86ada2a0b25e2119a552e724d:8255190e0fc94fda1d4c17a718084ba6:43bf0e18886d9d07174a85021327fb0b$</string>
            <key>textureFileName</key>
            <string>4303003_hit_ru.png</string>
        </dict>
    </dict>
</plist>
