<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_S_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,10}</string>
                <key>spriteSize</key>
                <string>{147,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{806,106},{147,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{151,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{653,106},{151,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{161,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{345,104},{161,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{169,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{458,1},{169,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,7}</string>
                <key>spriteSize</key>
                <string>{171,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,96},{171,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{169,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{174,100},{169,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,13}</string>
                <key>spriteSize</key>
                <string>{165,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{629,1},{165,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{157,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{299,1},{157,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{151,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{146,1},{151,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{143,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{796,1},{141,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,11}</string>
                <key>spriteSize</key>
                <string>{143,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{508,104},{143,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,10}</string>
                <key>spriteSize</key>
                <string>{147,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{806,106},{147,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_run_d.png</string>
            <key>size</key>
            <string>{954,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3070c79e87e188149d44d886f85f42f1:8e0e232b351c37b5c2c500ec0fd00857:43105214e00e921f5f2f6d0d169df150$</string>
            <key>textureFileName</key>
            <string>4303003_run_d.png</string>
        </dict>
    </dict>
</plist>
