<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,24}</string>
                <key>spriteSize</key>
                <string>{61,230}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,22}</string>
                <key>spriteSize</key>
                <string>{65,228}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{117,1},{65,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,20}</string>
                <key>spriteSize</key>
                <string>{73,220}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,324},{73,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,20}</string>
                <key>spriteSize</key>
                <string>{83,210}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{233,216},{83,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{89,210}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,233},{89,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,27}</string>
                <key>spriteSize</key>
                <string>{83,212}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{233,131},{83,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,28}</string>
                <key>spriteSize</key>
                <string>{69,214}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{233,60},{69,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,23}</string>
                <key>spriteSize</key>
                <string>{57,216}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{233,1},{57,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,19}</string>
                <key>spriteSize</key>
                <string>{49,218}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{223,350},{49,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{47,220}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{223,301},{47,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,21}</string>
                <key>spriteSize</key>
                <string>{47,226}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{184,1},{47,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,24}</string>
                <key>spriteSize</key>
                <string>{51,230}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{64,1},{51,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,24}</string>
                <key>spriteSize</key>
                <string>{61,230}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_run_ru.png</string>
            <key>size</key>
            <string>{450,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc6b2eb870d90eda2e2b8bcdc750a290:b34a6a5b2eae3c4582dfe4bc10a0011e:20bc72e8343a4a2aae64359ad68ce305$</string>
            <key>textureFileName</key>
            <string>4303003_run_ru.png</string>
        </dict>
    </dict>
</plist>
