<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_ES_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,13}</string>
                <key>spriteSize</key>
                <string>{183,65}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{230,184},{183,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,11}</string>
                <key>spriteSize</key>
                <string>{175,79}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1346,125},{175,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,7}</string>
                <key>spriteSize</key>
                <string>{155,107}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{532,1},{155,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,7}</string>
                <key>spriteSize</key>
                <string>{177,109}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1165,127},{177,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{209,107}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{319,1},{209,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{141,99}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1020,150},{141,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,10}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1620,1},{69,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{131,23}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{936,80},{131,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,32}</string>
                <key>spriteSize</key>
                <string>{179,147}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{168,1},{179,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,45}</string>
                <key>spriteSize</key>
                <string>{163,181}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,19}</string>
                <key>spriteSize</key>
                <string>{27,241}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{691,80},{27,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,12}</string>
                <key>spriteSize</key>
                <string>{87,205}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{644,165},{87,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-13}</string>
                <key>spriteSize</key>
                <string>{69,29}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1708,117},{69,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-28}</string>
                <key>spriteSize</key>
                <string>{41,131}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1346,208},{41,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-26}</string>
                <key>spriteSize</key>
                <string>{43,131}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1262,78},{43,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-26}</string>
                <key>spriteSize</key>
                <string>{41,131}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1481,208},{41,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-26}</string>
                <key>spriteSize</key>
                <string>{43,129}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1397,78},{43,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-26}</string>
                <key>spriteSize</key>
                <string>{41,129}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1530,78},{41,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-11}</string>
                <key>spriteSize</key>
                <string>{187,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{691,1},{187,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-32}</string>
                <key>spriteSize</key>
                <string>{179,73}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1437,1},{179,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-29}</string>
                <key>spriteSize</key>
                <string>{179,73}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1525,125},{179,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-29}</string>
                <key>spriteSize</key>
                <string>{181,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{882,1},{181,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-31}</string>
                <key>spriteSize</key>
                <string>{181,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1067,1},{181,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-32}</string>
                <key>spriteSize</key>
                <string>{181,73}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1252,1},{181,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-7}</string>
                <key>spriteSize</key>
                <string>{85,163}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{853,156},{85,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{49,191}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{506,112},{49,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{35,195}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{890,111},{35,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{43,169}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1089,80},{43,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{29,113}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1616,202},{29,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{39,75}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1663,74},{39,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,11}</string>
                <key>spriteSize</key>
                <string>{185,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{701,111},{185,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,12}</string>
                <key>spriteSize</key>
                <string>{223,47}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{417,181},{223,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,12}</string>
                <key>spriteSize</key>
                <string>{225,53}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{1,186},{225,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,13}</string>
                <key>spriteSize</key>
                <string>{183,65}</string>
                <key>spriteSourceSize</key>
                <string>{375,347}</string>
                <key>textureRect</key>
                <string>{{319,112},{183,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_attack_ld.png</string>
            <key>size</key>
            <string>{1739,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4f0358ffd94bdb03c98d9c858929cf6:ea53d0382191465d92d0c054bcd12e63:7064b8b76e4ba0357fa9f4c26f6ec489$</string>
            <key>textureFileName</key>
            <string>4303003_attack_ld.png</string>
        </dict>
    </dict>
</plist>
