<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-6}</string>
                <key>spriteSize</key>
                <string>{201,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{201,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,162},{201,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{201,157}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,484},{201,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-3}</string>
                <key>spriteSize</key>
                <string>{201,157}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,643},{201,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-3}</string>
                <key>spriteSize</key>
                <string>{199,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,965},{199,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{199,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1126},{199,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-5}</string>
                <key>spriteSize</key>
                <string>{197,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1287},{197,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{195,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1450},{195,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{195,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1615},{195,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-6}</string>
                <key>spriteSize</key>
                <string>{199,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,802},{199,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-6}</string>
                <key>spriteSize</key>
                <string>{201,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,323},{201,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303003_stand_ru.png</string>
            <key>size</key>
            <string>{203,1779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98832e6ada9959569e4b6b17aa9d78d:1dcecf2c19e3f1880fa47b06f7ed9f6a:e1996e46b33c7142ca417278a9cc6a49$</string>
            <key>textureFileName</key>
            <string>4303003_stand_ru.png</string>
        </dict>
    </dict>
</plist>
