<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_合成_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{123,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{775,1},{123,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{123,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{900,1},{123,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{123,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1025,1},{123,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{123,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1150,1},{123,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{125,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{648,1},{125,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{127,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{132,1},{127,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{129,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{127,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{261,1},{127,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{127,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{390,1},{127,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{127,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{519,1},{127,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_合成_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.535135,0.135135}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{123,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1275,1},{123,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200007_stand_rd.png</string>
            <key>size</key>
            <string>{1399,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f87cb738c2a440d35fb60958491f9d54:9b3dfa3d1e24a374a3983fa327e9bb33:ec3e973b8a877134fd197cba4d042aab$</string>
            <key>textureFileName</key>
            <string>4200007_stand_rd.png</string>
        </dict>
    </dict>
</plist>
