<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_wn_atk_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{15,-19}</string>
                <key>spriteSize</key>
                <string>{211,199}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,956},{211,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{17,-14}</string>
                <key>spriteSize</key>
                <string>{165,191}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{214,988},{165,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_wn_atk_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-33,-14}</string>
                <key>spriteSize</key>
                <string>{215,201}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{218,785},{215,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-35,-20}</string>
                <key>spriteSize</key>
                <string>{245,205}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-23,-23}</string>
                <key>spriteSize</key>
                <string>{231,201}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{248,208},{231,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{43,-24}</string>
                <key>spriteSize</key>
                <string>{245,205}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,208},{245,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-4,-21}</string>
                <key>spriteSize</key>
                <string>{127,203}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{363,1155},{127,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{233,205}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{248,1},{233,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-31,-21}</string>
                <key>spriteSize</key>
                <string>{215,207}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,747},{215,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-25,-24}</string>
                <key>spriteSize</key>
                <string>{163,217}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{220,620},{163,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_wn_atk_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-15,-27}</string>
                <key>spriteSize</key>
                <string>{141,221}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,415},{141,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_wn_atk_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{187,217}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,558},{187,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_wn_atk_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{30,-19}</string>
                <key>spriteSize</key>
                <string>{223,207}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{248,411},{223,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{181,203}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1157},{181,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{177,203}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{184,1157},{177,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_wn_atk_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513433,0.116418}</string>
                <key>spriteOffset</key>
                <string>{15,-19}</string>
                <key>spriteSize</key>
                <string>{211,199}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,956},{211,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100011_attack_ru.png</string>
            <key>size</key>
            <string>{491,1361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dfefc3232daf03ecade584b34c41ea0:b9707aaf705f5bdd9fd94a8c5f9450b8:0e48d63f0acdbd4d5144f10a014d4f55$</string>
            <key>textureFileName</key>
            <string>4100011_attack_ru.png</string>
        </dict>
    </dict>
</plist>
