<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_es_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{-11,10}</string>
                <key>spriteSize</key>
                <string>{243,197}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,596},{243,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_es_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{-20,6}</string>
                <key>spriteSize</key>
                <string>{259,207}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_es_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{219,231}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,795},{219,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{191,247}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,210},{191,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{183,229}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{254,885},{183,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{215,237}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{250,248},{215,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{219,241}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{248,465},{219,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{9,11}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{262,1},{223,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_es_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{197,243}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{246,686},{197,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{191,245}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,403},{191,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{12,75}</string>
                <key>spriteSize</key>
                <string>{113,25}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{357,1070},{113,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_es_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{11,-17}</string>
                <key>spriteSize</key>
                <string>{105,37}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1016},{105,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{11,-69}</string>
                <key>spriteSize</key>
                <string>{101,49}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{152,1016},{101,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{11,-66}</string>
                <key>spriteSize</key>
                <string>{101,55}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{40,1016},{101,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{11,-66}</string>
                <key>spriteSize</key>
                <string>{101,53}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{97,1016},{101,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_es_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{11,-71}</string>
                <key>spriteSize</key>
                <string>{101,45}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{254,1070},{101,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_es_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.480597,0.20597}</string>
                <key>spriteOffset</key>
                <string>{11,-71}</string>
                <key>spriteSize</key>
                <string>{101,49}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{203,1016},{101,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100011_die_ld.png</string>
            <key>size</key>
            <string>{490,1122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9860d7388170d2dd4f639cc7c42b97b4:e8dbd0d09ff550a9e0298a45ea91f3f5:a0bae42e372440df615ca4ad83e8b053$</string>
            <key>textureFileName</key>
            <string>4100011_die_ld.png</string>
        </dict>
    </dict>
</plist>
