<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_n_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{183,223}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{185,225}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,371},{185,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{187,227}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{224,558},{187,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{185,223}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{228,371},{185,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{185,221}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,558},{185,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{183,221}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{226,1},{183,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{183,219}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,186},{183,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_n_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.495522,0.220896}</string>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{183,221}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{222,186},{183,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100011_stand_u.png</string>
            <key>size</key>
            <string>{452,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7932620638e9f5a7f87f5f7a6a03d413:7851229290ab150ef97ee30528445127:7c638447f8e904accf8323fb9fdac250$</string>
            <key>textureFileName</key>
            <string>4100011_stand_u.png</string>
        </dict>
    </dict>
</plist>
