<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_wn_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{22,14}</string>
                <key>spriteSize</key>
                <string>{211,199}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{285,837},{211,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_wn_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{40,13}</string>
                <key>spriteSize</key>
                <string>{235,203}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,797},{235,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_wn_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{50,10}</string>
                <key>spriteSize</key>
                <string>{235,213}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{250,622},{235,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_wn_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{44,18}</string>
                <key>spriteSize</key>
                <string>{223,239}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{254,210},{223,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{27,15}</string>
                <key>spriteSize</key>
                <string>{207,241}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{256,1},{207,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{18,16}</string>
                <key>spriteSize</key>
                <string>{209,247}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,401},{209,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{15,17}</string>
                <key>spriteSize</key>
                <string>{207,253}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{207,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{189,251}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,210},{189,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{185,247}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{250,435},{185,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{183,247}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,612},{183,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-3,76}</string>
                <key>spriteSize</key>
                <string>{127,45}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{238,837},{127,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{119,55}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{243,1038},{119,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_wn_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-2,-84}</string>
                <key>spriteSize</key>
                <string>{113,57}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{129,1002},{113,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-2,-81}</string>
                <key>spriteSize</key>
                <string>{113,51}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{364,1038},{113,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_wn_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-2,-82}</string>
                <key>spriteSize</key>
                <string>{113,53}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{188,1002},{113,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-2,-87}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1002},{113,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_wn_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.208955}</string>
                <key>spriteOffset</key>
                <string>{-2,-87}</string>
                <key>spriteSize</key>
                <string>{113,59}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{68,1002},{113,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100011_die_ru.png</string>
            <key>size</key>
            <string>{498,1116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f487bd661cd24554adf01b117c45593c:402c537166f18e1ab76553dccf11ccac:25335365d12bf35842461a39543a7f46$</string>
            <key>textureFileName</key>
            <string>4100011_die_ru.png</string>
        </dict>
    </dict>
</plist>
