<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_es_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{7,-43}</string>
                <key>spriteSize</key>
                <string>{243,197}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,1108},{243,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_es_shifa_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{-1,-59}</string>
                <key>spriteSize</key>
                <string>{183,233}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{266,520},{183,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{-7,-64}</string>
                <key>spriteSize</key>
                <string>{187,249}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{260,898},{187,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{7,-58}</string>
                <key>spriteSize</key>
                <string>{193,227}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{260,1087},{193,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{23,-55}</string>
                <key>spriteSize</key>
                <string>{191,201}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{262,705},{191,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{28,-58}</string>
                <key>spriteSize</key>
                <string>{183,189}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{282,160},{183,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{26,-49}</string>
                <key>spriteSize</key>
                <string>{157,193}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{286,1},{157,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{173,235}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{272,345},{173,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{27,23}</string>
                <key>spriteSize</key>
                <string>{131,283}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{24,31}</string>
                <key>spriteSize</key>
                <string>{137,279}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,134},{137,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{20,34}</string>
                <key>spriteSize</key>
                <string>{145,269}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,273},{145,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{17,32}</string>
                <key>spriteSize</key>
                <string>{155,263}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,420},{155,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{16,29}</string>
                <key>spriteSize</key>
                <string>{169,259}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,577},{169,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{14,28}</string>
                <key>spriteSize</key>
                <string>{177,257}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,748},{177,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{14,27}</string>
                <key>spriteSize</key>
                <string>{179,257}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,927},{179,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{19,27}</string>
                <key>spriteSize</key>
                <string>{181,263}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{246,1282},{181,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{26,23}</string>
                <key>spriteSize</key>
                <string>{175,269}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{210,1465},{175,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_es_shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{36,5}</string>
                <key>spriteSize</key>
                <string>{207,247}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,1307},{207,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_es_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{9,-30}</string>
                <key>spriteSize</key>
                <string>{287,195}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{198,1642},{287,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_es_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.537313,0.124688}</string>
                <key>spriteOffset</key>
                <string>{1,-40}</string>
                <key>spriteSize</key>
                <string>{269,195}</string>
                <key>spriteSourceSize</key>
                <string>{335,401}</string>
                <key>textureRect</key>
                <string>{{1,1556},{269,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100011_magic_ld.png</string>
            <key>size</key>
            <string>{510,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c2e49fa252c6133159921e8a626dcd4:42a7a07906712125810f2e1f30bb6453:79da5c6c97930eb57fcbad6efe62196f$</string>
            <key>textureFileName</key>
            <string>4100011_magic_ld.png</string>
        </dict>
    </dict>
</plist>
