<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{33,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{292,1},{33,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-15}</string>
                <key>spriteSize</key>
                <string>{31,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{31,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{366,1},{31,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{31,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{401,1},{31,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{31,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{436,1},{31,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{29,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{471,1},{29,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{29,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{504,1},{29,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-17}</string>
                <key>spriteSize</key>
                <string>{29,97}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{665,1},{29,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{29,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{537,1},{29,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{29,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{570,1},{29,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{27,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{603,1},{27,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{27,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{634,1},{27,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{27,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{137,1},{27,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{27,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{168,1},{27,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{27,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{199,1},{27,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{27,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{230,1},{27,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{27,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{261,1},{27,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{29,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{71,1},{29,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{29,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{104,1},{29,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{31,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{36,1},{31,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{33,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{329,1},{33,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301003_stand_ru.png</string>
            <key>size</key>
            <string>{695,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1ae0744af438ff99ab594cec29ca592:68cecff23a4b5c3c173ac665341e1432:2a50674764c730d0307965d78f60f5cd$</string>
            <key>textureFileName</key>
            <string>4301003_stand_ru.png</string>
        </dict>
    </dict>
</plist>
