<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_hit_ES_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,23}</string>
                <key>spriteSize</key>
                <string>{78,30}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{91,157},{78,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-30}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{81,239},{72,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,67},{90,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,23},{92,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{86,30}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,109},{86,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{84,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{95,69},{84,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{78,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,165},{78,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{76,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,253},{76,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{72,20}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{77,315},{72,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,7}</string>
                <key>spriteSize</key>
                <string>{102,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{64,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{107,1},{64,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{64,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,355},{64,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{64,16}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,375},{64,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,13}</string>
                <key>spriteSize</key>
                <string>{86,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,143},{86,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{66,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{101,315},{66,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_ES_hit_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{72,18}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,333},{72,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{72,22}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,307},{72,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,279},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,21}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,223},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_ES_hit_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,22}</string>
                <key>spriteSize</key>
                <string>{76,28}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,191},{76,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301003_hit_ld.png</string>
            <key>size</key>
            <string>{124,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3687a8d03a5e56f1c4f4c8890d12ee24:4f4b2f67dc84ad18551c51aff9eacd7d:69584aef235082f5005ef3f7f31fe087$</string>
            <key>textureFileName</key>
            <string>4301003_hit_ld.png</string>
        </dict>
    </dict>
</plist>
