<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_dead_ES_dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,99}</string>
                <key>spriteSize</key>
                <string>{77,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{98,256},{77,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,97}</string>
                <key>spriteSize</key>
                <string>{93,27}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,223},{93,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,94}</string>
                <key>spriteSize</key>
                <string>{41,11}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{114,81},{41,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,98}</string>
                <key>spriteSize</key>
                <string>{67,17}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,900},{67,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,90}</string>
                <key>spriteSize</key>
                <string>{79,17}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,697},{79,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,61}</string>
                <key>spriteSize</key>
                <string>{73,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{96,337},{73,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,36}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{84,654},{43,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,33}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{90,554},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,33}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{72,910},{33,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,38}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{90,603},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,53}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{76,845},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,68}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,798},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,75}</string>
                <key>spriteSize</key>
                <string>{75,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,718},{75,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,78}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{92,475},{75,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,66}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,869},{67,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,54}</string>
                <key>spriteSize</key>
                <string>{73,23}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,771},{73,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,49}</string>
                <key>spriteSize</key>
                <string>{93,21}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,254},{93,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,44}</string>
                <key>spriteSize</key>
                <string>{99,21}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{106,153},{99,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,36}</string>
                <key>spriteSize</key>
                <string>{101,29}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,153},{101,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,33}</string>
                <key>spriteSize</key>
                <string>{109,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,81},{109,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,32}</string>
                <key>spriteSize</key>
                <string>{115,39}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,38},{115,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,33}</string>
                <key>spriteSize</key>
                <string>{117,33}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,37}</string>
                <key>spriteSize</key>
                <string>{109,27}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,122},{109,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,39}</string>
                <key>spriteSize</key>
                <string>{87,21}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,465},{87,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,44}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{94,414},{57,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,48}</string>
                <key>spriteSize</key>
                <string>{39,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{84,697},{39,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,34}</string>
                <key>spriteSize</key>
                <string>{33,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,186},{33,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,7}</string>
                <key>spriteSize</key>
                <string>{47,75}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{80,766},{47,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-35}</string>
                <key>spriteSize</key>
                <string>{63,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,921},{63,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_ES_dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-52}</string>
                <key>spriteSize</key>
                <string>{65,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,628},{65,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-50}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,490},{73,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-52}</string>
                <key>spriteSize</key>
                <string>{57,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,567},{57,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-55}</string>
                <key>spriteSize</key>
                <string>{41,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,420},{41,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-55}</string>
                <key>spriteSize</key>
                <string>{39,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,326},{39,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-54}</string>
                <key>spriteSize</key>
                <string>{43,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,279},{43,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_ES_dead_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-55}</string>
                <key>spriteSize</key>
                <string>{47,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,369},{47,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301003_die_ld.png</string>
            <key>size</key>
            <string>{128,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd690a7b8aa1185ac752b7b93bfa91f:9fc32d2b5f26dca2f3d1b608ee7a142e:87d11cd838c3ed83d27b7931df822c2d$</string>
            <key>textureFileName</key>
            <string>4301003_die_ld.png</string>
        </dict>
    </dict>
</plist>
