<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{42,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{97,91},{42,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,91},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{49,1},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{49,91},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,181},{44,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,20}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{181,181},{16,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{145,225},{16,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,20}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{181,201},{16,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,20}</string>
                <key>spriteSize</key>
                <string>{16,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{97,225},{16,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,20}</string>
                <key>spriteSize</key>
                <string>{14,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,229},{14,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,20}</string>
                <key>spriteSize</key>
                <string>{14,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{49,229},{14,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,20}</string>
                <key>spriteSize</key>
                <string>{14,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{233,91},{14,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,20}</string>
                <key>spriteSize</key>
                <string>{14,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{233,139},{14,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,20}</string>
                <key>spriteSize</key>
                <string>{14,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{191,221},{14,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{40,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{91,181},{40,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_S_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{40,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{191,1},{40,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{40,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{189,91},{40,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{42,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{145,1},{42,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{42,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{143,91},{42,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_S_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{97,1},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301003_stand_d.png</string>
            <key>size</key>
            <string>{248,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3f6ce99f8a34e5dff6bbc3bc40c39c0:eaa1661cf4a23b510205fda5a5367f42:c39c15e4558e28260bba449726d2d407$</string>
            <key>textureFileName</key>
            <string>4301003_stand_d.png</string>
        </dict>
    </dict>
</plist>
