<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_run_W_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,32}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{91,101},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,19}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{79,181},{50,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_run_W_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{77,243},{64,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_run_W_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,22}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,243},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,113},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,20}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,15}</string>
                <key>spriteSize</key>
                <string>{88,56}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,55},{88,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,17}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,181},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,32}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{91,55},{44,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_run_W_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,33}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{89,141},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_run_W_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,32}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{91,101},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301003_run_r.png</string>
            <key>size</key>
            <string>{128,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b85ee994b4ac77eb96b9430790cc07b:0aa558d50d544a3520050c27a4fbdcc8:eef781d8e7e9e5c360ca7c8588575d48$</string>
            <key>textureFileName</key>
            <string>4301003_run_r.png</string>
        </dict>
    </dict>
</plist>
