<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN_shifa_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{77,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{162,278},{77,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{79,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,232},{79,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{79,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{168,195},{79,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{73,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,155},{73,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{73,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,78},{73,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{73,181}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{81,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{186,1},{81,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{105,165}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{180,86},{105,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,6}</string>
                <key>spriteSize</key>
                <string>{121,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{367,1},{121,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,10}</string>
                <key>spriteSize</key>
                <string>{85,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{158,454},{85,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,16}</string>
                <key>spriteSize</key>
                <string>{89,133}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,479},{89,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,16}</string>
                <key>spriteSize</key>
                <string>{127,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{349,144},{127,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{79,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,396},{79,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,4}</string>
                <key>spriteSize</key>
                <string>{105,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{319,368},{105,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{247,477},{105,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{91,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{162,359},{91,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{89,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{331,275},{89,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_1_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{77,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,315},{77,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100006_magic_ru.png</string>
            <key>size</key>
            <string>{489,583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de5a92b8b877c01a0ef312b8ba22b6a:16db1b54069f83148449f2c7c5f4c6a0:4b0c60b968f93667df8373c789be4a60$</string>
            <key>textureFileName</key>
            <string>4100006_magic_ru.png</string>
        </dict>
    </dict>
</plist>
