<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{77,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,238},{77,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{79,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,400},{79,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{79,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,1},{79,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{81,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,287},{81,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{79,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,144},{79,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{79,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,483},{79,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{79,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{146,430},{79,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{77,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,319},{77,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,80},{75,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_ES_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,159},{75,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100006_idle_ld.png</string>
            <key>size</key>
            <string>{230,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047cd0d7672b49ff52bf50189f09ac6d:60b7e9c765e733faba733a6298412ec0:c87684cb3e083f2433755772e9ccccd9$</string>
            <key>textureFileName</key>
            <string>4100006_idle_ld.png</string>
        </dict>
    </dict>
</plist>
