<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-20,3}</string>
                <key>spriteSize</key>
                <string>{87,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,92},{87,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-19,4}</string>
                <key>spriteSize</key>
                <string>{89,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-19,3}</string>
                <key>spriteSize</key>
                <string>{91,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{152,1},{91,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{93,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,150},{93,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-20,1}</string>
                <key>spriteSize</key>
                <string>{93,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,272},{93,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{93,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{146,297},{93,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-21,1}</string>
                <key>spriteSize</key>
                <string>{91,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,367},{91,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.466667,0.243137}</string>
                <key>spriteOffset</key>
                <string>{-21,2}</string>
                <key>spriteSize</key>
                <string>{89,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,181},{89,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100006_stand_d.png</string>
            <key>size</key>
            <string>{244,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08957aabd204d03b9b591211da7bc67c:c158d155fd5010baddd9dc1b1059fc24:42142a9c2f9196928bdc8d7f83678345$</string>
            <key>textureFileName</key>
            <string>4100006_stand_d.png</string>
        </dict>
    </dict>
</plist>
