<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-2}</string>
                <key>spriteSize</key>
                <string>{137,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-10}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{110,784},{103,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-42}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{120,464},{105,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{97,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{128,114},{97,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-61}</string>
                <key>spriteSize</key>
                <string>{105,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,767},{105,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-57}</string>
                <key>spriteSize</key>
                <string>{111,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,692},{111,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-58}</string>
                <key>spriteSize</key>
                <string>{113,69}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,534},{113,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-58}</string>
                <key>spriteSize</key>
                <string>{115,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,471},{115,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-58}</string>
                <key>spriteSize</key>
                <string>{123,75}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,92},{123,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-61}</string>
                <key>spriteSize</key>
                <string>{117,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,242},{117,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-61}</string>
                <key>spriteSize</key>
                <string>{119,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,171},{119,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-64}</string>
                <key>spriteSize</key>
                <string>{115,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,311},{115,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-64}</string>
                <key>spriteSize</key>
                <string>{111,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,607},{111,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-62}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{116,614},{109,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-66}</string>
                <key>spriteSize</key>
                <string>{109,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{142,1},{109,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-68}</string>
                <key>spriteSize</key>
                <string>{117,85}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{124,183},{117,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-67}</string>
                <key>spriteSize</key>
                <string>{115,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,394},{115,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-64}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{116,699},{109,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-64}</string>
                <key>spriteSize</key>
                <string>{103,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{122,304},{103,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-68}</string>
                <key>spriteSize</key>
                <string>{107,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{118,537},{107,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-63}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{120,389},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302004_die_ru.png</string>
            <key>size</key>
            <string>{226,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7517b8c400d0eb78917d3b2708752fef:09f1a4a696393e81fcc40a506dc8da3b:b306c06ddbeadc790940a19c938f004b$</string>
            <key>textureFileName</key>
            <string>4302004_die_ru.png</string>
        </dict>
    </dict>
</plist>
