<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-29}</string>
                <key>spriteSize</key>
                <string>{99,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{233,1},{99,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-25}</string>
                <key>spriteSize</key>
                <string>{109,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,90},{109,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{117,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-23}</string>
                <key>spriteSize</key>
                <string>{111,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{120,1},{111,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{120,86},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-20}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{215,169},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-20}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{318,169},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{101,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{223,86},{101,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-28}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{326,86},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-24}</string>
                <key>spriteSize</key>
                <string>{85,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{334,1},{85,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WS_stand_鍘熼厤鍙ょ惔_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-29}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{112,167},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302004_stand_rd.png</string>
            <key>size</key>
            <string>{420,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b828de0e79dafcc8bce54e8fadcc7b67:260458dad3a67ea8e6d9cac2cda8b177:0e53f54db5ead2faf4fe4a35c87feff6$</string>
            <key>textureFileName</key>
            <string>4302004_stand_rd.png</string>
        </dict>
    </dict>
</plist>
