<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1原配武器run_WS_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-11}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,772},{67,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WS_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-12}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,701},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WS_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-19}</string>
                <key>spriteSize</key>
                <string>{83,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,72},{83,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-19}</string>
                <key>spriteSize</key>
                <string>{79,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,283},{79,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{79,61}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,352},{79,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,415},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,204},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,841},{63,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WS_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-14}</string>
                <key>spriteSize</key>
                <string>{65,73}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,634},{65,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WS_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-27}</string>
                <key>spriteSize</key>
                <string>{83,53}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,149},{83,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-19}</string>
                <key>spriteSize</key>
                <string>{85,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WS_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,561},{71,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WS_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-11}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,488},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302004_run_rd.png</string>
            <key>size</key>
            <string>{87,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f8ad4dddbbf421184b259f42295573:e861599f8e307db4e5d4630da2e00dfb:de60eb2b3a25ffcc881c9de71dfcebde$</string>
            <key>textureFileName</key>
            <string>4302004_run_rd.png</string>
        </dict>
    </dict>
</plist>
