<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{57,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,241},{57,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-14}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-15}</string>
                <key>spriteSize</key>
                <string>{49,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{98,64},{49,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-14}</string>
                <key>spriteSize</key>
                <string>{51,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,131},{51,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{98,1},{59,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,66},{61,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-15}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{195,94},{53,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-15}</string>
                <key>spriteSize</key>
                <string>{59,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{94,239},{59,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{49,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{94,186},{49,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{53,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{195,1},{53,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{51,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,186},{51,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{189,181},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{90,302},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{45,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,479},{45,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{49,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{88,426},{49,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{53,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{50,479},{53,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{49,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,302},{49,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-14}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,422},{53,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-13}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{107,479},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{51,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{177,353},{51,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{176,489},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-19}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{177,408},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,355},{63,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-17}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{185,268},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-13}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{90,353},{69,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,117},{65,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302004_stand_u.png</string>
            <key>size</key>
            <string>{251,561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b65b77ff242756745d73180c435c0680:f40636812876ba577677f657b6596408:c304a0408658c72c4e5faeb606dc4314$</string>
            <key>textureFileName</key>
            <string>4302004_stand_u.png</string>
        </dict>
    </dict>
</plist>
