<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_ES_attack_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{143,71}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{179,1},{143,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{434,1},{139,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,14}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1214,1},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,13}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{922,134},{77,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,12}</string>
                <key>spriteSize</key>
                <string>{77,141}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{353,1},{77,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,12}</string>
                <key>spriteSize</key>
                <string>{87,145}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,19}</string>
                <key>spriteSize</key>
                <string>{71,139}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{513,1},{71,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,11}</string>
                <key>spriteSize</key>
                <string>{83,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{92,1},{83,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,11}</string>
                <key>spriteSize</key>
                <string>{125,107}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{793,138},{125,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{141,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{254,1},{141,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,7}</string>
                <key>spriteSize</key>
                <string>{109,99}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,150},{109,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{73,109}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{716,138},{73,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,5}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1214,88},{69,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,5}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1155,161},{67,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{217,148},{97,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,22}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1115,1},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,17}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1006,1},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{114,148},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,20}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{310,146},{103,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,22}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{488,144},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,21}</string>
                <key>spriteSize</key>
                <string>{109,111}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{601,140},{109,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,19}</string>
                <key>spriteSize</key>
                <string>{75,117}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1003,128},{75,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,18}</string>
                <key>spriteSize</key>
                <string>{71,123}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{931,1},{71,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,14}</string>
                <key>spriteSize</key>
                <string>{73,135}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{588,1},{73,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,30}</string>
                <key>spriteSize</key>
                <string>{69,105}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1082,112},{69,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,35}</string>
                <key>spriteSize</key>
                <string>{65,97}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{419,146},{65,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{129,127}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{800,1},{129,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{665,1},{133,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302004_attack_ld.png</string>
            <key>size</key>
            <string>{1298,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50575f397258745ade14aa3f6fb62b82:cf5a417819c085cffeba4e513e06b87e:e063a1342b96a91a36b68f2c2437c0b8$</string>
            <key>textureFileName</key>
            <string>4302004_attack_ld.png</string>
        </dict>
    </dict>
</plist>
