<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1原配武器run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-2}</string>
                <key>spriteSize</key>
                <string>{127,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{138,80},{127,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{135,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,90},{135,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-9}</string>
                <key>spriteSize</key>
                <string>{135,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,177},{135,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{127,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{138,209},{127,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1原配武器run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-6}</string>
                <key>spriteSize</key>
                <string>{123,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{130,419},{123,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-6}</string>
                <key>spriteSize</key>
                <string>{121,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,338},{121,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-2}</string>
                <key>spriteSize</key>
                <string>{123,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,493},{123,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-10}</string>
                <key>spriteSize</key>
                <string>{121,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{126,500},{121,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-15}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,416},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-12}</string>
                <key>spriteSize</key>
                <string>{115,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{138,1},{115,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-10}</string>
                <key>spriteSize</key>
                <string>{131,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,256},{131,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-4}</string>
                <key>spriteSize</key>
                <string>{131,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,337},{131,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1原配武器run_WN_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{135,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302004_run_ru.png</string>
            <key>size</key>
            <string>{256,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0ddbafd824e1f24d4fcc5461392afe:f8c24cf03453b63be62033da885206a2:875d0ea46000341f8b0d75699470a0b3$</string>
            <key>textureFileName</key>
            <string>4302004_run_ru.png</string>
        </dict>
    </dict>
</plist>
