<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_biaoqingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,326}</string>
                <key>spriteSourceSize</key>
                <string>{636,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{636,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_danduliaotiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,82}</string>
                <key>textureRect</key>
                <string>{{204,419},{86,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_huodongbiaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,33}</string>
                <key>spriteSourceSize</key>
                <string>{75,33}</string>
                <key>textureRect</key>
                <string>{{517,410},{75,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_liaotiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{552,329},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_liaotianhongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,82}</string>
                <key>spriteSourceSize</key>
                <string>{105,82}</string>
                <key>textureRect</key>
                <string>{{669,120},{105,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_liaotiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{86,79}</string>
                <key>textureRect</key>
                <string>{{288,419},{86,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_liaotiankuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,79}</string>
                <key>spriteSourceSize</key>
                <string>{87,79}</string>
                <key>textureRect</key>
                <string>{{463,329},{87,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shijiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,25}</string>
                <key>spriteSourceSize</key>
                <string>{59,25}</string>
                <key>textureRect</key>
                <string>{{614,476},{59,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{731,304},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_touxiangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{664,384},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_weiduxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{460,410},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xitongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{729,420},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzhongtouxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,130}</string>
                <key>spriteSourceSize</key>
                <string>{201,130}</string>
                <key>textureRect</key>
                <string>{{1,329},{201,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzhongzuobian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,88}</string>
                <key>spriteSourceSize</key>
                <string>{138,88}</string>
                <key>textureRect</key>
                <string>{{204,329},{138,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_biaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{60,57}</string>
                <key>textureRect</key>
                <string>{{552,398},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_biaoqinganniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{398,403},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_biaoqingshensuoannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,42}</string>
                <key>spriteSourceSize</key>
                <string>{110,42}</string>
                <key>textureRect</key>
                <string>{{1,461},{110,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_biaoqingweixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,72}</string>
                <key>spriteSourceSize</key>
                <string>{117,72}</string>
                <key>textureRect</key>
                <string>{{669,1},{117,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_biaoqingxuanzhongannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,72}</string>
                <key>spriteSourceSize</key>
                <string>{117,72}</string>
                <key>textureRect</key>
                <string>{{344,329},{117,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_liaotianguangboqianwang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,39}</string>
                <key>textureRect</key>
                <string>{{398,466},{74,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{552,457},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emoji_temp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{669,227},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_biaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,27}</string>
                <key>spriteSourceSize</key>
                <string>{64,27}</string>
                <key>textureRect</key>
                <string>{{624,329},{64,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_biaoqing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,32}</string>
                <key>textureRect</key>
                <string>{{664,438},{63,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,27}</string>
                <key>spriteSourceSize</key>
                <string>{64,27}</string>
                <key>textureRect</key>
                <string>{{665,304},{64,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chongwu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,32}</string>
                <key>textureRect</key>
                <string>{{717,386},{63,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dangqianweidu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,28}</string>
                <key>spriteSourceSize</key>
                <string>{276,28}</string>
                <key>textureRect</key>
                <string>{{639,1},{276,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_fasong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,24}</string>
                <key>spriteSourceSize</key>
                <string>{73,24}</string>
                <key>textureRect</key>
                <string>{{638,395},{73,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_heimingdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,22}</string>
                <key>spriteSourceSize</key>
                <string>{76,22}</string>
                <key>textureRect</key>
                <string>{{614,398},{76,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jiaoyisuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,27}</string>
                <key>spriteSourceSize</key>
                <string>{98,27}</string>
                <key>textureRect</key>
                <string>{{369,403},{98,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jiaoyisuo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,32}</string>
                <key>textureRect</key>
                <string>{{743,1},{96,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_liaotian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,32}</string>
                <key>spriteSourceSize</key>
                <string>{87,32}</string>
                <key>textureRect</key>
                <string>{{113,461},{87,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_tianjiahaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{104,22}</string>
                <key>textureRect</key>
                <string>{{753,99},{104,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wupin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,27}</string>
                <key>spriteSourceSize</key>
                <string>{64,27}</string>
                <key>textureRect</key>
                <string>{{717,357},{64,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wupin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,32}</string>
                <key>textureRect</key>
                <string>{{675,472},{63,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{57,49}</string>
                <key>textureRect</key>
                <string>{{653,333},{57,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_liaotianhongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{750,269},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xitong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{79,33}</string>
                <key>textureRect</key>
                <string>{{669,269},{79,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zhishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,24}</string>
                <key>spriteSourceSize</key>
                <string>{46,24}</string>
                <key>textureRect</key>
                <string>{{639,279},{46,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat_panel.png</string>
            <key>size</key>
            <string>{782,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f7718f5f581e217453ec9267c90cc4:7fbe914748d1f185d91e048c7f2245bc:e2bf33e23c6062eb824879e9a1fd11f5$</string>
            <key>textureFileName</key>
            <string>chat_panel.png</string>
        </dict>
    </dict>
</plist>
