<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{71,347},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gerenxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{736,115}</string>
                <key>spriteSourceSize</key>
                <string>{738,119}</string>
                <key>textureRect</key>
                <string>{{809,275},{736,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jingjichangjifenduanweidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,126}</string>
                <key>spriteSourceSize</key>
                <string>{60,126}</string>
                <key>textureRect</key>
                <string>{{809,392},{60,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jingjizhandoumingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{424,68}</string>
                <key>spriteSourceSize</key>
                <string>{432,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_kuaibiyaoqianshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{344,298}</string>
                <key>spriteSourceSize</key>
                <string>{352,300}</string>
                <key>textureRect</key>
                <string>{{71,1},{344,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paimingzhanlidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,43}</string>
                <key>spriteSourceSize</key>
                <string>{261,43}</string>
                <key>textureRect</key>
                <string>{{1347,1},{261,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_qianzhanyaoqiangshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{628,272}</string>
                <key>spriteSourceSize</key>
                <string>{634,278}</string>
                <key>textureRect</key>
                <string>{{619,1},{628,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_renwuyinying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,28}</string>
                <key>spriteSourceSize</key>
                <string>{109,38}</string>
                <key>textureRect</key>
                <string>{{1524,128},{97,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_shouyidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{113,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{987,392},{113,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xiaohaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{226,36}</string>
                <key>spriteSourceSize</key>
                <string>{248,38}</string>
                <key>textureRect</key>
                <string>{{759,457},{226,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yuanbaoyaoqianshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-25}</string>
                <key>spriteSize</key>
                <string>{276,246}</string>
                <key>spriteSourceSize</key>
                <string>{352,300}</string>
                <key>textureRect</key>
                <string>{{371,1},{276,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhandoujiludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{230,347},{64,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_huanyipianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{189,67}</string>
                <key>textureRect</key>
                <string>{{692,275},{187,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_jutijilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,96}</string>
                <key>spriteSourceSize</key>
                <string>{262,110}</string>
                <key>textureRect</key>
                <string>{{1249,1},{262,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_tiaozhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{204,65}</string>
                <key>spriteSourceSize</key>
                <string>{208,65}</string>
                <key>textureRect</key>
                <string>{{1,427},{204,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_yaoqianshuguanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{149,347},{74,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_yaoqianshuwenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{207,423},{74,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gangkuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,29}</string>
                <key>spriteSourceSize</key>
                <string>{52,31}</string>
                <key>textureRect</key>
                <string>{{643,470},{52,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_gangyuanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{937,392},{52,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jinrizongshouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,47}</string>
                <key>spriteSourceSize</key>
                <string>{193,47}</string>
                <key>textureRect</key>
                <string>{{643,275},{193,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuaibizhifue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{137,28}</string>
                <key>spriteSourceSize</key>
                <string>{139,32}</string>
                <key>textureRect</key>
                <string>{{292,347},{137,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_lingqujiangliwenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,24}</string>
                <key>spriteSourceSize</key>
                <string>{113,26}</string>
                <key>textureRect</key>
                <string>{{1436,392},{111,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_meixiaoshihuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,31}</string>
                <key>spriteSourceSize</key>
                <string>{121,31}</string>
                <key>textureRect</key>
                <string>{{1491,128},{119,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_meiyikuaibidengyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{180,20}</string>
                <key>spriteSourceSize</key>
                <string>{190,22}</string>
                <key>textureRect</key>
                <string>{{757,275},{180,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_paihangbangmeixiaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{1398,392},{98,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qiangzhanquanzhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,28}</string>
                <key>spriteSourceSize</key>
                <string>{174,32}</string>
                <key>textureRect</key>
                <string>{{779,275},{170,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_qitashouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{1436,450},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_querenzhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{352,347},{133,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_tiaozhanjiage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,28}</string>
                <key>spriteSourceSize</key>
                <string>{143,32}</string>
                <key>textureRect</key>
                <string>{{322,347},{137,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yaoqiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{41,36}</string>
                <key>textureRect</key>
                <string>{{697,464},{33,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yaoqianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,36}</string>
                <key>textureRect</key>
                <string>{{729,464},{33,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yaoqianshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{108,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,36}</string>
                <key>textureRect</key>
                <string>{{1436,418},{108,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zhandoujilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,36}</string>
                <key>spriteSourceSize</key>
                <string>{125,36}</string>
                <key>textureRect</key>
                <string>{{1491,1},{125,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zuotiangongjihuodekuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{206,24}</string>
                <key>spriteSourceSize</key>
                <string>{212,28}</string>
                <key>textureRect</key>
                <string>{{617,279},{206,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jianglihuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{1102,392},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jingjichangVS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,220}</string>
                <key>spriteSourceSize</key>
                <string>{225,220}</string>
                <key>textureRect</key>
                <string>{{390,279},{225,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jingjichangshengli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1204,392},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jingjichangshibai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,99}</string>
                <key>spriteSourceSize</key>
                <string>{95,99}</string>
                <key>textureRect</key>
                <string>{{1301,392},{95,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_paihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{252,97}</string>
                <key>spriteSourceSize</key>
                <string>{262,97}</string>
                <key>textureRect</key>
                <string>{{1392,1},{252,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yqs_panel.png</string>
            <key>size</key>
            <string>{1553,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f211c42862a17a8c179ebd2e37be0e5:07ea08260b51205c660ae0f377770df4:68bc362e3a90b9a997e6c870ebcecec3$</string>
            <key>textureFileName</key>
            <string>yqs_panel.png</string>
        </dict>
    </dict>
</plist>
