<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1_2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,57}</string>
                <key>spriteSize</key>
                <string>{292,569}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1109,1137},{292,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,57}</string>
                <key>spriteSize</key>
                <string>{374,569}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{387,568},{374,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,57}</string>
                <key>spriteSize</key>
                <string>{350,569}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{757,1139},{350,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,57}</string>
                <key>spriteSize</key>
                <string>{376,569}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,1177},{376,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,59}</string>
                <key>spriteSize</key>
                <string>{366,565}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{387,1},{366,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,55}</string>
                <key>spriteSize</key>
                <string>{380,561}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1328,564},{380,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,51}</string>
                <key>spriteSize</key>
                <string>{384,561}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1330,1},{384,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,47}</string>
                <key>spriteSize</key>
                <string>{376,569}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{379,1177},{376,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,42}</string>
                <key>spriteSize</key>
                <string>{382,571}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{757,1},{382,571}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,40}</string>
                <key>spriteSize</key>
                <string>{382,563}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{763,385},{382,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,34}</string>
                <key>spriteSize</key>
                <string>{376,555}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1403,1127},{376,555}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{366,503}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{763,769},{366,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{384,583}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,592},{384,583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,47}</string>
                <key>spriteSize</key>
                <string>{384,589}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,1},{384,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createPlayer4000002_1.png</string>
            <key>size</key>
            <string>{1780,1747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964aa194d2870a0a12b76d05e09e8aec:788c95c9531c47f2ffba9cbe57520d6e:28f8a1e78c1cc3b9c4f820f5bda76c4e$</string>
            <key>textureFileName</key>
            <string>createPlayer4000002_1.png</string>
        </dict>
    </dict>
</plist>
