<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男1_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{5,28}</string>
                <key>spriteSize</key>
                <string>{274,352}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{288,372}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{707,1},{288,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{288,372}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{1081,1},{288,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-3,29}</string>
                <key>spriteSize</key>
                <string>{290,356}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{707,291},{290,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-3,29}</string>
                <key>spriteSize</key>
                <string>{290,356}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{1065,291},{290,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{290,354}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{1423,291},{290,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-4,28}</string>
                <key>spriteSize</key>
                <string>{288,354}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{1455,1},{288,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-2,27}</string>
                <key>spriteSize</key>
                <string>{290,352}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{1,277},{290,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{-3,27}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{355,279},{290,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男1_1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.445313,0.357784}</string>
                <key>spriteOffset</key>
                <string>{4,27}</string>
                <key>spriteSize</key>
                <string>{276,350}</string>
                <key>spriteSourceSize</key>
                <string>{384,668}</string>
                <key>textureRect</key>
                <string>{{355,1},{276,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createPlayer4000001_1.png</string>
            <key>size</key>
            <string>{1810,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d66d4ee23a5acf2dfaf09b658e5e8491:2fea95b23387b2b5f6f85e82f218ef0b:641538afda00a4e170a7ab10d09a0561$</string>
            <key>textureFileName</key>
            <string>createPlayer4000001_1.png</string>
        </dict>
    </dict>
</plist>
