<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,162}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{408,545},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,163}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{357,134},{116,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,162}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{357,1},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,162}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{351,252},{140,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,163}</string>
                <key>spriteSize</key>
                <string>{148,149}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{348,394},{148,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,163}</string>
                <key>spriteSize</key>
                <string>{154,155}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{164,521},{154,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,163}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,519},{160,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,163}</string>
                <key>spriteSize</key>
                <string>{164,165}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,353},{164,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,163}</string>
                <key>spriteSize</key>
                <string>{168,169}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{177,351},{168,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1_1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,162}</string>
                <key>spriteSize</key>
                <string>{172,171}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{177,178},{172,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,162}</string>
                <key>spriteSize</key>
                <string>{174,173}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,178},{174,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,162}</string>
                <key>spriteSize</key>
                <string>{176,175}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,162}</string>
                <key>spriteSize</key>
                <string>{176,175}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{179,1},{176,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1_1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,161}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{320,545},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createPlayer4000002_2.png</string>
            <key>size</key>
            <string>{497,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9665bab740529878143825577af34c9:db41f4be7042eb748958a46dc3a143b7:2a8e3b6e2ebd523e6c3ae8eee3025534$</string>
            <key>textureFileName</key>
            <string>createPlayer4000002_2.png</string>
        </dict>
    </dict>
</plist>
