<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>男2_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,80}</string>
                <key>spriteSize</key>
                <string>{362,229}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{731,1},{362,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,80}</string>
                <key>spriteSize</key>
                <string>{362,229}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1095,1},{362,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,80}</string>
                <key>spriteSize</key>
                <string>{364,229}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,1},{364,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,80}</string>
                <key>spriteSize</key>
                <string>{364,229}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1,232},{364,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,80}</string>
                <key>spriteSize</key>
                <string>{362,229}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{731,232},{362,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,77}</string>
                <key>spriteSize</key>
                <string>{362,223}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{367,234},{362,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,77}</string>
                <key>spriteSize</key>
                <string>{364,223}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1459,228},{364,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,78}</string>
                <key>spriteSize</key>
                <string>{364,225}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1459,1},{364,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,80}</string>
                <key>spriteSize</key>
                <string>{362,229}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{1095,232},{362,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男2_1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,81}</string>
                <key>spriteSize</key>
                <string>{362,231}</string>
                <key>spriteSourceSize</key>
                <string>{384,683}</string>
                <key>textureRect</key>
                <string>{{367,1},{362,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createPlayer4000003_2.png</string>
            <key>size</key>
            <string>{1824,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e01889120959405e650be51b5d8fe3:c733a4bccebe5d634fdb8aed37fed5a7:f1e3f1848a33cbf43e8b5fdd908bd5e8$</string>
            <key>textureFileName</key>
            <string>createPlayer4000003_2.png</string>
        </dict>
    </dict>
</plist>
