<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_hit_拆分_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-15}</string>
                <key>spriteSize</key>
                <string>{163,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{190,261},{163,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-45}</string>
                <key>spriteSize</key>
                <string>{159,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{184,613},{159,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-14}</string>
                <key>spriteSize</key>
                <string>{139,109}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,842},{139,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-16}</string>
                <key>spriteSize</key>
                <string>{147,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{147,955},{147,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-26}</string>
                <key>spriteSize</key>
                <string>{155,75}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{68,955},{155,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,955},{161,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-33}</string>
                <key>spriteSize</key>
                <string>{177,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,702},{177,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-32}</string>
                <key>spriteSize</key>
                <string>{177,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{198,80},{177,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-36}</string>
                <key>spriteSize</key>
                <string>{181,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{186,428},{181,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-33}</string>
                <key>spriteSize</key>
                <string>{185,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,240},{185,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-33}</string>
                <key>spriteSize</key>
                <string>{183,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,317},{183,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{193,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,80},{193,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-33}</string>
                <key>spriteSize</key>
                <string>{177,75}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,623},{177,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-31}</string>
                <key>spriteSize</key>
                <string>{201,75}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-31}</string>
                <key>spriteSize</key>
                <string>{175,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,759},{175,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{181,73}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,394},{181,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-22}</string>
                <key>spriteSize</key>
                <string>{191,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,157},{191,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{179,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,471},{179,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,552},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_hit_拆分_WN_hit_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{175,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{180,776},{175,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301005_hit_ru.png</string>
            <key>size</key>
            <string>{250,1117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22358568a2f8671083938384be525f10:7047818310316a367f24e4d48470b03e:e34b28f4dfaf4a13ac0e96700c9a14d0$</string>
            <key>textureFileName</key>
            <string>4301005_hit_ru.png</string>
        </dict>
    </dict>
</plist>
