<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_stand_拆分_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,8}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{233,83},{40,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,8}</string>
                <key>spriteSize</key>
                <string>{38,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{91,1},{38,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{36,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{485,1},{36,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,4}</string>
                <key>spriteSize</key>
                <string>{34,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{525,1},{34,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,4}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{157,85},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,2}</string>
                <key>spriteSize</key>
                <string>{40,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{47,1},{40,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,4}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{325,1},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{533,79},{48,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{75,85},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,6}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{307,81},{46,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,8}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{173,1},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,10}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{221,1},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,7}</string>
                <key>spriteSize</key>
                <string>{52,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{429,1},{52,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,7}</string>
                <key>spriteSize</key>
                <string>{52,66}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{563,1},{52,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,6}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{269,1},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,7}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{377,1},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{133,1},{36,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,7}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{455,79},{48,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{42,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,6}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{383,81},{40,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_stand_拆分_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{42,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,85},{42,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301005_stand_r.png</string>
            <key>size</key>
            <string>{616,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8594e9c02c727e034b9c132073405cb2:1a37d597d68e48a1ac5641ffdf918e53:f9f9707756e5534053a289233fd24128$</string>
            <key>textureFileName</key>
            <string>4301005_stand_r.png</string>
        </dict>
    </dict>
</plist>
