<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_attackidle_拆分_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{177,79}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,155},{177,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{195,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{588,161},{195,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{189,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{182,246},{189,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{181,87}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{775,248},{181,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{197,89}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,333},{197,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{175,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{411,339},{175,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{177,77}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,74},{177,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{177,75}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{753,1},{177,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{173,73}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{188,1},{173,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{175,77}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{182,78},{175,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{193,75}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{365,1},{193,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{195,77}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{582,80},{195,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-3}</string>
                <key>spriteSize</key>
                <string>{217,77}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{361,80},{217,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{211,81}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{182,161},{211,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{195,87}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{576,248},{195,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{197,87}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{375,246},{197,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{205,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{202,337},{205,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{175,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{590,339},{175,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{175,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{787,161},{175,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{177,85}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,238},{177,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{193,77}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{781,80},{193,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{187,81}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{397,161},{187,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{187,75}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{562,1},{187,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_WN_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{183,69}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301005_idle_ru.png</string>
            <key>size</key>
            <string>{975,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee4daff06a2d40d442aa0c020bc45cf9:a6b7e1d6d56d55063f6df4139b82f434:4f6738dde94aa0e4864922442e746a80$</string>
            <key>textureFileName</key>
            <string>4301005_idle_ru.png</string>
        </dict>
    </dict>
</plist>
