<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_attackidle_拆分_ES_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{147,81}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{323,1},{147,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{151,65}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{168,1},{151,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{141,63}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,177},{141,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{137,61}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{287,335},{137,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{139,61}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{144,321},{139,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{446,165},{135,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{147,73}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{152,155},{147,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{139,71}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{289,260},{139,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{131,65}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,475},{131,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{137,73}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,323},{137,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{133,77}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{432,304},{133,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,14}</string>
                <key>spriteSize</key>
                <string>{133,75}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{142,386},{133,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{163,87}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{147,81}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{168,70},{147,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{133,71}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,400},{133,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{131,73}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{279,400},{131,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{131,73}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{138,465},{131,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{414,441},{129,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{147,81}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,92},{147,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{147,75}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{319,86},{147,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{129,63}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{273,477},{129,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{139,75}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,244},{139,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{139,85}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{146,232},{139,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_attackidle_拆分_ES_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{139,91}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{303,165},{139,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301005_idle_ld.png</string>
            <key>size</key>
            <string>{512,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59f7c5c0b8363ef8598253b3e2c8d1f8:201f2a6aaa581672b3be82252e237941:823e04508cd2028b6d2b48e755ebfb4a$</string>
            <key>textureFileName</key>
            <string>4301005_idle_ld.png</string>
        </dict>
    </dict>
</plist>
