<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MCC_dead_拆分_WN_dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{173,49}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,114},{173,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{135,103}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{148,758},{135,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-7}</string>
                <key>spriteSize</key>
                <string>{67,113}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{138,1117},{67,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-4}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{166,227},{85,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{141,87}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{158,532},{141,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-48}</string>
                <key>spriteSize</key>
                <string>{141,61}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,879},{141,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-51}</string>
                <key>spriteSize</key>
                <string>{133,61}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1114},{133,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-58}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1179},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-56}</string>
                <key>spriteSize</key>
                <string>{161,91}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,167},{161,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-55}</string>
                <key>spriteSize</key>
                <string>{155,119}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,262},{155,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-46}</string>
                <key>spriteSize</key>
                <string>{153,101}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,519},{153,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-43}</string>
                <key>spriteSize</key>
                <string>{205,109}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{127,87}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1394},{127,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-28}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{160,433},{95,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-24}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{160,334},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-37}</string>
                <key>spriteSize</key>
                <string>{105,115}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{146,897},{105,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{113,97}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{138,1016},{113,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-49}</string>
                <key>spriteSize</key>
                <string>{135,65}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,944},{135,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-56}</string>
                <key>spriteSize</key>
                <string>{131,63}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1266},{131,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-57}</string>
                <key>spriteSize</key>
                <string>{155,61}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,454},{155,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-49}</string>
                <key>spriteSize</key>
                <string>{127,57}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1485},{127,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-42}</string>
                <key>spriteSize</key>
                <string>{111,65}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{136,1188},{111,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-32}</string>
                <key>spriteSize</key>
                <string>{97,85}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1546},{97,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{136,1257},{65,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{57,123}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{102,1549},{57,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-5}</string>
                <key>spriteSize</key>
                <string>{65,155}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,385},{65,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{79,141}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,796},{79,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{97,143}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,695},{97,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-26}</string>
                <key>spriteSize</key>
                <string>{133,97}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1013},{133,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-45}</string>
                <key>spriteSize</key>
                <string>{147,67}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,624},{147,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-45}</string>
                <key>spriteSize</key>
                <string>{129,57}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{1,1333},{129,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-47}</string>
                <key>spriteSize</key>
                <string>{119,61}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{132,1401},{119,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-42}</string>
                <key>spriteSize</key>
                <string>{107,71}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{136,1326},{107,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-42}</string>
                <key>spriteSize</key>
                <string>{109,73}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{178,114},{109,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-40}</string>
                <key>spriteSize</key>
                <string>{101,79}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{132,1466},{101,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MCC_dead_拆分_WN_dead_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-39}</string>
                <key>spriteSize</key>
                <string>{99,77}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{152,677},{99,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4301005_die_ru.png</string>
            <key>size</key>
            <string>{252,1632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee36aefc8b86ad48e5374652fe46fa94:63f64cfc247b6e67d09049853e6151fd:85f520263449029ef7b68b33729b1b76$</string>
            <key>textureFileName</key>
            <string>4301005_die_ru.png</string>
        </dict>
    </dict>
</plist>
