<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_jingqingqidai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{98,95}</string>
                <key>textureRect</key>
                <string>{{1293,118},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_kuaibikuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{857,328},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_kuaibikuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{980,328},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_kuaibiwenzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{530,456},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lingquyaoyaodali.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,93}</string>
                <key>spriteSourceSize</key>
                <string>{220,93}</string>
                <key>textureRect</key>
                <string>{{264,360},{220,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nenglianghuodedi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,173}</string>
                <key>spriteSourceSize</key>
                <string>{528,173}</string>
                <key>textureRect</key>
                <string>{{1,185},{528,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nengliangjinducao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,60}</string>
                <key>spriteSourceSize</key>
                <string>{153,60}</string>
                <key>textureRect</key>
                <string>{{1027,249},{153,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_nengliangjindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,191}</string>
                <key>spriteSourceSize</key>
                <string>{178,191}</string>
                <key>textureRect</key>
                <string>{{531,276},{178,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_nengliangshuiwei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,48}</string>
                <key>spriteSourceSize</key>
                <string>{195,48}</string>
                <key>textureRect</key>
                <string>{{1122,1},{195,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzhuanzhizhendipan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,282}</string>
                <key>spriteSourceSize</key>
                <string>{219,282}</string>
                <key>textureRect</key>
                <string>{{571,55},{219,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhongjiannengliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,192}</string>
                <key>spriteSourceSize</key>
                <string>{195,192}</string>
                <key>textureRect</key>
                <string>{{855,55},{195,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhongjiannengliangcao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,192}</string>
                <key>spriteSourceSize</key>
                <string>{195,192}</string>
                <key>textureRect</key>
                <string>{{1052,55},{195,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhongjianxinxidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,52}</string>
                <key>spriteSourceSize</key>
                <string>{549,52}</string>
                <key>textureRect</key>
                <string>{{571,1},{549,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_annniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,77}</string>
                <key>spriteSourceSize</key>
                <string>{168,77}</string>
                <key>textureRect</key>
                <string>{{857,249},{168,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{1247,363},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zhuandong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,108}</string>
                <key>spriteSourceSize</key>
                <string>{261,108}</string>
                <key>textureRect</key>
                <string>{{1,360},{261,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_guanzhugongzhonghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,42}</string>
                <key>spriteSourceSize</key>
                <string>{159,42}</string>
                <key>textureRect</key>
                <string>{{1249,51},{159,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jiaruQqun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,42}</string>
                <key>spriteSourceSize</key>
                <string>{130,42}</string>
                <key>textureRect</key>
                <string>{{486,360},{130,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuaibidazhuanpan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,182}</string>
                <key>spriteSourceSize</key>
                <string>{568,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,33}</string>
                <key>spriteSourceSize</key>
                <string>{82,33}</string>
                <key>textureRect</key>
                <string>{{531,185},{82,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_nengliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,73}</string>
                <key>spriteSourceSize</key>
                <string>{115,73}</string>
                <key>textureRect</key>
                <string>{{1319,1},{115,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_nenglianghuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,45}</string>
                <key>spriteSourceSize</key>
                <string>{142,45}</string>
                <key>textureRect</key>
                <string>{{1103,434},{142,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_qianwang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,35}</string>
                <key>spriteSourceSize</key>
                <string>{132,35}</string>
                <key>textureRect</key>
                <string>{{264,455},{132,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{102,40}</string>
                <key>textureRect</key>
                <string>{{856,450},{102,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yaoqingfenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,42}</string>
                <key>spriteSourceSize</key>
                <string>{130,42}</string>
                <key>textureRect</key>
                <string>{{724,436},{130,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zhuanpanrenwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,42}</string>
                <key>spriteSourceSize</key>
                <string>{130,42}</string>
                <key>textureRect</key>
                <string>{{1249,215},{130,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nenglianghuode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,131}</string>
                <key>spriteSourceSize</key>
                <string>{158,131}</string>
                <key>textureRect</key>
                <string>{{724,276},{158,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiaolaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{960,450},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiaonengliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{398,455},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xinjiahaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1182,249},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yaoqinglibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{1103,311},{121,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yiwancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,102}</string>
                <key>spriteSourceSize</key>
                <string>{116,102}</string>
                <key>textureRect</key>
                <string>{{1225,259},{116,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kbWheel.png</string>
            <key>size</key>
            <string>{1393,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48de16cbeea9aa196fd3aa6678dd2e95:a4f7971bad3d390a9ff1456773150005:4bc4f9488fbcb520d3645ae711596f6b$</string>
            <key>textureFileName</key>
            <string>kbWheel.png</string>
        </dict>
    </dict>
</plist>
