<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,20}</string>
                <key>spriteSize</key>
                <string>{49,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,103},{49,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,262},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,268},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,317},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,323},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,372},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,378},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,427},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,433},{51,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{51,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,482},{51,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{51,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{94,488},{51,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{51,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{191,268},{51,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{51,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{191,359},{51,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{51,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{191,450},{51,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{51,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{179,1},{51,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{51,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{189,90},{51,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{49,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{92,209},{49,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{49,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{185,179},{49,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{90,1},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,52},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{90,52},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{49,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{94,156},{49,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{49,87}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,209},{49,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{49,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,103},{49,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{49,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,156},{49,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304002_stand_r.png</string>
            <key>size</key>
            <string>{243,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6c0e723e2c6e7f920e4f8248030ed26:01249e74016c37974e4144dd2ed6aca9:0a664b7342a70438049303fb1fb907d8$</string>
            <key>textureFileName</key>
            <string>4304002_stand_r.png</string>
        </dict>
    </dict>
</plist>
