<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,35}</string>
                <key>spriteSize</key>
                <string>{116,127}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,602},{116,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-12}</string>
                <key>spriteSize</key>
                <string>{126,51}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{147,118},{126,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{122,49}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{202,118},{122,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-20}</string>
                <key>spriteSize</key>
                <string>{132,39}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,559},{132,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-49}</string>
                <key>spriteSize</key>
                <string>{136,45}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{147,248},{136,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-53}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,424},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-52}</string>
                <key>spriteSize</key>
                <string>{136,47}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{202,244},{136,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,48},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,48},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,95},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-56}</string>
                <key>spriteSize</key>
                <string>{140,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{196,384},{140,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-58}</string>
                <key>spriteSize</key>
                <string>{124,39}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,722},{124,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-59}</string>
                <key>spriteSize</key>
                <string>{114,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{132,655},{114,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-59}</string>
                <key>spriteSize</key>
                <string>{112,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{143,532},{112,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-59}</string>
                <key>spriteSize</key>
                <string>{112,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{132,696},{112,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-59}</string>
                <key>spriteSize</key>
                <string>{110,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{214,696},{110,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-59}</string>
                <key>spriteSize</key>
                <string>{112,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{173,696},{112,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-59}</string>
                <key>spriteSize</key>
                <string>{118,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{137,573},{118,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-59}</string>
                <key>spriteSize</key>
                <string>{116,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{132,614},{116,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-59}</string>
                <key>spriteSize</key>
                <string>{114,37}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,765},{114,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-60}</string>
                <key>spriteSize</key>
                <string>{94,35}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{147,40},{94,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-60}</string>
                <key>spriteSize</key>
                <string>{92,35}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{147,79},{92,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-56}</string>
                <key>spriteSize</key>
                <string>{140,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{147,388},{140,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,142},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,189},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-60}</string>
                <key>spriteSize</key>
                <string>{106,35}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{147,1},{106,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-56}</string>
                <key>spriteSize</key>
                <string>{140,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,465},{140,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,236},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,283},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-56}</string>
                <key>spriteSize</key>
                <string>{138,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,512},{138,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,330},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{142,43}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,377},{142,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304002_die_ld.png</string>
            <key>size</key>
            <string>{256,809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c125d02c5ef2b31d4c0c0505518e9f2:8bd88147717f3f4f89d190f1a600b9f9:ca2f04cb66a7d1fc9664dc4bde0b0378$</string>
            <key>textureFileName</key>
            <string>4304002_die_ld.png</string>
        </dict>
    </dict>
</plist>
