<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-21}</string>
                <key>spriteSize</key>
                <string>{142,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,945},{142,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-20}</string>
                <key>spriteSize</key>
                <string>{150,116}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,511},{150,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-30}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{153,725},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{163,235},{52,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-45}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{161,291},{142,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-45}</string>
                <key>spriteSize</key>
                <string>{74,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{177,1},{74,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,29}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1121},{84,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,51}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{149,891},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,90}</string>
                <key>spriteSize</key>
                <string>{172,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,126}</string>
                <key>spriteSize</key>
                <string>{114,68}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{123,1269},{114,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,114}</string>
                <key>spriteSize</key>
                <string>{116,48}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{123,1217},{116,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,112}</string>
                <key>spriteSize</key>
                <string>{88,54}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{163,177},{88,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,111}</string>
                <key>spriteSize</key>
                <string>{156,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,291},{156,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,106}</string>
                <key>spriteSize</key>
                <string>{104,56}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{149,831},{104,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,84}</string>
                <key>spriteSize</key>
                <string>{158,60}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,105},{158,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,65}</string>
                <key>spriteSize</key>
                <string>{166,46}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,55},{166,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{98,134}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{157,437},{98,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-41}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{139,1091},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-89}</string>
                <key>spriteSize</key>
                <string>{152,112}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,395},{152,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-85}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1209},{118,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-77}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1405},{50,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-78}</string>
                <key>spriteSize</key>
                <string>{58,82}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{165,1401},{58,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-82}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{91,1341},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-83}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1327},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-87}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{163,119},{54,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-89}</string>
                <key>spriteSize</key>
                <string>{30,94}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{147,979},{30,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-92}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{165,1341},{56,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-91}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{147,1013},{86,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-86}</string>
                <key>spriteSize</key>
                <string>{134,44}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1073},{134,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-81}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,911},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-75}</string>
                <key>spriteSize</key>
                <string>{158,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,261},{158,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-72}</string>
                <key>spriteSize</key>
                <string>{158,34}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,223},{158,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-66}</string>
                <key>spriteSize</key>
                <string>{158,50}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,169},{158,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-62}</string>
                <key>spriteSize</key>
                <string>{154,60}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,331},{154,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-50}</string>
                <key>spriteSize</key>
                <string>{150,72}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,631},{150,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-43}</string>
                <key>spriteSize</key>
                <string>{148,82}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,707},{148,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-31}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{155,575},{146,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-27}</string>
                <key>spriteSize</key>
                <string>{144,114}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,793},{144,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-21}</string>
                <key>spriteSize</key>
                <string>{142,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,945},{142,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304002_magic_ru.png</string>
            <key>size</key>
            <string>{256,1460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c3ad17691fbbf6470c1a0ddc38ba6f:da40fa574e799574b7de0b0ca49fa7f5:8a4fd4cbd3aa010ed9e3fbf955489fbd$</string>
            <key>textureFileName</key>
            <string>4304002_magic_ru.png</string>
        </dict>
    </dict>
</plist>
