<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{117,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,476},{117,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,12}</string>
                <key>spriteSize</key>
                <string>{115,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1106},{115,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{113,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1265},{113,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{113,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1422},{113,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{113,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1579},{113,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{119,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,319},{119,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{117,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,635},{117,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{117,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,792},{117,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{117,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,949},{117,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{119,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{119,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,160},{119,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100004_idle_ru.png</string>
            <key>size</key>
            <string>{121,1733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:633b0e39d13ba1d3edf518695e25daf8:4624680938489ee1cb1307ccc80c177f:78c132aa15365fea944f84488541217d$</string>
            <key>textureFileName</key>
            <string>4100004_idle_ru.png</string>
        </dict>
    </dict>
</plist>
