<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{125,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{259,1},{125,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-37,-1}</string>
                <key>spriteSize</key>
                <string>{123,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{642,1},{123,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-36,-1}</string>
                <key>spriteSize</key>
                <string>{121,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{892,1},{121,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-37,-1}</string>
                <key>spriteSize</key>
                <string>{123,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{767,1},{123,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-38,-1}</string>
                <key>spriteSize</key>
                <string>{125,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{515,1},{125,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-39,-1}</string>
                <key>spriteSize</key>
                <string>{127,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{386,1},{127,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-39,0}</string>
                <key>spriteSize</key>
                <string>{127,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.501961,0.223529}</string>
                <key>spriteOffset</key>
                <string>{-39,0}</string>
                <key>spriteSize</key>
                <string>{127,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{130,1},{127,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100004_stand_r.png</string>
            <key>size</key>
            <string>{1014,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:434444ec5c40ae90288585060b505b2f:e9df54b3cc4aa78ecb19594f6cfcf836:773d791b5a3b71f177d49f0d368ce68b$</string>
            <key>textureFileName</key>
            <string>4100004_stand_r.png</string>
        </dict>
    </dict>
</plist>
