<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1768},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-37}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{128,170},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{121,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,333},{121,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{95,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1446},{95,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-3}</string>
                <key>spriteSize</key>
                <string>{99,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1607},{99,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{131,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{95,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1271},{95,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{117,165}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{136,1},{117,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{123,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,168},{123,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{121,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,494},{121,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{127,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{126,333},{127,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{127,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{126,490},{127,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{126,643},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{108,1863},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{135,133}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{108,1724},{135,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{123,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,808},{123,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{113,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{128,786},{113,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{115,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{104,1579},{115,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{129,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,963},{129,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{131,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1118},{131,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-40}</string>
                <key>spriteSize</key>
                <string>{121,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,655},{121,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-40}</string>
                <key>spriteSize</key>
                <string>{111,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{100,1426},{111,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-39}</string>
                <key>spriteSize</key>
                <string>{107,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{100,1271},{107,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{103,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{136,1102},{103,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,941},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100004_magic_ld.png</string>
            <key>size</key>
            <string>{254,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29e681189243fb4dacd0ae39e098ac1c:8a5fa9323beb788b08ba814aeda9ee73:1fffda91010592b6c4b9426b71c69370$</string>
            <key>textureFileName</key>
            <string>4100004_magic_ld.png</string>
        </dict>
    </dict>
</plist>
