<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{261,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{391,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{521,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{651,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{781,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{911,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{1041,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{1171,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_gaizhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{128,170}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{1301,1},{128,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mahjong_card.png</string>
            <key>size</key>
            <string>{1430,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c899dad4b90518e8792feae804d5ef:01757d6c24549cc9bb1fcb96b4d828ad:708c323096832a9f49d7fdc6ec7ec249$</string>
            <key>textureFileName</key>
            <string>mahjong_card.png</string>
        </dict>
    </dict>
</plist>
