<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{36,1},{33,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{71,1},{33,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{184,1},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{221,1},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{106,1},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{145,1},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{258,1},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{295,1},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{332,1},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{33,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302001_stand_u.png</string>
            <key>size</key>
            <string>{368,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a68938878b73e59dcb453e8775e94c8:182e1d61cbd902e783b469b17df07795:cb7515bac7dcadf7ac59d8107c6ccc58$</string>
            <key>textureFileName</key>
            <string>4302001_stand_u.png</string>
        </dict>
    </dict>
</plist>
