<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-6}</string>
                <key>spriteSize</key>
                <string>{93,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,42},{93,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-39}</string>
                <key>spriteSize</key>
                <string>{93,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{124,1},{93,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-56}</string>
                <key>spriteSize</key>
                <string>{91,31}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{221,1},{91,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-58}</string>
                <key>spriteSize</key>
                <string>{91,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,158},{91,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-59}</string>
                <key>spriteSize</key>
                <string>{91,51}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,103},{91,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-60}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{124,40},{87,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,256},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-60}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{145,89},{87,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-60}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{194,96},{87,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-60}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{143,196},{87,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-60}</string>
                <key>spriteSize</key>
                <string>{87,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{192,187},{87,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,207},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{96,103},{89,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-60}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{94,207},{89,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302001_die_ru.png</string>
            <key>size</key>
            <string>{253,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae11ad74c4a7642bc4d68edad753f38d:1b7af68effc1a7582adad2263fe84353:5d1c04cd47c81fe7830c4aac8adc085b$</string>
            <key>textureFileName</key>
            <string>4302001_die_ru.png</string>
        </dict>
    </dict>
</plist>
