<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-71}</string>
                <key>spriteSize</key>
                <string>{107,25}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{114,349},{107,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-71}</string>
                <key>spriteSize</key>
                <string>{105,23}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{116,240},{105,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-71}</string>
                <key>spriteSize</key>
                <string>{101,21}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{118,135},{101,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-70}</string>
                <key>spriteSize</key>
                <string>{99,25}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{104,567},{99,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-71}</string>
                <key>spriteSize</key>
                <string>{95,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,634},{95,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-74}</string>
                <key>spriteSize</key>
                <string>{83,47}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{30,948},{83,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-96}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{159,891},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-95}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{203,666},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-65}</string>
                <key>spriteSize</key>
                <string>{107,71}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,433},{107,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-35}</string>
                <key>spriteSize</key>
                <string>{99,83}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,547},{99,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,8}</string>
                <key>spriteSize</key>
                <string>{39,91}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{98,778},{39,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,15}</string>
                <key>spriteSize</key>
                <string>{51,89}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{193,806},{51,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,31}</string>
                <key>spriteSize</key>
                <string>{85,69}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,875},{85,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,40}</string>
                <key>spriteSize</key>
                <string>{95,53}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{104,631},{95,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,56}</string>
                <key>spriteSize</key>
                <string>{101,29}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,503},{101,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,61}</string>
                <key>spriteSize</key>
                <string>{101,27}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,536},{101,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,69}</string>
                <key>spriteSize</key>
                <string>{85,25}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,948},{85,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,71}</string>
                <key>spriteSize</key>
                <string>{67,23}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{128,971},{67,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,71}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{155,946},{39,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,71}</string>
                <key>spriteSize</key>
                <string>{65,43}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{90,899},{65,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,50}</string>
                <key>spriteSize</key>
                <string>{143,61}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{143,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,41}</string>
                <key>spriteSize</key>
                <string>{139,65}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,66},{139,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,12}</string>
                <key>spriteSize</key>
                <string>{65,53}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{195,737},{65,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-4}</string>
                <key>spriteSize</key>
                <string>{43,83}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{81,948},{43,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-16}</string>
                <key>spriteSize</key>
                <string>{43,111}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,235},{43,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-16}</string>
                <key>spriteSize</key>
                <string>{43,109}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,386},{43,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-16}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,305},{45,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-17}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,354},{45,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-19}</string>
                <key>spriteSize</key>
                <string>{51,105}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,250},{51,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-24}</string>
                <key>spriteSize</key>
                <string>{59,103}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,440},{59,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-35}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,669},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-35}</string>
                <key>spriteSize</key>
                <string>{101,87}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{148,1},{101,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-33}</string>
                <key>spriteSize</key>
                <string>{105,79}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{144,92},{105,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-32}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,175},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,325},{109,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-27}</string>
                <key>spriteSize</key>
                <string>{111,49}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,182},{111,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{113,43}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,135},{113,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{111,39}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,282},{111,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-32}</string>
                <key>spriteSize</key>
                <string>{107,35}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,508},{107,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{105,33}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{143,403},{105,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-50}</string>
                <key>spriteSize</key>
                <string>{95,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{207,567},{95,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-54}</string>
                <key>spriteSize</key>
                <string>{93,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{98,688},{93,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-62}</string>
                <key>spriteSize</key>
                <string>{93,41}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{98,733},{93,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-68}</string>
                <key>spriteSize</key>
                <string>{93,39}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,762},{93,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-80}</string>
                <key>spriteSize</key>
                <string>{91,33}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,805},{91,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-85}</string>
                <key>spriteSize</key>
                <string>{91,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{96,821},{91,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-91}</string>
                <key>spriteSize</key>
                <string>{91,29}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{1,842},{91,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-89}</string>
                <key>spriteSize</key>
                <string>{87,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{96,856},{87,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-87}</string>
                <key>spriteSize</key>
                <string>{47,33}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{190,934},{47,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-86}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{192,971},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-86}</string>
                <key>spriteSize</key>
                <string>{43,33}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{155,989},{43,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_1_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-86}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{190,899},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-78}</string>
                <key>spriteSize</key>
                <string>{97,31}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{104,596},{97,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_1_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-75}</string>
                <key>spriteSize</key>
                <string>{103,27}</string>
                <key>spriteSourceSize</key>
                <string>{375,375}</string>
                <key>textureRect</key>
                <string>{{112,460},{103,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302001_magic_ld.png</string>
            <key>size</key>
            <string>{250,1039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18dd185a24284a25e192465c196764bf:99157ec22a96a38dacefef270746b9c7:f54a26e5065d0b312918828154d025b0$</string>
            <key>textureFileName</key>
            <string>4302001_magic_ld.png</string>
        </dict>
    </dict>
</plist>
