<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,205},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{81,65}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{546,122},{81,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-11}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{215,96},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-18}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{209,167},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-25}</string>
                <key>spriteSize</key>
                <string>{99,91}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{215,1},{99,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-27}</string>
                <key>spriteSize</key>
                <string>{105,97}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,104},{105,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-28}</string>
                <key>spriteSize</key>
                <string>{105,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-26}</string>
                <key>spriteSize</key>
                <string>{101,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{110,1},{101,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-25}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{110,104},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-22}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{298,137},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-17}</string>
                <key>spriteSize</key>
                <string>{101,87}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{441,76},{101,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-12}</string>
                <key>spriteSize</key>
                <string>{109,79}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{318,1},{109,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{113,71}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{431,1},{113,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{115,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{397,167},{115,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{117,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{548,1},{117,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_原配古琴_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{119,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{318,84},{119,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,205},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302001_hit_ru.png</string>
            <key>size</key>
            <string>{612,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607f16d768ec79a9d362a41b6a3449fb:046be7e774f1d8c8ea44897038d713ee:5eeee3f3874e310ad596a225f363dc6e$</string>
            <key>textureFileName</key>
            <string>4302001_hit_ru.png</string>
        </dict>
    </dict>
</plist>
