<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-6}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-6}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,42},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-7}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,83},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-7}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,124},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-8}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,165},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-8}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,206},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-8}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,247},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-8}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,288},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-7}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,329},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-7}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,370},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-7}</string>
                <key>spriteSize</key>
                <string>{117,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,692},{117,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-7}</string>
                <key>spriteSize</key>
                <string>{117,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{42,692},{117,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-7}</string>
                <key>spriteSize</key>
                <string>{117,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{83,692},{117,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-7}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,411},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-7}</string>
                <key>spriteSize</key>
                <string>{119,35}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,575},{119,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-7}</string>
                <key>spriteSize</key>
                <string>{119,35}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,614},{119,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-7}</string>
                <key>spriteSize</key>
                <string>{119,35}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,653},{119,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-6}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,452},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-6}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,493},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-6}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,534},{119,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302001_idle_ru.png</string>
            <key>size</key>
            <string>{121,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5011ca772e8cde5895451d194940c57e:5709abad923c4a3039cd363c5085f250:b9d09641744f4b8cb9f79c6faf377bba$</string>
            <key>textureFileName</key>
            <string>4302001_idle_ru.png</string>
        </dict>
    </dict>
</plist>
