<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,21}</string>
                <key>spriteSize</key>
                <string>{107,25}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{103,33}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,85},{103,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-34}</string>
                <key>spriteSize</key>
                <string>{105,43}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{112,1},{105,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-50}</string>
                <key>spriteSize</key>
                <string>{103,51}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,30},{103,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-52}</string>
                <key>spriteSize</key>
                <string>{103,37}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{108,48},{103,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-53}</string>
                <key>spriteSize</key>
                <string>{101,33}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{106,130},{101,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-57}</string>
                <key>spriteSize</key>
                <string>{101,37}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{108,89},{101,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-58}</string>
                <key>spriteSize</key>
                <string>{101,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,122},{101,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-62}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{215,48},{51,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-58}</string>
                <key>spriteSize</key>
                <string>{63,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{79,251},{63,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-60}</string>
                <key>spriteSize</key>
                <string>{69,31}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{155,288},{69,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-59}</string>
                <key>spriteSize</key>
                <string>{69,33}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{155,251},{69,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-59}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{118,251},{63,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-61}</string>
                <key>spriteSize</key>
                <string>{77,29}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{213,103},{77,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-58}</string>
                <key>spriteSize</key>
                <string>{69,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{173,212},{69,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-58}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{40,251},{65,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-58}</string>
                <key>spriteSize</key>
                <string>{67,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,251},{67,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-58}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{98,212},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-55}</string>
                <key>spriteSize</key>
                <string>{93,41}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,161},{93,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-55}</string>
                <key>spriteSize</key>
                <string>{93,41}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{98,167},{93,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-55}</string>
                <key>spriteSize</key>
                <string>{93,41}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,206},{93,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302001_die_ld.png</string>
            <key>size</key>
            <string>{243,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba8237874fc04e49b54366d2c6b1ddc:512cdf273e6b9413b64e35542126e0b3:a3fd263c99a6b59afd47e18aa229f701$</string>
            <key>textureFileName</key>
            <string>4302001_die_ld.png</string>
        </dict>
    </dict>
</plist>
