<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{90,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{727,353},{90,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-7}</string>
                <key>spriteSize</key>
                <string>{94,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{545,343},{94,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-15}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{283,175},{96,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-14}</string>
                <key>spriteSize</key>
                <string>{102,198}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{825,1},{102,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-43}</string>
                <key>spriteSize</key>
                <string>{96,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{395,1},{96,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{94,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{395,99},{94,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-28}</string>
                <key>spriteSize</key>
                <string>{94,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{95,215},{94,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-30}</string>
                <key>spriteSize</key>
                <string>{96,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{599,101},{96,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-15}</string>
                <key>spriteSize</key>
                <string>{96,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{795,105},{96,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-15}</string>
                <key>spriteSize</key>
                <string>{90,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{191,195},{90,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-28}</string>
                <key>spriteSize</key>
                <string>{92,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,215},{92,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-26}</string>
                <key>spriteSize</key>
                <string>{98,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{611,1},{98,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-48}</string>
                <key>spriteSize</key>
                <string>{118,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-22}</string>
                <key>spriteSize</key>
                <string>{102,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{95,407},{102,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-32}</string>
                <key>spriteSize</key>
                <string>{144,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{249,1},{144,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-30}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{381,195},{144,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-28}</string>
                <key>spriteSize</key>
                <string>{142,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{547,199},{142,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-27}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{795,203},{142,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-36}</string>
                <key>spriteSize</key>
                <string>{126,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,1},{126,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-15}</string>
                <key>spriteSize</key>
                <string>{84,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{989,105},{84,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-5}</string>
                <key>spriteSize</key>
                <string>{84,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{283,351},{84,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-11}</string>
                <key>spriteSize</key>
                <string>{84,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{995,279},{84,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{86,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{457,341},{86,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,2}</string>
                <key>spriteSize</key>
                <string>{86,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{819,347},{86,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{86,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{369,353},{86,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,3}</string>
                <key>spriteSize</key>
                <string>{84,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{641,353},{84,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{86,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{907,347},{86,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{88,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{705,199},{88,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_attack_ld_weapon2.png</string>
            <key>size</key>
            <string>{1080,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d0b923aaedbce4d9478e44db081c9da:403cad43fd3a848fa1bdb064e91b8a53:30979c190a6de3ca409b891a970f7145$</string>
            <key>textureFileName</key>
            <string>4000006_attack_ld_weapon2.png</string>
        </dict>
    </dict>
</plist>
