<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-18}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{323,47},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-23}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{143,47},{48,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-35}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{71,45},{46,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-33}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{209,1},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-27}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{279,1},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-24}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{349,1},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-25}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{419,1},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-31}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-35}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{69,1},{42,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-33}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{139,1},{42,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,45},{44,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{233,47},{50,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-18}</string>
                <key>spriteSize</key>
                <string>{52,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{415,47},{52,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_run_u_weapon1.png</string>
            <key>size</key>
            <string>{506,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27b71b8c3cdcc6de25998c72f96e4b30:f72206e79cfa1774c5de2ea2560dae1c:9a86af147b7ab3859ceb63703fd8167f$</string>
            <key>textureFileName</key>
            <string>4000006_run_u_weapon1.png</string>
        </dict>
    </dict>
</plist>
