<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{43,85},{38,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{43,125},{38,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,327},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,347},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-10}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{41,365},{38,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-10}</string>
                <key>spriteSize</key>
                <string>{40,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,75},{40,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-10}</string>
                <key>spriteSize</key>
                <string>{40,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,95},{40,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-10}</string>
                <key>spriteSize</key>
                <string>{40,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,115},{40,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-10}</string>
                <key>spriteSize</key>
                <string>{40,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,135},{40,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-10}</string>
                <key>spriteSize</key>
                <string>{40,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,155},{40,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,367},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,387},{38,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{43,165},{38,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,305},{38,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,27},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-12}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{41,205},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-12}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,51},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-12}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,175},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-12}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,201},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-12}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,227},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-12}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,253},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-12}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,279},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-12}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-12}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{41,245},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-12}</string>
                <key>spriteSize</key>
                <string>{38,22}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{41,285},{38,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{43,43},{40,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidle_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-11}</string>
                <key>spriteSize</key>
                <string>{38,20}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{41,325},{38,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_idle_ru_weapon1.png</string>
            <key>size</key>
            <string>{64,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2e15686c342bd5a9f8cc734417a050:cda6de84847daf37378b9251dedc2b22:7d5da3c69629606cc7b1da9e3b714b2e$</string>
            <key>textureFileName</key>
            <string>4000006_idle_ru_weapon1.png</string>
        </dict>
    </dict>
</plist>
