<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,517},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{141,203},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,421},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-12}</string>
                <key>spriteSize</key>
                <string>{124,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{129,297},{124,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{138,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,113},{138,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{126,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,219},{126,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-13}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{123,393},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-14}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,321},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{118,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,489},{118,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-17}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{143,1},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{106,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{143,107},{106,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{101,583},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_run_rd_weapon2.png</string>
            <key>size</key>
            <string>{254,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60165cc9eb04893dbf87aee3d945b16f:8b197859f185801fcd8132d338d1c4cc:8b732fa91a7536caaac2156caa41bfac$</string>
            <key>textureFileName</key>
            <string>4000006_run_rd_weapon2.png</string>
        </dict>
    </dict>
</plist>
