<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{253,1},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{379,1},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{421,1},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{505,1},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{635,1},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{593,1},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{333,1},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{549,1},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{463,1},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{85,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{127,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{169,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{293,1},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{211,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_stand_rd_part3.png</string>
            <key>size</key>
            <string>{678,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bafd8bcf64b102d0621ee243bb7a5ac:e2d72bdb46fa68187d456f770d767c4a:6c8c629e636602ae1b58d7cacaf05e69$</string>
            <key>textureFileName</key>
            <string>4000006_stand_rd_part3.png</string>
        </dict>
    </dict>
</plist>
