<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidie_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{237,307},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{151,881},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,11}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,455},{130,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,10}</string>
                <key>spriteSize</key>
                <string>{126,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{377,1},{126,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{369,661},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,11}</string>
                <key>spriteSize</key>
                <string>{116,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{251,597},{116,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,10}</string>
                <key>spriteSize</key>
                <string>{114,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{273,879},{114,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{389,801},{112,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,15}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{125,155},{120,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,14}</string>
                <key>spriteSize</key>
                <string>{124,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{251,1},{124,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,12}</string>
                <key>spriteSize</key>
                <string>{114,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,311},{114,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{108,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{357,271},{108,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidie_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,16}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,311},{118,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,14}</string>
                <key>spriteSize</key>
                <string>{118,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,613},{118,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{369,521},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,11}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,739},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,10}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{121,597},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,10}</string>
                <key>spriteSize</key>
                <string>{122,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{369,381},{122,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,10}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{243,739},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,10}</string>
                <key>spriteSize</key>
                <string>{114,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{253,447},{114,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,5}</string>
                <key>spriteSize</key>
                <string>{118,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,463},{118,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,4}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,159},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,9}</string>
                <key>spriteSize</key>
                <string>{124,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{125,1},{124,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,10}</string>
                <key>spriteSize</key>
                <string>{122,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,15}</string>
                <key>spriteSize</key>
                <string>{118,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,761},{118,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{108,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{247,155},{108,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,16}</string>
                <key>spriteSize</key>
                <string>{110,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,909},{110,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attackidie_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,14}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{357,153},{116,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_idle_ld_weapon2.png</string>
            <key>size</key>
            <string>{504,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c101d4b5d7e7b40037040a0056b88e:91f1e872e42913c7670a923409516b11:8cafb8e107246f45bc09eeb2cca7c6f5$</string>
            <key>textureFileName</key>
            <string>4000006_idle_ld_weapon2.png</string>
        </dict>
    </dict>
</plist>
