<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{124,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{457,137},{124,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-8}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1273,1},{126,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-11}</string>
                <key>spriteSize</key>
                <string>{134,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{623,1},{134,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-12}</string>
                <key>spriteSize</key>
                <string>{128,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{787,137},{128,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{601,265},{130,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-15}</string>
                <key>spriteSize</key>
                <string>{132,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{913,273},{132,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-20}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1217,273},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-22}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1067,273},{134,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-23}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{757,267},{136,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-21}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{153,155},{140,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-14}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,169},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-15}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{153,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-7}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,11}</string>
                <key>spriteSize</key>
                <string>{134,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{457,1},{134,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,35}</string>
                <key>spriteSize</key>
                <string>{112,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1183,421},{112,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,39}</string>
                <key>spriteSize</key>
                <string>{108,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1353,273},{108,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,48}</string>
                <key>spriteSize</key>
                <string>{106,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1463,263},{106,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,50}</string>
                <key>spriteSize</key>
                <string>{108,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1339,425},{108,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,51}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1691,265},{110,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,51}</string>
                <key>spriteSize</key>
                <string>{110,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1769,411},{110,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,50}</string>
                <key>spriteSize</key>
                <string>{116,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1483,413},{116,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,50}</string>
                <key>spriteSize</key>
                <string>{118,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1261,131},{118,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,49}</string>
                <key>spriteSize</key>
                <string>{122,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1529,129},{122,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,48}</string>
                <key>spriteSize</key>
                <string>{122,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1033,409},{122,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,47}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{729,405},{122,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,48}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{881,407},{122,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,49}</string>
                <key>spriteSize</key>
                <string>{118,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1571,253},{118,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,50}</string>
                <key>spriteSize</key>
                <string>{114,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1769,149},{114,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,51}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1803,265},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,49}</string>
                <key>spriteSize</key>
                <string>{116,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1623,403},{116,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,33}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{149,407},{126,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,22}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{947,139},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-1}</string>
                <key>spriteSize</key>
                <string>{136,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{947,1},{136,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-5}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1107,131},{140,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-17}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{587,397},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-18}</string>
                <key>spriteSize</key>
                <string>{138,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{449,395},{138,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-16}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{305,397},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-14}</string>
                <key>spriteSize</key>
                <string>{132,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1381,129},{132,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-12}</string>
                <key>spriteSize</key>
                <string>{146,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1771,1},{146,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-12}</string>
                <key>spriteSize</key>
                <string>{148,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{307,1},{148,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-10}</string>
                <key>spriteSize</key>
                <string>{146,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,331},{146,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-9}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{295,155},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-8}</string>
                <key>spriteSize</key>
                <string>{134,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{785,1},{134,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-8}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{439,263},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-7}</string>
                <key>spriteSize</key>
                <string>{126,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{623,137},{126,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-7}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1439,1},{126,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1605,1},{126,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-7}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1107,1},{128,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_magic_ld.png</string>
            <key>size</key>
            <string>{1924,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c08020900a0097e64cb49feb1cdc2f5:f21294bbbf0e645dbfccac9e3ed6f2a5:bf9913959c59b99bc6189fff0f4f9bd8$</string>
            <key>textureFileName</key>
            <string>4000006_magic_ld.png</string>
        </dict>
    </dict>
</plist>
