<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-4}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{309,187},{62,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-15}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{209,169},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-31}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{339,99},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-36}</string>
                <key>spriteSize</key>
                <string>{138,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{199,1},{138,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-28}</string>
                <key>spriteSize</key>
                <string>{116,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{91,227},{116,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-5}</string>
                <key>spriteSize</key>
                <string>{104,224}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-11}</string>
                <key>spriteSize</key>
                <string>{88,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,227},{88,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-31}</string>
                <key>spriteSize</key>
                <string>{90,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{107,1},{90,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-44}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{339,1},{96,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-42}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{481,95},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-61}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{107,181},{86,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-74}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{305,363},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-77}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{481,1},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-81}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{393,187},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-83}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{209,365},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-81}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{297,267},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-81}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{485,187},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-81}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{485,279},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-83}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{397,371},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-82}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{491,371},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-80}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{209,267},{96,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_die_ru_weapon2.png</string>
            <key>size</key>
            <string>{582,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34324d5a0badfcf4a24d02031e25676:11bc01676aa43aacd9f8354b042c7771:3e9a65f3314f391d9a628e6b0335c605$</string>
            <key>textureFileName</key>
            <string>4000006_die_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
