<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{144,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,79},{144,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{148,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,239},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{122,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{145,251},{122,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{127,625},{118,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{147,129},{120,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{126,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{151,1},{126,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{120,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{133,545},{120,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{139,461},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,653},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{130,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,493},{130,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,575},{124,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{140,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,327},{140,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{136,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,415},{136,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{112,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{143,375},{112,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-16}</string>
                <key>spriteSize</key>
                <string>{144,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,161},{144,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_stand_r_weapon2.png</string>
            <key>size</key>
            <string>{256,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ba86ec0c2119d34ac7eab5ec0b532f:afb7d4f6b8284827a6795669ea3e0bb9:69f71e79d7c7557ac5e205e69933b006$</string>
            <key>textureFileName</key>
            <string>4000006_stand_r_weapon2.png</string>
        </dict>
    </dict>
</plist>
