<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-7}</string>
                <key>spriteSize</key>
                <string>{96,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{375,1},{96,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-7}</string>
                <key>spriteSize</key>
                <string>{96,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{375,333},{96,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-9}</string>
                <key>spriteSize</key>
                <string>{102,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{249,167},{102,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-10}</string>
                <key>spriteSize</key>
                <string>{102,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{271,1},{102,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-12}</string>
                <key>spriteSize</key>
                <string>{104,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{797,165},{104,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-13}</string>
                <key>spriteSize</key>
                <string>{110,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{737,1},{110,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-13}</string>
                <key>spriteSize</key>
                <string>{114,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{681,165},{114,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-14}</string>
                <key>spriteSize</key>
                <string>{116,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{837,329},{116,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-14}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{955,1},{120,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{603,329},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-13}</string>
                <key>spriteSize</key>
                <string>{126,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{609,1},{126,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-13}</string>
                <key>spriteSize</key>
                <string>{128,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{473,333},{128,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{134,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{473,1},{134,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-12}</string>
                <key>spriteSize</key>
                <string>{136,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,333},{136,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-12}</string>
                <key>spriteSize</key>
                <string>{138,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{138,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,167},{138,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{139,333},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{141,1},{128,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-13}</string>
                <key>spriteSize</key>
                <string>{128,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{551,165},{128,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{118,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{955,123},{118,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-15}</string>
                <key>spriteSize</key>
                <string>{106,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{955,351},{106,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-14}</string>
                <key>spriteSize</key>
                <string>{106,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{955,243},{106,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-13}</string>
                <key>spriteSize</key>
                <string>{106,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{729,329},{106,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-12}</string>
                <key>spriteSize</key>
                <string>{106,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{141,167},{106,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-12}</string>
                <key>spriteSize</key>
                <string>{104,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{849,1},{104,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-10}</string>
                <key>spriteSize</key>
                <string>{102,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{271,333},{102,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-8}</string>
                <key>spriteSize</key>
                <string>{98,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{353,167},{98,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-7}</string>
                <key>spriteSize</key>
                <string>{96,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{453,167},{96,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000006_attack_ld.png</string>
            <key>size</key>
            <string>{1116,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db5324f3d25e4258e440097689cd8b9e:1844d74e6ce54479cb06354c7875bc3e:15cc97a962731341dbd39bc7e32fdecd$</string>
            <key>textureFileName</key>
            <string>4000006_attack_ld.png</string>
        </dict>
    </dict>
</plist>
