<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,148},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,293},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-26}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,873},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-27}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,1018},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,1163},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,1308},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{141,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,438},{141,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{141,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,583},{141,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{141,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,728},{141,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1443},{141,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{143,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{150,1},{143,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_N_stand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{108,1453},{141,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{143,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,407},{143,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{143,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,512},{143,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{143,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,827},{143,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{143,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,930},{143,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{143,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1033},{143,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1342},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-27}</string>
                <key>spriteSize</key>
                <string>{145,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,104},{145,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-27}</string>
                <key>spriteSize</key>
                <string>{145,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,205},{145,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-26}</string>
                <key>spriteSize</key>
                <string>{145,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,306},{145,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{143,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1136},{143,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{143,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1239},{143,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{143,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,617},{143,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{143,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,722},{143,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304003_stand_u.png</string>
            <key>size</key>
            <string>{254,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d434011b3f0ba3d46f5a0be1553bcbe8:9e5971c78c856f0cc3df971a42361a2b:c1265fabeba3738745b6f4b56ab5e09d$</string>
            <key>textureFileName</key>
            <string>4304003_stand_u.png</string>
        </dict>
    </dict>
</plist>
