<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_S_run_ren_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{161,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,449},{161,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-10}</string>
                <key>spriteSize</key>
                <string>{163,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,222},{163,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-12}</string>
                <key>spriteSize</key>
                <string>{163,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,299},{163,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-14}</string>
                <key>spriteSize</key>
                <string>{165,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-13}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,78},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-11}</string>
                <key>spriteSize</key>
                <string>{165,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,151},{165,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{163,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,376},{163,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-10}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,611},{159,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_ren_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-12}</string>
                <key>spriteSize</key>
                <string>{155,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{168,162},{155,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_ren_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-13}</string>
                <key>spriteSize</key>
                <string>{153,85}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{164,478},{153,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_ren_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-11}</string>
                <key>spriteSize</key>
                <string>{157,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{166,319},{157,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_ren_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{159,81}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{168,1},{159,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_S_run_ren_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{161,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,530},{161,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4304003_run_d.png</string>
            <key>size</key>
            <string>{250,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88f22bd653c3b0aff7dc6e5e1a2ee3c3:cd4b18751c1344f7cf907b55e8befbde:1c89b1904d5f5d0c0d96e16e74489281$</string>
            <key>textureFileName</key>
            <string>4304003_run_d.png</string>
        </dict>
    </dict>
</plist>
