<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,14}</string>
                <key>spriteSize</key>
                <string>{76,149}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,5}</string>
                <key>spriteSize</key>
                <string>{70,115}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1018,134},{70,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,10}</string>
                <key>spriteSize</key>
                <string>{82,133}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{668,1},{82,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,7}</string>
                <key>spriteSize</key>
                <string>{94,129}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1014,1},{94,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,0}</string>
                <key>spriteSize</key>
                <string>{90,115}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{924,135},{90,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,0}</string>
                <key>spriteSize</key>
                <string>{82,113}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{838,136},{82,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,1}</string>
                <key>spriteSize</key>
                <string>{68,113}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1158,134},{68,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,2}</string>
                <key>spriteSize</key>
                <string>{62,115}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1092,134},{62,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,1}</string>
                <key>spriteSize</key>
                <string>{60,117}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1248,1},{60,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,2}</string>
                <key>spriteSize</key>
                <string>{62,123}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1182,1},{62,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,3}</string>
                <key>spriteSize</key>
                <string>{66,129}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1112,1},{66,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,2}</string>
                <key>spriteSize</key>
                <string>{82,131}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{754,1},{82,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-6}</string>
                <key>spriteSize</key>
                <string>{92,121}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1230,128},{92,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-17}</string>
                <key>spriteSize</key>
                <string>{100,113}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{210,145},{100,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-16}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1,154},{96,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-19}</string>
                <key>spriteSize</key>
                <string>{90,105}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{116,145},{90,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-24}</string>
                <key>spriteSize</key>
                <string>{88,99}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{327,145},{88,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-25}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{419,143},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-24}</string>
                <key>spriteSize</key>
                <string>{82,99}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{507,141},{82,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-25}</string>
                <key>spriteSize</key>
                <string>{82,99}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{593,141},{82,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-27}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{679,138},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-29}</string>
                <key>spriteSize</key>
                <string>{76,93}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1326,96},{76,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-35}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{1326,1},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-47}</string>
                <key>spriteSize</key>
                <string>{114,71}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{763,136},{114,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-66}</string>
                <key>spriteSize</key>
                <string>{138,79}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{409,1},{138,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-68}</string>
                <key>spriteSize</key>
                <string>{136,83}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{581,1},{136,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-67}</string>
                <key>spriteSize</key>
                <string>{130,83}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{840,1},{130,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-63}</string>
                <key>spriteSize</key>
                <string>{130,83}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{927,1},{130,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-63}</string>
                <key>spriteSize</key>
                <string>{136,85}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{492,1},{136,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-64}</string>
                <key>spriteSize</key>
                <string>{140,87}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{81,1},{140,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-69}</string>
                <key>spriteSize</key>
                <string>{140,83}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{172,1},{140,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-74}</string>
                <key>spriteSize</key>
                <string>{140,75}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{259,1},{140,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-78}</string>
                <key>spriteSize</key>
                <string>{140,67}</string>
                <key>spriteSourceSize</key>
                <string>{400,255}</string>
                <key>textureRect</key>
                <string>{{338,1},{140,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_die_ld.png</string>
            <key>size</key>
            <string>{1405,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4419f7f8e107d2a2b924ad34190a6027:7218feec9b98cbaa2188cdc83cbf6050:7fe78c5edfe515aa06dfbdceeeca7a0c$</string>
            <key>textureFileName</key>
            <string>4000004_die_ld.png</string>
        </dict>
    </dict>
</plist>
