<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_WN_attack_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-29}</string>
                <key>spriteSize</key>
                <string>{77,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1171,84},{77,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-28}</string>
                <key>spriteSize</key>
                <string>{81,148}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1001,84},{81,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-27}</string>
                <key>spriteSize</key>
                <string>{81,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1086,84},{81,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-25}</string>
                <key>spriteSize</key>
                <string>{83,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{665,86},{83,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-22}</string>
                <key>spriteSize</key>
                <string>{95,148}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-21}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{663,1},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-18}</string>
                <key>spriteSize</key>
                <string>{79,152}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{752,86},{79,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-16}</string>
                <key>spriteSize</key>
                <string>{79,152}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{817,1},{79,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-11}</string>
                <key>spriteSize</key>
                <string>{79,152}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{835,84},{79,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-10}</string>
                <key>spriteSize</key>
                <string>{79,152}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{918,84},{79,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{105,134}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{100,1},{105,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-27}</string>
                <key>spriteSize</key>
                <string>{105,134}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{155,139},{105,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{89,140}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{519,1},{89,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-23}</string>
                <key>spriteSize</key>
                <string>{87,142}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{574,94},{87,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{93,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{293,98},{93,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{91,148}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{390,94},{91,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-20}</string>
                <key>spriteSize</key>
                <string>{93,150}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{209,1},{93,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{91,150}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1,153},{91,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-19}</string>
                <key>spriteSize</key>
                <string>{89,152}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{363,1},{89,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-20}</string>
                <key>spriteSize</key>
                <string>{85,150}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{485,94},{85,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{79,148}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{973,1},{79,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{79,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1125,1},{79,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-27}</string>
                <key>spriteSize</key>
                <string>{75,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1252,84},{75,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_WN_attack_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-28}</string>
                <key>spriteSize</key>
                <string>{73,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1331,80},{73,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-29}</string>
                <key>spriteSize</key>
                <string>{73,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1331,157},{73,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_WN_attack_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-29}</string>
                <key>spriteSize</key>
                <string>{75,146}</string>
                <key>spriteSourceSize</key>
                <string>{425,348}</string>
                <key>textureRect</key>
                <string>{{1275,1},{75,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_attack_ru.png</string>
            <key>size</key>
            <string>{1478,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fad5a1a36e5ded3437bbc242e69757c:beef37fb08b6fcde2c6caf53b686e755:2f7a0a4cad956bb67574b4930cfc7871$</string>
            <key>textureFileName</key>
            <string>4000004_attack_ru.png</string>
        </dict>
    </dict>
</plist>
