<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_N_run_ren_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-23,-14}</string>
                <key>spriteSize</key>
                <string>{65,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,587},{65,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{65,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1624},{65,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-21,-14}</string>
                <key>spriteSize</key>
                <string>{65,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1765},{65,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-20,-17}</string>
                <key>spriteSize</key>
                <string>{65,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1479},{65,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-20,-17}</string>
                <key>spriteSize</key>
                <string>{65,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,736},{65,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{65,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,283},{65,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{65,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,885},{65,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-20,-12}</string>
                <key>spriteSize</key>
                <string>{67,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-21,-13}</string>
                <key>spriteSize</key>
                <string>{67,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,142},{67,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-21,-17}</string>
                <key>spriteSize</key>
                <string>{65,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1332},{65,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-23,-17}</string>
                <key>spriteSize</key>
                <string>{65,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1034},{65,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-23,-17}</string>
                <key>spriteSize</key>
                <string>{65,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,436},{65,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_ren_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.419608,0.2}</string>
                <key>spriteOffset</key>
                <string>{-23,-14}</string>
                <key>spriteSize</key>
                <string>{65,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1183},{65,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_run_u.png</string>
            <key>size</key>
            <string>{69,1903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7417f77efb34cd3e922692e917f376:2818e9b7f8c1baa28ba9982a05f7c2f2:c5ff8942f9131ce33b1b53b4e64954a0$</string>
            <key>textureFileName</key>
            <string>4000004_run_u.png</string>
        </dict>
    </dict>
</plist>
