<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-32}</string>
                <key>spriteSize</key>
                <string>{76,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-34}</string>
                <key>spriteSize</key>
                <string>{74,136}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,613},{74,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-41}</string>
                <key>spriteSize</key>
                <string>{74,136}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,691},{74,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-48}</string>
                <key>spriteSize</key>
                <string>{86,136}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,435},{86,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-52}</string>
                <key>spriteSize</key>
                <string>{98,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{143,429},{98,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-49}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{145,291},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-43}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{147,147},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-39}</string>
                <key>spriteSize</key>
                <string>{96,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{151,1},{96,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-37}</string>
                <key>spriteSize</key>
                <string>{90,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,81},{90,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-35}</string>
                <key>spriteSize</key>
                <string>{86,140}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,257},{86,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-33}</string>
                <key>spriteSize</key>
                <string>{84,138}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,347},{84,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-34}</string>
                <key>spriteSize</key>
                <string>{84,136}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,525},{84,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-35}</string>
                <key>spriteSize</key>
                <string>{84,132}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{141,565},{84,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-36}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{141,701},{84,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-35}</string>
                <key>spriteSize</key>
                <string>{82,130}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,769},{82,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-31}</string>
                <key>spriteSize</key>
                <string>{78,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,175},{78,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-32}</string>
                <key>spriteSize</key>
                <string>{76,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_hit_ru.png</string>
            <key>size</key>
            <string>{248,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a16ae59898a1b7e0edd2d8f82bd8aa8:42b96827ffc41d4d43aedb4a284e2be5:04d02eecad03dfed289678e707304404$</string>
            <key>textureFileName</key>
            <string>4000004_hit_ru.png</string>
        </dict>
    </dict>
</plist>
