<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{67,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,885},{67,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{65,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1326},{65,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{65,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1473},{65,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{67,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1032},{67,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{69,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,591},{69,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,297},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,444},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{73,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-29,6}</string>
                <key>spriteSize</key>
                <string>{71,147}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,148},{71,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{69,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,738},{69,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.427451,0.270588}</string>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{67,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1179},{67,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_stand_r.png</string>
            <key>size</key>
            <string>{75,1619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99d9d7ec8f31504b01913ffdd8eaee41:24994532edb1055dc380793472f57ca7:31947369125ab22f67632c0765c211f2$</string>
            <key>textureFileName</key>
            <string>4000004_stand_r.png</string>
        </dict>
    </dict>
</plist>
