<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,26}</string>
                <key>spriteSize</key>
                <string>{77,146}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{236,233},{77,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,17}</string>
                <key>spriteSize</key>
                <string>{77,122}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{110,228},{77,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,21}</string>
                <key>spriteSize</key>
                <string>{85,130}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,394},{85,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,13}</string>
                <key>spriteSize</key>
                <string>{105,110}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{337,602},{105,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,4}</string>
                <key>spriteSize</key>
                <string>{111,96}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,590},{111,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,2}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{116,597},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{91,102}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{380,408},{91,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,-4}</string>
                <key>spriteSize</key>
                <string>{83,112}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{187,314},{83,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-3}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{363,152},{77,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-1}</string>
                <key>spriteSize</key>
                <string>{73,126}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{321,75},{73,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,0}</string>
                <key>spriteSize</key>
                <string>{73,130}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{114,151},{73,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,2}</string>
                <key>spriteSize</key>
                <string>{89,136}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{240,405},{89,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-5}</string>
                <key>spriteSize</key>
                <string>{95,130}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{203,498},{95,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-14}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{223,597},{99,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-17}</string>
                <key>spriteSize</key>
                <string>{95,106}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{337,503},{95,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-21}</string>
                <key>spriteSize</key>
                <string>{93,102}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{97,493},{93,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-24}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,483},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-24}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{397,316},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-23}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{303,316},{85,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-24}</string>
                <key>spriteSize</key>
                <string>{81,90}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,303},{81,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-23}</string>
                <key>spriteSize</key>
                <string>{79,90}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{386,233},{79,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-23}</string>
                <key>spriteSize</key>
                <string>{77,90}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{114,67},{77,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-24}</string>
                <key>spriteSize</key>
                <string>{81,88}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{95,309},{81,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-16}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{135,401},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-27}</string>
                <key>spriteSize</key>
                <string>{105,70}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{211,1},{105,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-25}</string>
                <key>spriteSize</key>
                <string>{103,60}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-24}</string>
                <key>spriteSize</key>
                <string>{99,62}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{108,1},{99,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-25}</string>
                <key>spriteSize</key>
                <string>{99,70}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{320,1},{99,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-29}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,221},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-31}</string>
                <key>spriteSize</key>
                <string>{111,76}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{248,152},{111,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-32}</string>
                <key>spriteSize</key>
                <string>{109,72}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,67},{109,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-31}</string>
                <key>spriteSize</key>
                <string>{109,72}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{208,75},{109,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-31}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{325,292}</string>
                <key>textureRect</key>
                <string>{{1,143},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_die_ru.png</string>
            <key>size</key>
            <string>{485,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e3244a2bd293f1923e5293250612ac3:5744d6a2ce291f3a2bd174f843c8ec66:26bcba71d09c3165141c5d47044fbdad$</string>
            <key>textureFileName</key>
            <string>4000004_die_ru.png</string>
        </dict>
    </dict>
</plist>
