<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_W_run_ren_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-65,-1}</string>
                <key>spriteSize</key>
                <string>{81,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-65,-3}</string>
                <key>spriteSize</key>
                <string>{83,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,250},{83,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-65,-4}</string>
                <key>spriteSize</key>
                <string>{85,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{140,412},{85,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_ren_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-65,-4}</string>
                <key>spriteSize</key>
                <string>{89,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{140,551},{89,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_ren_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-64,-3}</string>
                <key>spriteSize</key>
                <string>{87,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,592},{87,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-63,0}</string>
                <key>spriteSize</key>
                <string>{87,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{142,1},{87,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_ren_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-62,0}</string>
                <key>spriteSize</key>
                <string>{83,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,335},{83,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-63,-2}</string>
                <key>spriteSize</key>
                <string>{85,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,505},{85,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-64,-3}</string>
                <key>spriteSize</key>
                <string>{85,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{142,138},{85,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_ren_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-64,-3}</string>
                <key>spriteSize</key>
                <string>{83,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{142,275},{83,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_ren_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-64,-2}</string>
                <key>spriteSize</key>
                <string>{83,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,420},{83,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-64,-1}</string>
                <key>spriteSize</key>
                <string>{81,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,84},{81,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_W_run_ren_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.231373,0.25098}</string>
                <key>spriteOffset</key>
                <string>{-65,-1}</string>
                <key>spriteSize</key>
                <string>{81,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,167},{81,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_run_r.png</string>
            <key>size</key>
            <string>{230,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9f77f2d76f2522852c953ca45cdcff:cf4b02823680b6662b43fbc73d6762ce:e1dc2cbbf0ebf4fd65d31095bc5009b8$</string>
            <key>textureFileName</key>
            <string>4000004_run_r.png</string>
        </dict>
    </dict>
</plist>
