<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_WN_run_ren_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-59,-19}</string>
                <key>spriteSize</key>
                <string>{83,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1006},{83,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-58,-19}</string>
                <key>spriteSize</key>
                <string>{85,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,575},{85,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-57,-22}</string>
                <key>spriteSize</key>
                <string>{87,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,144},{87,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-56,-25}</string>
                <key>spriteSize</key>
                <string>{89,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-54,-24}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,714},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-53,-23}</string>
                <key>spriteSize</key>
                <string>{81,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1427},{81,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-53,-20}</string>
                <key>spriteSize</key>
                <string>{79,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1574},{79,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-54,-19}</string>
                <key>spriteSize</key>
                <string>{83,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1149},{83,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-54,-21}</string>
                <key>spriteSize</key>
                <string>{83,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1288},{83,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-55,-24}</string>
                <key>spriteSize</key>
                <string>{85,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,432},{85,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-57,-23}</string>
                <key>spriteSize</key>
                <string>{85,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,285},{85,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-58,-22}</string>
                <key>spriteSize</key>
                <string>{83,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,861},{83,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_WN_run_ren_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.27451,0.172549}</string>
                <key>spriteOffset</key>
                <string>{-59,-19}</string>
                <key>spriteSize</key>
                <string>{83,141}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1006},{83,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_run_ru.png</string>
            <key>size</key>
            <string>{91,1718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c7c1d97574b9248af044d4ced5070e9:3562e1e8ecaa1bddea8f2f304c7680b0:4b72f7711971bfe02b39963d8ee29631$</string>
            <key>textureFileName</key>
            <string>4000004_run_ru.png</string>
        </dict>
    </dict>
</plist>
