<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-47,-31}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1026},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-46,-31}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1173},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-47,-31}</string>
                <key>spriteSize</key>
                <string>{73,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,734},{73,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-47,-32}</string>
                <key>spriteSize</key>
                <string>{73,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,881},{73,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-47,-32}</string>
                <key>spriteSize</key>
                <string>{75,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,589},{75,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-48,-31}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-48,-31}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,148},{75,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-48,-31}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,295},{75,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-48,-31}</string>
                <key>spriteSize</key>
                <string>{75,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,442},{75,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-47,-31}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1320},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.32549,0.117647}</string>
                <key>spriteOffset</key>
                <string>{-47,-31}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1467},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000004_stand_u.png</string>
            <key>size</key>
            <string>{77,1613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cde6112d313ab644372d15403f1583b6:bc8ec0cbe0ac6759d37f4d0f08a01f1f:22d5dc1b2c574d5d7e0b4d9391409cb5$</string>
            <key>textureFileName</key>
            <string>4000004_stand_u.png</string>
        </dict>
    </dict>
</plist>
