<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_title_130001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,88}</string>
                <key>spriteSourceSize</key>
                <string>{236,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,67}</string>
                <key>spriteSourceSize</key>
                <string>{171,67}</string>
                <key>textureRect</key>
                <string>{{1,1037},{171,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,82}</string>
                <key>spriteSourceSize</key>
                <string>{209,82}</string>
                <key>textureRect</key>
                <string>{{1,91},{209,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{177,84}</string>
                <key>spriteSourceSize</key>
                <string>{179,84}</string>
                <key>textureRect</key>
                <string>{{1,413},{177,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,80}</string>
                <key>spriteSourceSize</key>
                <string>{186,80}</string>
                <key>textureRect</key>
                <string>{{1,253},{186,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{173,63}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{177,819},{173,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,61}</string>
                <key>spriteSourceSize</key>
                <string>{151,61}</string>
                <key>textureRect</key>
                <string>{{178,666},{151,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,76}</string>
                <key>spriteSourceSize</key>
                <string>{178,76}</string>
                <key>textureRect</key>
                <string>{{1,335},{178,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{167,86}</string>
                <key>spriteSourceSize</key>
                <string>{171,86}</string>
                <key>textureRect</key>
                <string>{{1,1168},{167,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{175,65}</string>
                <key>spriteSourceSize</key>
                <string>{177,67}</string>
                <key>textureRect</key>
                <string>{{1,659},{175,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,76}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,175},{194,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,65}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{175,994},{161,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{169,45}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{189,328},{169,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{151,41}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{197,175},{151,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{172,72}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,963},{172,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{174,58}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,793},{174,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,56}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,1334},{152,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,76}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,1256},{166,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{168,60}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,1106},{168,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{144,64}</string>
                <key>spriteSourceSize</key>
                <string>{194,76}</string>
                <key>textureRect</key>
                <string>{{1,1392},{144,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,53}</string>
                <key>spriteSourceSize</key>
                <string>{174,53}</string>
                <key>textureRect</key>
                <string>{{1,853},{174,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{188,1335},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,31}</string>
                <key>spriteSourceSize</key>
                <string>{73,31}</string>
                <key>textureRect</key>
                <string>{{169,1302},{71,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,31}</string>
                <key>spriteSourceSize</key>
                <string>{98,31}</string>
                <key>textureRect</key>
                <string>{{155,1335},{98,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,53}</string>
                <key>spriteSourceSize</key>
                <string>{174,53}</string>
                <key>textureRect</key>
                <string>{{1,908},{174,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{143,69}</string>
                <key>spriteSourceSize</key>
                <string>{175,83}</string>
                <key>textureRect</key>
                <string>{{171,1157},{143,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{175,65}</string>
                <key>spriteSourceSize</key>
                <string>{175,83}</string>
                <key>textureRect</key>
                <string>{{1,726},{175,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{165,61}</string>
                <key>spriteSourceSize</key>
                <string>{175,83}</string>
                <key>textureRect</key>
                <string>{{178,499},{165,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_title_130061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{175,73}</string>
                <key>spriteSourceSize</key>
                <string>{175,83}</string>
                <key>textureRect</key>
                <string>{{1,584},{175,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_title_130062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,83}</string>
                <key>spriteSourceSize</key>
                <string>{175,83}</string>
                <key>textureRect</key>
                <string>{{1,499},{175,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_title.png</string>
            <key>size</key>
            <string>{241,1457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73361fbc36a4aa371266b9b6232d4a9e:1df7d405d93fee69ef3c5257edfcea13:25642db53b60c30a4ce160d65e76f161$</string>
            <key>textureFileName</key>
            <string>icon_title.png</string>
        </dict>
    </dict>
</plist>
