<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>大锦鲤1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{193,130}</string>
                <key>spriteSourceSize</key>
                <string>{205,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200031_stand_d.png</string>
            <key>size</key>
            <string>{195,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd620b29d7beaf610225dd58c5b6b76b:de1f1271a46a909575ac027557e464f3:465f21f1b0ad43d1c02f98eead6f721c$</string>
            <key>textureFileName</key>
            <string>4200031_stand_d.png</string>
        </dict>
    </dict>
</plist>
