<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_71di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{57,47}</string>
                <key>textureRect</key>
                <string>{{354,870},{57,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jingguangtadi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{768,1239}</string>
                <key>spriteSourceSize</key>
                <string>{768,1251}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,1239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_jinguangtakuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,55}</string>
                <key>spriteSourceSize</key>
                <string>{331,55}</string>
                <key>textureRect</key>
                <string>{{461,869},{331,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jinguangtazhujiemiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,186}</string>
                <key>textureRect</key>
                <string>{{1242,555},{244,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jingugangdajiangchiliangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{500,84}</string>
                <key>spriteSourceSize</key>
                <string>{500,96}</string>
                <key>textureRect</key>
                <string>{{1242,469},{500,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{555,115}</string>
                <key>spriteSourceSize</key>
                <string>{555,117}</string>
                <key>textureRect</key>
                <string>{{1242,1},{555,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangdi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{555,115}</string>
                <key>spriteSourceSize</key>
                <string>{555,117}</string>
                <key>textureRect</key>
                <string>{{1242,118},{555,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangdi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,115}</string>
                <key>spriteSourceSize</key>
                <string>{555,117}</string>
                <key>textureRect</key>
                <string>{{1242,235},{555,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangdi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{555,115}</string>
                <key>spriteSourceSize</key>
                <string>{555,117}</string>
                <key>textureRect</key>
                <string>{{1242,352},{555,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangmingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{271,73}</string>
                <key>spriteSourceSize</key>
                <string>{273,77}</string>
                <key>textureRect</key>
                <string>{{1188,771},{271,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangmingzidi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{271,73}</string>
                <key>spriteSourceSize</key>
                <string>{273,77}</string>
                <key>textureRect</key>
                <string>{{1188,846},{271,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangmingzidi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{271,73}</string>
                <key>spriteSourceSize</key>
                <string>{273,77}</string>
                <key>textureRect</key>
                <string>{{1488,555},{271,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangmingzidi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{271,73}</string>
                <key>spriteSourceSize</key>
                <string>{273,77}</string>
                <key>textureRect</key>
                <string>{{1488,630},{271,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paihangbangzuidiceng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{851,771},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_guangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{941,771},{90,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_kaishitiaozhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{233,231}</string>
                <key>spriteSourceSize</key>
                <string>{237,231}</string>
                <key>textureRect</key>
                <string>{{1563,630},{233,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_ceng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{413,870},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dangqianjindu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{132,28}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{141,771},{132,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_dangtaingongxianzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{164,28}</string>
                <key>spriteSourceSize</key>
                <string>{170,38}</string>
                <key>textureRect</key>
                <string>{{872,896},{164,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jinrishouji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,29}</string>
                <key>spriteSourceSize</key>
                <string>{140,33}</string>
                <key>textureRect</key>
                <string>{{50,771},{136,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_paihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{459,771},{96,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_quanfupaihang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,28}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{81,771},{136,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_tiaozhandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{171,771},{106,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_weishangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{872,865},{83,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yujishouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,28}</string>
                <key>spriteSourceSize</key>
                <string>{144,38}</string>
                <key>textureRect</key>
                <string>{{111,771},{136,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zongjiangchi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,47}</string>
                <key>spriteSourceSize</key>
                <string>{143,49}</string>
                <key>textureRect</key>
                <string>{{1,771},{143,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_cengshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{322,870},{48,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gongxianzhi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{834,867},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_huodongshuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{262,95}</string>
                <key>spriteSourceSize</key>
                <string>{262,97}</string>
                <key>textureRect</key>
                <string>{{497,771},{262,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jinguangsheli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{794,867},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{171,879},{44,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_paihang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,88}</string>
                <key>textureRect</key>
                <string>{{761,771},{94,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_paihang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,88}</string>
                <key>textureRect</key>
                <string>{{1032,771},{80,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_paihang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,88}</string>
                <key>textureRect</key>
                <string>{{1114,771},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_paihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{252,97}</string>
                <key>spriteSourceSize</key>
                <string>{262,97}</string>
                <key>textureRect</key>
                <string>{{205,771},{252,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tiaozhandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{211,870},{53,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_weiwancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{1038,861},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yiwancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{74,73}</string>
                <key>textureRect</key>
                <string>{{1108,861},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zongjiangchikuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{269,870},{53,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinguangta.png</string>
            <key>size</key>
            <string>{1798,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8009520e284df9e4b1e0d8a381b0f112:aa7b9de07daddbcd8efc8d57495ba85e:45733781092f654f67b9b9da5b3526ab$</string>
            <key>textureFileName</key>
            <string>jinguangta.png</string>
        </dict>
    </dict>
</plist>
