<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hongbaoshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.476768,0.105528}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,398}</string>
                <key>spriteSourceSize</key>
                <string>{495,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{495,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200042_stand_d.png</string>
            <key>size</key>
            <string>{497,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174ed37b0497ee7a107d98c823481c09:869c5334cc7fe217d2cd65cc368a3b51:d2945b40d2cd4637cff3d5b85a3a1821$</string>
            <key>textureFileName</key>
            <string>4200042_stand_d.png</string>
        </dict>
    </dict>
</plist>
