<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-32}</string>
                <key>spriteSize</key>
                <string>{372,264}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{968,800},{372,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,-43}</string>
                <key>spriteSize</key>
                <string>{334,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{334,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-17}</string>
                <key>spriteSize</key>
                <string>{156,404}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1496,1078},{156,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,129}</string>
                <key>spriteSize</key>
                <string>{338,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,800},{338,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,142}</string>
                <key>spriteSize</key>
                <string>{236,228}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,560},{236,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,140}</string>
                <key>spriteSize</key>
                <string>{162,232}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{684,560},{162,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,103}</string>
                <key>spriteSize</key>
                <string>{400,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{646,148},{400,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,118}</string>
                <key>spriteSize</key>
                <string>{94,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,332},{94,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,115}</string>
                <key>spriteSize</key>
                <string>{434,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{334,0},{434,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,128}</string>
                <key>spriteSize</key>
                <string>{124,234}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{846,560},{124,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,118}</string>
                <key>spriteSize</key>
                <string>{218,248}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{338,800},{218,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,76}</string>
                <key>spriteSize</key>
                <string>{354,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1266,0},{354,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,14}</string>
                <key>spriteSize</key>
                <string>{238,288}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1078},{238,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,25}</string>
                <key>spriteSize</key>
                <string>{204,260}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{764,800},{204,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,30}</string>
                <key>spriteSize</key>
                <string>{208,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{556,800},{208,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,33}</string>
                <key>spriteSize</key>
                <string>{240,334}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1256,1078},{240,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-18}</string>
                <key>spriteSize</key>
                <string>{274,210}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{94,332},{274,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-42}</string>
                <key>spriteSize</key>
                <string>{330,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,148},{330,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_attack_ru_weapon2.png</string>
            <key>size</key>
            <string>{1770,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b215a58ed460ce87a7be6e2e28abc531:1e17baaf2a5502e9ef031c3a439789f0:cd37eae44c66151fa9c5d4139c146763$</string>
            <key>textureFileName</key>
            <string>4000007_attack_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
