<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,822},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,960},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,822},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,960},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,19}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{62,1098},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{60,1236},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1374},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,20}</string>
                <key>spriteSize</key>
                <string>{60,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1236},{60,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,20}</string>
                <key>spriteSize</key>
                <string>{62,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1098},{62,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,20}</string>
                <key>spriteSize</key>
                <string>{62,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{64,684},{62,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,20}</string>
                <key>spriteSize</key>
                <string>{64,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,684},{64,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,20}</string>
                <key>spriteSize</key>
                <string>{64,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,408},{64,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{64,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{64,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,136},{64,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,19}</string>
                <key>spriteSize</key>
                <string>{62,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{60,272},{62,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{62,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{64,0},{62,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,18}</string>
                <key>spriteSize</key>
                <string>{60,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{64,136},{60,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,18}</string>
                <key>spriteSize</key>
                <string>{60,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,272},{60,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{60,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,546},{60,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{60,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{64,408},{60,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,17}</string>
                <key>spriteSize</key>
                <string>{58,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{60,546},{58,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_idle_ld_part3.png</string>
            <key>size</key>
            <string>{126,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46a989601b9a42a44578e24a5b2924d1:d02885fcc51f61ab4d7dfc1137197de2:0348e44854f31eeff2775c77c9f85963$</string>
            <key>textureFileName</key>
            <string>4000007_idle_ld_part3.png</string>
        </dict>
    </dict>
</plist>
