<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-18}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-18}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,86},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-19}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,172},{118,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-19}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,260},{118,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-19}</string>
                <key>spriteSize</key>
                <string>{114,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,348},{114,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-20}</string>
                <key>spriteSize</key>
                <string>{114,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,440},{114,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-20}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,532},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-21}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,626},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-21}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,720},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-21}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,814},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-21}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,908},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-21}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1002},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-20}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1096},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-19}</string>
                <key>spriteSize</key>
                <string>{110,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1188},{110,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-18}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1280},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-18}</string>
                <key>spriteSize</key>
                <string>{112,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1370},{112,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-18}</string>
                <key>spriteSize</key>
                <string>{114,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1460},{114,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-18}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1548},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-18}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1634},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-18}</string>
                <key>spriteSize</key>
                <string>{118,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1718},{118,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidle_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-18}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,1802},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_idle_ld_part2.png</string>
            <key>size</key>
            <string>{120,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45ddc873291fe2b1ee55144a4cdcfb78:e3c74b877c223457e590a1ce900ef814:5ba327855f8f3f0bb6f76cb092f26ebd$</string>
            <key>textureFileName</key>
            <string>4000007_idle_ld_part2.png</string>
        </dict>
    </dict>
</plist>
