<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,60}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{44,48},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,27}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{406,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{354,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{250,0},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{198,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{300,0},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,27}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{150,0},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,33}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{54,0},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,34}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{102,0},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,23}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{452,0},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-15}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{80,48},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-51}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,48},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-84}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{398,48},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-102}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{170,48},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-113}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{126,48},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-108}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{306,48},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-106}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{446,48},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-107}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{260,48},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-109}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{214,48},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-110}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{352,48},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_die_ld_part1.png</string>
            <key>size</key>
            <string>{502,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f042a0490f5daf6041886d1e95c30df:a868ec42c3ffeefc9046c477c4dba0b1:deb426a74929a4fe66658e72880240b3$</string>
            <key>textureFileName</key>
            <string>4000007_die_ld_part1.png</string>
        </dict>
    </dict>
</plist>
