<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{112,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{290,772},{112,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-35}</string>
                <key>spriteSize</key>
                <string>{128,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{138,444},{128,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-46}</string>
                <key>spriteSize</key>
                <string>{150,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{280,308},{150,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-40}</string>
                <key>spriteSize</key>
                <string>{146,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{284,186},{146,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-38}</string>
                <key>spriteSize</key>
                <string>{138,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,308},{138,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-32}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,444},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-24}</string>
                <key>spriteSize</key>
                <string>{136,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,598},{136,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{280,598},{140,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{144,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,772},{144,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{146,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{144,772},{146,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{144,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{136,598},{144,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{266,444},{136,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-37}</string>
                <key>spriteSize</key>
                <string>{142,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{138,308},{142,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-48}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{146,186},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-54}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{152,0},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-54}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{150,88},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-53}</string>
                <key>spriteSize</key>
                <string>{146,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,186},{146,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-53}</string>
                <key>spriteSize</key>
                <string>{148,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{294,88},{148,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-56}</string>
                <key>spriteSize</key>
                <string>{150,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,88},{150,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-58}</string>
                <key>spriteSize</key>
                <string>{152,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{294,0},{152,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-59}</string>
                <key>spriteSize</key>
                <string>{152,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{152,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_die_ru.png</string>
            <key>size</key>
            <string>{446,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36acf3737cfe5aca6a4ebf6553780313:bc811ef22dccfce1499fd8d17f08b77b:58f3d61db8887c5c58538128dd6d19fa$</string>
            <key>textureFileName</key>
            <string>4000007_die_ru.png</string>
        </dict>
    </dict>
</plist>
