<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackidie_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{450,270}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,978},{450,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{448,272}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{450,978},{448,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-18}</string>
                <key>spriteSize</key>
                <string>{438,250}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{426,716},{438,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-18}</string>
                <key>spriteSize</key>
                <string>{426,246}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1272,468},{426,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-5}</string>
                <key>spriteSize</key>
                <string>{400,250}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1280,218},{400,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-9}</string>
                <key>spriteSize</key>
                <string>{402,246}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{462,218},{402,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{420,248}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{852,468},{420,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{448,262}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{864,716},{448,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-9}</string>
                <key>spriteSize</key>
                <string>{458,258}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1312,716},{458,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-32}</string>
                <key>spriteSize</key>
                <string>{416,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{864,218},{416,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-32}</string>
                <key>spriteSize</key>
                <string>{386,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1056,0},{386,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-40}</string>
                <key>spriteSize</key>
                <string>{306,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{306,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-30}</string>
                <key>spriteSize</key>
                <string>{358,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{306,0},{358,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-27}</string>
                <key>spriteSize</key>
                <string>{392,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{664,0},{392,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{454,216}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1442,0},{454,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{462,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,218},{462,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{512,242}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{898,978},{512,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{506,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1410,978},{506,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{430,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{422,468},{430,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-22}</string>
                <key>spriteSize</key>
                <string>{422,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,468},{422,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackidie_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{426,254}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,716},{426,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_idle_ru_weapon2.png</string>
            <key>size</key>
            <string>{1916,1250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a0f2fdd9d014dcf82a849637501255:e6910e8ea0d583b82b518712d8243b8b:959275fc51340910b34fa8dcaaecbbdd$</string>
            <key>textureFileName</key>
            <string>4000007_idle_ru_weapon2.png</string>
        </dict>
    </dict>
</plist>
