<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,20}</string>
                <key>spriteSize</key>
                <string>{54,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{194,106},{54,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,15}</string>
                <key>spriteSize</key>
                <string>{70,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{72,376},{70,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{86,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{72,642},{86,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{142,376},{74,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{58,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{58,0},{70,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{74,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{128,0},{74,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{74,96}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,106},{74,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{70,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,240},{70,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{66,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{74,106},{66,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{70,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{126,240},{70,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{72,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,376},{72,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,14}</string>
                <key>spriteSize</key>
                <string>{74,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,504},{74,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{76,130}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{142,504},{76,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,19}</string>
                <key>spriteSize</key>
                <string>{82,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{80,782},{82,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,20}</string>
                <key>spriteSize</key>
                <string>{82,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{162,782},{82,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,21}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,782},{80,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{158,642},{80,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,22}</string>
                <key>spriteSize</key>
                <string>{72,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,642},{72,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{68,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{74,504},{68,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,22}</string>
                <key>spriteSize</key>
                <string>{60,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{196,240},{60,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,23}</string>
                <key>spriteSize</key>
                <string>{56,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{70,240},{56,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,21}</string>
                <key>spriteSize</key>
                <string>{54,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{140,106},{54,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_hit_ru_part3.png</string>
            <key>size</key>
            <string>{256,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea5d636eedcc1660a5f965482b93bc1:0002ccea3658bd0e793fbb3491b0d34c:820e944f8f26c33017310329d8fb7fe6$</string>
            <key>textureFileName</key>
            <string>4000007_hit_ru_part3.png</string>
        </dict>
    </dict>
</plist>
