<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{122,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,84},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{118,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,184},{118,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,268},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,356},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-14}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,434},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-18}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,526},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,624},{122,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{124,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,704},{124,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{120,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,788},{120,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,870},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_run_rd_part2.png</string>
            <key>size</key>
            <string>{124,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfff12606a68479df2a5e84bd91c3537:a6f839daffb5741a23c223f26e6565e3:da96f7fbbe9edf431da090277d816e19$</string>
            <key>textureFileName</key>
            <string>4000007_run_rd_part2.png</string>
        </dict>
    </dict>
</plist>
