<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-20}</string>
                <key>spriteSize</key>
                <string>{204,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{408,242},{204,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-20}</string>
                <key>spriteSize</key>
                <string>{182,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{830,132},{182,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-53}</string>
                <key>spriteSize</key>
                <string>{224,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,132},{224,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-53}</string>
                <key>spriteSize</key>
                <string>{224,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{430,46},{224,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-40}</string>
                <key>spriteSize</key>
                <string>{212,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{218,46},{212,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-36}</string>
                <key>spriteSize</key>
                <string>{204,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{654,46},{204,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-31}</string>
                <key>spriteSize</key>
                <string>{198,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{224,132},{198,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-29}</string>
                <key>spriteSize</key>
                <string>{196,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{634,132},{196,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-26}</string>
                <key>spriteSize</key>
                <string>{192,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{612,242},{192,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-25}</string>
                <key>spriteSize</key>
                <string>{190,130}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,368},{190,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-24}</string>
                <key>spriteSize</key>
                <string>{188,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{382,368},{188,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-23}</string>
                <key>spriteSize</key>
                <string>{188,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{762,368},{188,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-24}</string>
                <key>spriteSize</key>
                <string>{192,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{570,368},{192,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-25}</string>
                <key>spriteSize</key>
                <string>{192,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{190,368},{192,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-26}</string>
                <key>spriteSize</key>
                <string>{200,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{804,242},{200,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-26}</string>
                <key>spriteSize</key>
                <string>{204,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,242},{204,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-24}</string>
                <key>spriteSize</key>
                <string>{212,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{422,132},{212,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-23}</string>
                <key>spriteSize</key>
                <string>{218,84}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,46},{218,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-17}</string>
                <key>spriteSize</key>
                <string>{222,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{670,0},{222,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-15}</string>
                <key>spriteSize</key>
                <string>{222,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{222,0},{222,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-14}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-15}</string>
                <key>spriteSize</key>
                <string>{226,34}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{444,0},{226,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-20}</string>
                <key>spriteSize</key>
                <string>{204,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{204,242},{204,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000007_hit_ru_weapon1.png</string>
            <key>size</key>
            <string>{1012,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffa9b3d275a41152f50711a0f6090c89:618d2338424f916b1dcd2cf6d6ff399a:44c6dce058571c34835a546fc023ae27$</string>
            <key>textureFileName</key>
            <string>4000007_hit_ru_weapon1.png</string>
        </dict>
    </dict>
</plist>
