<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_idle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{365,532},{171,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{171,147}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{178,865},{171,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{167,149}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1012},{167,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{167,149}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,1016},{167,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{165,149}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{343,1047},{165,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{165,151}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{353,878},{165,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{165,151}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{339,1200},{165,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{165,149}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1165},{165,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{165,149}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{170,1169},{165,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{167,147}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{363,707},{167,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{171,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{367,1},{171,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{173,141}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{367,176},{173,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{175,141}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{182,573},{175,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{177,139}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,428},{177,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{179,137}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{179,139}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,142},{179,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{179,139}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{184,142},{179,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{179,137}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{184,1},{179,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{179,139}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,285},{179,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{179,139}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{184,285},{179,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{179,141}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{182,428},{179,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{177,141}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,571},{177,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{177,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,716},{177,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{177,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{182,718},{177,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{175,143}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{367,353},{175,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{173,145}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,863},{173,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303001_idle_ru.png</string>
            <key>size</key>
            <string>{511,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5135a643d4cc330d27b75dff529dfe:fd00e0d76d5dbc757a6193d48590f26c:e97f496917052a2613a0d6672a39d8ff$</string>
            <key>textureFileName</key>
            <string>4303001_idle_ru.png</string>
        </dict>
    </dict>
</plist>
