<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_shifa_ES_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-46}</string>
                <key>spriteSize</key>
                <string>{151,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1015},{151,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{191,17}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{91,812},{191,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-33}</string>
                <key>spriteSize</key>
                <string>{85,49}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{195,146},{85,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-27}</string>
                <key>spriteSize</key>
                <string>{27,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{215,773},{27,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,11}</string>
                <key>spriteSize</key>
                <string>{69,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{77,647},{69,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,18}</string>
                <key>spriteSize</key>
                <string>{101,179}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,8}</string>
                <key>spriteSize</key>
                <string>{123,147}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,184},{123,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{123,89}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{137,474},{123,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,18}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{205,453},{17,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,25}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{164,1080},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-8}</string>
                <key>spriteSize</key>
                <string>{167,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,844},{167,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-8}</string>
                <key>spriteSize</key>
                <string>{131,21}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{105,1154},{131,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,17}</string>
                <key>spriteSize</key>
                <string>{15,37}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{205,434},{15,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,27}</string>
                <key>spriteSize</key>
                <string>{27,59}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{215,854},{27,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,37}</string>
                <key>spriteSize</key>
                <string>{63,77}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{164,999},{63,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,39}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{163,601},{71,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,12}</string>
                <key>spriteSize</key>
                <string>{135,135}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,335},{135,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,12}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{106,1},{141,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-5}</string>
                <key>spriteSize</key>
                <string>{11,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{62,661},{11,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{9,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{235,235},{9,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{9,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{150,601},{9,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{9,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{157,800},{9,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{11,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{112,812},{11,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{11,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{127,812},{11,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{11,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{142,812},{11,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{11,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{205,235},{11,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{11,195}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{220,235},{11,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{11,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{200,773},{11,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{11,193}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{170,773},{11,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{11,193}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{185,773},{11,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,47}</string>
                <key>spriteSize</key>
                <string>{55,139}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{105,1011},{55,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,39}</string>
                <key>spriteSize</key>
                <string>{71,93}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{163,676},{71,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-25}</string>
                <key>spriteSize</key>
                <string>{149,35}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{66,1015},{149,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-39}</string>
                <key>spriteSize</key>
                <string>{151,25}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{62,860},{151,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-51}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{128,146},{161,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-52}</string>
                <key>spriteSize</key>
                <string>{169,67}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{66,474},{169,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-50}</string>
                <key>spriteSize</key>
                <string>{183,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,474},{183,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{179,57}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,661},{179,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_ES_shifa_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-46}</string>
                <key>spriteSize</key>
                <string>{151,61}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{140,311},{151,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303001_magic_ld.png</string>
            <key>size</key>
            <string>{245,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52172100bcc010eaa20c396492c4aad9:308f1ecbfeb1491e725e00aeefe448ce:f8d800fa9269bfb28f942a2aa19fc5ee$</string>
            <key>textureFileName</key>
            <string>4303001_magic_ld.png</string>
        </dict>
    </dict>
</plist>
