<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WN_stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-4}</string>
                <key>spriteSize</key>
                <string>{175,151}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{180,1},{175,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-3}</string>
                <key>spriteSize</key>
                <string>{175,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{534,1},{175,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{177,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{175,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{711,1},{175,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-2}</string>
                <key>spriteSize</key>
                <string>{175,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{888,1},{175,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-3}</string>
                <key>spriteSize</key>
                <string>{173,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1240,1},{173,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-3}</string>
                <key>spriteSize</key>
                <string>{171,151}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1588,1},{171,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{169,153}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1761,1},{169,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-5}</string>
                <key>spriteSize</key>
                <string>{171,153}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1415,1},{171,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-5}</string>
                <key>spriteSize</key>
                <string>{173,151}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1065,1},{173,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_WN_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-4}</string>
                <key>spriteSize</key>
                <string>{175,151}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{357,1},{175,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303001_stand_ru.png</string>
            <key>size</key>
            <string>{1931,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3fa3e48202c01acf006ff47bb0837a3:bda428809ae474b72bb16b45b5ff6f93:85cca4526af04f7f992ef9be00e8a809$</string>
            <key>textureFileName</key>
            <string>4303001_stand_ru.png</string>
        </dict>
    </dict>
</plist>
