<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_stand_W_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{45,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{101,1},{45,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-8}</string>
                <key>spriteSize</key>
                <string>{49,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{51,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,190},{51,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{51,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{188,190},{51,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_W_stand_W_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-8}</string>
                <key>spriteSize</key>
                <string>{49,185}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{361,1},{49,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-8}</string>
                <key>spriteSize</key>
                <string>{47,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{52,1},{47,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{43,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{195,1},{43,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-9}</string>
                <key>spriteSize</key>
                <string>{37,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{283,1},{37,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-10}</string>
                <key>spriteSize</key>
                <string>{37,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{322,1},{37,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{41,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{240,1},{41,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_stand_W_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{45,187}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{148,1},{45,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303001_stand_r.png</string>
            <key>size</key>
            <string>{411,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbe1635c1a9167c75b3f9268b6afae2a:6950a9b35027558af74f18a604ab74ae:effcb13ac0902cc8e9558cef5b181f51$</string>
            <key>textureFileName</key>
            <string>4303001_stand_r.png</string>
        </dict>
    </dict>
</plist>
