<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_N_stand_N_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{181,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{739,1},{181,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{179,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1288,1},{179,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{179,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1469,1},{179,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{179,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1650,1},{179,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{179,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1831,1},{179,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{181,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{922,1},{181,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{181,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{556,1},{181,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{371,1},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_N_stand_N_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.42154,0.31692}</string>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{181,93}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1105,1},{181,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303001_stand_u.png</string>
            <key>size</key>
            <string>{2011,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73eb715b87df3bc05a72759c22a3d6be:3cd2fa51f2200c6061776afd14e92aa3:bae5f4db86d1a811a93f057f87835f17$</string>
            <key>textureFileName</key>
            <string>4303001_stand_u.png</string>
        </dict>
    </dict>
</plist>
