<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_ES_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,23}</string>
                <key>spriteSize</key>
                <string>{151,61}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{192,393},{151,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-4}</string>
                <key>spriteSize</key>
                <string>{197,43}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{212,1},{197,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{203,45}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,138},{203,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{203,55}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,79},{203,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{207,41}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{207,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,2}</string>
                <key>spriteSize</key>
                <string>{205,29}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,46},{205,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,0}</string>
                <key>spriteSize</key>
                <string>{201,23}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,187},{201,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-3}</string>
                <key>spriteSize</key>
                <string>{199,19}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,214},{199,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-2}</string>
                <key>spriteSize</key>
                <string>{189,23}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,315},{189,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-20}</string>
                <key>spriteSize</key>
                <string>{189,21}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,342},{189,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-27}</string>
                <key>spriteSize</key>
                <string>{189,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,237},{189,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-35}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,367},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-31}</string>
                <key>spriteSize</key>
                <string>{187,49}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{206,202},{187,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-33}</string>
                <key>spriteSize</key>
                <string>{189,33}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,278},{189,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,410},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-38}</string>
                <key>spriteSize</key>
                <string>{163,35}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,875},{163,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-37}</string>
                <key>spriteSize</key>
                <string>{171,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,834},{171,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-36}</string>
                <key>spriteSize</key>
                <string>{179,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{186,739},{179,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-36}</string>
                <key>spriteSize</key>
                <string>{181,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,668},{181,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-37}</string>
                <key>spriteSize</key>
                <string>{179,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,752},{179,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-37}</string>
                <key>spriteSize</key>
                <string>{181,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,711},{181,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-37}</string>
                <key>spriteSize</key>
                <string>{179,37}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,793},{179,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,453},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,496},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,539},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{192,548},{187,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_ES_die_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,582},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_ES_die_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{187,39}</string>
                <key>spriteSourceSize</key>
                <string>{379,285}</string>
                <key>textureRect</key>
                <string>{{1,625},{187,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4303001_die_ld.png</string>
            <key>size</key>
            <string>{256,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f4c9fa2cd8962f713d8c6034c5cf4d:3a69382da66fd1b76f7e3173c4b83950:6c29f816b2f7108829512ec9989cb826$</string>
            <key>textureFileName</key>
            <string>4303001_die_ld.png</string>
        </dict>
    </dict>
</plist>
