<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{191,1},{90,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{88,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{133,397},{88,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,133},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{92,126}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,267},{92,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{95,133},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{97,1},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,397},{90,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{88,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{191,265},{88,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{97,265},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{189,133},{90,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100001_idle_ru.png</string>
            <key>size</key>
            <string>{282,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5252e37a4fb3e4b552eb40c00808a1da:41c7ebc9627698f93fbd140245fe8594:8942532a4cd7f9d76297481c0be05052$</string>
            <key>textureFileName</key>
            <string>4100001_idle_ru.png</string>
        </dict>
    </dict>
</plist>
