<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_biaotidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,35}</string>
                <key>spriteSourceSize</key>
                <string>{148,35}</string>
                <key>textureRect</key>
                <string>{{1,211},{148,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tuodongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{35,160},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuangbeidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,124}</string>
                <key>spriteSourceSize</key>
                <string>{148,124}</string>
                <key>textureRect</key>
                <string>{{161,1},{148,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zhuangbeidixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,124}</string>
                <key>spriteSourceSize</key>
                <string>{157,124}</string>
                <key>textureRect</key>
                <string>{{35,1},{157,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_xiexiaanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,64}</string>
                <key>spriteSourceSize</key>
                <string>{103,64}</string>
                <key>textureRect</key>
                <string>{{367,1},{103,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_beibaozhuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,23}</string>
                <key>spriteSourceSize</key>
                <string>{107,23}</string>
                <key>textureRect</key>
                <string>{{151,227},{107,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_dangqianzhuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,23}</string>
                <key>spriteSourceSize</key>
                <string>{105,23}</string>
                <key>textureRect</key>
                <string>{{260,227},{105,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xiexia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{151,196},{69,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_xuanzexiafangzhuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{208,32}</string>
                <key>spriteSourceSize</key>
                <string>{220,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xuanzezhuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,34}</string>
                <key>spriteSourceSize</key>
                <string>{131,34}</string>
                <key>textureRect</key>
                <string>{{91,160},{131,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shipin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{367,176},{66,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_toubu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,65}</string>
                <key>spriteSourceSize</key>
                <string>{69,65}</string>
                <key>textureRect</key>
                <string>{{287,1},{69,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{287,68},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xianglian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{367,106},{59,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xiezi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{284,151},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{224,151},{74,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exchange_equipment.png</string>
            <key>size</key>
            <string>{432,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8a6affdd0bf21e21d65b70bf35dec6:ca3f2431ed361920f7a705c9f1063739:2f26f01086843ef5ab81afa5ced59e92$</string>
            <key>textureFileName</key>
            <string>exchange_equipment.png</string>
        </dict>
    </dict>
</plist>
