<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_W_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{116,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-17,-3}</string>
                <key>spriteSize</key>
                <string>{114,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{237,1},{114,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{112,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{471,1},{112,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{112,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{817,1},{112,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{114,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{585,1},{114,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{114,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{701,1},{114,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{116,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{353,1},{116,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_W_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.565,0.19}</string>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{116,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{119,1},{116,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4200008_stand_r.png</string>
            <key>size</key>
            <string>{930,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7edd807fced96143f24e4a2cc927a5b4:6a80517bac314713757f2b55c5356077:cc7ea0c458e23b4dbc39f4bec0e6a32d$</string>
            <key>textureFileName</key>
            <string>4200008_stand_r.png</string>
        </dict>
    </dict>
</plist>
