<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bangwaidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{722,418},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbaifengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,34}</string>
                <key>spriteSourceSize</key>
                <string>{4,34}</string>
                <key>textureRect</key>
                <string>{{569,198},{4,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paihangbangbiaotidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,42}</string>
                <key>textureRect</key>
                <string>{{650,418},{92,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_paihangbangdi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{847,1},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangdi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{570,452},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_paihangbangxuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{847,69},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{294,248}</string>
                <key>spriteSourceSize</key>
                <string>{328,298}</string>
                <key>textureRect</key>
                <string>{{1,232},{294,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{262,271}</string>
                <key>spriteSourceSize</key>
                <string>{318,285}</string>
                <key>textureRect</key>
                <string>{{297,232},{262,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,72}</string>
                <key>spriteSourceSize</key>
                <string>{101,72}</string>
                <key>textureRect</key>
                <string>{{794,175},{101,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chushoujiemianweixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,64}</string>
                <key>spriteSourceSize</key>
                <string>{101,64}</string>
                <key>textureRect</key>
                <string>{{794,249},{101,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{218,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,84}</string>
                <key>textureRect</key>
                <string>{{569,118},{218,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fenxiangguanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{816,315},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fuzhiannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{276,115}</string>
                <key>spriteSourceSize</key>
                <string>{284,123}</string>
                <key>textureRect</key>
                <string>{{569,1},{276,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_guanbiyaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{755,333},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_lingqujiangli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{218,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,84}</string>
                <key>textureRect</key>
                <string>{{570,232},{218,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_tianjiaannniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{873,315},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_xianshijuti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{218,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,84}</string>
                <key>textureRect</key>
                <string>{{650,198},{218,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_chuangshijuming1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{292,24}</string>
                <key>spriteSourceSize</key>
                <string>{296,30}</string>
                <key>textureRect</key>
                <string>{{1,482},{292,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_chuangshijuming2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{597,26}</string>
                <key>spriteSourceSize</key>
                <string>{619,30}</string>
                <key>textureRect</key>
                <string>{{1,204},{597,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_fanhuanliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{694,418},{90,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jueseming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,23}</string>
                <key>spriteSourceSize</key>
                <string>{84,23}</string>
                <key>textureRect</key>
                <string>{{730,332},{84,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_jutixinxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{126,36}</string>
                <key>spriteSourceSize</key>
                <string>{130,42}</string>
                <key>textureRect</key>
                <string>{{789,137},{126,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_kuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{63,26}</string>
                <key>spriteSourceSize</key>
                <string>{73,30}</string>
                <key>textureRect</key>
                <string>{{816,373},{63,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_nengliangzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,26}</string>
                <key>spriteSourceSize</key>
                <string>{73,30}</string>
                <key>textureRect</key>
                <string>{{784,394},{67,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_paihang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,23}</string>
                <key>spriteSourceSize</key>
                <string>{58,23}</string>
                <key>textureRect</key>
                <string>{{722,486},{58,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yaoqingyufenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{566,201}</string>
                <key>spriteSourceSize</key>
                <string>{578,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{566,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yidadaozuidazhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{133,28}</string>
                <key>spriteSourceSize</key>
                <string>{139,32}</string>
                <key>textureRect</key>
                <string>{{764,198},{133,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zuorizonglaing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{132,32}</string>
                <key>spriteSourceSize</key>
                <string>{138,42}</string>
                <key>textureRect</key>
                <string>{{730,198},{132,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_paihangdier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,48}</string>
                <key>spriteSourceSize</key>
                <string>{41,48}</string>
                <key>textureRect</key>
                <string>{{812,453},{41,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_paihangdisan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{812,401},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_paihangdiyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{857,401},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>invite_and_share.png</string>
            <key>size</key>
            <string>{916,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1a3979fea3add51209f095647f8b22f:8b6f1428e75f79485ff3c15dbc164c8b:dbc6ecb3da8b8e0701cba03ec973862f$</string>
            <key>textureFileName</key>
            <string>invite_and_share.png</string>
        </dict>
    </dict>
</plist>
