<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cangshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{684,388}</string>
                <key>spriteSourceSize</key>
                <string>{694,434}</string>
                <key>textureRect</key>
                <string>{{1,802},{684,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fenxianggongzhonghaoQqundi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{510,799}</string>
                <key>spriteSourceSize</key>
                <string>{694,847}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,799}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiaruQqun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{209,209}</string>
                <key>spriteSourceSize</key>
                <string>{221,219}</string>
                <key>textureRect</key>
                <string>{{226,1192},{209,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiaruQqun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{209,209}</string>
                <key>spriteSourceSize</key>
                <string>{221,219}</string>
                <key>textureRect</key>
                <string>{{437,1192},{209,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_qqungongzhonghaoshurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,75}</string>
                <key>spriteSourceSize</key>
                <string>{366,79}</string>
                <key>textureRect</key>
                <string>{{715,1},{362,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_weixingongzhonghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{234,234}</string>
                <key>spriteSourceSize</key>
                <string>{254,250}</string>
                <key>textureRect</key>
                <string>{{513,499},{234,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wenzishuomingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,93}</string>
                <key>spriteSourceSize</key>
                <string>{223,93}</string>
                <key>textureRect</key>
                <string>{{687,1095},{223,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_dakaishoujiQQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{312,87}</string>
                <key>spriteSourceSize</key>
                <string>{328,93}</string>
                <key>textureRect</key>
                <string>{{687,781},{312,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_queren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{223,87}</string>
                <key>spriteSourceSize</key>
                <string>{223,93}</string>
                <key>textureRect</key>
                <string>{{1,1192},{223,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_Qqunwenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{490,100}</string>
                <key>spriteSourceSize</key>
                <string>{502,126}</string>
                <key>textureRect</key>
                <string>{{613,1},{490,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gongzhonghaowenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{496,98}</string>
                <key>spriteSourceSize</key>
                <string>{502,126}</string>
                <key>textureRect</key>
                <string>{{513,1},{496,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_guanzhuweixingongzhonghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{250,44}</string>
                <key>spriteSourceSize</key>
                <string>{264,48}</string>
                <key>textureRect</key>
                <string>{{513,735},{250,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jiaruQqunbiaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{185,50}</string>
                <key>textureRect</key>
                <string>{{749,365},{171,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>share_qq_and_wx.png</string>
            <key>size</key>
            <string>{794,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17ad603e718258ffa661dd797d1415f6:aabd2b9f8e60628f3e4ba8311a9cc07c:ecc2b50fce90502ad4a29cf59368c323$</string>
            <key>textureFileName</key>
            <string>share_qq_and_wx.png</string>
        </dict>
    </dict>
</plist>
