<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_beizhudid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{379,41}</string>
                <key>spriteSourceSize</key>
                <string>{383,45}</string>
                <key>textureRect</key>
                <string>{{841,367},{379,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_erciquerenfenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,3}</string>
                <key>spriteSourceSize</key>
                <string>{65,3}</string>
                <key>textureRect</key>
                <string>{{1004,1},{61,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_guizekuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{758,325}</string>
                <key>spriteSourceSize</key>
                <string>{768,339}</string>
                <key>textureRect</key>
                <string>{{1,712},{758,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_haoqietuyibenwanli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{768,709}</string>
                <key>spriteSourceSize</key>
                <string>{768,743}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,709}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shuzishurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{977,949},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xuyaozhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,28}</string>
                <key>spriteSourceSize</key>
                <string>{169,34}</string>
                <key>textureRect</key>
                <string>{{855,904},{161,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yujifenhongdi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,33}</string>
                <key>spriteSourceSize</key>
                <string>{744,33}</string>
                <key>textureRect</key>
                <string>{{771,1},{744,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_yujifenhongdi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,33}</string>
                <key>spriteSourceSize</key>
                <string>{744,33}</string>
                <key>textureRect</key>
                <string>{{806,1},{744,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_zuixiamiandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{976,883},{64,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_changkanjutiguize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{396,34}</string>
                <key>spriteSourceSize</key>
                <string>{402,44}</string>
                <key>textureRect</key>
                <string>{{884,367},{396,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_goumaianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{364,99}</string>
                <key>spriteSourceSize</key>
                <string>{386,107}</string>
                <key>textureRect</key>
                <string>{{841,1},{364,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wanfaguizeweixuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{238,60}</string>
                <key>spriteSourceSize</key>
                <string>{288,106}</string>
                <key>textureRect</key>
                <string>{{942,1},{238,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wanfaguizexuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{274,96}</string>
                <key>spriteSourceSize</key>
                <string>{288,106}</string>
                <key>textureRect</key>
                <string>{{920,367},{274,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{914,900},{72,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wenhao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,106}</string>
                <key>textureRect</key>
                <string>{{920,643},{108,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_yibenwanliguanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{914,974},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_beizhushujingongcankao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{232,22}</string>
                <key>spriteSourceSize</key>
                <string>{256,38}</string>
                <key>textureRect</key>
                <string>{{1,1039},{232,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_benlunshouchubenpiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{153,24}</string>
                <key>spriteSourceSize</key>
                <string>{157,26}</string>
                <key>textureRect</key>
                <string>{{400,1039},{153,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_benpiaojiage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{133,28}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{922,753},{133,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_fenhongzongshouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,22}</string>
                <key>spriteSourceSize</key>
                <string>{130,26}</string>
                <key>textureRect</key>
                <string>{{952,753},{130,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_goumaixiaohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{154,34}</string>
                <key>spriteSourceSize</key>
                <string>{170,42}</string>
                <key>textureRect</key>
                <string>{{848,748},{154,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_huoyuedianzhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,49}</string>
                <key>spriteSourceSize</key>
                <string>{192,57}</string>
                <key>textureRect</key>
                <string>{{761,747},{190,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_kuaibizhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{136,27}</string>
                <key>spriteSourceSize</key>
                <string>{140,31}</string>
                <key>textureRect</key>
                <string>{{885,900},{136,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_meibenpaiofenhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,22}</string>
                <key>spriteSourceSize</key>
                <string>{130,26}</string>
                <key>textureRect</key>
                <string>{{976,753},{128,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_miaohougoumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{187,34}</string>
                <key>spriteSourceSize</key>
                <string>{201,42}</string>
                <key>textureRect</key>
                <string>{{812,748},{187,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_querenzhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{884,765},{133,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wanfaguize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,33}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{761,939},{126,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wodehuiyuedianmaohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,24}</string>
                <key>spriteSourceSize</key>
                <string>{144,26}</string>
                <key>textureRect</key>
                <string>{{555,1039},{140,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wodekuaibimaohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{112,24}</string>
                <key>spriteSourceSize</key>
                <string>{116,26}</string>
                <key>textureRect</key>
                <string>{{969,241},{112,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_wodeyushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{113,25}</string>
                <key>spriteSourceSize</key>
                <string>{119,27}</string>
                <key>textureRect</key>
                <string>{{942,241},{113,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_xingyunjiangzhongjianglv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{163,24}</string>
                <key>spriteSourceSize</key>
                <string>{165,28}</string>
                <key>textureRect</key>
                <string>{{235,1039},{163,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_yigoumaibenpiaoshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{126,22}</string>
                <key>spriteSourceSize</key>
                <string>{130,26}</string>
                <key>textureRect</key>
                <string>{{796,939},{126,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yujifenhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,33}</string>
                <key>spriteSourceSize</key>
                <string>{136,39}</string>
                <key>textureRect</key>
                <string>{{820,937},{128,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ybwl_panel.png</string>
            <key>size</key>
            <string>{1017,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb20bddd7b74e6e13e886d6b454bd4e7:a54dd4d9ac75565e1f7a3f6134d56e6d:cf396269a280e30d442bcd435d4c2576$</string>
            <key>textureFileName</key>
            <string>ybwl_panel.png</string>
        </dict>
    </dict>
</plist>
