<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_ES_die_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,17}</string>
                <key>spriteSize</key>
                <string>{87,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{108,381},{87,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-18}</string>
                <key>spriteSize</key>
                <string>{103,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,381},{103,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{97,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{112,192},{97,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{99,187}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{112,1},{99,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{107,191}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{107,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,196},{107,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{107,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{199,377},{107,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{107,169}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{215,1},{107,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-18}</string>
                <key>spriteSize</key>
                <string>{101,157}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,564},{101,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-27}</string>
                <key>spriteSize</key>
                <string>{117,99}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{359,619},{117,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-33}</string>
                <key>spriteSize</key>
                <string>{119,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{359,496},{119,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-36}</string>
                <key>spriteSize</key>
                <string>{137,83}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{389,345},{137,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-41}</string>
                <key>spriteSize</key>
                <string>{147,75}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{310,345},{147,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-38}</string>
                <key>spriteSize</key>
                <string>{151,79}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{298,181},{151,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-36}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{191,564},{155,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-41}</string>
                <key>spriteSize</key>
                <string>{151,87}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{326,1},{151,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-41}</string>
                <key>spriteSize</key>
                <string>{151,85}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{326,92},{151,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-44}</string>
                <key>spriteSize</key>
                <string>{151,77}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{298,264},{151,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_ES_die_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-49}</string>
                <key>spriteSize</key>
                <string>{155,81}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{106,564},{155,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-47}</string>
                <key>spriteSize</key>
                <string>{159,81}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{274,548},{159,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_ES_die_原配古琴_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-48}</string>
                <key>spriteSize</key>
                <string>{159,81}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{213,192},{159,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000002_die_ld.png</string>
            <key>size</key>
            <string>{478,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65ff2bf80f02ba00ebe7aecb2d52d42e:22039d622d0355b93a6be1b7598cafa2:5c63f86c64f707920b36c525690b5f43$</string>
            <key>textureFileName</key>
            <string>4000002_die_ld.png</string>
        </dict>
    </dict>
</plist>
