<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_ES_attack_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-5}</string>
                <key>spriteSize</key>
                <string>{87,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{477,184},{87,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-4}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,934},{87,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-3}</string>
                <key>spriteSize</key>
                <string>{107,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,562},{107,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{113,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,375},{113,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{119,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,188},{119,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{123,183}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{127,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{118,375},{127,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{125,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{124,188},{125,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{117,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{249,373},{117,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{113,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{257,1},{113,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{103,173}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{463,556},{103,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{95,171}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{487,367},{95,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-6}</string>
                <key>spriteSize</key>
                <string>{103,177}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{388,739},{103,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{113,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{475,1},{113,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-4}</string>
                <key>spriteSize</key>
                <string>{133,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,749},{133,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{131,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{112,562},{131,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-4}</string>
                <key>spriteSize</key>
                <string>{125,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{128,1},{125,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-4}</string>
                <key>spriteSize</key>
                <string>{121,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{138,747},{121,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{121,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{247,560},{121,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-4}</string>
                <key>spriteSize</key>
                <string>{121,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{263,745},{121,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{115,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{253,186},{115,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{113,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{370,371},{113,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{101,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{372,186},{101,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-4}</string>
                <key>spriteSize</key>
                <string>{97,181}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{374,1},{97,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-5}</string>
                <key>spriteSize</key>
                <string>{93,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{369,930},{93,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-5}</string>
                <key>spriteSize</key>
                <string>{91,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{186,932},{91,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_ES_attack_原配古琴_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{87,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{372,556},{87,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_ES_attack_原配古琴_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-5}</string>
                <key>spriteSize</key>
                <string>{87,179}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{477,184},{87,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000002_attack_ld.png</string>
            <key>size</key>
            <string>{589,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851b75eb09cde1f4fa4e60ed52ef0146:2a940409fba661bf23361513f65b4ab9:dc8d31fb9753b9fa06bfdfc57d13b160$</string>
            <key>textureFileName</key>
            <string>4000002_attack_ld.png</string>
        </dict>
    </dict>
</plist>
