<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_WN_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-45,10}</string>
                <key>spriteSize</key>
                <string>{97,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,347},{97,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-45,10}</string>
                <key>spriteSize</key>
                <string>{99,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-44,9}</string>
                <key>spriteSize</key>
                <string>{97,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,520},{97,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-43,9}</string>
                <key>spriteSize</key>
                <string>{95,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,866},{95,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_WN_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-43,9}</string>
                <key>spriteSize</key>
                <string>{95,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{102,1},{95,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-42,10}</string>
                <key>spriteSize</key>
                <string>{95,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{102,174},{95,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-43,10}</string>
                <key>spriteSize</key>
                <string>{95,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{100,693},{95,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-45,10}</string>
                <key>spriteSize</key>
                <string>{97,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,693},{97,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-45,10}</string>
                <key>spriteSize</key>
                <string>{97,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{100,347},{97,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-46,10}</string>
                <key>spriteSize</key>
                <string>{99,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,174},{99,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_WN_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380392,0.254902}</string>
                <key>spriteOffset</key>
                <string>{-45,10}</string>
                <key>spriteSize</key>
                <string>{97,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{100,520},{97,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000002_stand_ru.png</string>
            <key>size</key>
            <string>{198,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0aa06543fa65cff22019d631f1308aa:7d1b7ddba6dd8d86a5a4586a21b11374:2144232189a76cbb8dbff9fef9d61ef8$</string>
            <key>textureFileName</key>
            <string>4000002_stand_ru.png</string>
        </dict>
    </dict>
</plist>
