<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-8,25}</string>
                <key>spriteSize</key>
                <string>{79,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,159},{79,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-7,24}</string>
                <key>spriteSize</key>
                <string>{79,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,240},{79,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-7,24}</string>
                <key>spriteSize</key>
                <string>{81,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,645},{81,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-7,24}</string>
                <key>spriteSize</key>
                <string>{81,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,728},{81,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-6,24}</string>
                <key>spriteSize</key>
                <string>{81,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,811},{81,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-5,24}</string>
                <key>spriteSize</key>
                <string>{79,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,321},{79,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-5,24}</string>
                <key>spriteSize</key>
                <string>{79,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,402},{79,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{79,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,483},{79,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{77,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-7,25}</string>
                <key>spriteSize</key>
                <string>{77,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,80},{77,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_S_stand_原配古琴_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.505882,0.290196}</string>
                <key>spriteOffset</key>
                <string>{-8,25}</string>
                <key>spriteSize</key>
                <string>{79,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,564},{79,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000002_stand_d.png</string>
            <key>size</key>
            <string>{179,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b213681147b5fa908406c2b2922f1b5:0eaff9ba4658ba0140babc16261023f9:6dd9a215b6cd54ab75776b62f741cdae$</string>
            <key>textureFileName</key>
            <string>4000002_stand_d.png</string>
        </dict>
    </dict>
</plist>
