<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_N_run_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-14,13}</string>
                <key>spriteSize</key>
                <string>{75,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,178},{75,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-15,17}</string>
                <key>spriteSize</key>
                <string>{77,165}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{625,1},{77,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{81,169}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{454,1},{81,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{81,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{275,1},{81,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{79,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{277,84},{79,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{79,179}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{176,175},{79,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-16,12}</string>
                <key>spriteSize</key>
                <string>{79,171}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{456,84},{79,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-19,16}</string>
                <key>spriteSize</key>
                <string>{85,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{357,165},{85,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-20,12}</string>
                <key>spriteSize</key>
                <string>{93,169}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{697,80},{93,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-20,6}</string>
                <key>spriteSize</key>
                <string>{93,175}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_N_run_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-20,6}</string>
                <key>spriteSize</key>
                <string>{89,177}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,1},{89,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{81,179}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{96,92},{81,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_N_run_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.443137,0.239216}</string>
                <key>spriteOffset</key>
                <string>{-14,13}</string>
                <key>spriteSize</key>
                <string>{75,173}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{522,165},{75,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000002_run_u.png</string>
            <key>size</key>
            <string>{791,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2b37a3cb99e566e9ea05112b7d1441e:f15997ce616ce257c07f7da5b66d6253:837c5d946d082fd0faa810439ec1ce59$</string>
            <key>textureFileName</key>
            <string>4000002_run_u.png</string>
        </dict>
    </dict>
</plist>
