<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,17}</string>
                <key>spriteSize</key>
                <string>{87,183}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{92,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{183,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{274,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{365,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{456,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{547,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{85,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{820,1},{85,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{85,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{909,1},{85,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{85,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{998,1},{85,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,16}</string>
                <key>spriteSize</key>
                <string>{85,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1087,1},{85,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,16}</string>
                <key>spriteSize</key>
                <string>{85,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1176,1},{85,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{85,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1356,1},{85,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{85,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1445,1},{85,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{85,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1534,1},{85,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{85,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1623,1},{85,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,15}</string>
                <key>spriteSize</key>
                <string>{85,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1712,1},{85,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,15}</string>
                <key>spriteSize</key>
                <string>{87,179}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1265,1},{87,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{638,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{87,181}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{729,1},{87,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000002_idle_ld.png</string>
            <key>size</key>
            <string>{1798,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c8a671d8368b831cd82c998e159862e:8cb05841680ddca15bbd690f8bdfdabe:aa1d025a1ce14863a49f3f9a80ff6e97$</string>
            <key>textureFileName</key>
            <string>4000002_idle_ld.png</string>
        </dict>
    </dict>
</plist>
