<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_ES_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{138,487},{97,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{103,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1104},{103,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{144,269},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-24}</string>
                <key>spriteSize</key>
                <string>{119,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{136,689},{119,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-29}</string>
                <key>spriteSize</key>
                <string>{135,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,347},{135,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-33}</string>
                <key>spriteSize</key>
                <string>{133,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,614},{133,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-36}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,869},{129,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-38}</string>
                <key>spriteSize</key>
                <string>{123,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{130,1005},{123,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-37}</string>
                <key>spriteSize</key>
                <string>{123,75}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1025},{123,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-33}</string>
                <key>spriteSize</key>
                <string>{133,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,527},{133,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-26}</string>
                <key>spriteSize</key>
                <string>{139,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,185},{139,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{149,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{149,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,98},{149,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-42}</string>
                <key>spriteSize</key>
                <string>{139,65}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,278},{139,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-38}</string>
                <key>spriteSize</key>
                <string>{117,67}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,934},{117,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-35}</string>
                <key>spriteSize</key>
                <string>{117,71}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,859},{117,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-33}</string>
                <key>spriteSize</key>
                <string>{121,73}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{134,782},{121,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-31}</string>
                <key>spriteSize</key>
                <string>{125,79}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,942},{125,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-30}</string>
                <key>spriteSize</key>
                <string>{129,83}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,782},{129,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-27}</string>
                <key>spriteSize</key>
                <string>{131,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,689},{131,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-24}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,430},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-22}</string>
                <key>spriteSize</key>
                <string>{135,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{154,130},{135,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{125,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{154,1},{125,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{113,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{128,1084},{113,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_ES_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{103,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{140,380},{103,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_ES_shifa_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{138,588},{97,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100003_magic_ld.png</string>
            <key>size</key>
            <string>{256,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0557dd81a7a8922409b88de8189fb20c:6d001019e4649c274671ca52ae548320:bf9913959c59b99bc6189fff0f4f9bd8$</string>
            <key>textureFileName</key>
            <string>4100003_magic_ld.png</string>
        </dict>
    </dict>
</plist>
