<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shifa_WN_shifa_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{112,1328},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-13}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{118,1217},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{113,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1213},{113,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{119,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{136,789},{119,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{127,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,914},{127,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-23}</string>
                <key>spriteSize</key>
                <string>{131,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{162,1},{131,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{125,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1120},{125,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{119,93}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{130,1120},{119,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-29}</string>
                <key>spriteSize</key>
                <string>{121,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{132,1011},{121,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{127,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,807},{127,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-25}</string>
                <key>spriteSize</key>
                <string>{141,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,500},{141,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-25}</string>
                <key>spriteSize</key>
                <string>{157,89}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-26}</string>
                <key>spriteSize</key>
                <string>{153,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,94},{153,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-30}</string>
                <key>spriteSize</key>
                <string>{131,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,702},{131,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-27}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{146,557},{121,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-25}</string>
                <key>spriteSize</key>
                <string>{123,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{132,896},{123,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-24}</string>
                <key>spriteSize</key>
                <string>{129,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{146,424},{129,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-24}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{148,285},{135,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-24}</string>
                <key>spriteSize</key>
                <string>{141,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,393},{141,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-24}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,193},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-21}</string>
                <key>spriteSize</key>
                <string>{143,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,294},{143,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{145,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{158,136},{145,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shifa_WN_shifa_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,599},{135,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1015},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{140,682},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shifa_WN_shifa_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1322},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100003_magic_ru.png</string>
            <key>size</key>
            <string>{256,1434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7ff3b60fe3f5dacf8f98bd710ab3e5:213dcc343431fa32c5c221f87ce89026:308cd3374bf1af4a7c3c97a8aea8a4d5$</string>
            <key>textureFileName</key>
            <string>4100003_magic_ru.png</string>
        </dict>
    </dict>
</plist>
