<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{122,114},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{117,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-14}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{122,1},{109,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-17}</string>
                <key>spriteSize</key>
                <string>{111,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,116},{111,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-19}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,429},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{108,431},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-18}</string>
                <key>spriteSize</key>
                <string>{105,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,328},{105,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-17}</string>
                <key>spriteSize</key>
                <string>{103,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{110,223},{103,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{110,326},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,219},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4100003_hit_ru.png</string>
            <key>size</key>
            <string>{228,527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08df1b4bac90dc580df4c5c220efa96f:83554d7d75570eeebe9e629daf53e365:d5d3cc4790ee7f84fce20722458ac11c$</string>
            <key>textureFileName</key>
            <string>4100003_hit_ru.png</string>
        </dict>
    </dict>
</plist>
