<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_Di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{190,28}</string>
                <key>spriteSourceSize</key>
                <string>{200,34}</string>
                <key>textureRect</key>
                <string>{{975,1},{190,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bolangwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,84}</string>
                <key>spriteSourceSize</key>
                <string>{600,84}</string>
                <key>textureRect</key>
                <string>{{1103,103},{600,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jiludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{537,144}</string>
                <key>spriteSourceSize</key>
                <string>{573,162}</string>
                <key>textureRect</key>
                <string>{{1,103},{537,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shuliangshurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,61}</string>
                <key>spriteSourceSize</key>
                <string>{185,61}</string>
                <key>textureRect</key>
                <string>{{788,1},{185,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wodejiludi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{561,148}</string>
                <key>spriteSourceSize</key>
                <string>{573,162}</string>
                <key>textureRect</key>
                <string>{{540,103},{561,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_duihuankuaibi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,85}</string>
                <key>spriteSourceSize</key>
                <string>{245,85}</string>
                <key>textureRect</key>
                <string>{{1167,1},{245,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,64}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{555,1},{102,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,64}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{347,1},{102,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_zuida.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,64}</string>
                <key>spriteSourceSize</key>
                <string>{108,68}</string>
                <key>textureRect</key>
                <string>{{451,1},{102,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_duihuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{34,75}</string>
                <key>spriteSourceSize</key>
                <string>{36,77}</string>
                <key>textureRect</key>
                <string>{{109,1},{34,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_duihuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{34,75}</string>
                <key>spriteSourceSize</key>
                <string>{36,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jilu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,75}</string>
                <key>spriteSourceSize</key>
                <string>{36,77}</string>
                <key>textureRect</key>
                <string>{{73,1},{34,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jilu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{34,75}</string>
                <key>spriteSourceSize</key>
                <string>{36,77}</string>
                <key>textureRect</key>
                <string>{{37,1},{34,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jintianfangjinkuaibibili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{309,32}</string>
                <key>spriteSourceSize</key>
                <string>{309,36}</string>
                <key>textureRect</key>
                <string>{{1414,1},{309,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_wodezhangfang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{127,36}</string>
                <key>spriteSourceSize</key>
                <string>{131,40}</string>
                <key>textureRect</key>
                <string>{{659,1},{127,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shouru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{246,1},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zhichu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{145,1},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>accountant_office_panel.png</string>
            <key>size</key>
            <string>{1724,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5cf300542bb07ec6a67b892ccb1f97:8b5504abb13948c5245f5ca6dd5da03d:0bc2bde1ada4eff6a27238401d95e7d1$</string>
            <key>textureFileName</key>
            <string>accountant_office_panel.png</string>
        </dict>
    </dict>
</plist>
