<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_S_run_S_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{85,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,764},{85,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{85,161}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,440},{85,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{11,-15}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1082},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{87,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,295},{87,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{85,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1239},{85,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{75,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1710},{75,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{79,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1549},{79,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{81,163}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1384},{81,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{85,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,923},{85,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{87,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{87,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,148},{87,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{85,159}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,603},{85,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_S_run_S_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.498039,0.184314}</string>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{85,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,764},{85,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000003_run_d.png</string>
            <key>size</key>
            <string>{89,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f71320e5eb1dd587e3389a90434d420:f8aecdae1cad47db9a4297832604f51b:a7ab157f0ff3cde71b84829698ec7376$</string>
            <key>textureFileName</key>
            <string>4000003_run_d.png</string>
        </dict>
    </dict>
</plist>
