<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_S_stand_S_stand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{31,24}</string>
                <key>spriteSize</key>
                <string>{77,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{31,23}</string>
                <key>spriteSize</key>
                <string>{77,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,856},{77,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{31,24}</string>
                <key>spriteSize</key>
                <string>{75,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1532},{75,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{32,24}</string>
                <key>spriteSize</key>
                <string>{75,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1703},{75,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{31,23}</string>
                <key>spriteSize</key>
                <string>{77,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1025},{77,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{31,23}</string>
                <key>spriteSize</key>
                <string>{77,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1194},{77,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{32,23}</string>
                <key>spriteSize</key>
                <string>{77,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1363},{77,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{32,24}</string>
                <key>spriteSize</key>
                <string>{77,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,172},{77,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{32,24}</string>
                <key>spriteSize</key>
                <string>{77,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,343},{77,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{32,24}</string>
                <key>spriteSize</key>
                <string>{77,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,514},{77,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_S_stand_S_stand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.580282,0.352113}</string>
                <key>spriteOffset</key>
                <string>{31,24}</string>
                <key>spriteSize</key>
                <string>{77,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,685},{77,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000003_stand_d.png</string>
            <key>size</key>
            <string>{79,1873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c7f47d1b396578efa53c5103db28e19:b398cca0cd8d69b4bd9ee2e057d463e3:bde29e0b914cadf52bc6fdb1011bae40$</string>
            <key>textureFileName</key>
            <string>4000003_stand_d.png</string>
        </dict>
    </dict>
</plist>
