<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_WN_idle_WN_idle_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,37}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,309},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,37}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,388},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,37}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,467},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,37}</string>
                <key>spriteSize</key>
                <string>{73,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,37}</string>
                <key>spriteSize</key>
                <string>{73,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,78},{73,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,37}</string>
                <key>spriteSize</key>
                <string>{73,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,155},{73,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,37}</string>
                <key>spriteSize</key>
                <string>{73,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,232},{73,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,37}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,546},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,37}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,625},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,37}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,704},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,36}</string>
                <key>spriteSize</key>
                <string>{79,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1194},{79,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,36}</string>
                <key>spriteSize</key>
                <string>{79,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,1184},{79,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,36}</string>
                <key>spriteSize</key>
                <string>{81,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,508},{81,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,36}</string>
                <key>spriteSize</key>
                <string>{81,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,677},{81,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,36}</string>
                <key>spriteSize</key>
                <string>{81,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,846},{81,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,36}</string>
                <key>spriteSize</key>
                <string>{83,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,1},{83,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,36}</string>
                <key>spriteSize</key>
                <string>{83,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,170},{83,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,36}</string>
                <key>spriteSize</key>
                <string>{83,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,339},{83,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,36}</string>
                <key>spriteSize</key>
                <string>{81,165}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{172,1015},{81,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_WN_idle_WN_idle_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,37}</string>
                <key>spriteSize</key>
                <string>{81,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1277},{81,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,37}</string>
                <key>spriteSize</key>
                <string>{81,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1362},{81,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,37}</string>
                <key>spriteSize</key>
                <string>{79,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,945},{79,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,37}</string>
                <key>spriteSize</key>
                <string>{79,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1028},{79,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,37}</string>
                <key>spriteSize</key>
                <string>{79,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,1111},{79,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,37}</string>
                <key>spriteSize</key>
                <string>{77,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,783},{77,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_WN_idle_WN_idle_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,37}</string>
                <key>spriteSize</key>
                <string>{77,167}</string>
                <key>spriteSourceSize</key>
                <string>{325,325}</string>
                <key>textureRect</key>
                <string>{{1,864},{77,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000003_idle_ru.png</string>
            <key>size</key>
            <string>{256,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea9021fe97dd7de1564488a6d20698a9:71950a130592a81873f8cfffa89b43bc:e76ea0f2cb0b4318e2dc2a6a8837eed7$</string>
            <key>textureFileName</key>
            <string>4000003_idle_ru.png</string>
        </dict>
    </dict>
</plist>
