<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_WN_hit_WN_hit_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{174,86},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{75,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,173},{75,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{87,157}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{162,458},{87,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{107,141}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,549},{107,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{99,143}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{146,549},{99,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,6}</string>
                <key>spriteSize</key>
                <string>{83,147}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{412,506},{83,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_WN_hit_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,8}</string>
                <key>spriteSize</key>
                <string>{85,149}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{323,506},{85,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_WN_hit_WN_hit_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,10}</string>
                <key>spriteSize</key>
                <string>{89,153}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{329,413},{89,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{89,157}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,456},{89,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,13}</string>
                <key>spriteSize</key>
                <string>{91,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{166,363},{91,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,13}</string>
                <key>spriteSize</key>
                <string>{97,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{166,262},{97,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,13}</string>
                <key>spriteSize</key>
                <string>{99,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,252},{99,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,12}</string>
                <key>spriteSize</key>
                <string>{101,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{345,1},{101,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,12}</string>
                <key>spriteSize</key>
                <string>{101,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{345,106},{101,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{99,159}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{331,310},{99,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,13}</string>
                <key>spriteSize</key>
                <string>{97,161}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,355},{97,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,14}</string>
                <key>spriteSize</key>
                <string>{95,163}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{341,211},{95,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,16}</string>
                <key>spriteSize</key>
                <string>{93,165}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{172,165},{93,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,18}</string>
                <key>spriteSize</key>
                <string>{89,169}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,18}</string>
                <key>spriteSize</key>
                <string>{81,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{174,1},{81,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_WN_hit_WN_hit_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{75,167}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,94},{75,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000003_hit_ru.png</string>
            <key>size</key>
            <string>{507,657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f08d0a8834e0d699a182597a916b44e:ac173f5276c61bfc4965ecf7f2554e5c:a8ba5942ce33a438de205d0973bba3b5$</string>
            <key>textureFileName</key>
            <string>4000003_hit_ru.png</string>
        </dict>
    </dict>
</plist>
