<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_W_run_W_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{35,36}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{34,31}</string>
                <key>spriteSize</key>
                <string>{112,148}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,753},{112,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{35,27}</string>
                <key>spriteSize</key>
                <string>{110,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1055},{110,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{37,26}</string>
                <key>spriteSize</key>
                <string>{110,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1203},{110,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{39,30}</string>
                <key>spriteSize</key>
                <string>{108,148}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1349},{108,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{41,33}</string>
                <key>spriteSize</key>
                <string>{108,146}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1499},{108,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{40,34}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,449},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{36,30}</string>
                <key>spriteSize</key>
                <string>{104,154}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1801},{104,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{35,26}</string>
                <key>spriteSize</key>
                <string>{106,152}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1647},{106,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{35,25}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,903},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{37,26}</string>
                <key>spriteSize</key>
                <string>{112,154}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,293},{112,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{37,31}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,601},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_W_run_W_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.613333,0.396667}</string>
                <key>spriteOffset</key>
                <string>{35,36}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,147},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000003_run_r.png</string>
            <key>size</key>
            <string>{116,1956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:204bae34f0c427a205203f99518739ba:9a36eae134ef73c28845aa6d9a119f53:64e00797a38e3762de26ba6e80b9a952$</string>
            <key>textureFileName</key>
            <string>4000003_run_r.png</string>
        </dict>
    </dict>
</plist>
