<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_WN_run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,60}</string>
                <key>spriteSize</key>
                <string>{91,160}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,66}</string>
                <key>spriteSize</key>
                <string>{93,146}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,94},{93,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,60}</string>
                <key>spriteSize</key>
                <string>{93,148}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{149,94},{93,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,56}</string>
                <key>spriteSize</key>
                <string>{91,150}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{163,1},{91,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-16,58}</string>
                <key>spriteSize</key>
                <string>{91,154}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{315,1},{91,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,59}</string>
                <key>spriteSize</key>
                <string>{93,160}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{299,94},{93,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-17,63}</string>
                <key>spriteSize</key>
                <string>{95,156}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,189},{95,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,65}</string>
                <key>spriteSize</key>
                <string>{99,148}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{325,189},{99,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,59}</string>
                <key>spriteSize</key>
                <string>{103,152}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,286},{103,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,55}</string>
                <key>spriteSize</key>
                <string>{107,154}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{319,290},{107,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-19,56}</string>
                <key>spriteSize</key>
                <string>{103,162}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{155,288},{103,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-16,57}</string>
                <key>spriteSize</key>
                <string>{97,164}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{159,189},{97,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_WN_run_WN_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.464615,0.5}</string>
                <key>spriteOffset</key>
                <string>{-14,60}</string>
                <key>spriteSize</key>
                <string>{91,160}</string>
                <key>spriteSourceSize</key>
                <string>{325,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4000003_run_ru.png</string>
            <key>size</key>
            <string>{474,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c5215ab6a8eba22b63a07d218084802:9ce80d03600929c2aefc36fff4f8d608:282f130e6a895dec6d08cbf5380fe3d0$</string>
            <key>textureFileName</key>
            <string>4000003_run_ru.png</string>
        </dict>
    </dict>
</plist>
