<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_102_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{163,195},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_10_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,160}</string>
                <key>spriteSourceSize</key>
                <string>{96,160}</string>
                <key>textureRect</key>
                <string>{{1,195},{96,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_11_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,224}</string>
                <key>spriteSourceSize</key>
                <string>{192,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_1_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,256}</string>
                <key>spriteSourceSize</key>
                <string>{144,256}</string>
                <key>textureRect</key>
                <string>{{1,293},{144,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_2_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,256}</string>
                <key>spriteSourceSize</key>
                <string>{96,256}</string>
                <key>textureRect</key>
                <string>{{147,293},{96,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_3_min.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{1,551},{48,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_4_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{131,551},{48,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_5_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{1,601},{48,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_6_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{1,651},{48,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_7_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{181,551},{48,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_8_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{1,701},{48,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_9_mini.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,128}</string>
                <key>spriteSourceSize</key>
                <string>{48,128}</string>
                <key>textureRect</key>
                <string>{{1,751},{48,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minimap.png</string>
            <key>size</key>
            <string>{244,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33db9036a1346edd7dc3177a3f57ec0:89499840bcbb8ee8da63b8cdf02cef1b:b37d44ff29f54618f544ec80c761366f$</string>
            <key>textureFileName</key>
            <string>minimap.png</string>
        </dict>
    </dict>
</plist>
