<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_ws_0_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{137,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{456,122},{137,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-34}</string>
                <key>spriteSize</key>
                <string>{149,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{156,1},{149,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{127,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1461,124},{127,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-26}</string>
                <key>spriteSize</key>
                <string>{133,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1465,1},{133,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-23}</string>
                <key>spriteSize</key>
                <string>{149,107}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{309,1},{149,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{897,134},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{137,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{597,128},{137,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{143,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,126},{143,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{143,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{309,112},{143,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-27}</string>
                <key>spriteSize</key>
                <string>{143,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{156,118},{143,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1326,1},{135,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{125,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1733,1},{125,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand_ws_0_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-30}</string>
                <key>spriteSize</key>
                <string>{125,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1592,130},{125,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-32}</string>
                <key>spriteSize</key>
                <string>{119,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1721,130},{119,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{133,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1046,128},{133,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1602,1},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{137,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{905,1},{137,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{137,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1046,1},{137,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{143,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{758,1},{143,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-32}</string>
                <key>spriteSize</key>
                <string>{133,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1187,122},{133,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-28}</string>
                <key>spriteSize</key>
                <string>{143,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{611,1},{143,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-26}</string>
                <key>spriteSize</key>
                <string>{151,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-26}</string>
                <key>spriteSize</key>
                <string>{145,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{462,1},{145,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-26}</string>
                <key>spriteSize</key>
                <string>{135,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1187,1},{135,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-27}</string>
                <key>spriteSize</key>
                <string>{131,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1326,120},{131,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_ws_0_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-23}</string>
                <key>spriteSize</key>
                <string>{135,129}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{758,114},{135,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_stand_rd.png</string>
            <key>size</key>
            <string>{1855,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c31bdbf13fc393c16a7a5035b1ba79f:634f234da8c08b6f0a21780cd1df06d3:ebce3cfe0f2f38e6a9eef9bddd14dc41$</string>
            <key>textureFileName</key>
            <string>4302005_stand_rd.png</string>
        </dict>
    </dict>
</plist>
