<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1高级武器run_N_run_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{159,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1000},{159,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{161,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,720},{161,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,2}</string>
                <key>spriteSize</key>
                <string>{171,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{157,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1256},{157,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{167,127}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,293},{167,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{157,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1115},{157,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,13}</string>
                <key>spriteSize</key>
                <string>{155,127}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1661},{155,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,12}</string>
                <key>spriteSize</key>
                <string>{155,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1528},{155,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{161,151}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,567},{161,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,9}</string>
                <key>spriteSize</key>
                <string>{155,145}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1381},{155,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,13}</string>
                <key>spriteSize</key>
                <string>{159,155}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,843},{159,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{167,157}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,134},{167,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_N_run_原配古琴_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,15}</string>
                <key>spriteSize</key>
                <string>{163,143}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,422},{163,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_run_u.png</string>
            <key>size</key>
            <string>{173,1789}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88a5fb2ab901319ec5cdb94b4337733d:18ba1fb9916bebc7778242790791ad01:9499e2214f370fc336fe819cbdf05e09$</string>
            <key>textureFileName</key>
            <string>4302005_run_u.png</string>
        </dict>
    </dict>
</plist>
