<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_ES_idle_原配古琴_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,25}</string>
                <key>spriteSize</key>
                <string>{185,129}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{361,364},{185,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,19}</string>
                <key>spriteSize</key>
                <string>{165,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{182,108},{165,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{187,113}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{351,114},{187,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,24}</string>
                <key>spriteSize</key>
                <string>{177,115}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,96},{177,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{169,103}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{186,1},{169,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{181,109}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{359,1},{181,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,18}</string>
                <key>spriteSize</key>
                <string>{175,125}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{359,231},{175,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,23}</string>
                <key>spriteSize</key>
                <string>{171,119}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,215},{171,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,21}</string>
                <key>spriteSize</key>
                <string>{177,125}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{735,237},{177,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,21}</string>
                <key>spriteSize</key>
                <string>{179,119}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{176,231},{179,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,17}</string>
                <key>spriteSize</key>
                <string>{163,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{542,114},{163,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,18}</string>
                <key>spriteSize</key>
                <string>{183,127}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{174,360},{183,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{215,131}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{550,366},{215,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,20}</string>
                <key>spriteSize</key>
                <string>{173,139}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{769,366},{173,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,19}</string>
                <key>spriteSize</key>
                <string>{193,123}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{538,237},{193,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,17}</string>
                <key>spriteSize</key>
                <string>{181,91}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,16}</string>
                <key>spriteSize</key>
                <string>{189,109}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{544,1},{189,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,14}</string>
                <key>spriteSize</key>
                <string>{201,117}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{709,116},{201,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,20}</string>
                <key>spriteSize</key>
                <string>{169,129}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,338},{169,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_ES_idle_原配古琴_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{163,111}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{737,1},{163,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_idle_ld.png</string>
            <key>size</key>
            <string>{943,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b10efb96ccc4c4ab77ea4c01b303a2a:e4d81f64a2ff4ae3600f0466923e9f46:d10577669dcf0493cf63339add93eb37$</string>
            <key>textureFileName</key>
            <string>4302005_idle_ld.png</string>
        </dict>
    </dict>
</plist>
