<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1高级武器run_WN_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{187,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-10}</string>
                <key>spriteSize</key>
                <string>{171,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,467},{171,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-5}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,247},{173,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-8}</string>
                <key>spriteSize</key>
                <string>{173,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,366},{173,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{163,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1193},{163,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{157,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1310},{157,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{167,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,965},{167,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{167,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,842},{167,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,590},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{167,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1080},{167,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{187,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,128},{187,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{157,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1449},{157,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WN_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-6}</string>
                <key>spriteSize</key>
                <string>{167,137}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,703},{167,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_run_ru.png</string>
            <key>size</key>
            <string>{189,1587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:946d5e1f734c9c98b3829b94b125fc7a:3c2c8eb9a4684f3b3d716b7e76cbc6bf:0b3708a01174d2bda5b1db68f9879a2e$</string>
            <key>textureFileName</key>
            <string>4302005_run_ru.png</string>
        </dict>
    </dict>
</plist>
