<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女1高级武器run_WS_run_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-15}</string>
                <key>spriteSize</key>
                <string>{131,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{120,1},{131,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1高级武器run_WS_run_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{227,1},{127,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{115,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{130,134},{115,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1高级武器run_WS_run_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-18}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{425,114},{95,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{109,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{614,1},{109,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{125,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{487,1},{125,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-22}</string>
                <key>spriteSize</key>
                <string>{129,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{356,1},{129,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-14}</string>
                <key>spriteSize</key>
                <string>{117,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-13}</string>
                <key>spriteSize</key>
                <string>{129,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{328,118},{129,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1高级武器run_WS_run_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-15}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{627,122},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{127,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,134},{127,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女1高级武器run_WS_run_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-11}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{522,122},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>女1高级武器run_WS_run_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-10}</string>
                <key>spriteSize</key>
                <string>{129,99}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{227,118},{129,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_run_rd.png</string>
            <key>size</key>
            <string>{724,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea33b2d766578942301697cdabe4ecb:77b7d5213b714c9de4be495839d9c4e8:554be787750bdf5403926ebb6b105eb2$</string>
            <key>textureFileName</key>
            <string>4302005_run_rd.png</string>
        </dict>
    </dict>
</plist>
