<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_w_0_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-16}</string>
                <key>spriteSize</key>
                <string>{199,97}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-19}</string>
                <key>spriteSize</key>
                <string>{201,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{204,1},{201,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-8}</string>
                <key>spriteSize</key>
                <string>{197,113}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,102},{197,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-13}</string>
                <key>spriteSize</key>
                <string>{203,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{214,340},{203,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-17}</string>
                <key>spriteSize</key>
                <string>{195,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,697},{195,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-10}</string>
                <key>spriteSize</key>
                <string>{203,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{206,580},{203,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-12}</string>
                <key>spriteSize</key>
                <string>{207,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{202,114},{207,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-17}</string>
                <key>spriteSize</key>
                <string>{201,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,227},{201,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-17}</string>
                <key>spriteSize</key>
                <string>{205,117}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{214,459},{205,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-13}</string>
                <key>spriteSize</key>
                <string>{209,111}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,340},{209,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-17}</string>
                <key>spriteSize</key>
                <string>{205,109}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{206,227},{205,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-17}</string>
                <key>spriteSize</key>
                <string>{203,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,957},{203,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-14}</string>
                <key>spriteSize</key>
                <string>{207,127}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1086},{207,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-18}</string>
                <key>spriteSize</key>
                <string>{207,121}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{200,705},{207,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-21}</string>
                <key>spriteSize</key>
                <string>{217,125}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{208,957},{217,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-11}</string>
                <key>spriteSize</key>
                <string>{195,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,824},{195,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-13}</string>
                <key>spriteSize</key>
                <string>{185,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1217},{185,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{185,133}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{212,1086},{185,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{197,123}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{200,830},{197,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-16}</string>
                <key>spriteSize</key>
                <string>{209,115}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,455},{209,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{201,119}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,574},{201,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-17}</string>
                <key>spriteSize</key>
                <string>{191,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1499},{191,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-14}</string>
                <key>spriteSize</key>
                <string>{219,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{1,1360},{219,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-14}</string>
                <key>spriteSize</key>
                <string>{213,139}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{196,1499},{213,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-18}</string>
                <key>spriteSize</key>
                <string>{209,135}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{224,1360},{209,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_w_0_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{211,133}</string>
                <key>spriteSourceSize</key>
                <string>{255,255}</string>
                <key>textureRect</key>
                <string>{{190,1223},{211,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_stand_r.png</string>
            <key>size</key>
            <string>{434,1639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b731f112c66632331ef3aee371570a:7837fa0f247ea21d5c0ec95b9983784f:52342ff7d6f9cc3175a1700178d533ef$</string>
            <key>textureFileName</key>
            <string>4302005_stand_r.png</string>
        </dict>
    </dict>
</plist>
