<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die_WN_die_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-9}</string>
                <key>spriteSize</key>
                <string>{191,107}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-17}</string>
                <key>spriteSize</key>
                <string>{135,119}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,570},{135,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-47}</string>
                <key>spriteSize</key>
                <string>{155,105}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{168,372},{155,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-60}</string>
                <key>spriteSize</key>
                <string>{155,137}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{337,130},{155,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-69}</string>
                <key>spriteSize</key>
                <string>{151,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,451},{151,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-65}</string>
                <key>spriteSize</key>
                <string>{165,121}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{196,1},{165,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-65}</string>
                <key>spriteSize</key>
                <string>{133,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{301,513},{133,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-71}</string>
                <key>spriteSize</key>
                <string>{163,95}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,352},{163,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-66}</string>
                <key>spriteSize</key>
                <string>{129,101}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{328,618},{129,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-70}</string>
                <key>spriteSize</key>
                <string>{135,109}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,693},{135,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-61}</string>
                <key>spriteSize</key>
                <string>{163,121}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{170,126},{163,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-74}</string>
                <key>spriteSize</key>
                <string>{163,121}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,227},{163,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-65}</string>
                <key>spriteSize</key>
                <string>{147,107}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{327,402},{147,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-66}</string>
                <key>spriteSize</key>
                <string>{133,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{225,618},{133,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-73}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{114,693},{135,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-62}</string>
                <key>spriteSize</key>
                <string>{165,111}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1,112},{165,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-65}</string>
                <key>spriteSize</key>
                <string>{125,133}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{365,1},{125,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die_WN_die_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-70}</string>
                <key>spriteSize</key>
                <string>{141,115}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{156,481},{141,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-63}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{328,723},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-61}</string>
                <key>spriteSize</key>
                <string>{163,117}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{168,251},{163,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die_WN_die_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-62}</string>
                <key>spriteSize</key>
                <string>{155,127}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{335,271},{155,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4302005_die_ru.png</string>
            <key>size</key>
            <string>{499,829}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e5a317792b06317bb7f8fa9c1e1cfe:3e18fbb5bb7b9a93b5443fd10ca299be:5ce019ca607d06f00fe0bad0e86ccb18$</string>
            <key>textureFileName</key>
            <string>4302005_die_ru.png</string>
        </dict>
    </dict>
</plist>
